@font-face {
    font-family: 'BMWGroup_Global_Regular';
    src: url('../fonts/BMWGroup_Global_Regular.eot');
    src: url('../fonts/BMWGroup_Global_Regular.eot') format('embedded-opentype'),
         url('../fonts/BMWGroup_Global_Regular.woff2') format('woff2'),
         url('../fonts/BMWGroup_Global_Regular.woff') format('woff'),
         url('../fonts/BMWGroup_Global_Regular.ttf') format('truetype'),
         url('../fonts/BMWGroup_Global_Regular.svg#BMWGroup_Global_Regular') format('svg');
}
