@media only screen and (min-width: 1200px) and (max-width: 1399px) {

	#calendar-events .calendar-events-block .ce-block-desc .ce-learnmore{
		width: 280px;
	}

	#about .about-content-desc{
		width: 40%;
	}

	#about .about-content-foto{
		margin-top: 43px;
	}

	header .navbar{
		width: 1170px;
	}

	header .navbar-nav > li > a{

		padding: 15px 27px
	}

	#materials .materials-block .materials-block-desc .materials-learnmore{
		width: 280px;
	}

	#progr-det .progr-det-block .progr-det-desc .progr-det-learnmore{
		width: 280px;
	}

	#news .news-block .news-desc .news-learnmore{
		width: 280px;
	}

	#world .world-block .world-block-desc .world-learnmore{
		width: 280px;
	}

}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

	header .navbar{
		width: 970px;
	}

	header .navbar-nav{
		margin-left: -15px;
	}

	header .navbar-nav > li > a{

		font-size: 15px;
		padding: 15px 10px;
	}
	
	
	#calendar-events .col-eq .col-md-6
		{
			margin-bottom: 30px
		}

	#about .about-content-desc{
		width: 100%;
	}

	#about .about-content-foto{
		float: left;
	}

	#event .images-event .foto2, #event .images-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#event .images-event .foto3{
		float: right;
	}

	#news-article .news-article-event .foto2, #news-article .news-article-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#news-article .news-article-event .foto3{
		float: right;
	}

	#team #lightslider .li_slide .li-slide-name span{
		font-size: 16px;
	}

	#programm .programm-event .foto2, #programm .programm-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#programm .programm-event .foto3{
		float: right;
	}

	#about-page p{
		margin-top: 0px;
		font-size: 13px;
		line-height: 20px;
		margin-top: 23px;
	}

	#about-tizers .tizers-block-wrap .tizer-block span{
		font-size: 25px;
	}

}

@media only screen and (min-width : 768px) and (max-width : 991px) {
	header .navbar{
		width: 100%;
		padding: 0 15px;
		position: fixed;
		right:0;
		z-index: 10;
		height: 64px;		
	}

	header .inner{
		border-bottom: none;
	}

	
	header #slide-nav .navbar-header{
		height: 64px;
		padding: 0px
	}

	#slide-nav .navbar-toggle > .icon-bar{
		background: #000;
	}

	header #slide-nav .navbar-header .logo-block .icons{
		margin-left: 15px;
	}

	header .li-grey{
		border-bottom: none;
		border-left: 5px solid #aaa38e!important;	
	}

	header .li-yellow{
		border-bottom: none;
		border-left: 5px solid #fecb00!important;
	}
	
	header .li-blue{
		border-bottom: none;
		border-left: 5px solid #92a2bd!important;
	}
	
	header .li-dark{
		border-bottom: none;
		border-left: 5px solid #444444!important;
	}
	
	header .li-green{
		border-bottom: none;
		border-left: 5px solid #a2ad00!important;
	}
	header .li-orange{
		border-bottom: none;
		border-left: 5px solid #ff9100!important;	
	}
	
	header .left-bot{
		border-left: none
	}

	header .exit{
		display: none;
	}

	header .navbar-nav .dropdown-menu .submenu{
		margin-top: 0px;
		border: none;
		margin-left: 0px;
	}

	header #slide-nav .navbar-header .logo-block{
		float: left;
		width: 90%;
	}

	header #slide-nav .navbar-header .logo-block .icons {
		margin-top: 15px;		
		float: right;		
	}

	header #slide-nav .navbar-header .logo-block .logo{
		margin-top: 19px;
		float: left;
	}

	header #slide-nav .navbar-header .logo-block .logo img{
		width: 118px;
		height: auto;
	}	
	
	header #slide-nav #slidemenu {
		top: 64px;
	}

	header .navbar .dropdown a{
		background-image: url('../img/arrow-bottom.png')!important;
		background-position: center right;
		background-repeat: no-repeat;			

	}

	header .nav > .open > a{
		background-image: url('../img/arrow-up.png')!important;
		background-position: center right;
		background-repeat: no-repeat;
	}

	.navbar-nav .open .dropdown-menu {
		background-color: #f2f2f2;		
	}

	
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
		background-image: none!important;
	}

	#slide-nav #slidemenu{
		width: 95%!important;
	}

	header .navbar li{
		border-right: none;
		margin-bottom: 3px;
	}

	header .navbar .last-li{
		margin-bottom: 0px;
	}

	header .navbar li a{
		line-height: 20px;
		background-color: #fff;
		padding: 15px 0;
		margin: 0 30px;
		border: 0;
		border-bottom: 1px solid #f2f2f2
	}

	header .nav > .open > a, header .nav > .open > a:hover, header .nav > .open > a:focus{
		background-color: #f2f2f2
	}

	header .navbar-nav .dropdown-menu .submenu li a{
		background-color: #f2f2f2;
		padding: 0 30px 0 0;
	}

	header .nav > li > a:hover, header .nav > li > a:focus{
		background-color: #fff
	}

	header .navbar-nav .open{
		background-color: #f2f2f2
	}
	

	#main-banner .bg-desc p{
		width: 88%;
	}

	#calendar-events .calendar-events-block .ce-block-desc .ce-learnmore{
		width: 280px;
	}

	#calendar-events .col-eq .col-sm-6
		{
			margin-bottom: 30px
		}

	#about .about-content-desc{
		width: 100%;
	}

	#about .about-content-foto{
		float: left;
	}

	#school .school-block{
		margin-top: 30px;
	}
	
	#info-banner .info-desc p{
		width: 100%;
	}

	#event .images-event .foto2, #event .images-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#event .images-event .foto3{
		float: right;
	}

	#world .world-block .world-block-desc .world-learnmore{
		width: 280px;
	}

	#news .news-block .news-desc .news-learnmore{
		width: 280px;
	}

	#news-article .news-article-event .foto2, #news-article .news-article-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#news-article .news-article-event .foto3{
		float: right;
	}

	#materials .materials-block .materials-block-desc .materials-learnmore{
		width: 250px;
	}

	#team #lightslider .li_slide .li-slide-name span{
		font-size: 16px;
	}

	#programm .programm-event .foto2, #programm .programm-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;	
	}

	#programm .programm-event .foto3{
		float: right;
	}

	#progr-det .progr-det-block .progr-det-desc .progr-det-learnmore{
		width: 280px;
	}

	#about-tizers .tizers-block-wrap .tizer-block span{
		font-size: 25px;
	}

}

@media only screen and (min-width : 480px) and (max-width : 767px) {

		header .navbar{
		width: 100%;
		padding: 0 15px;
		position: fixed;
		right:0;
		z-index: 10;
		height: 64px;		
	}

	header .inner{
		border-bottom: none;
	}

	
	header #slide-nav .navbar-header{
		height: 64px;
		padding: 0px
	}

	#slide-nav .navbar-toggle > .icon-bar{
		background: #000;
	}

	header #slide-nav .navbar-header .logo-block .icons{
		margin-left: 15px;
	}

	header .li-grey{
		border-bottom: none;
		border-left: 5px solid #aaa38e!important;	
	}

	header .li-yellow{
		border-bottom: none;
		border-left: 5px solid #fecb00!important;
	}
	
	header .li-blue{
		border-bottom: none;
		border-left: 5px solid #92a2bd!important;
	}
	
	header .li-dark{
		border-bottom: none;
		border-left: 5px solid #444444!important;
	}
	
	header .li-green{
		border-bottom: none;
		border-left: 5px solid #a2ad00!important;
	}
	header .li-orange{
		border-bottom: none;
		border-left: 5px solid #ff9100!important;	
	}
	
	header .left-bot{
		border-left: none
	}

	header .exit{
		display: none;
	}

	header .navbar-nav .dropdown-menu .submenu{
		margin-top: 0px;
		border: none;
		margin-left: 0px;
	}

	header #slide-nav .navbar-header .logo-block{
		float: left;
		width: 90%;
	}

	header #slide-nav .navbar-header .logo-block .icons {
		margin-top: 15px;		
		float: right;		
	}

	header #slide-nav .navbar-header .logo-block .logo{
		margin-top: 19px;
		float: left;
	}
	

	header #slide-nav .navbar-header .logo-block .logo img{
		width: 118px;
		height: auto;
	}	
	
	header #slide-nav #slidemenu {
		top: 64px;
	}

	header .navbar .dropdown a{
		background-image: url('../img/arrow-bottom.png')!important;
		background-position: center right;
		background-repeat: no-repeat;			

	}

	header .nav > .open > a{
		background-image: url('../img/arrow-up.png')!important;
		background-position: center right;
		background-repeat: no-repeat;
	}

	.navbar-nav .open .dropdown-menu {
		background-color: #f2f2f2;		
	}

	
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
		background-image: none!important;
	}

	#slide-nav #slidemenu{
		width: 95%!important;
	}

	header .navbar li{
		border-right: none;
		margin-bottom: 3px;
	}

	header .navbar .last-li{
		margin-bottom: 0px;
	}

	header .navbar li a{
		line-height: 20px;
		background-color: #fff;
		padding: 15px 0;
		margin: 0 30px;
		border: 0;
		border-bottom: 1px solid #f2f2f2
	}

	header .nav > .open > a, header .nav > .open > a:hover, header .nav > .open > a:focus{
		background-color: #f2f2f2
	}

	header .navbar-nav .dropdown-menu .submenu li a{
		background-color: #f2f2f2;
		padding: 0 30px 0 0;
	}

	header .nav > li > a:hover, header .nav > li > a:focus{
		background-color: #fff
	}

	header .navbar-nav .open{
		background-color: #f2f2f2
	}
	
	#main-banner .bg-desc{
		left: 30px;
	}

	#main-banner .bg-desc p{
		width: 90%;
	}

	#main-banner .bg-desc h1{
		font-size: 46px;
	}

	#calendar-events .calendar-events-head h2{
		font-size: 23px;
	}

	#calendar-events .calendar-events-block .ce-block-foto{
		width: 100%;
		height: auto;
	}

	#about .about-content-desc{
		width: 100%;
	}

	#about .about-content-foto{
		float: left;
	}

	#about .about-content-foto img{
		margin-bottom: 20px;
	}

	#partners .partners-block, #partners .partners-block2{
		margin-bottom: 30px;
	}

	#school .school-block{
		margin-top: 30px;
	}

	#school .school-block h2{
		font-size: 38px;
	}

	#info-banner .info-desc h2{
		font-size: 26px;
	}

	#info-banner .info-desc p{
		width: 100%;
		font-size: 13px;
	}

	#info-form form .form-field input, #info-form form .form-field select, #info-form form .info-phone{
		float: none;		
	}

	#info-form form .info-phone{
		float: left;
	}

	#info-form form .form-field span{
		display: block;
	}

	#info-form form{
		width: 453px;
	}

	#info-form form .select-side{
		top: 63px;
		left: 386px;
	}

	#event .images-event .foto2, #event .images-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#event .images-event .foto3{
		float: right;
	}

	#news-article .news-article-event .foto2, #news-article .news-article-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#news-article .news-article-event .foto3{
		float: right;
	}

	#partners-page .partners-page-block, #partners-page .partners-page-block2{
		margin-bottom: 30px;
	}

	#team #lightslider .li_slide .li-slide-name span{
		font-size: 15px;
	}

	#programm .programm-event .foto2, #programm .programm-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#programm .programm-event .foto3{
		float: right;
	}

	#gallery .gallery-block .gallery-foto{
		width: 100%;
		height: auto;
	}

	#materials .materials-block .materials-block-foto{
		width: 100%;
		height: auto;
	}

	#news .news-block .news-foto{
		width: 100%;
		height: auto;
	}

	#progr-det .progr-det-block .progr-det-foto{
		height: auto;
	}

	#world .world-block .world-block-foto{
		height: auto;
	}

	
	#info-form form .form-field input{
		margin-top: 20px;
	}

	#info-form form .bootstrap-select{
		float: none;
		margin-top: 20px;
	}

	#info-banner .info-desc p{
		margin-top: 30px;
	}


	#info-form form .comm{
		margin-left: 10px;
	} 

	 #info-form form .comm2{
	 	margin-left: 20px;
	 }

	body{
	 	margin-bottom: 70px!important
	}

	footer .col-sm-7{
		padding: 0 15px;

	}

	footer .col-xs-12{
		border-bottom: 1px solid #cac1a4;
	}
}

@media only screen and (min-width : 0px) and (max-width : 479px) {

	header .navbar{
		width: 100%;
		padding: 0 15px;
		position: fixed;
		right:0;
		z-index: 10;
		height: 64px;		
	}

	header .inner{
		border-bottom: none;
	}

	
	header #slide-nav .navbar-header{
		height: 64px;
		padding: 0px
	}

	#slide-nav .navbar-toggle > .icon-bar{
		background: #000;
	}

	header #slide-nav .navbar-header .logo-block .icons{
		margin-left: 15px;
	}

	header .li-grey{
		border-bottom: none;
		border-left: 5px solid #aaa38e!important;	
	}

	header .li-yellow{
		border-bottom: none;
		border-left: 5px solid #fecb00!important;
	}
	
	header .li-blue{
		border-bottom: none;
		border-left: 5px solid #92a2bd!important;
	}
	
	header .li-dark{
		border-bottom: none;
		border-left: 5px solid #444444!important;
	}
	
	header .li-green{
		border-bottom: none;
		border-left: 5px solid #a2ad00!important;
	}
	header .li-orange{
		border-bottom: none;
		border-left: 5px solid #ff9100!important;	
	}
	
	header .left-bot{
		border-left: none
	}

	header .exit{
		display: none;
	}

	header .navbar-nav .dropdown-menu .submenu{
		margin-top: 0px;
		border: none;
		margin-left: 0px;
	}

	header #slide-nav .navbar-header .logo-block{
		float: left;
		width: 82%;
	}

	header #slide-nav .navbar-header .logo-block .icons {
		margin-top: 15px;		
		float: left;		
	}

	header #slide-nav .navbar-header .logo-block .logo{
		margin-top: 19px;
		float: left;
	}

	header #slide-nav .navbar-header .logo-block .logo img{
		width: 118px;
		height: auto;
	}	
	
	header #slide-nav #slidemenu {
		top: 64px;
	}

	header .navbar .dropdown a{
		background-image: url('../img/arrow-bottom.png')!important;
		background-position: center right;
		background-repeat: no-repeat;			

	}

	header .nav > .open > a{
		background-image: url('../img/arrow-up.png')!important;
		background-position: center right;
		background-repeat: no-repeat;
	}

	.navbar-nav .open .dropdown-menu {
		background-color: #f2f2f2;		
	}

	
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
		background-image: none!important;
	}

	#slide-nav #slidemenu{
		width: 95%!important;
	}

	header .navbar li{
		border-right: none;
		margin-bottom: 3px;
	}

	header .navbar .last-li{
		margin-bottom: 0px;
	}

	header .navbar li a{
		line-height: 20px;
		background-color: #fff;
		padding: 15px 0;
		margin: 0 30px;
		border: 0;
		border-bottom: 1px solid #f2f2f2
	}

	header .nav > .open > a, header .nav > .open > a:hover, header .nav > .open > a:focus{
		background-color: #f2f2f2
	}

	header .navbar-nav .dropdown-menu .submenu li a{
		background-color: #f2f2f2;
		padding: 0 30px 0 0;
	}

	header .nav > li > a:hover, header .nav > li > a:focus{
		background-color: #fff
	}

	header .navbar-nav .open{
		background-color: #f2f2f2
	}
	
	#main-banner{
		background-position: center right 40%;
	}

	#main-banner .bg-desc{
		left: 30px;
		top: 35px
	}

	#main-banner .bg-desc p{
		width: 90%;
	}

	#main-banner .bg-desc h1{
		font-size: 46px;
	}

	#about .about-content-foto{
		float: none;
		text-align: center;
	}

	#about .about-content-foto img{
		margin-left: 0px;		
	}


	#calendar-events .calendar-events-head h2, #about .about-head h2{
		font-size: 24px;
	}

	#calendar-events .calendar-events-head a{
		width: 100%;
	}

	#calendar-events .calendar-events-block .ce-block-desc .sp-right{
		width: 100%;		
	}

	#calendar-events .calendar-events-block .ce-block-desc .ce-learnmore{
		width: 235px;
		background-position: center right 15px;
	}

	#calendar-events .calendar-events-block .ce-block-foto{
		width: 100%;
		height: auto;
	}

	#about .about-content-desc{
		width: 100%;
	}

	#about .about-content-foto{
		float: left;
	}

	#about .about-content-foto img{
		margin-bottom: 20px;
	}

	#partners .partners-block, #partners .partners-block2{
		margin-bottom: 30px;
	}

	#partners .partners-block, #partners .partners-block2{
		background-size: 280px auto;
	}

	#school .school-block{
		margin-top: 30px;
	}

	#school .school-block h2{
		font-size: 28px;
	}

	#school .school-block p{
		width: 100%;
		font-size: 14px;
	}

	#info-banner .info-desc{
		margin-top: 0px;
	}

	#info-banner .info-desc p{
		width: 100%;
		margin-top: 10px;
		font-size: 11px
	}

	#info-banner .info-desc h2{
		font-size: 20px;

	}

	#info-form form .form-field input, #info-form form .form-field select, #info-form form .info-phone{
		float: none;
		width: 100%;	
	}

	#info-form form .info-phone{
		float: left;		
	}

	#info-form form .form-field span{
		display: block;
		text-overflow: ellipsis;
		width: 97%;
	}

	.bootstrap-select.btn-group .dropdown-menu{
		width: 100%;
	}

	#info-form form{
		width: 100%;
	}

	#info-form form .select-side{
		top: 84px;			
	}

	#info-form form .info-phone .pref-phone{
		width: 80px;
	}


	#info-form form .info-phone .number-phone{
		width: 205px;
	}

	#event .images-event .foto1{
		margin-bottom: 27px;
	}

	#event .soc-icons ul{
		padding-left: 0px;
		margin-top: 20px;
	}

	#event .soc-icons ul li{
		padding-left: 0px;
		padding-right: 20px;
	}
	
	#event .marker-right{
		margin-left: 14px;
	}

	#gallery .gallery-block .gallery-desc span{
		font-size: 15px;
	}

	#world .world-block .world-block-desc .world-learnmore{
		width: 235px;
	}

	#contacts span img{
		margin-right: 7px
	}
	
	#contacts span{
		font-size: 14px;
	}

	#news .news-block .news-desc .news-learnmore{
		width: 235px;
		background-position: center right 15px;
	}

	#news-article .news-article-event .foto1{
		margin-bottom: 27px;
	}

	#news-article .news-article-icons ul{
		padding-left: 0px;
		margin-top: 20px;
	}

	#news-article .news-article-icons ul li{
		padding-left: 0px;
		padding-right: 20px;
	}

	#partners-page .partners-page-block, #partners-page .partners-page-block2{
		margin-bottom: 30px;
	}

	#materials .materials-block .materials-block-desc .materials-learnmore{
		width: 236px;
	}

	#team h3{
		font-size: 30px;
	}

	#programm h2{
		font-size: 21px
	}

	#programm .programm-event .foto1{
		margin-bottom: 27px;
	}

	#progr-det .progr-det-block .progr-det-desc .progr-det-learnmore{
		width: 235px;
		background-position: center right 15px
	}

	#partners-page .partners-page-block, #partners-page .partners-page-block2{
		background-size: 280px auto
	}

	#gallery .gallery-block .gallery-foto{
		width: 100%;
		height: auto;
	}

	#materials .materials-block .materials-block-foto{
		width: 100%;
		height: auto;
	}

	#news .news-block .news-foto{
		width: 100%;
		height: auto;
	}

	#progr-det .progr-det-block .progr-det-foto{
		height: auto;
	}

	#progr-det .progr-det-block .progr-det-desc h3{
		font-size: 16px;
	}

	#world .world-block .world-block-foto{
		height: auto;
	}	

	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a{
		background-image: none!important;
	}

	#hidden_form {
		width: 100%;
	}

	#hidden_form span{
		font-size: 16px
	}

	#info-form form .form-field input{
		margin-top: 20px;
	}
	

	#info-form .dis-button .text-danger{
		top: 45px;
	}

	#info-form form .bootstrap-select{
		float: none;
		margin-top: 20px;
		width: 290px;
	}

	#info-form form .btn{
		width: 290px;
	}

	#about-page .col-xs-6{
		width: 100%;
	}

	.ma-teachers-header h2, .ma-parents-header h2{
		font-size: 25px;
	}

	#info-form form .form-field-head{
		font-size: 13px;
	}

	#info-form form .info-popover2{
		left: 0px;
		width: 290px;
	}

	#info-form form .info-popover-arrow2{
		left: 228px;
	}

	#info-form form .info-popover-arrow{
		left: 121px;
	}

	#info-form form .comm, #info-form form .comm2{
		margin-left: 10px;
	} 	

	#about-tizers .tizers-block-wrap .tizer-block img{
		width: 100%;
		height: auto;
	}

	#about-tizers .tizers-block-wrap .tizer-block .tizer-block-header{
		width: 270px;
	}

	#about-tizers{
		padding-bottom: 0px;
	}

	body{
	 	margin-bottom: 95px!important
	}

	footer .col-sm-7{
		padding: 0 15px;

	}

	footer .footer-social span{
		float: none;		
	}

	footer .footer-social{
		text-align: center;
	}

	footer .footer-social ul{
		margin: 0;
		padding: 0;
		float: none;
	}

	footer .col-xs-12{
		border-bottom: 1px solid #cac1a4;
	}


}

/******************************************SliderStyles********************************************/


/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    right: 0;
}
#page-content.slide-active {
    padding-top: 0
}



/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: right;
    margin: 0;
    width: 43px;   
    padding: 0;
    border: 0;
    background: transparent;
    border-left: 2px solid #ececec;
    border-radius: 0px;   
    margin-top: 18px;  
    height: 28px;
    background-image: url('../img/menu_24_navigation_default.svg');
    background-position: center right;
    background-repeat: no-repeat;    
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {  
    display: none;   
}

.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:991px) { 
	#slide-nav .container {
	    margin: 0!important;
	    padding: 0!important;
      height:100%;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {	  
	    right: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0px;
	    z-index: 2;	  
	    margin: 0;
	    top: 69px;
	    max-height: 400px;
	    overflow-y: auto;  
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	   
		display: block;
	   	white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navbar-height-col {
	 
	    top: 0;
	    height: 100%;
      	bottom:0;
	    width: 80%;
	    right: -80%;
	    background: #f7f7f7;
	}
	#navbar-height-col.inverse {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#slide-nav .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#slide-nav .navbar-form .form-control {
	    text-align: center
	}
	#slide-nav .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:992px) { 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	   
	}
	.navbar-header {
	    left: 0!important
	}
}





/**General**/
@media (min-width:992px) { 
	@keyframes borderanimation_hover{
	0%{padding-bottom:15px;border-bottom-width:5px}
	100%{padding-bottom:12px;border-bottom-width: 8px}
	}
	.navbar li a {animation:borderanimation .15s 0s ease-out forwards}
	.navbar li a:hover {animation:borderanimation_hover .15s 0s ease-out forwards}
	}
}