@media only screen and (min-width: 1200px) and (max-width: 1400px) {

	#calendar-events .calendar-events-block .ce-block-desc .ce-learnmore{
		width: 280px;
	}

	#about .about-content-desc{
		width: 42%;
	}


}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

	header .navbar li a{
		padding: 0 10px;
	}

	header .navbar{
		margin-left: -30px;
	}

	#calendar-events .calendar-events-block{
		margin-bottom: 30px;
	}

	#about .about-content-desc{
		width: 100%;
	}

	#about .about-content-foto{
		float: left;
	}

	#event .images-event .foto2, #event .images-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#event .images-event .foto3{
		float: right;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
	
	header .navbar li a{
		padding: 0 5px;
		font-size: 12px;
	}

	header .navbar{
		margin-left: -15px;
	}

	#main-banner .bg-desc p{
		width: 88%;
	}

	#calendar-events .calendar-events-block .ce-block-desc .ce-learnmore{
		width: 280px;
	}

	#calendar-events .calendar-events-block{
		margin-bottom: 30px;
	}

	#about .about-content-desc{
		width: 100%;
	}

	#about .about-content-foto{
		float: left;
	}

	#school .school-block{
		margin-top: 30px;
	}
	
	#info-banner .info-desc p{
		width: 100%;
	}

	#event .images-event .foto2, #event .images-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#event .images-event .foto3{
		float: right;
	}

}

@media only screen and (min-width : 480px) and (max-width : 767px) {

	header .navbar{
		margin-left: 0px;
		z-index: 10;
		border-radius: 0px;
	}

	header .navbar .separator{
		display: none;
	}

	.navbar-default .navbar-collapse{
		background-color: #fff;		
	}

	.navbar-nav{
		background-color: #fff;
	}

	#main-banner .bg-desc{
		margin-left: 30px;
	}

	#main-banner .bg-desc p{
		width: 90%;
	}

	#calendar-events .calendar-events-block{
		margin-bottom: 30px;
	}

	#calendar-events .calendar-events-head h2{
		font-size: 25px;
	}

	#about .about-content-desc{
		width: 100%;
	}

	#about .about-content-foto{
		float: left;
	}

	#about .about-content-foto img{
		margin-bottom: 20px;
	}

	#partners .partners-block, #partners .partners-block2{
		margin-bottom: 30px;
	}

	#school .school-block{
		margin-top: 30px;
	}

	#school .school-block h2{
		font-size: 38px;
	}

	#info-banner .info-desc h2{
		font-size: 26px;
	}

	#info-banner .info-desc p{
		width: 100%;
		font-size: 13px;
	}

	#info-form form .form-field input, #info-form form .form-field select, #info-form form .info-phone{
		float: none;		
	}

	#info-form form .info-phone{
		float: left;
	}

	#info-form form .form-field span{
		display: block;
	}

	#info-form form{
		width: 453px;
	}

	#info-form form .select-side{
		top: 63px;
		left: 386px;
	}

	#event .images-event .foto2, #event .images-event .foto3{
		width: 49%;
		float: left;
		margin-top: 28px;
		margin: 
	}

	#event .images-event .foto3{
		float: right;
	}

}

@media only screen and (min-width : 0px) and (max-width : 479px) {

	header .navbar{
		margin-left: 0px;
		z-index: 10;
		border-radius: 0px;
	}

	header .navbar .separator{
		display: none;
	}

	.navbar-default .navbar-collapse{
		background-color: #fff;		
	}

	.navbar-nav{
		background-color: #fff;
	}

	#main-banner .bg-desc{
		margin-left: 30px;
		margin-top: 35px
	}

	#main-banner .bg-desc p{
		width: 90%;
	}

	#calendar-events .calendar-events-block{
		margin-bottom: 30px;
	}

	#calendar-events .calendar-events-head h2, #about .about-head h2{
		font-size: 24px;
	}

	#calendar-events .calendar-events-head span{
		width: 100%;
	}

	#calendar-events .calendar-events-block .ce-block-desc .sp-right{
		width: 100%;
		margin-top: 10px;
	}

	#calendar-events .calendar-events-block .ce-block-desc .ce-learnmore{
		width: 235px;
		background-position: center right 15px;
	}

	#about .about-content-desc{
		width: 100%;
	}

	#about .about-content-foto{
		float: left;
	}

	#about .about-content-foto img{
		margin-bottom: 20px;
	}

	#partners .partners-block, #partners .partners-block2{
		margin-bottom: 30px;
	}

	#school .school-block{
		margin-top: 30px;
	}

	#school .school-block h2{
		font-size: 28px;
	}

	#school .school-block p{
		width: 100%;
		font-size: 14px;
	}

	#info-banner .info-desc{
		margin-top: 0px;
	}

	#info-banner .info-desc p{
		width: 100%;
		margin-top: 10px;
		font-size: 11px
	}

	#info-banner .info-desc h2{
		font-size: 20px;

	}

	#info-form form .form-field input, #info-form form .form-field select, #info-form form .info-phone{
		float: none;
		width: 300px;	
	}

	#info-form form .info-phone{
		float: left;		
	}

	#info-form form .form-field span{
		display: block;
	}

	#info-form form{
		width: 300px;
	}

	#info-form form .select-side{
		top: 63px;
		left: 263px;
	}

	#info-form form .info-phone .pref-phone{
		width: 80px;
	}


	#info-form form .info-phone .number-phone{
		width: 216px;
	}

	#event .images-event .foto1{
		margin-bottom: 27px;
	}

	#event .soc-icons span{
		font-size: 9px;
	}

	#gallery .gallery-block .gallery-desc span{
		font-size: 15px;
	}

}