.zerich-button {
  background-color: #4753d1;
  text-decoration: none !important;
  border-radius: 2px;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.border-bottom-1px {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

/***************************************************Service-Styles************************************/
.line-height-18 {
  line-height: 1.18;
}

.line-height-29 {
  line-height: 1.29;
}

.line-height-56 {
  line-height: 1.56;
}

.line-height-13 {
  line-height: 1.13;
}

.line-height-09 {
  line-height: 1.09;
}

.line-height-43 {
  line-height: 1.43;
}

.line-height-26 {
  line-height: 1.26;
}

.line-height-24 {
  line-height: 1.24;
}

.line-height-14 {
  line-height: 1.14;
}

.line-height-63 {
  line-height: 1.63;
}

.line-height-96 {
  line-height: 1.96;
}

.line-height-22 {
  line-height: 1.22;
}

.font-size-16 {
  font-size: 16px;
}

.opacity-72 {
  opacity: 0.72;
}

.a-trans {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.text-blue {
  color: #4753d1;
}

/***************************************************ISG-Banner-top************************************/
.isg-banner-top {
  min-height: 300px;
  background-image: url("../images/isg-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.btn-blue-gen {
  padding: 15px 33px;
}

.container-content {
  max-width: 1200px;
}

/***************************************************ISG-ADV************************************/
.isg-adv-block {
  position: relative;
}

.isg-adv-block::before {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border: 6px solid #d7e4ef;
  background-color: #4753d1;
  border-radius: 50%;
  top: 0px;
  left: 0px;
}

.isg-adv-block::after {
  width: 10px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 11px;
  left: 16px;
  display: block;
  content: '';
}

/***************************************************ISG-Icons************************************/
.isg-icons-wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
}

/***************************************************isg-programms************************************/
.isg-programms-block .isg-programms-block-field:nth-child(odd) {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.isg-programms-block .isg-programms-block-field:nth-child(even) {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 44%;
  flex: 1 0 44%;
}

.isg-programms {
  height: auto;
}

.isg-programms-block {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 28px 0 #d7e4ef;
  box-shadow: 0 0 28px 0 #d7e4ef;
  background-color: #fff;
}

.isg-programms-block-field img {
  width: 100%;
  height: auto;
}

.isg-programms-blue {
  height: 81px;
  background-color: #4753d1;
  border-radius: 100px 0px 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.isg-programms-blue span:nth-child(1) {
  color: #ffb820;
}

.isg-programms-list ul, .isg-programms-list li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.isg-programms-list ul {
  background-color: rgba(173, 180, 202, 0.2);
}

.isg-programms-list li {
  border-bottom: 1px dashed #fff;
}

.isg-programms-list li span:nth-child(1) {
  opacity: 0.6;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 220px;
  flex: 0 0 220px;
}

.programs-list {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.programs-list-slide {
  position: absolute;
  cursor: pointer;
}

.programs-list-slide-active {
  position: relative;
}

.programs-list-slide:not(.programs-list-slide-active):hover {
  margin-top: -5px;
}

.transition {
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.show {
  -webkit-animation: show 1s linear;
  animation: show 1s linear;
}

@-webkit-keyframes show {
  25% {
    top: -150px;
  }
  50% {
    z-index: 1000;
    top: -100px;
  }
  70% {
    z-index: 1000;
    top: -50px;
  }
  100% {
    z-index: 1000;
    top: 0px;
  }
}

@keyframes show {
  25% {
    top: -150px;
  }
  50% {
    z-index: 1000;
    top: -100px;
  }
  70% {
    z-index: 1000;
    top: -50px;
  }
  100% {
    z-index: 1000;
    top: 0px;
  }
}

.programs-list .programs-list-slide.item-0 {
  z-index: 10;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.programs-list .programs-list-slide.item-1 {
  z-index: 9;
  top: -30px;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.programs-list .programs-list-slide.item-2 {
  z-index: 8;
  top: -60px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.programs-list .programs-list-slide.item-3 {
  z-index: 7;
  top: -90px;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.programs-list .programs-list-slide.item-4 {
  z-index: 6;
  top: -120px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.programs-list .programs-list-slide.item-5 {
  z-index: 5;
  top: -150px;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}

.programs-list .programs-list-slide.item-6 {
  z-index: 4;
  top: -180px;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.programs-list-dots {
  position: relative;
  z-index: 10000;
  text-align: center;
  display: block;
  width: 100%;
}

.programs-list-dots ul {
  padding: 0px;
  margin: 0px;
}

.programs-list-dots li {
  list-style-type: none;
  width: 12px;
  height: 12px;
  border: 2px solid gray;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.programs-list-dots li:hover {
  cursor: pointer;
}

.programs-list-dots #dotp0 {
  border: 2px solid #4753d1;
}

/***************************************************ISG-Partners************************************/
.isg-partners-block {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 28px 0 #d7e4ef;
  box-shadow: 0 0 28px 0 #d7e4ef;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.isg-partners-block .drop-wrap {
  min-height: 112px;
}

.isg-partners-block .isg-partners-drop, .isg-partners-block .isg-partners-drop-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  border-top: 1px solid #d7e4ef;
}

.isg-partners-block .isg-partners-drop ul, .isg-partners-block .isg-partners-drop-2 ul {
  min-height: 400px;
}

.isg-partners-block .isg-partners-drop ul, .isg-partners-block .isg-partners-drop li, .isg-partners-block .isg-partners-drop-2 ul, .isg-partners-block .isg-partners-drop-2 li {
  list-style-type: none;
  padding: 0px;
}

.isg-partners-block .isg-partners-drop li, .isg-partners-block .isg-partners-drop-2 li {
  position: relative;
}

.isg-partners-block .isg-partners-drop li::before, .isg-partners-block .isg-partners-drop-2 li::before {
  position: absolute;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-color: #d7e4ef;
  border-radius: 50%;
  top: 5px;
  left: 0px;
}

.isg-partners-block .isg-partners-drop li::after, .isg-partners-block .isg-partners-drop-2 li::after {
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 5px;
  display: block;
  content: '';
}

.isg-partners-arr {
  width: 15px;
  height: 15px;
  position: relative;
}

.isg-partners-block.collapsed .isg-partners-arr::after {
  width: 13px;
  height: 13px;
  border: solid gray;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  content: '';
}

.isg-partners-block .isg-partners-arr::after {
  width: 13px;
  height: 13px;
  border: solid gray;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  content: '';
}

/***************************************************ISG-terms************************************/
.isg-terms-block-field {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
}

.isg-terms-imp {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 112px;
  background-color: rgba(215, 228, 239, 0.3);
}

.isg-terms-imp .btn-blue-gen {
  border: 1px solid #4753d1;
  background-color: transparent;
  color: #4753d1 !important;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.isg-terms-imp .btn-blue-gen:hover {
  background-color: #4753d1;
  color: #fff !important;
}

.isg-umbrella-wrap {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.isg-umbrella-wrap img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/***************************************************Marga-top************************************/
.banner-marga {
  min-height: 300px;
  background-image: url("../images/marga-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/***************************************************Marga-Types************************************/
.marga-num-block {
  position: relative;
}

.marga-num-block p {
  width: 84%;
}

.marga-num-block::before {
  position: absolute;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-color: #d7e4ef;
  border-radius: 50%;
  top: 0px;
  left: 0px;
}

.marga-num-block::after {
  position: absolute;
  top: 0px;
  left: 10px;
  display: block;
  content: '1';
  font-size: 23px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}

.marga-num-block-sec::after {
  content: '2';
}

.marga-num-block-thi::after {
  content: '3';
}

.marga-types-cost {
  background-color: rgba(215, 228, 239, 0.3);
}

.marga-types-cost-field {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38%;
  flex: 0 0 38%;
  position: relative;
}

.marga-types-cost-field::before {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border: 6px solid #d7e4ef;
  background-color: #4753d1;
  border-radius: 50%;
  top: 0px;
  left: 0px;
}

.marga-types-cost-field::after {
  width: 10px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 11px;
  left: 16px;
  display: block;
  content: '';
}

.marga-num-block i {
  font-style: normal;
}

.marga-exam-images {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  position: relative;
}

.marga-note {
  position: absolute;
  top: 93px;
  left: 58px;
}

.marga-note span {
  font-size: 11px;
  display: block;
  width: 202px;
  background-color: #fff;
  display: none;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 0 2px 15px 0 #656885;
  box-shadow: 0 2px 15px 0 #656885;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: -45px;
  left: -10px;
}

.marga-note:hover span {
  display: block;
}

.marga-note-2 {
  top: 146px;
  left: 207px;
}

.marga-note-2 span {
  top: -60px;
}

.marga-note-3 {
  top: 146px;
  left: 58px;
}

.marga-note-3 span {
  top: 30px;
}

.marga-note-4 {
  top: 146px;
  left: 361px;
}

.marga-note-4 span {
  top: 30px;
}

/***************************************************Marga-Glos************************************/
.marga-glos-block {
  border-top: solid 1px rgba(215, 228, 239, 0.4);
}

.marga-glos-block-header:hover {
  cursor: pointer;
}

.marga-block-arr {
  width: 15px;
  height: 15px;
  position: relative;
}

.marga-block-arr::after {
  width: 13px;
  height: 13px;
  border: solid gray;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  content: '';
}

.marga-block-arr::after {
  width: 10px;
  height: 10px;
  border: solid #d1d1d6;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 2px;
  display: block;
  content: '';
}

.marga-glos-block:not(.collapsed) .marga-glos-block-header span {
  color: #4753d1;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.marga-glos-block:not(.collapsed) .marga-block-arr::after {
  width: 10px;
  height: 10px;
  border: solid #4753d1;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  position: absolute;
  top: 5px;
  left: 2px;
  display: block;
  content: '';
}

.marga-glos-block:not(.collapsed) {
  border-top: solid 1px #4753d1;
}

.fix-show-bot .col-12:last-child .marga-glos-block {
  border-bottom: solid 1px rgba(215, 228, 239, 0.4);
}
