@import "bourbon/bourbon"

$blue: #4c4f6c
$laz: 'lazurskicyrillic', sans-serif
$laz-b: 'lazurskibold', sans-serif
$garam: 'cyrillicgaramond', sans-serif


html
	width: 100%
	height: 100%
	overflow-x: hidden
body
	min-width: 320px
	width: 100%
	height: auto		
	margin: 0 auto
	position: relative
	font-family: $laz	
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	background-color: #fff
	
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	a
		display: inline-block
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	ul, ol
		padding: 0px
		margin: 0px
		list-style-type: none
	button
		border: none
		cursor: pointer
	hr
		border: none	

/***************************************************GeneralStyles************************************/
.btn-gen
	a
		font-size: 18px
		color: #fff
		text-transform: uppercase
		padding: 9px 60px
		border: 3px solid #fff
		font-family: $laz-b
		background-color: #000
	a:hover
		background-color: #fff
		color: #000
h2
	color: #fff
	font-family: $laz-b
	font-size: 48px
	text-transform: uppercase
	text-align: center
	

/********************************************************Header******************************************/
header
	min-height: 100px
	background-color: #000	
	position: relative
.main-menu	
	width: 100%
	ul
		min-height: 100px
		justify-content: center	
	li
		display: inline-block
		padding: 0 19px	
	a
		font-size: 28px
		color: #fff
		text-transform: uppercase
	a:hover
		color: #6f7cff
.feedback-btn
	margin-right: 4px



/***************************************************Top-Banner******************************************/
.top-banner
	width: 100%
	min-height: 550px
	background-image: url('../images/top-banner.jpg')
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	h1
		color: #fff
		font-family: $laz-b
		font-size: 66px
		line-height: 90px
		text-transform: uppercase
		text-align: center
		margin-top: 162px
		margin-left: 20px

/***************************************************Partner-Info******************************************/
.partner-info
	width: 100%
	min-height: 950px
	background-image: url('../images/partner-info.jpg')
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	position: relative
	padding-top: 65px
	span
		font-size: 36px
		color: #fff
		text-transform: uppercase
		text-align: center
		display: block
.crown-image
	position: absolute
	top: 70px
	left: 0px
	z-index: 100
.partner-info-textblock
	border: 6px solid #fff
	margin-top: 41px
	margin-left: 255px
	text-align: center
	padding: 30px 70px 44px 70px
	margin-bottom: 58px
	position: relative
	p
		font-size: 36px
		color: #fff
		margin-bottom: 0px
	a
		color: #fff
	a:hover
		color: #6f7cff
.partner-info-icons
	display: flex
	justify-content: space-between
	margin-top: 35px
.partner-info-icon-block
	flex: 0 0 20%	
	img
		display: block
		margin: 0 auto
		margin-bottom: 25px
	span
		color: #fff
		font-family: $laz-b
		font-size: 28px		
		text-transform: none
	p
		color: #fff
		font-family: $laz
		font-size: 24px	
		text-align: center
		margin-bottom: 0px
	


/***************************************************Single-btn******************************************/
.single-btn
	width: 100%
	min-height: 130px
	background-color: #1d1d26
	display: flex
	align-items: center
.single_btn a
	font-size: 28px
	padding: 11px 72px

/***************************************************Terms******************************************/
.terms
	width: 100%
	min-height: 890px
	background-image: url('../images/terms.jpg')
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	padding-top: 59px
.terms-block
	margin-top: 20px
.terms-block-field
	display: flex
	margin-bottom: 23px
	span
		color: #000
		font-family: $laz-b
		font-size: 28px		
		text-transform: uppercase
	p
		color: #000
		font-family: $laz
		font-size: 28px	
		margin: 0px		
.terms-block-field-left
	flex: 0 0 24%
	height: 148px
	background-color: #e6e6e6
	border: 3px solid #737d7d
	position: relative
	display: flex
	align-items: center	
	justify-content: center
	text-align: center
	padding: 0 20px
	img
		position: absolute
		top: 0px
		bottom: 0px
		margin: auto
		right: -32px
.terms-block-field-right
	flex: 0 0 52%
	height: 148px
	background-color: #bec8c8
	margin-left: 3px
	display: flex
	align-items: center		
	padding: 0 70px

/***************************************************Money******************************************/
.money
	width: 100%
	min-height: 945px
	background-image: url('../images/money.jpg')
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	padding-top: 60px
	h2
		color: #000
		line-height: 40px
	span
		color: #000
		font-family: $laz-b
		font-size: 48px	
.money-table
	width: 100%
	border: 8px solid #fff
	margin-top: 37px
	padding: 28px 30px
	span
		color: #000
		font-family: $laz
		font-size: 36px	
		text-align: center
		display: block
	p
		color: #000
		font-family: $laz
		font-size: 24px
		text-align: center
		margin-bottom: 30px
.money-table-pay
	width: 89%
	margin: 0 auto
	padding-top: 10px
	justify-content: space-between
	margin-bottom: 10px
.money-table-header
	background-color: #000
	text-align: center
	span		
		font-family: $laz-b
		font-size: 22px
		color: #fff	
.money-table-row
	margin-top: 10px
	span
		color: #000
		font-family: $laz
		font-size: 22px	
		background-color: #fff
		display: block
		height: 50px
		margin-bottom: 10px
		line-height: 50px
.money-table-pay-col-first
	flex: 0 0 270px	
	.money-table-header
		display: flex
		align-items: center
		height: 108px
		padding: 0 15px
		justify-content: center
.money-table-pay-col-sec
	flex: 0 0 550px
	.money-table-header
		height: 50px
		display: flex
		align-items: center
		justify-content: center
.money-table-subcol-wrap
	display: flex
	justify-content: space-between
	.money-table-header
		padding: 0px
		height: 50px
		margin-top: 8px
		display: flex
		justify-content: center
		align-items: center
.money-table-subcol
	flex: 0 0 49%
.btn-start
	display: block
	text-align: center
	margin-top: 50px
	a
		border-color: #353640
		font-size: 28px
		padding: 9px 45px
		


/***************************************************Sales******************************************/
.sales
	width: 100%
	min-height: 945px
	background-image: url('../images/sales.jpg')
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	position: relative
	padding-top: 66px
.sales-decor
	position: absolute
	bottom: 0px
	right: 0px
	z-index: 100
.sales-att
	p
		color: #fff
		font-family: $laz
		font-size: 28px	
		text-align: center
		padding: 20px
.sales-att-block
	background-color: #bec8c8
	background-image: url('../images/att.png')
	background-repeat: no-repeat
	background-position: left 30px center
	padding: 28px 50px 15px 76px
	p
		color: #000
		font-family: $laz
		font-size: 24px
		padding: 0px
		text-align: left
	b
		font-family: $laz-b	
.sales-bottom
	padding-top: 40px
	position: relative
	z-index: 200
	span
		color: #fff
		font-family: $laz
		font-size: 36px
		text-transform: uppercase
		display: block
		text-align: center
	p
		color: #fff
		font-family: $laz
		font-size: 28px	
		padding: 33px 20px 10px 20px
		text-align: center
.sales-icon
	display: flex
	align-items: start
	margin-top: 5px
	img
		margin-right: 31px
	span
		color: #fff
		font-family: $laz-b
		font-size: 28px
		text-transform: none
		text-align: left
		display: block
		margin-top: 10px
	p
		color: #fff
		font-family: $laz
		font-size: 24px
		text-align: left
		padding: 0px
	a
		color: #fff
		text-decoration: underline


/***************************************************Questions******************************************/
.questions
	background-color: #000
	padding-top: 53px
	padding-bottom: 20px
	border-bottom: 3px solid #fff
.questions-left
	span
		color: #fff
		font-family: $laz-b
		font-size: 36px
		text-transform: uppercase
		display: block
		margin-bottom: 15px
	p
		color: #fff
		font-family: $laz
		font-size: 24px
#questions-form
	margin-top: 20px
	margin-left: 45px
	width: 100%
	input
		background-color: #353640
		border: 3px solid #737d7d
		color: #c5d1d1
		font-size: 22px
		font-family: $laz
		height: 62px
		width: 45%
		text-align: center
	::-webkit-input-placeholder 
		color: #c5d1d1	
		font-size: 22px
		font-family: $laz	
	::-moz-placeholder
		color: #c5d1d1			
		font-size: 22px
		font-family: $laz		
	:-moz-placeholder 
		color: #c5d1d1			
		font-size: 22px
		font-family: $laz			
	:-ms-input-placeholder      
		color: #c5d1d1			
		font-size: 22px
		font-family: $laz
	button
		color: #fff
		font-size: 28px
		font-family: $laz-b
		background-color: transparent
		border: 3px solid #fff
		text-transform: uppercase
		transition: 0.3s all
		height: 62px
		width: 45%
		margin-left: 4%
	button:hover
		background-color: #fff
		color: #000
.l-container
	display: block
	position: relative
	padding-left: 35px
	margin-bottom: 12px
	cursor: pointer	
	font-size: 18px
	line-height: 20px
	color: #737d7d
	font-family: $laz
	font-weight: normal
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	a
		color: #737d7d
		border-bottom: 1px solid #737d7d
		transition: 0.3s all
	a:hover
		border-bottom: 1px solid transparent
.l-container input
	position: absolute
	opacity: 0
	cursor: pointer
	width: 5%!important
.checkmark
	position: absolute
	top: -1px
	left: 0px
	height: 23px
	width: 23px
	background-color: transparent	
	border: 2px solid #737d7d
.auto-yes .checkmark, .polite-d .checkmark
	top: 0px
.check-gen input:checked ~ .checkmark
	background-color: transparent
	border: 2px solid #737d7d
.check-gen .checkmark:after
	content: ""
	position: absolute
	display: none
.check-gen input:checked ~ .checkmark:after
	display: block
.check-gen .checkmark:after
	left: 6px
	top: 2px
	width: 7px
	height: 13px
	border: solid #737d7d
	border-width: 0 3px 3px 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
.check-gen
	margin-top: 47px


/***************************************************Footer******************************************/
footer
	background-color: #000
	min-height: 115px
.footer-block
	display: flex
	justify-content: space-between
	align-items: center
	a
		font-family: $garam
		color: #fff
		font-size: 30px
	a:hover
		color: #6f7cff
	.polite
		color: #fff
		font-size: 24px
		font-family: $laz
		border-bottom: 1px solid #fff		
	.polite:hover
		border-bottom: 1px solid transparent
.footer-social	
	ul
		min-height: 115px
		align-items: center
		display: flex
	li
		display: inline-block
		margin-left: 26px
	a:hover
		opacity: 0.5
.phone-link
	background-image: url('../images/phone.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 30px
.mail-link
	background-image: url('../images/mail.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 30px


/***********************************************Modal********************************************/
#modal
	width: 500px
	height: auto
	background-color: #fff
	margin: 0 auto
	padding: 20px
	position: relative	
.mfp-close-wrap
	position: absolute
	top: 20px
	right: 20px
	button
		color: #000
		margin: 0 auto
#modal-form-order
	margin-left: -1px
	margin-top: 23px
	width: 100%
	height: 100%
	text-align: center
	input
		width: 100%
		display: block
		height: 53px
		padding: 0px 20px
		margin-bottom: 30px	
	button
		color: #000
		font-size: 20px
		font-family: $laz-b
		background-color: #fff
		border: 3px solid #000
		text-transform: uppercase
		transition: 0.3s all		
		padding: 10px 30px
	button:hover
		background-color: #000
		color: #fff	
.modal-header-form 
	margin-top: 0px
	display: block
	text-align: center
	margin-bottom: 30px
	font-family: $laz-b
	font-size: 30px

/***********************************************ButtonMobile************************************/
.menu-toggle-button
	width: 70px
	height: 40px
	float: right
	background-color: transparent
	border-radius: 7px
	padding-top: 5px
	border: none
	text-indent: -9999px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	position: relative
	display: block
	overflow: hidden	
	float: left

.menu-toggle-button span 
	
	display: block
	height: 2px
	background: #fff
	position: absolute
	top: 15px
	left: 16px
	right: 16px
	-webkit-transition: background 0s 0.3
	-o-transition: background 0s 0.3
	transition: background 0s 0.3


.menu-toggle-button span::before, .menu-toggle-button span::after
	content: ""
	display: block
	width: 100%
	height: 2px
	background: #fff
	position: absolute
	left: 0px
	-webkit-transition-duration: 0.3s, 1s
	-o-transition-duration: 0.3s, 1s
	transition-duration: 0.3s, 1s
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s


.menu-toggle-button span::before 
	top: -9px

.menu-toggle-button span::after 
	bottom: -9px

.menu-toggle-button.is-active span
	background: none

.menu-toggle-button.is-active span::before
	top: 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	-webkit-transition-property: top, -webkit-transform
	transition-property: top, -webkit-transform
	-o-transition-property: top, transform
	transition-property: top, transform
	transition-property: top, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s
	background: #fff


.menu-toggle-button.is-active span::after 
	bottom: 0
	background: #fff
	-webkit-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	transform: rotate(-45deg)
	-webkit-transition-property: bottom, -webkit-transform
	transition-property: bottom, -webkit-transform
	-o-transition-property: bottom, transform
	transition-property: bottom, transform
	transition-property: bottom, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s

.menu-toggle-button:focus
	outline: none !important
