@import "bourbon/bourbon"

.line-height-18
	line-height: 1.18
.line-height-29
	line-height: 1.29
.line-height-56
	line-height: 1.56
.line-height-13
	line-height: 1.13
.line-height-09
	line-height: 1.09
.line-height-43
	line-height: 1.43

/***************************************************Banner-top************************************/
.banner-top	
	height: 560px	
	background-image: url(../images/top-banner-s.jpg)
	background-repeat: no-repeat
	background-position: top center
	background-size: cover
	h1		
		margin-top: 5rem			
	a:hover
		text-decoration: none
		background-color: #e89100
	.region-link
		border-bottom: 1px solid #fff
	.region-link:hover
		background-color: transparent
		border-bottom: 1px solid transparent
.btn-ban-orange
	background-color: #ff9f00			
	width: 228px
	height: 58px		
	line-height: 58px	
	border-radius: 2px		
.container-content
	max-width: 1230px

/***************************************************Line-Height************************************/
.steps		
	.steps-number
		width: 51px
		height: 51px
		border: 2px solid white
		border-radius: 50%
		line-height: 51px
		text-align: center
	.steps-wrapper
		width: 100%
		height: 388px
		box-shadow: 0 2px 40px 0 rgba(212, 212, 212, 0.5)
		background-color: #adb4ca
.btn-blue-gen
	width: 236px
	height: 59px
	line-height: 59px
	background-color: #4753d1
	border-radius: 2px	
.btn-blue-gen:hover
	text-decoration: none
	background-color: #3b46b3
.steps-pos
	position: relative
.steps-arrow	
	position: absolute
	left: 270px
	top: 25px
.arrow-inner
	position: relative
	width: 266px
	height: 2px
	background-color: #fff
.arrow-inner:after
	content: ''
	position: absolute
	border: 5px solid transparent
	border-left: 15px solid white
	display: block
	right: -12px
	top: -4px
.steps-arrow-second
	left: 690px


/***************************************************Partners************************************/
.partners-block
	width: 575px
	height: 280px
	border-radius: 6px
	background-color: #ebd29a
	position: relative
	img
		position: absolute
		top: -42px
		right: 30px
.partners-block-silver
	background-color: #d6d8d9
.f-align
	align-items: flex-end!important;
.partners-more
	height: 107px
	border-radius: 6px
	background-color: #f5dbde
.partners-more-link
	color: #000
	text-decoration: underline
.partners-more-link:hover
	color: #000
	text-decoration: none
.partners-cond
	position: relative	
	top: 0px	
	left: 0px
	width: 28px
	height: 28px	
	background-color: #656885
	border-radius: 50%	
	box-shadow: 0 0 7px 0 #6975ed
.partners-cond:after
	position: absolute
	left: 10px
	top: 5px
	width: 9px
	height: 14px
	border: solid white
	border-width: 0 3px 3px 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	display: block
.referal-pr
	height: 210px
	border-radius: 6px
	box-shadow: 0 2px 30px 0 #e5eff7
	background-color: #ffffff
.partners-add
	position: relative	
	top: 0px	
	left: 0px
	width: 24px
	height: 24px	
	background-color: #fff
	border: 2px solid #000
	border-radius: 50%		
.partners-add:after
	position: absolute
	left: 8px
	top: 4px
	width: 6px
	height: 10px
	border: solid #000
	border-width: 0 2px 2px 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	display: block
.partners-cond-wrapper 	
	.partners-cond
		vertical-align: top	
		position: relative
		top: 2px	
	span
		width: 80%
		vertical-align: top
		margin-left: 13px



/***************************************************R-slider************************************/
.owl-carousel-res
	.owl-slide		
		height: 760px
		border-radius: 6px
		box-shadow: 0 0 40px 0 #e5eff7
		background-color: #ffffff	
		position: relative
		padding-bottom: 80px!important			
	.slide-image
		width: 104px
		height: 104px
		border-radius: 50%
		overflow: hidden
		position: relative
		img
			position: absolute
			top: 50%
			left: 50%
			transform:  translateX(-50%) translateY(-50%)
	span
		vertical-align: top
		position: relative
		top: 23px
	.format-text
		letter-spacing: -0.5px
	.video-link
		color: #4a4a4a
		text-decoration: underline
		background-image: url('../images/camera.png')
		background-repeat: no-repeat
		background-position: left center
		padding-left: 40px
	.video-link:hover
		color: #4a4a4a
		text-decoration: none
	.slider-video
		position: absolute
		left: 48px
		bottom: 48px
.owl-carousel-res
	width: 100%
	max-width: 1230px
	margin: 0 auto
	height: auto
	overflow: hidden	
	padding: 15px	
	position: relative
	padding-bottom: 60px
.owl-carousel-res .owl-item
	position: relative
	min-height: 1px
	float: left
	-webkit-backface-visibility: hidden
	-webkit-tap-highlight-color: transparent
	-webkit-touch-callout: none
	height: 100%
.slider-info
	vertical-align: top
.owl-dots
	position: absolute
	right: 15px
	bottom: 0px
	z-index: 10000
	.active
		background-color: #9b9b9b
.owl-dot
	width: 8px
	height: 8px
	border: 2px solid #9b9b9b
	border-radius: 50%
	z-index: 100000
	display: inline-block
	margin: 0 5px
.owl-dot:hover
	cursor: pointer

/***************************************************Staff************************************/
.staff
	a:hover
		color: #000
.staff-img
	width: 365px
	height: 255px
	position: relative
.staff-img-1
	background-image: url(../images/staff-1.jpg)
	background-repeat: no-repeat
	background-position: top center
.staff-img-1
	background-image: url(../images/staff-1.jpg)
	background-repeat: no-repeat
	background-position: top center
.staff-img-2
	background-image: url(../images/staff-2.jpg)
	background-repeat: no-repeat
	background-position: top center
.staff-img-3
	background-image: url(../images/staff-3.jpg)
	background-repeat: no-repeat
	background-position: top center
.staff-mail
	background-image: url(../images/mail.png)
	background-repeat: no-repeat
	background-position: left center
	padding-left: 40px
.staff-skype
	background-image: url(../images/skype.png)
	background-repeat: no-repeat
	background-position: left center
	padding-left: 40px
.staff-phone
	background-image: url(../images/phone.png)
	background-repeat: no-repeat
	background-position: left center
	padding-left: 40px


/***************************************************Add-form************************************/
.add-form
	height: 454px
	background-color: #656885
.form-single
	span
		opacity: 0.55
	input
		opacity: 0.55
		width: 237px
		height: 25px
		border-bottom: solid 1px #ffffff
		background-color: transparent
.btn-white-gen
	width: 196px
	height: 52px
	line-height: 52px
	background-color: #fff
	border-radius: 2px
	color: #656885
.btn-white-gen:hover
	text-decoration: none
	color: #656885
	background-color: #e8e8e8
	cursor: pointer
.letter-sp
	letter-spacing: 0.5px
