@font-face {
  font-family: "CodeProBoldLC";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CodeProBoldLC.eot?#iefix") format("embedded-opentype"), url("../fonts/CodeProBoldLC.woff") format("woff"), url("../fonts/CodeProBoldLC.ttf") format("truetype"), url("../fonts/CodeProBoldLC.svg#CodeProBoldLC") format("svg"); }

@font-face {
  font-family: "CodeProLC";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CodeProLC.eot?#iefix") format("embedded-opentype"), url("../fonts/CodeProLC.woff") format("woff"), url("../fonts/CodeProLC.ttf") format("truetype"), url("../fonts/CodeProLC.svg#CodeProLC") format("svg"); }
