body {
  font-family: "CodeProLC", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  max-width: 1920px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto; }
  body a:hover, body a:focus, body a:active {
    text-decoration: none;
    outline: none; }
  body input:focus, body input:active {
    text-decoration: none;
    outline: none; }
  body button:focus, body button:active {
    text-decoration: none;
    outline: none; }
  body textarea:focus, body textarea:active {
    text-decoration: none;
    outline: none; }
  body ul {
    list-style-type: none;
    padding: 0; }
  body a:hover {
    opacity: 0.7; }

/********************************************************General******************************************/
ul {
  padding: 0;
  list-style-type: none; }

hr {
  border: none; }

h2 {
  font-family: 'CodeProBoldLC', sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #48423b;
  font-style: normal;
  text-align: center;
  float: none;
  letter-spacing: 3px;
  text-transform: uppercase; }

/********************************************************FirstScreen******************************************/
.first-screen {
  height: 100vh; }

header {
  height: 280px;
  background-color: #fff;
  padding-top: 38px; }
  header .col-lg-4 {
    height: 118px; }

.logo {
  width: 100%;
  height: 103px;
  background-repeat: no-repeat;
  background-position: center center; }

.phone {
  margin-top: 35px; }
  .phone a {
    background-color: #b492c1;
    font-family: 'CodeProBoldLC', sans-serif;
    font-size: 23px;
    color: #fff;
    letter-spacing: 4px;
    padding: 13px 45px 13px 76px;
    position: relative; }
    .phone a img {
      width: 30px;
      height: 30px;
      position: absolute;
      margin-right: 30px;
      left: 10px;
      margin: auto;
      top: 0;
      bottom: 0; }

.social {
  text-align: right;
  margin-top: 35px;
  margin-right: 5px; }
  .social li {
    display: inline-block;
    height: 40px;
    min-width: 56px; }
  .social li {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 34px 34px; }
  .social a:nth-child(2) li {
    background-size: 16px 34px; }
  .social a:nth-child(3) li {
    background-size: 28px 33px; }
  .social a:nth-child(4) li {
    background-size: 56px 34px;
    margin-left: 10px; }

.navbar-default {
  background-color: #fff;
  border: none;
  margin: 0px;
  height: 118px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  padding: 0px; }

.navbar-default .navbar-nav > li > a {
  font-family: 'CodeProLC', sans-serif;
  font-size: 20px;
  color: #48423b;
  letter-spacing: 3px;
  padding-left: 10px;
  padding-right: 10px; }

.navbar-default .navbar-nav > li {
  padding: 34px 104px; }

.navbar-default .navbar-nav > li:first-child, .navbar-default .navbar-nav > li:first-child a {
  padding-left: 0px; }

.navbar-default .navbar-nav > li:last-child, .navbar-default .navbar-nav > li:last-child a {
  padding-right: 0px; }

.slider-wrap {
  width: 100%;
  position: relative; }
  .slider-wrap .lSPager {
    display: none; }
  .slider-wrap li {
    position: relative;
    width: 100%;
    overflow: hidden; }
    .slider-wrap li img {
      width: 100%;
      height: 100%; }
  .slider-wrap .slide-overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 1; }
  .slider-wrap .main-header {
    width: 1440px;
    position: absolute;
    margin: auto;
    top: 260px;
    left: 0;
    right: 0;
    z-index: 10;
    display: inline-block; }
    .slider-wrap .main-header h1 {
      font-family: 'CodeProBoldLC', sans-serif;
      font-size: 47px;
      line-height: 56px;
      color: #fff;
      letter-spacing: 7px;
      position: relative;
      display: inline-block; }
  .slider-wrap h1:after {
    content: url("../img/decor.png");
    position: absolute;
    bottom: 0;
    right: 0px;
    margin-bottom: -32px;
    margin-right: -27px; }

.form-header {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  width: 1440px;
  margin: auto;
  left: 0;
  right: 0; }
  .form-header .form-overlay {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: right;
    padding-right: 20px;
    width: 100%; }
    .form-header .form-overlay a {
      line-height: 80px;
      font-family: 'CodeProBoldLC', sans-serif;
      font-size: 24px;
      color: #fff;
      letter-spacing: 2px; }
  .form-header form {
    height: 80px;
    -moz-placeholder-color: #a8a8a8;
    -ms-input-placeholder-color: #a8a8a8; }
    .form-header form input {
      width: 489px;
      height: 80px;
      border: none;
      font-family: 'CodeProLC', sans-serif;
      font-size: 25px;
      color: #a8a8a8;
      letter-spacing: 3px;
      padding-left: 30px;
      float: left;
      margin-right: 1px; }
    .form-header form #date {
      width: 278px;
      background-repeat: no-repeat;
      background-position: left 20px center;
      padding-left: 80px; }
    .form-header form ::-webkit-input-placeholder {
      color: #a8a8a8; }
    .form-header form ::-moz-placeholder {
      color: #a8a8a8; }
    .form-header form button {
      width: 180px;
      height: 80px;
      border: none;
      background-color: #49a1c0;
      font-family: 'CodeProLC', sans-serif;
      font-size: 21px;
      color: #fff;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .form-header form button:hover {
      opacity: 0.7; }

/********************************************************Services******************************************/
.services {
  padding: 70px 0 100px; }
  .services strong {
    font-family: 'CodeProBoldLC', sans-serif;
    font-size: 36px;
    line-height: 43px;
    color: #a8a8a8;
    letter-spacing: 7px; }
  .services p {
    font-family: 'CodeProBoldLC', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #49a1c0;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 30px; }
    .services p img {
      margin-right: 20px; }
  .services hr {
    width: 269px;
    height: 5px;
    background: #b492c1;
    background-color: #b492c1;
    margin: 65px auto 55px; }

.services-block {
  text-align: center;
  margin-top: 84px; }
  .services-block p {
    font-family: 'CodeProBoldLC', sans-serif;
    font-size: 19px;
    line-height: 22px;
    color: #48423b;
    letter-spacing: 2px;
    padding: 0 280px; }

.services-block-image, .services-block-image2 {
  width: 100%;
  min-height: 156px;
  background-repeat: no-repeat;
  background-position: center bottom;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.sb-first {
  background-size: 126px 154px; }

.services-block-second .services-block-image {
  background-size: 98px 156px; }

.decor-text {
  margin-top: 70px; }
  .decor-text i {
    font-family: 'CodeProLC', sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: #a8a8a8;
    display: inline;
    position: relative;
    letter-spacing: 5px;
    font-style: normal;
    margin-top: 70px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .decor-text i:after {
    content: url("../img/service-decor.png");
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -15px;
    margin-right: -9px; }

.service-block-button {
  margin-top: 45px; }
  .service-block-button a {
    font-family: 'CodeProLC', sans-serif;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    background-color: #a8a8a8;
    padding: 20px 45px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    display: inline-block; }

.services-block:hover .services-block-image {
  background-image: url("../img/services-1-hover.png") !important; }

.services-block:hover i {
  color: #49a1c0; }

.services-block:hover .service-block-button a {
  background-color: #49a1c0;
  opacity: 1; }

.services-block-second:hover .services-block-image {
  background-image: url("../img/services-2-hover.png") !important;
  background-size: 98px 156px; }

.services-block-second .decor-text i:after {
  content: url("../img/service-decor-2.png"); }

.services-block-second:hover .service-block-button a {
  background-color: #b492c1;
  opacity: 1; }

.services-block-second:hover i {
  color: #b492c1; }

/********************************************************Watch******************************************/
.watch {
  width: 100%; }
  .watch img {
    width: 100%; }

/********************************************************Benefits******************************************/
.benefits {
  padding: 90px 0 135px; }
  .benefits h2 {
    margin-bottom: 100px; }

.benefits-icon {
  margin: 55px 0px;
  min-height: 135px;
  background-repeat: no-repeat;
  background-position: center bottom;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.benefits .col-lg-4:nth-child(1) .benefits-icon {
  background-size: 186px 134px; }

.benefits .col-lg-4:nth-child(2) .benefits-icon {
  background-size: 96px 130px; }

.benefits .col-lg-4:nth-child(3) .benefits-icon {
  background-size: 133px 130px; }

.benefits .col-lg-4:nth-child(1) .benefits-block:hover .benefits-icon {
  background-size: 186px 134px;
  background-image: url("../img/benefits-1-hover.png") !important; }

.benefits .col-lg-4:nth-child(2) .benefits-block:hover .benefits-icon {
  background-size: 96px 130px;
  background-image: url("../img/benefits-2-hover.png") !important; }

.benefits .col-lg-4:nth-child(3) .benefits-block:hover .benefits-icon {
  background-size: 133px 130px;
  background-image: url("../img/benefits-3-hover.png") !important; }

.benefits-block {
  text-align: center; }
  .benefits-block strong {
    font-family: 'CodeProLC', sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: #49a1c0;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal; }
  .benefits-block p {
    font-family: 'CodeProLC', sans-serif;
    font-size: 19px;
    line-height: 22px;
    color: #a8a8a8;
    letter-spacing: 4px;
    display: inline;
    position: relative; }
  .benefits-block p:after {
    content: url("../img/benef-decor.png");
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -16px;
    margin-right: -16px; }

/********************************************************Benefits******************************************/
.insta {
  width: 100%; }

.insta-block {
  width: 19.73%;
  height: 370px;
  background-color: #b492c1;
  float: left;
  margin-right: 0.33333%; }

.insta-block:last-child {
  margin-right: 0px;
  float: right; }

/********************************************************FeedBack******************************************/
.feedback {
  padding: 130px 0px 75px; }

.feedback-form {
  margin-top: 120px; }
  .feedback-form p {
    font-family: 'CodeProLC', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #a8a8a8;
    letter-spacing: 3px;
    margin-top: 35px; }

.text-field {
  width: 300px;
  text-align: center;
  display: inline-block; }
  .text-field input {
    width: 100%;
    height: 70px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    font-family: 'CodeProLC', sans-serif;
    font-size: 25px;
    color: #49a1c0;
    letter-spacing: 3px;
    margin-top: 30px;
    text-align: center;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .text-field input:hover, .text-field input:focus, .text-field input:active {
    border: 1px solid #49a1c0; }

.form-top-left {
  float: left;
  width: 60%; }

.form-top-left .text-field:nth-child(2) {
  float: right;
  display: inline-block; }

.form-top-right {
  float: right; }

.footer-form {
  width: 100%;
  margin-top: 50px; }
  .footer-form textarea {
    width: 100%;
    height: 156px;
    resize: none;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    font-family: 'CodeProLC', sans-serif;
    font-size: 25px;
    color: #49a1c0;
    letter-spacing: 3px;
    padding: 20px; }
  .footer-form textarea:hover, .footer-form textarea:focus, .footer-form textarea:active {
    border: 1px solid #49a1c0; }
  .footer-form button {
    width: 300px;
    height: 70px;
    background-color: #49a1c0;
    border-radius: 10px;
    font-family: 'CodeProLC', sans-serif;
    font-size: 23px;
    color: #fff;
    letter-spacing: 2px;
    border: none;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-top: 40px; }
  .footer-form button:hover {
    opacity: 0.7; }

.footer-form-left {
  width: 60%;
  float: left;
  text-align: center; }

.footer-form-right {
  float: right; }

/********************************************************Contacts******************************************/
.contacts {
  padding: 40px 0; }
  .contacts p {
    font-family: 'CodeProBoldLC', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #a8a8a8;
    letter-spacing: 3px;
    text-align: center; }
  .contacts hr {
    width: 230px;
    height: 2px;
    background-color: #49a1c0;
    background: #49a1c0;
    border: none;
    margin: 75px auto; }

.contacts-data {
  margin-top: 40px; }
  .contacts-data strong {
    font-family: 'CodeProBoldLC', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #48423b;
    letter-spacing: 3px;
    margin-bottom: 46px;
    display: block; }
  .contacts-data p {
    font-family: 'CodeProLC', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #48423b;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 0px; }
  .contacts-data a {
    font-family: 'CodeProLC', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #48423b;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 0px; }
  .contacts-data li {
    display: inline-block;
    padding: 0 10px; }

.contacts-data .col-lg-4:nth-child(3) {
  text-align: right; }

.contacts-data .col-lg-4:nth-child(2) {
  padding-left: 180px; }

.contacts-data .col-lg-4:nth-child(3) li:last-child {
  padding-right: 0px; }

/********************************************************Footer******************************************/
footer {
  width: 100%;
  min-height: 374px;
  background-color: #f4f4f4; }
  footer hr {
    width: 90%;
    height: 1px;
    background: #a8a8a8;
    background-color: #a8a8a8;
    margin: 0px auto; }

.footer-logo {
  text-align: center;
  margin-top: 45px; }

.footer-nav {
  text-align: center;
  height: 140px; }
  .footer-nav ul {
    margin: 0px; }
  .footer-nav li {
    display: inline-block;
    padding: 0px 30px;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #49a1c0;
    margin: 55px 0; }
    .footer-nav li a {
      font-family: 'CodeProLC', sans-serif;
      font-size: 20px;
      color: #48423b;
      letter-spacing: 5px; }
  .footer-nav li:last-child {
    border-right: none; }

.footer-bottom {
  width: 90%;
  margin: 0 auto; }
  .footer-bottom p {
    font-family: 'CodeProLC', sans-serif;
    font-size: 15px;
    line-height: 85px;
    color: #48423b;
    letter-spacing: 3px;
    float: left;
    margin: 0px; }
  .footer-bottom i {
    font-family: 'CodeProLC', sans-serif;
    font-size: 15px;
    line-height: 85px;
    color: #48423b;
    letter-spacing: 3px;
    float: right;
    font-style: normal; }

.hidden {
  display: none; }
