@import "bourbon/bourbon"

body
	font-family: "PT Sans", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	max-width: 1920px
	position: relative	
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	margin: 0 auto
a:hover, a:focus, a:active
		text-decoration: none
		outline: none	
a
	text-decoration: none
input:focus, input:active
	text-decoration: none
	outline: none
button:hover, button:focus, button:active
	text-decoration: none
	outline: none
select:hover, select:focus, select:active
	text-decoration: none
	outline: none

h2
	font-family: 'PT Sans', sans-serif
	font-size: 40px
	letter-spacing: 1px
	color: #000		
	text-align: center
	font-weight: 700
	margin-bottom: 40px

/********************************************************Header******************************/
header
	min-height: 100px
	background-color: #fff
	position: fixed
	width: 100%
	z-index: 100	
.logo
	text-align: right
	padding-top: 6px
.navbar-default
	background-image: none
	border: none
	background-color: #fff
	margin-bottom: 0px
.navbar-default .navbar-nav > li > a
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		color: #000		
.navbar-default .navbar-nav > li > a:hover
	color: #ff9700
.navbar-nav li	
	padding: 25px 0
.header-button
	line-height: 100px
	a
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		color: #000
		background-color: #f3b22d
		padding: 11px 40px
		border-radius: 5px
	a:hover
		opacity: 0.7
.contacts-phones
	margin-top: 26px
	margin-left: -62px
	a
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		color: #00a8ff
		text-decoration: underline
		display: block
		line-height: 22px
	a:hover
		opacity: 0.7

/********************************************************MainBanner******************************/
.main-banner
	background-image: url('../img/main-bg.jpg')
	width: 100%
	height: 733px
	background-position: top 80px center
	background-repeat: no-repeat
	background-size: cover
	h1
		font-family: 'PT Sans', sans-serif
		font-size: 60px
		letter-spacing: 1px
		color: #fff
		font-weight: 700
		text-align: center
		margin-top: 231px
		line-height: 70px
		padding: 0 150px
	span
		font-family: 'PT Sans', sans-serif
		font-size: 40px
		letter-spacing: 0.5px
		color: #fff		
		text-align: center
		margin-top: 63px
		display: inline-block
		line-height: 50px
		padding: 0 150px
.banner-button
	line-height: 96px
	text-align: center
	margin-top: 44px
	a
		font-family: 'PT Sans', sans-serif
		font-size: 24px
		letter-spacing: 0.5px
		color: #000
		background-color: #f3b22d
		padding: 25px 105px
		border-radius: 10px
	a:hover
		opacity: 0.7

/********************************************************Projects******************************/
#projects
	padding: 18px 0 0 0
	h2
		margin-bottom: 5px		
.project-block		
	width: 250px
	margin: 47px auto 	
.slider-wrap
	width: 1066px
	margin: 0 auto
	position: relative
.project-block-image
	width: 250px
	height: 167px
	overflow: hidden	
	img
		-moz-transition: all 1s ease-out
		-o-transition: all 1s ease-out
		-webkit-transition: all 1s ease-out
		transition: all 1s ease-out
		width: 100%
		height: 100%	
.project-block-image:hover img
	-webkit-transform: scale(1.05)
	-moz-transform: scale(1.05)
	-o-transform: scale(1.05)
	transform: scale(1.05)
.project-number
	border-bottom: 1px solid #cecece
	padding: 10px 0
	padding-left: 13px
.project-block-desc	
	span
		font-family: 'PT Sans', sans-serif
		font-size: 17px
		letter-spacing: 0.5px
		color: #000
		font-weight: 700		
	i
		font-style: normal
		font-weight: 400
		color: #6b6b6b
		padding-left: 25px
	p
		text-decoration: line-through
		font-family: 'PT Sans', sans-serif
		font-size: 14px		
		color: #000
		font-weight: 700
		display: inline		
	strong
		font-size: 20px
		color: #e2574c
		text-decoration: none
		display: inline-block
		padding-left: 10px
		letter-spacing: 1px
.project-price
	margin-top: 4px
	padding-left: 32px
	img
		padding-bottom: 5px
		margin-left: 5px
.lSSlideOuter .lSPager.lSpg
	display: none

/********************************************************Calc******************************/
#calc
	width: 100%
	min-height: 292px
	background-color: #f9f9f9
	padding: 20px 0px
.calc-block
	margin-left: 144px
	margin-bottom: 4px	
	p
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		font-weight: 700
		color: #000		
	input[type=radio]
		display: none	
	label
		width: 188px
		height: 44px
		display: inline-block
		position: relative
		cursor: pointer
		margin-right: 39px
	.last-lable
		margin-right: 0px
	input[type=radio]:checked + label:before
		background-color: #bababa
	label:hover:before
		background-color: #d8d8d8			
	label:before
		content: ""
		border: 2px solid #bababa		
		background-color: #f9f9f9
		width: 188px
		height: 44px
		position: absolute
		top: 0
		left: 0
		border-radius: 10px
		text-align: center
		line-height: 44px
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out 		
	span
		position: absolute
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		font-weight: 400
		color: #000
		width: 100%	
		line-height: 44px
		text-align: center
.calc-fields
	padding-left: 22px
.calc-send-button
	margin-top: 35px
	margin-left: -20px
	button
		width: 160px
		height: 136px		
		background-image: none
		background-color: #fab72e
		border: none
		border-radius: 10px
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		font-weight: 700
		color: #000
		text-transform: uppercase
.calc-send-button:hover
	opacity: 0.7
.area
	margin-left: 252px
	margin-top: 16px
	input
		background-color: #fff
		width: 170px
		height: 40px
		font-family: 'PT Sans', sans-serif
		font-size: 28px
		letter-spacing: 0.5px
		font-weight: 700
		color: #000
		padding-left: 10px
		border: 1px solid #dddddd
		margin-right: 5px
	span
		line-height: 40px
		font-family: 'PT Sans', sans-serif
		font-size: 28px
		letter-spacing: 0.5px
		font-weight: 700
		color: #000		
		strong
			color: #e2574c	
			margin-left: 9px
			i
				font-style: normal
/********************************************************ReadyHouse*******************************************/
.ready-house
	padding: 14px 0 11px 0
	h2
		text-transform: uppercase
		margin-bottom: 46px
	.col-lg-4
		padding: 0
.ready-house-block
	width: 331px
	height: 248px
	margin-bottom: 30px
	-moz-transition: all 0.5s ease-out
	-o-transition: all 0.5s ease-out
	-webkit-transition: all 0.5s ease-out
	transition: all 0.5s ease-out 		
	img
		width: 100%
		height: 100%
.ready-house-block:hover
	opacity: 0.5
.left-col
	float: right
.right-col
	float: left
.central-col
	float: none
	margin: 0 auto	

/********************************************************Stages*******************************************/
.stages
	padding: 88px 0 70px 0
	width: 100%
	min-height: 820px
	background-color: #fff3e1
	.col-lg-3
		padding: 0	
.stages-block
	position: relative	
.stages-block-img
	width: 143px
	height: 143px
	position: relative
	margin: 0 auto
.number-stage
	position: absolute
	bottom: 5px
	right: 9px
	width: 80px
	height: 80px
	background-color: #ffc26a
	border-radius: 50%
	text-align: center
	margin-right: -30px
	margin-bottom: -20px
	span
		font-family: 'PT Sans', sans-serif
		font-size: 40px
		letter-spacing: 0.5px
		line-height: 80px
.square
	position: absolute
	bottom: 0	
	width: 100%
	height: 10px
	background-color: #ffc26a
	margin-bottom: -15px
.first
	right: 0
	width: 32%
.last
	left: 0
	width: 70%
.stages-desc
	margin-top: 30px
	text-align: center
	font-family: 'PT Sans', sans-serif
	font-size: 16px
	letter-spacing: 0.5px
	font-weight: 400
	text-shadow: 0.3px 0 0 #000
	color: #000
.stage-main-block
	text-align: center
	position: relative
	margin-top: 72px
	margin-right: 42px
	.number-stage
		width: 115px
		height: 115px
		top: 79px
		right: 0
		margin-right: -52px		
		span
			line-height: 115px	
			font-size: 60px		
.stage-main-desc
	text-align: center
	margin-top: 168px
	span
		font-family: 'PT Sans', sans-serif
		font-size: 24px
		letter-spacing: 0.5px
		font-weight: 400
		color: #000
		line-height: 30px
.changes-list
	list-style-type: none
	padding: 0
	li
		background-image: url('../img/changes-check.png')
		background-position: left center
		background-repeat: no-repeat
		margin-bottom: 18px
	span
		padding-left: 32px
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		font-weight: 400
		color: #000
.changes-right
	p
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		font-weight: 700
		color: #000
		margin-top: 45px
		padding-right: 100px
		line-height: 22px
		margin-bottom: 44px
	a
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		font-weight: 400
		color: #000
		text-shadow: 0.3px 0 0 #000
		padding: 13px 48px
		background-color: #fab72e
		border-radius: 10px
	a:hover
		opacity: 0.7



/********************************************************Changes*******************************************/
.changes
	padding: 40px 0 0 0
.changes-header
	margin-left: 40px
	span
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		font-weight: 700	
		color: #000
		text-transform: uppercase
	p
		font-family: 'PT Sans', sans-serif
		font-size: 28px
		letter-spacing: 0.5px
		font-weight: 700	
		color: #000
		text-transform: uppercase
.changes-img
	margin-top: 30px
.changes-right
	margin-left: 8px
	margin-top: 21px

/********************************************************View*******************************************/
.view-left
	background-image: url('../img/view-bg.png')
	width: 100%
	height: 587px
	background-position: left center
	background-repeat: no-repeat
	text-align: center	
	position: relative
	margin-top: -10px
	background-size: cover
	span
		font-family: 'PT Sans', sans-serif
		font-size: 28px
		letter-spacing: 0.5px
		font-weight: 700	
		color: #000	
		display: block
		padding-top: 271px
		margin-right: 145px
	p
		font-family: 'PT Sans', sans-serif
		font-size: 17px
		letter-spacing: 0.5px
		font-weight: 400	
		color: #000
		margin-top: 18px
		margin-right: 160px	
.view-right
	position: absolute
	right: 30px
	bottom: 0px

/********************************************************Order*******************************************/
.order
	background-image: url('../img/order-bg.jpg')
	width: 100%
	height: 553px
	background-position: center center
	background-repeat: no-repeat
	padding: 70px 0
	background-size: cover
	h2
		color: #fff
		width: 420px
		margin-right: auto
		margin-left: auto
		margin-bottom: 66px
.order-block	
	p
		font-family: 'PT Sans', sans-serif
		font-size: 20px
		letter-spacing: 0.5px
		font-weight: 700	
		color: #fff	
		text-align: center		
.form-field
	position: relative
	display: inline-block
	margin: 0 15px
	input
		width: 225px
		height: 34px
		font-family: 'PT Sans', sans-serif
		font-size: 14px				
		color: #000
		font-weight: 400	
		padding-left: 33px
		border-radius: 5px
		border: none
		letter-spacing: 0px
	::-webkit-input-placeholder 
		font-family: 'PT Sans', sans-serif
		font-size: 14px			
		color: #9d9d9d	
		font-weight: 400
	::-moz-placeholder
		font-family: 'PT Sans', sans-serif
		font-size: 14px				
		color: #9d9d9d	
		font-weight: 400
	:-moz-placeholder 
		font-family: 'PT Sans', sans-serif
		font-size: 14px			
		font-weight: 400
		color: #9d9d9d	
	:-ms-input-placeholder      
		font-family: 'PT Sans', sans-serif
		font-size: 14px			
		color: #9d9d9d	
		font-weight: 400
	img
		position: absolute
		width: 11px
		height: 10px
		margin: auto
		top: 0
		bottom: 0
		left: 14px
	.phone-input-img
		width: 10px 
		height: 9px
#order-form
	text-align: center
	margin-top: 34px	
	.button-order-form
		margin-top: 37px		
	button
		background-image: url('../img/button-order.png')
		width: 248px
		height: 45px
		border: none
		background-color: transparent
		color: #fff
		font-family: 'PT Sans', sans-serif
		font-size: 14px
		letter-spacing: 0.5px		
		font-weight: 400	
		display: block		
		margin: 0 auto
	button:hover
		opacity: 0.7

/********************************************************Map*******************************************/
#map
	width: 100%
	min-height: 468px
	position: relative
.map-block
	position: absolute
	top: 0
	width: 100%
	height: 468px	
.map-text-block
	background-color: #fff
	position: relative
	padding: 55px 0px 40px 0
	margin-top: 64px
	span
		text-align: center
		color: #000
		font-family: 'PT Sans', sans-serif
		font-size: 16px
		letter-spacing: 0.5px		
		font-weight: 400	
		display: block
		text-shadow: 0.5px 0 0 #000
		line-height: 20px
	a
		color: #3f99ff
		text-decoration: underline
	.map-post
		margin: 17px 0
	.map-phone
		color: #3f99ff
		border-bottom: 1px solid #3f99ff
		margin: 0 110px	

/********************************************************Footer*******************************************/	
footer
	height: 370px
	width: 100%
	text-align: center
	padding: 12px 0
	span
		display: block
		color: #000
		font-family: 'PT Sans', sans-serif
		font-size: 24px
		letter-spacing: 0.5px		
		font-weight: 400	
	p
		color: #000
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px		
		font-weight: 400	
		text-shadow: 0.3px 0 0 #000
		margin-bottom: 38px
	i
		color: #3ea6ff
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px		
		font-weight: 400	
		text-shadow: 0.3px 0 0 #3ea6ff
		font-style: normal
		text-decoration: underline
	a
		font-family: 'PT Sans', sans-serif
		font-size: 18px
		letter-spacing: 0.5px
		color: #000
		background-color: #f3b22d
		padding: 13px 52px
		border-radius: 10px		
	a:hover
		opacity: 0.7
	.copy
		margin-top: 75px
		span
			color: #000
			font-family: 'PT Sans', sans-serif
			font-size: 10px
			letter-spacing: 0.5px		
			font-weight: 400	
			text-shadow: 0.3px 0 0 #000

/********************************************************ModalForm*******************************************/	
.hidden_form
	height: 355px	
	width: 315px
	background-color: #fff
	text-align: center
	margin-top: 60px
	padding: 20px 0 26px 0
	margin: 0 auto
	position: relative
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 16px
		line-height: 31px
	input
		width: 250px
		height: 40px		
		border: 2px solid #e3e0d6
		padding-left: 15px
		margin-top: 16px
	::-webkit-input-placeholder 
		color: #c4c4c4
		letter-spacing: 1px
	::-moz-placeholder
		color: #c4c4c4
		letter-spacing: 1px          
	:-moz-placeholder 
		color: #c4c4c4 
		letter-spacing: 1px     
	:-ms-input-placeholder      
		color: #c4c4c4
		letter-spacing: 1px
	textarea
		resize: none
		width: 250px
		height: 80px
		border: 2px solid #e3e0d6
		margin-top: 26px
		padding-left: 15px
	.hid-form-but
		width: 150px
		height: 40px
		background-image: none
		background-color: #edae2c
		border: none
		font-family: 'Open Sans', sans-serif
		font-size: 15px		
		color: #fff
		text-transform: uppercase
		margin-top: 14px
	.hid-form-but:hover
		opacity: 0.7


.hidden
	display: none


/*********************************************************ProjectModal************************************/
.modal-dialog
	background-color: #fff
	width: 100%;
	min-height: 900px;

.modal-slider-wrap
	width: 100%
	min-height: 300px

.slider-nav
	height: auto
	margin-top: 30px

.slider-nav .slick-slide
	width: 126px 
	height: auto
	margin: 0 10px	
	outline: none
	border: none		
	img
		width: 100%
		height: 100%

.slider-for .slick-prev:before, .slider-for .slick-next:before
	font-size: 40px
	color: #fc0

.slider-nav .slick-prev:before, .slider-nav .slick-next:before
	font-size: 24px
	color: #fc0

.slider-for .slick-prev
	z-index: 1
	left: 10px
.slider-for .slick-next
	z-index: 1
	right: 30px

.slider-nav .slick-prev
	z-index: 1
	left: 12px
.slider-nav .slick-next
	z-index: 1
	right: 15px

.slider-nav
	border: 2px solid #fc0

.modal
	font-family: 'PT Sans', sans-serif
	text-shadow: none

.modal-header
	span
		font-size: 38px
		line-height: 44px
		font-family: 'PT Sans', sans-serif
		color: #f3b22d
		text-align: center
		display: block
		text-transform: uppercase
		font-weight: 700
		letter-spacing: 1px

.modal-info	
	margin-top: 25px		
	text-align: center			
	span
		font-family: 'PT Sans', sans-serif
		font-size: 33px
		color: #015b5b	
		border-bottom: 1px solid #cecece
		display: block					
		i
			font-size: 19px
			color: #333
			font-style: normal
	p
		color: #ff787a
		font-size: 30px
		font-weight: 400
		padding-top: 10px	
	strong
		color: #fab72e
		font-size: 16px			
		text-decoration: line-through
		font-weight: 400
		padding-right: 5px		
	img
		position: relative
		bottom: 5px

.main-inform
	span
		padding-left: 60px
		color: #fab72e
		font-size: 18px
		text-transform: uppercase
		line-height: 37px
		font-weight: 700
	p
		font-size: 18px
		padding-left: 60px
		color: #333
		line-height: 17px
		margin: 0px		
	ul
		list-style-type: none
		padding: 0
	li
		height: 60px		
		background-image: url('../img/modal-date.png')
		background-position: left center
		background-size: 50px 50px;
		background-repeat: no-repeat
		margin-bottom: 10px
	li:nth-child(1)
		p
			text-transform: uppercase
			padding-top: 3px						
	li:nth-child(2)
		background-image: url('../img/modal-square.png')
		p
			padding-top: 8px
	li:nth-child(3)
		background-image: url('../img/modal-house.png')
		p
			padding-top: 8px	
	li:nth-child(4)
		background-image: url('../img/modal-box.png')
		p
			padding-top: 8px
	li:nth-child(5)
		background-image: url('../img/modal-kl.png')
		p
			padding-top: 8px	

.price-inform, .individ-inform
	span
		color: #fab72e
		font-size: 18px
		line-height: 25px
		font-weight: 700
		text-transform: uppercase
	ul
		list-style-type: none
		padding: 0px
	li
		background-image: url('../img/modal-marker.png')
		background-position: left top 2px
		background-repeat: no-repeat
		span
			font-size: 16px
			color: #333
			font-style: normal
			font-weight: 400
			text-transform: none
			padding-left: 30px
			display: block
.modal-button
	margin-top: 30px
	text-align: center
	a
		border: 3px solid #fab72e
		background-color: #fab72e
		font-family: 'Open Sans', sans-serif
		font-size: 17px
		font-weight: 400
		text-transform: uppercase
		padding: 9px 15px
		color: #fff
		display: inline-block
		margin: 0 auto
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out 		
	a:hover
		background-color: #fff
		color: #fab72e



