@media only screen and (min-width : 0px) and (max-width : 479px) {

	.image-wrapper{
		margin: 0px 30px;
	}

	.how-order .image-wrapper:nth-child(2){
		margin-bottom: 30px;
	}

	.payment-col{
		margin-bottom: 40px;
	}

	.how-payment .payment-col:nth-child(4){
		margin-bottom: 0px;
	}

	#how-date-table th{
		display: none;
	}

	#how-date-table td{
		display: block;
		width: 100%;
		height: auto;
		padding: 10px 0px;
	}

	#how-date-table .how-col-first{
		background-color: #D2E9FC;
		height: 45px;
		text-align: center;
		padding: 0px;
		line-height: 45px;
	}

	#how-date-table .how-col-first br{
		display: none;
	}

	#how-date-table .how-col-half{				
		float: left;
		text-align: center;
	}

	#how-date-table .how-col-second{
		padding-left: 0px;
	}

	#how-date-table .tr-bottom{
		border-bottom: 0px;
	}

	#how-date-table tr:nth-child(5){
		border-bottom: 1px solid #727272;
	}

	#how-date-table .col-add{
		padding: 10px 0px;
		text-align: justify;
	}

	#how-date-table .how-small{
		margin-top: 0px;
	}

	.how-return-ill{
		width: 100%;
	}

	.return-sheme-block{
		width: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.base-block-add .center-text{
		padding: 0px;
	}

	.add-important{
		background-position: top 30px center;
		padding: 120px 20px 20px 20px;
	}

	.add-important p{
		text-align: justify;
	}

	.base-small-header{
		margin-top: 20px;
	}

}

@media only screen and (min-width : 480px) and (max-width : 767px) {
	.image-wrapper{
		margin: 0px 30px;
	}

	.payment-col{
		margin-bottom: 40px;
	}

	.how-payment .payment-col:nth-child(4){
		margin-bottom: 0px;
	}

	#how-date-table th{
		display: none;
	}

	#how-date-table td{
		display: block;
		width: 100%;
		height: auto;
		padding: 10px 0px;
	}

	#how-date-table .how-col-first{
		background-color: #D2E9FC;
		height: 45px;
		text-align: center;
		padding: 0px;
		line-height: 45px;
	}

	#how-date-table .how-col-first br{
		display: none;
	}

	#how-date-table .how-col-half{
		float: left;
		text-align: center;
	}

	#how-date-table .how-col-second{
		padding-left: 0px;
	}

	#how-date-table .tr-bottom{
		border-bottom: 0px;
	}

	#how-date-table tr:nth-child(5){
		border-bottom: 1px solid #727272;
	}

	#how-date-table .col-add{
		padding: 10px 20px;
		text-align: justify;
	}

	#how-date-table .how-small{
		margin-top: 0px;
	}

	.how-return-ill{
		max-width: 450px;
	}

	.return-sheme-block{
		width: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.base-block-add .center-text{
		padding: 0px;
	}

	.add-important{
		background-position: top 30px center;
		padding: 120px 20px 20px 20px;
	}

	.add-important p{
		text-align: justify;
	}

	.base-small-header{
		margin-top: 20px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.image-wrapper{
		margin: 0px 30px;
	}

	.payment-col{
		margin-bottom: 30px;
	}

	.how-payment .payment-col:nth-child(4){
		margin-bottom: 0px;
	}

	#how-date-table th{
		display: none;
	}

	#how-date-table td{
		display: block;
		width: 100%;
		height: auto;
		padding: 10px 0px;
	}

	#how-date-table .how-col-first{
		background-color: #D2E9FC;
		height: 45px;
		text-align: center;
		padding: 0px;
		line-height: 45px;
	}

	#how-date-table .how-col-first br{
		display: none;
	}

	#how-date-table .how-col-half{		
		float: left;
		text-align: center;
	}

	#how-date-table .how-col-second{
		padding-left: 0px;
	}

	#how-date-table .tr-bottom{
		border-bottom: 0px;
	}

	#how-date-table tr:nth-child(5){
		border-bottom: 1px solid #727272;
	}

	#how-date-table .col-add{
		padding: 10px 20px;
		text-align: justify;
	}

	#how-date-table .how-small{
		margin-top: 0px;
	}

	.how-return-ill{
		max-width: 480px;
	}

	.base-block-add .center-text{
		padding: 0px 20px;
	}

	.add-important{
		background-position: top 30px center;
		padding: 120px 20px 20px 20px;
	}

	.add-important p{
		text-align: justify;
	}
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
	#how-date-table .how-col-second{
		padding-left: 20px;
	}

	#how-date-table .how-col-first{
		padding-left: 10px;
	}

	.base-block-add .center-text{
		padding: 0px 50px;
	}
}

