@font-face {
  font-family: "Roboto-BoldCondensed";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-BoldCondensed.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Condensed";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Condensed.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
