* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

header .top_line {
  height: 116px;
}

header .logo {
  margin-top: 21px;
  transition: all 0.5s ease;
}

header .trubka, header .marker {
  transition: all 0.5s ease;
  padding: 40px 0;
}

header .marker {
  margin-left: 20px;
  display: inline-block;
}

header .marker span {
  text-align: left;
}

header .trubka {
  display: inline-block;
  margin-left: 43px;
}

header .trubka span {
  font-family: "Roboto-Light";
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  border: none;
}

header hr {
  width: 1px;
  height: 47px;
  position: absolute;
  background-color: #cacaca;
  top: 20px;
  left: 410px;
}

header .col-md-12 {
  padding: 0;
}

header .col-md-5 {
  padding-left: 0;
}

header .adress {
  padding-left: 20px;
}

header .menu_line li:nth-child(6) {
  padding-right: 35px;
}

.main_pic {
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
  height: 354px;
  background-position: top center;
  background-size: cover;
  width: 100%;
}

.main_pic h1 {
  color: #fff;
  font-family: "Roboto-BoldCondensed", sans-serif;
  font-size: 40px;
  line-height: 45px;
  margin-top: 100px;
  margin-left: 40px;
}

.services {
  padding: 65px 0 110px 0;
}

.services .services_circle,
.services .services_circle_s,
.services .services_circle_t {
  width: 292px;
  height: 292px;
  display: table-cell;
  position: relative;
  border-radius: 146px;
  -moz-border-radius: 146px;
  -webkit-border-radius: 146px;
  -khtml-border-radius: 146px;
  line-height: 292px;
  background-image: url("../img/s1.png");
  background-repeat: no-repeat;
  background-position: top, center;
}

.services .services_circle_s {
  background-image: url("../img/s2.png");
}

.services .services_circle_t {
  background-image: url("../img/s3.png");
}

.services .services_circle2 {
  width: 270px;
  height: 270px;
  position: absolute;
  border-radius: 135px;
  -moz-border-radius: 135px;
  -webkit-border-radius: 135px;
  -khtml-border-radius: 135px;
  line-height: 270px;
  border: 3px #fff solid;
  z-index: 99;
  left: 50%;
  margin-left: -135px;
  top: 4%;
  top: 10px;
}

.services .services_circle2 img {
  display: inline-block;
  vertical-align: top;
  margin-top: 45px;
}

.services .services_circle2 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -84px;
  color: #fff;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.services .services_circle2 .h3_s {
  margin-left: -72px;
}

.services .services_circle2 .h3_t {
  margin-left: -73.5px;
}

.services .obertka {
  text-align: center;
  display: table;
  position: relative;
  left: 50%;
  margin-left: -146px;
}

.services p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #626262;
  margin: 25px 0 0 40px;
  text-align: left;
  width: 80%;
}

.services .services_podr {
  text-align: left;
  margin: 20px 0 0 40px;
}

.services .services_podr span {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #00898d;
  font-weight: 600;
  padding-left: 10px;
}

.registr {
  padding: 0 0 90px 0;
}

.registr hr {
  width: 280px;
  height: 1px;
  margin: 0 auto;
  background-color: #d8d8d8;
  margin-bottom: 30px;
}

.registr .registr_content {
  text-align: center;
}

.registr img {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 20px;
}

.registr h2 {
  display: inline-block;
  font-family: "Roboto-Light", sans-serif;
  font-size: 36px;
  color: #06a2a6;
  padding-left: 30px;
  font-weight: normal;
}

.registr p {
  font-family: "Roboto-Regular";
  font-size: 18px;
  width: 85%;
  margin: 30px auto 0;
  font-weight: 600;
  color: #585858;
  text-align: center;
}

.articles {
  background-color: #f3fcfb;
  min-height: 500px;
}

.articles .polosa {
  text-align: center;
}

.articles .polosa img {
  vertical-align: top;
  width: 100%;
}

.articles h2 {
  font-family: "Roboto-Light", sans-serif;
  font-size: 36px;
  color: #06a2a6;
  text-align: center;
  padding: 40px 0 80px;
  font-weight: normal;
}

.articles .zagol {
  display: inline-block;
  width: 65%;
  padding-left: 20px;
}

.articles img {
  display: inline-block;
  vertical-align: top;
}

.articles h3 {
  display: inline-block;
  width: 65%;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 20px;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  color: #06a2a6;
  font-weight: normal;
  margin-top: 0;
  vertical-align: top;
}

.articles i {
  display: block;
  font-style: normal;
  font-family: "Arial", arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding-left: 2px;
  font-style: bold;
}

.articles p {
  font-family: Arial;
  font-size: 14px;
  padding-top: 30px;
}

.articles .note {
  display: inline-block;
}

.articles .zagol_two {
  display: inline-block;
  width: 65%;
  padding-left: 20px;
}

.articles .zagol_two h3 {
  display: inline-block;
  width: 80%;
  padding-left: 10px;
  vertical-align: top;
  line-height: 20px;
  font-family: "Roboto-Medium", sans-serif;
  color: #06a2a6;
  font-weight: normal;
}

.articles .zagol_two p {
  padding-top: 22px;
}

.feed {
  background-image: url(../img/bg2.png);
  background-repeat: repeat;
  min-height: 593px;
  background-position: top center;
  background-size: cover;
}

.feed h2 {
  font-family: "Roboto-Light", sans-serif;
  font-size: 36px;
  color: #fff;
  padding: 65px 0 65px;
  margin: 0;
  font-weight: normal;
}

.feed .first_row {
  display: inline-block;
  width: 32%;
}

.feed .first_row p {
  font-family: "Arial";
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.feed .first_row input {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  width: 98%;
  background-color: #e7f6f6;
}

.feed .second_row {
  margin-top: 11px;
}

.feed .second_row p {
  font-family: "Arial";
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.feed .second_row select {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  width: 97%;
  background-color: #e7f6f6;
}

.feed .third_row {
  margin-top: 11px;
}

.feed .third_row p {
  font-family: "Arial";
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.feed .third_row textarea {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  width: 97%;
  background-color: #e7f6f6;
  height: 120px;
  resize: none;
}

.feed .button {
  margin-top: 20px;
}

.feed .button input {
  padding: 10px 50px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #06a2a6;
  border: 3px #fff solid;
  text-transform: uppercase;
}

.feed .sign {
  margin: 20px 0 90px 20px;
}

.feed .sign img {
  display: inline-block;
}

.feed .sign p {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-left: 25px;
  width: 80%;
}

.feed .sign i {
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
}

.uslugi ul {
  padding: 82px 0 68px 0;
  list-style: none;
}

.uslugi li {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 14px;
  color: #06a2a6;
  font-weight: 600;
}

.uslugi .marker {
  padding-top: 82px;
}

.uslugi .marker i {
  display: block;
  font-weight: 600;
  padding-top: 22px;
  padding-left: 40px;
}

.uslugi hr {
  margin: 8px 0;
}

.marker img {
  display: inline-block;
}

.marker span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  padding-right: 10px;
}

.marker i {
  color: #06a2a6;
  font-style: normal;
}

.marker a {
  color: #06a2a6 !important;
}

.marker a:visited {
  color: #06a2a6 !important;
}

footer {
  height: 170px;
  font-family: "Roboto-Condensed", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

footer hr {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  margin: 0 0 20px;
}

footer p {
  float: left;
}

footer span {
  float: right;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

.navbar-default {
  background-color: #06a2a6;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abffffff', endColorstr='#bdffffff',GradientType=1 );
  /* IE6-9 */
}

.navbar {
  transition: all 0.5s ease;
  position: relative;
  height: 70px;
  background-color: #06a2a6;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #076d6d;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 25px 35px;
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.nav > li > img {
  padding-top: 20px;
}

.bg_vtor {
  background-image: url(../img/bg_vtor.png);
  background-repeat: repeat;
  min-height: 160px;
  background-position: top center;
  background-size: cover;
}

.bg_vtor h3 {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 36px 0 0px 0;
}

.bg_vtor h1 {
  font-family: "Roboto-BoldCondensed", sans-serif;
  font-size: 48px;
  color: #fff;
  line-height: 30px;
}

.about p {
  padding: 40px 0;
  font-family: "Roboto-Regular",sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.about h3 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  padding: 29px;
  margin: 0;
  padding: 0;
}

.about h3 a {
  color: #06a2a6;
}

.about ul {
  padding: 40px 0 80px 15px;
  list-style-image: url("../img/marker_list.png");
}

.about ul li {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: 900;
  font-style: bold;
  color: #06a2a6;
  padding-left: 20px;
}

.about ul li a {
  color: #06a2a6;
}

.about .gerb {
  padding-top: 40px;
}

.about .gerb img {
  display: inline-block;
  margin-left: 30px;
}

.about .gerb hr {
  width: 40%;
  height: 1px;
  display: inline-block;
  background-color: #06a2a6;
  border: none;
}

.about .gerb .left {
  float: left;
  margin-top: 30px;
}

.about .gerb .right {
  float: right;
  margin-top: 30px;
}

.about .gerb_descr {
  margin: 0 70px 0 80px;
}

.about .gerb_descr p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-style: normal;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 90px;
}

.about hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #06a2a6;
}

.mission hr {
  margin: 0 0 40px 0;
}

.mission .mission_zagol img {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

.mission .mission_zagol span {
  display: inline-block;
  font-family: "Roboto-Light", sans-serif;
  font-size: 36px;
  line-height: 32px;
  padding-left: 20px;
  font-weight: 600;
}

.mission .mission_descr {
  padding-top: 46px;
  padding-bottom: 60px;
}

.mission .mission_descr p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 600;
  color: #585858;
  margin: 0;
}

.prior span {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 48px;
  color: #06a2a6;
}

.prior p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #585858;
  padding-bottom: 20px;
}

.prior .prior_zagol {
  padding-bottom: 50px;
}

.prior .prior_descr ul {
  list-style-type: none;
}

.prior .prior_descr li {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #585858;
  padding-bottom: 17px;
}

.partners {
  padding: 50px 0 20px;
}

.partners .col-md-4 {
  height: 170px;
  display: table;
}

.partners .part_logo {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px #dedede solid;
}

.partners .row > div:nth-child(22) > .part_logo {
  border-bottom: none;
}

.partners .row > div:nth-child(23) > .part_logo {
  border-bottom: none;
}

.list_serv {
  padding-top: 85px;
}

.list_serv .col-md-6 {
  padding-bottom: 90px;
}

.list_serv .serv_img {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  line-height: 100px;
  text-align: center;
  background: #06a2a6;
}

.list_serv .serv_desc {
  display: inline-block;
  vertical-align: middle;
}

.list_serv .serv_desc p {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 18px;
  color: #06a2a6;
  line-height: 18px;
  margin-left: 40px;
}

.coordinaty {
  padding-top: 50px;
}

.coordinaty .coordinaty_list {
  display: table;
  margin-bottom: 50px;
}

.coordinaty .coordinaty_img {
  display: inline-block;
}

.coordinaty .coordinaty_desc {
  display: table-cell;
  vertical-align: middle;
  display: inline-block;
  padding-left: 40px;
}

.coordinaty .coordinaty_desc a {
  color: #06a2a6;
}

.coordinaty .coordinaty_desc a:visited {
  color: #06a2a6;
}

.coordinaty .coordinaty_desc p {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 600;
  margin: 0;
}

.coordinaty .coordinaty_desc span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
}

.coordinaty .coordinaty_desc i {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  color: #06a2a6;
  font-style: normal;
  font-weight: 600;
}

.coordinaty .first_row {
  display: inline-block;
  width: 32%;
}

.coordinaty .first_row p {
  font-family: "Arial";
  font-size: 14px;
  margin: 0;
}

.coordinaty .first_row input {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  width: 98%;
  border: 2px #a2dcde solid;
}

.coordinaty .second_row {
  margin-top: 11px;
}

.coordinaty .second_row p {
  font-family: "Arial";
  font-size: 14px;
  margin: 0;
}

.coordinaty .second_row select {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  width: 97%;
  border: 2px #a2dcde solid;
}

.coordinaty .third_row {
  margin-top: 11px;
}

.coordinaty .third_row p {
  font-family: "Arial";
  font-size: 14px;
  margin: 0;
}

.coordinaty .third_row textarea {
  border: 2px #a2dcde solid;
  font-size: 16px;
  padding: 5px 10px;
  width: 97%;
  height: 120px;
  resize: none;
}

.coordinaty .button {
  margin-top: 20px;
  margin-bottom: 80px;
}

.coordinaty .button input {
  padding: 10px 50px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  color: #06a2a6;
  background-color: #fff;
  border: 3px #06a2a6 solid;
  text-transform: uppercase;
}

.coordinaty hr {
  height: 1px;
  border: none;
  background-color: #b1b1b1;
}

header.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  height: 100px;
}

header.sticky .top_line {
  height: 60px;
}

header.sticky .logo {
  margin-top: 0px;
}

header.sticky .logo img {
  width: 50%;
}

header.sticky .trubka, header.sticky .marker {
  padding: 15px 0;
}

header.sticky .marker {
  margin-left: 20px;
  display: inline-block;
}

header.sticky .marker span {
  text-align: left;
}

header.sticky .trubka {
  display: inline-block;
  margin-left: 43px;
}

header.sticky .trubka span {
  font-family: "Roboto-Light";
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  border: none;
}

header.sticky hr {
  margin-top: 15px;
  width: 1px;
  height: 40px;
  position: absolute;
  background-color: #cacaca;
  top: 0px;
  left: 410px;
}

header.sticky .col-md-12 {
  padding: 0;
}

header.sticky .col-md-5 {
  padding-left: 0;
}

header.sticky .adress {
  padding-left: 20px;
}

header.sticky .menu_line li:nth-child(6) {
  padding-right: 35px;
}

header.sticky .navbar {
  height: 40px;
}

header.sticky .nav > li > a {
  position: relative;
  display: block;
  padding: 15px 35px;
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

header.sticky .nav > li > img {
  padding-top: 10px;
}
