/***************************************************PresentationPage****************************************/
#presentation {
  padding: 40px 0; }
  #presentation .slide {
    background-image: url("../images/pres/slide-2.jpg");
    width: 100%;
    min-height: 525px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    #presentation .slide .pres-text-block {
      position: absolute;
      bottom: 30px;
      left: 30px;
      display: block;
      font-family: 'arial', sans-serif;
      font-size: 18px; }
      #presentation .slide .pres-text-block span {
        display: block; }
  #presentation .slide-main {
    background-image: url("../images/pres/slide-1.jpg"); }
  #presentation .slide-2 .pres-text-block {
    position: static;
    padding-top: 40px;
    padding-left: 200px;
    font-family: 'arial', sans-serif;
    font-size: 33px;
    color: red; }
  #presentation .slide-2 .pres-text-block2 {
    font-size: 29px;
    position: static;
    margin-top: 45px;
    margin-left: 125px;
    width: 70%; }
  #presentation .slide-3 .pres-text-block {
    position: static;
    padding-top: 20px;
    padding-left: 70px;
    font-family: 'arial', sans-serif;
    font-size: 30px;
    color: red; }
  #presentation .slide-3 .pres-text-block2 {
    padding-top: 23px; }
    #presentation .slide-3 .pres-text-block2 ul {
      list-style-type: none;
      padding-right: 20px; }
    #presentation .slide-3 .pres-text-block2 li {
      position: relative;
      padding: 5px 0; }
      #presentation .slide-3 .pres-text-block2 li span {
        font-size: 28px;
        line-height: 1.1;
        display: block;
        padding-left: 20px; }
      #presentation .slide-3 .pres-text-block2 li img {
        width: 15px;
        height: 16px;
        position: absolute;
        top: 10px; }
  #presentation .slide-4 .pres-text-block {
    position: static; }
    #presentation .slide-4 .pres-text-block strong {
      font-family: 'arial', sans-serif;
      font-size: 30px;
      color: red;
      display: block;
      padding-left: 20px;
      line-height: 34px;
      margin-bottom: 10px;
      margin-top: 10px;
      text-decoration: underline; }
    #presentation .slide-4 .pres-text-block span {
      font-size: 20px;
      line-height: 1.1;
      display: block; }
    #presentation .slide-4 .pres-text-block .triangle {
      position: relative;
      padding-left: 20px; }
      #presentation .slide-4 .pres-text-block .triangle img {
        width: 15px;
        height: 16px;
        position: absolute;
        top: 5px; }
      #presentation .slide-4 .pres-text-block .triangle span {
        padding-left: 20px; }
  #presentation .slide-5 .pres-text-block {
    position: relative;
    top: 0;
    left: 0; }
    #presentation .slide-5 .pres-text-block strong {
      font-family: 'arial', sans-serif;
      font-size: 30px;
      color: red;
      display: block;
      padding-left: 20px;
      line-height: 34px;
      margin-bottom: 10px;
      margin-top: 10px; }
    #presentation .slide-5 .pres-text-block span {
      font-size: 14px;
      line-height: 14px; }
    #presentation .slide-5 .pres-text-block ul {
      padding-right: 20px; }
    #presentation .slide-5 .pres-text-block li {
      line-height: 14px; }
  #presentation .slide-5 .pres-text-block2 strong {
    font-family: 'arial', sans-serif;
    font-size: 24px;
    color: red;
    display: block;
    text-align: center;
    line-height: 34px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: underline;
    text-transform: uppercase; }
  #presentation .slide-5 .summ {
    position: relative;
    padding-left: 30px;
    margin-top: 30px; }
    #presentation .slide-5 .summ span {
      font-family: 'arial', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      color: red;
      font-weight: bold;
      display: block;
      padding-left: 20px; }
    #presentation .slide-5 .summ img {
      width: 15px;
      height: 16px;
      position: absolute;
      top: 5px; }
  #presentation .slide-5 .man {
    float: right; }
  #presentation .slide-5 .risks {
    text-align: center;
    padding: 10px 20px;
    border-radius: 30px;
    width: 90%;
    background: #c54840;
    /* Old browsers */
    background: -moz-linear-gradient(top, #c54840 0%, #b32a17 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c54840 0%, #b32a17 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c54840 0%, #b32a17 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c54840', endColorstr='#b32a17',GradientType=0 );
    /* IE6-9 */ }
    #presentation .slide-5 .risks p {
      display: block;
      font-size: 14px;
      text-decoration: underline;
      color: #fff;
      text-transform: uppercase; }
    #presentation .slide-5 .risks ul {
      list-style-type: none;
      padding: 0; }
      #presentation .slide-5 .risks ul li {
        position: relative; }
      #presentation .slide-5 .risks ul img {
        width: 15px;
        height: 16px;
        position: absolute; }
      #presentation .slide-5 .risks ul span {
        font-size: 14px;
        color: #fff;
        padding-left: 20px; }
  #presentation .slide-6 .pres-text-block1 {
    padding-top: 10px; }
    #presentation .slide-6 .pres-text-block1 strong {
      font-family: 'arial', sans-serif;
      font-size: 28px;
      color: red;
      padding-left: 40px;
      display: block; }
    #presentation .slide-6 .pres-text-block1 ul {
      list-style-type: none;
      padding-left: 40px;
      padding-right: 20px; }
    #presentation .slide-6 .pres-text-block1 li {
      position: relative;
      padding: 5px 0; }
      #presentation .slide-6 .pres-text-block1 li span {
        font-size: 16px;
        line-height: 1.1;
        display: block;
        padding-left: 30px;
        font-weight: bold; }
      #presentation .slide-6 .pres-text-block1 li img {
        width: 15px;
        height: 16px;
        position: absolute; }
    #presentation .slide-6 .pres-text-block1 hr {
      width: 100px;
      height: 1px;
      background: #000;
      background-color: #000;
      margin: 10px 0 10px 40px; }
    #presentation .slide-6 .pres-text-block1 p {
      display: block;
      padding-left: 40px; }
  #presentation .slide-6 .pres-text-block2 strong {
    font-family: 'arial', sans-serif;
    font-size: 28px;
    color: red;
    padding-left: 40px;
    display: block; }
  #presentation .slide-6 .pres-text-block2 ul {
    list-style-type: none;
    padding-left: 40px;
    padding-right: 20px; }
  #presentation .slide-6 .pres-text-block2 li {
    position: relative;
    padding: 5px 0;
    line-height: 16px; }
    #presentation .slide-6 .pres-text-block2 li span {
      font-size: 18px;
      line-height: 1.1;
      display: block;
      padding-left: 30px; }
    #presentation .slide-6 .pres-text-block2 li img {
      width: 15px;
      height: 16px;
      position: absolute; }
  #presentation .slide-7 {
    padding-top: 10px; }
    #presentation .slide-7 strong {
      font-family: 'arial', sans-serif;
      font-size: 28px;
      color: red;
      padding-left: 40px;
      display: block;
      text-align: center;
      line-height: 28px;
      margin-bottom: 30px; }
    #presentation .slide-7 p {
      font-size: 16px;
      padding-left: 40px;
      padding-right: 20px; }
    #presentation .slide-7 .red {
      color: red; }
  #presentation .slide-8 {
    padding-top: 10px; }
    #presentation .slide-8 strong {
      font-family: 'arial', sans-serif;
      font-size: 28px;
      color: red;
      padding-left: 40px;
      display: block;
      text-align: center;
      line-height: 28px;
      margin-bottom: 30px; }
    #presentation .slide-8 ol {
      padding-right: 20px; }
      #presentation .slide-8 ol li {
        color: #3f7819;
        font-size: 18px;
        font-weight: bold;
        width: 95%; }
  #presentation .slide-9 {
    padding-top: 10px; }
    #presentation .slide-9 strong {
      font-family: 'arial', sans-serif;
      font-size: 28px;
      color: red;
      padding-left: 40px;
      display: block;
      line-height: 28px;
      margin-bottom: 30px;
      padding-left: 20px; }
  #presentation .slide-10 {
    padding-top: 10px; }
    #presentation .slide-10 strong {
      font-family: 'arial', sans-serif;
      font-size: 28px;
      color: red;
      padding-left: 40px;
      display: block;
      line-height: 28px;
      margin-bottom: 10px;
      padding-left: 20px; }
    #presentation .slide-10 img {
      margin-top: -30px; }
    #presentation .slide-10 span {
      display: block;
      font-size: 18px;
      color: red;
      line-height: 22px;
      padding-left: 40px; }
  #presentation .slide-11 {
    padding-top: 10px; }
    #presentation .slide-11 strong {
      font-family: 'arial', sans-serif;
      font-size: 28px;
      color: red;
      padding-left: 40px;
      display: block;
      line-height: 28px;
      margin-bottom: 10px;
      padding-left: 20px;
      text-align: center;
      width: 90%; }
    #presentation .slide-11 table {
      border: 1px solid #fff; }
      #presentation .slide-11 table td {
        border: 1px solid #fff;
        font-size: 18px;
        line-height: 24px; }
      #presentation .slide-11 table .td-light {
        background-color: #dbe9cc; }
      #presentation .slide-11 table .td-dark {
        background-color: #90c226;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center; }
      #presentation .slide-11 table .td-first {
        vertical-align: top;
        width: 30px; }
      #presentation .slide-11 table .td-middle {
        background-color: #eef4e7; }
