@media only screen and (min-width : 0px) and (max-width : 413px) {

	.btn-ban-orange{
		width: 100%;
	}

	.banner-top h1{
		margin-top: 3rem!important;
	}

	.fix-center{
		text-align: center;
	}

	.steps .steps-wrapper{
		height: auto;
	}

	.partners-block{
		width: 100%;
	}	

	.partners-block img{
		display: none;
	}

	.btn-blue-gen{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.partners-more{
		height: auto;
	}

	.referal-pr{
		height: auto;
	}

	.owl-carousel-res .owl-slide{
		height: auto;				
	}

	.owl-carousel-res .slider-video{
		left: 15px;
	}

	.staff-img{
		width: 100%;
	}

	.add-form{
		height: auto;
		padding-bottom: 30px;
	}


}

@media only screen and (min-width : 414px) and (max-width : 767px) {

	.btn-ban-orange{
		width: 100%;
	}

	.fix-center{
		text-align: center;
	}

	.steps .steps-wrapper{
		height: auto;
	}

	.partners-block{
		width: 100%;
	}	

	.partners-block img{
		right: 0px;
	}

	.btn-blue-gen{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.partners-more{
		height: auto;
	}

	.referal-pr{
		height: auto;
	}

	.owl-carousel-res .owl-slide{
		height: auto;				
	}

	.owl-carousel-res .slider-video{
		left: 15px;
	}

	.add-form{
		height: auto;
		padding-bottom: 30px;
	}


}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.steps .steps-wrapper{
		height: auto;
	}

	.partners-block{
		width: 100%;
	}	

	.container-content{
		max-width: 713px;
	}

	.owl-carousel-res .owl-slide{
		height: auto;
	}


	.staff-img{
		width: 100%;
	}

	.form-single input{
		width: 100%;
	}
	
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.arrow-inner{
		width: 200px;
	}

	.steps-arrow{
		left: 230px;
	}

	.steps-arrow-second{
		left: 560px;
	}

	.partners-block{
		width: 100%;
	}

	.partners-block img{
		right: 0px;
	}

	.owl-carousel-res .owl-slide{
		height: 850px;
	}

	.staff-img{
		width: 100%;
	}

}


@media only screen and (min-width : 1200px) and (max-width : 1300px) {

	.owl-wrapper{
		width: 100%;
	}

	.owl-carousel-res{
		width: 1170px;
	}



}