body {
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  max-width: 1700px;
  position: relative;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0 auto; }
  body a:hover, body a:focus, body a:active {
    text-decoration: none;
    outline: none; }
  body input:focus, body input:active {
    text-decoration: none;
    outline: none; }
  body button:focus, body button:active {
    text-decoration: none;
    outline: none; }
  body textarea:focus, body textarea:active {
    text-decoration: none;
    outline: none; }
  body ul {
    list-style-type: none;
    padding: 0; }
  body a:hover {
    opacity: 0.7; }
  body h2 {
    font-family: 'BookAnt', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 0 0 #000; }

/*******************************Header*******************************************/
header {
  min-height: 170px;
  line-height: 170px; }

.logo {
  text-align: center; }

.navbar-default {
  background-image: none;
  background-color: #fff;
  border: none;
  margin: 0;
  text-align: center;
  line-height: 170px; }
  .navbar-default ul {
    float: none; }
  .navbar-default li {
    float: none;
    display: inline-block;
    padding: 0px 10px; }

.navbar-default .navbar-nav > li > a {
  font-family: 'MeriadPro', sans-serif;
  color: #000;
  font-size: 16px; }

.navbar-default .navbar-nav > li > a:hover {
  color: #ffb300; }

.header-contacts {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  margin-left: 55px; }
  .header-contacts span {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400; }
  .header-contacts a {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #5f5fff;
    text-decoration: underline; }

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px; }

/*******************************FirstScreen*******************************************/
.first-screen {
  padding-top: 26px; }
  .first-screen h1 {
    font-family: 'BookAnt', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #000; }
  .first-screen img {
    display: block;
    margin: 50px auto 30px; }
  .first-screen span {
    font-family: 'BookAnt', sans-serif;
    font-size: 25px;
    color: #000;
    text-align: center;
    display: block;
    padding: 0px 100px; }

/**********************************************Production*******************************************/
.production {
  padding: 120px 0px 50px; }
  .production img {
    display: block;
    margin: 0 auto; }
  .production h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000; }
  .production span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px; }
  .production .col-lg-4:nth-child(2) img {
    margin-top: -20px; }
  .production .col-lg-4:nth-child(2) .production-desc {
    margin-top: 50px; }
  .production .col-lg-4:nth-child(3) img {
    margin-top: -20px; }
  .production .col-lg-4:nth-child(3) .production-desc {
    margin-top: 50px; }

.production-image {
  height: 250px;
  display: block; }

.production-desc {
  margin-top: 30px;
  margin-left: 100px; }

/**********************************************Free-IBSN*******************************************/
.free-isbn {
  background-image: url("../img/free-ibsn-bg.jpg");
  width: 100%;
  height: 203px;
  text-align: center;
  padding-top: 15px; }
  .free-isbn h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-align: center; }

.free-isbn-button {
  margin-top: 56px; }
  .free-isbn-button a {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background-color: #f3cf55;
    padding: 20px 82px;
    border-radius: 10px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .free-isbn-button a:hover {
    background-color: #efb511;
    opacity: 1; }

/**********************************************Benefits*******************************************/
#benefits {
  background-image: url("../img/benefits-bg.png");
  background-position: center right;
  background-repeat: no-repeat;
  height: 540px;
  padding-top: 40px; }
  #benefits h2 {
    margin-bottom: 85px;
    margin-left: 57px; }
  #benefits ul {
    margin-top: 15px; }
  #benefits li {
    height: 42px;
    line-height: 42px;
    background-image: url("../img/gal.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 50px;
    margin: 20px 0px;
    font-family: 'BookAnt', sans-serif;
    font-size: 18px; }

.benefits-block {
  padding-left: 265px; }

/**********************************************How-Work*******************************************/
.how-work {
  min-height: 620px;
  background-color: #f2f2f2;
  padding: 40px 0px;
  text-align: center; }
  .how-work h2 {
    text-align: center;
    margin-bottom: 100px; }
  .how-work span {
    display: block;
    font-family: 'BookAnt', sans-serif;
    font-size: 25px; }

.how-work-image {
  height: 250px;
  line-height: 250px;
  margin-bottom: 10px;
  position: relative; }
  .how-work-image img {
    line-height: 250px; }
  .how-work-image p {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0; }

/**********************************************FeedBack*******************************************/
.feedback {
  width: 100%;
  height: 200px;
  background-image: url("../img/feedback-bg.jpg"); }
  .feedback span {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fff;
    line-height: 200px;
    padding-left: 30px; }

.feedback-button {
  margin-top: 85px; }
  .feedback-button a {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #000;
    background-color: #f3cf55;
    padding: 18px 80px;
    border-radius: 10px;
    margin-left: -20px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .feedback-button a:hover {
    background-color: #efb511;
    opacity: 1; }

/**********************************************Projects*******************************************/
#projects {
  padding: 40px 0px; }
  #projects h2 {
    text-align: center;
    margin-bottom: 35px; }
  #projects span {
    font-family: 'BookAnt', sans-serif;
    font-size: 18px;
    color: #000;
    display: block;
    text-align: center; }

.slider-container {
  position: relative;
  width: 1026px;
  margin: 20px auto 35px; }

.lSPager {
  display: none; }

/**********************************************Reviews*******************************************/
.reviews {
  min-height: 580px;
  background-color: #f2f2f2;
  padding: 50px 0px; }
  .reviews .col-lg-5 {
    text-align: right; }
    .reviews .col-lg-5 img {
      padding-right: 15px; }

.swiper-text {
  position: relative;
  padding: 0 90px; }
  .swiper-text img {
    position: absolute;
    top: 0;
    left: 80px;
    margin-left: -50px; }
  .swiper-text p, .swiper-text span {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
    text-shadow: 0.2px 0 0 #000; }
  .swiper-text .first-p {
    padding-top: 20px; }
  .swiper-text span {
    display: block;
    margin-top: 30px;
    text-align: right;
    font-style: italic; }

.swiper-container {
  position: relative; }

.swiper-pagination {
  right: 90px; }

.slider-nav-panel {
  height: 50px; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 50%;
  margin-bottom: -30px;
  margin-left: 5px;
  opacity: 1; }

.swiper-pagination-clickable .swiper-pagination-bullet-active {
  background-color: #000; }

/**********************************************Contacts*******************************************/
#contacts {
  height: 565px;
  position: relative; }
  #contacts .map-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 565px; }
  #contacts .contacts-block-wrapper {
    width: 600px;
    height: 400px;
    background-color: #fff;
    margin-top: 80px; }
  #contacts .col-lg-4 {
    text-align: right; }

.contacts-logo {
  margin-top: 100px;
  margin-right: -60px; }

.contacts-block {
  margin-bottom: 15px; }
  .contacts-block strong {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #0d1375;
    display: block;
    font-weight: 700; }
  .contacts-block span {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #0d1375;
    display: block;
    font-weight: 400; }

.contacts-inf {
  padding-top: 60px;
  padding-left: 60px; }
  .contacts-inf ul {
    margin-top: 30px; }
  .contacts-inf img {
    margin-right: 10px; }
  .contacts-inf li {
    margin: 10px 0px; }
    .contacts-inf li a {
      font-family: 'HelveticaLight', sans-serif;
      font-size: 20px;
      color: #0054ff;
      border-bottom: 1px solid #0054ff; }
    .contacts-inf li a:hover {
      border-bottom: none; }

/**************************************************************Modal************************************/
.hidden_form {
  height: 355px;
  width: 315px;
  background-color: #fff;
  text-align: center;
  margin-top: 60px;
  padding: 20px 0 26px 0;
  margin: 0 auto;
  position: relative;
  -moz-placeholder-color: #c4c4c4;
  -moz-placeholder-letter-spacing: 1px;
  -ms-input-placeholder-color: #c4c4c4;
  -ms-input-placeholder-letter-spacing: 1px; }
  .hidden_form span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 31px; }
  .hidden_form input {
    width: 250px;
    height: 40px;
    border: 2px solid #e3e0d6;
    padding-left: 15px;
    margin-top: 16px; }
  .hidden_form ::-webkit-input-placeholder {
    color: #c4c4c4;
    letter-spacing: 1px; }
  .hidden_form ::-moz-placeholder {
    color: #c4c4c4;
    letter-spacing: 1px; }
  .hidden_form textarea {
    resize: none;
    width: 250px;
    height: 80px;
    border: 2px solid #e3e0d6;
    margin-top: 26px;
    padding: 10px 15px; }
  .hidden_form .hid-form-but {
    width: 150px;
    height: 40px;
    background-image: none;
    background-color: #edae2c;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 14px; }
  .hidden_form .hid-form-but:hover {
    opacity: 0.7; }

.hidden {
  display: none; }
