* {
  margin: 0;
  padding: 0; }

body {
  min-width: 1230px;
  max-width: 1920px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  margin: 0 auto; }
  body a:hover, body a:focus, body a:active {
    text-decoration: none;
    outline: none; }
  body input:focus, body input:active {
    text-decoration: none;
    outline: none; }
  body button:hover, body button:focus, body button:active {
    text-decoration: none;
    outline: none; }
  body select:hover, body select:focus, body select:active {
    text-decoration: none;
    outline: none; }

/***********************************************************General************************************************************/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

h2 {
  font-family: 'ProximaNovaBlack', sans-serif;
  font-size: 36px;
  color: #343434;
  text-transform: uppercase; }

/***********************************************************Header*************************************************************/
header {
  border-bottom: 1px solid #383f44;
  position: absolute;
  width: 100%;
  height: 60px;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2; }
  header .main-menu {
    margin-left: 60px; }
    header .main-menu ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      header .main-menu ul li {
        display: inline-block;
        padding: 18px 25px; }
        header .main-menu ul li a {
          color: #fff;
          text-decoration: none;
          font-family: 'ProximaNovaRegular', sans-serif;
          font-size: 16px;
          padding: 0; }
      header .main-menu ul li:hover {
        border-bottom: 1px solid red; }

/***********************************************************MainBanner*********************************************************/
#mainbanner .li-slide1, #mainbanner .li-slide2 {
  background-image: url("../images/slider/slide1/main-banner.jpg");
  width: 100%;
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center; }

#mainbanner .li-slide2 {
  background-image: url("../images/slider/slide2/slide.jpg"); }

#mainbanner .lSSlideOuter .lSPager.lSpg {
  display: none; }

#mainbanner .container-arrow {
  position: absolute;
  z-index: 100;
  width: 1200px;
  height: 60px;
  top: 425px;
  margin: auto;
  left: 0;
  right: 0; }

#mainbanner .lSAction > .lSPrev, #mainbanner .lSAction > .lSNext {
  display: none; }

#mainbanner h1 {
  color: #fff;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 56px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 410px;
  margin-bottom: 60px;
  letter-spacing: -3px; }

#mainbanner .header-logo {
  position: absolute;
  top: 92px;
  margin-left: 77px; }

#mainbanner a {
  background-color: #ff1515;
  padding: 18px 65px 18px 38px;
  color: #fff;
  text-decoration: none;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 18px;
  background-image: url("../images/check-button-bg.png");
  background-position: right 33px center;
  background-repeat: no-repeat; }

/***********************************************************How Work*********************************************************/
#work {
  padding: 55px 0 60px 0;
  position: relative; }
  #work h2 {
    text-align: center;
    margin-bottom: 7px; }
  #work span {
    font-family: 'ProximaNovaRegular', sans-serif;
    font-size: 22px;
    color: #808080;
    text-align: center;
    display: block;
    margin-bottom: 61px; }
  #work strong {
    font-family: 'ProximaNovaBlack', sans-serif;
    font-size: 147px;
    color: rgba(246, 244, 244, 0.6);
    position: absolute;
    top: 9px;
    z-index: -1; }
  #work .work-block {
    width: 33%;
    display: inline-block; }
    #work .work-block .work-block-square {
      width: 30px;
      height: 30px;
      background-color: #ff1515;
      color: #fff;
      font-family: 'ProximaNovaExtrabold', sans-serif;
      font-size: 18px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      z-index: 2; }
    #work .work-block .work-block-circle {
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      background-image: url("../images/money.png");
      background-size: 50px 45px;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 auto; }
    #work .work-block p {
      text-align: center;
      font-family: 'ProximaNovaExtrabold', sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: #343434;
      margin-top: 25px;
      text-transform: uppercase; }
  #work .icon-2 .work-block-circle {
    background-image: url("../images/graphic.png");
    background-size: 47px 47px; }
  #work .icon-3 .work-block-circle {
    background-image: url("../images/money-gold.png");
    background-size: 37px 57px; }

/***********************************************************Check*********************************************************/
#check {
  width: 100%;
  height: 665px;
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden; }
  #check h2 {
    margin-top: 54px; }
  #check .check-left {
    width: 50%;
    height: 100%;
    margin-left: 40px; }
    #check .check-left ul {
      list-style-type: none;
      margin-top: 14px;
      margin-bottom: 49px; }
      #check .check-left ul li {
        background-image: url("../images/check-icon.png");
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 30px;
        font-family: 'ProximaNovaRegular', sans-serif;
        font-size: 18px;
        padding: 10px 0 10px 30px; }
    #check .check-left a {
      background-color: #ff1515;
      padding: 18px 68px 18px 28px;
      color: #fff;
      text-decoration: none;
      font-family: 'ProximaNovaRegular', sans-serif;
      font-size: 18px;
      background-image: url("../images/check-button-bg.png");
      background-position: right 29px center;
      background-repeat: no-repeat; }
  #check .check-right {
    position: absolute;
    top: 0;
    left: 50%; }

/***********************************************************Statistic*********************************************************/
#statistic {
  background-image: url("../images/statistic-bg.jpg");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center; }
  #statistic .statistic-block {
    width: 22%;
    text-align: center;
    margin-top: 167px;
    float: left;
    margin-left: 35px; }
    #statistic .statistic-block .statistic-block-icon {
      width: 30%;
      height: 77px;
      border-bottom: 1px solid #fff;
      margin: 0 auto; }
    #statistic .statistic-block .statistic-block-desc {
      margin-top: 20px; }
      #statistic .statistic-block .statistic-block-desc span {
        font-family: 'ProximaNovaBlack', sans-serif;
        color: #fff;
        font-size: 42px; }
      #statistic .statistic-block .statistic-block-desc p {
        font-family: 'ProximaNovaRegular', sans-serif;
        color: #fff;
        font-size: 18px;
        width: 70%;
        margin: 0 auto; }

/***********************************************************About*********************************************************/
#about {
  height: 411px;
  position: relative;
  padding: 50px 0; }
  #about h2 {
    text-align: center;
    margin-bottom: 36px; }
  #about .about-left {
    margin-left: 50px; }
    #about .about-left p {
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #343434;
      font-size: 18px; }
    #about .about-left ul {
      list-style-type: none;
      padding-top: 14px;
      margin-left: -5px; }
      #about .about-left ul li {
        margin: 30px 0;
        display: table; }
      #about .about-left ul span {
        font-family: 'ProximaNovaRegular', sans-serif;
        color: #343434;
        font-size: 24px;
        text-transform: uppercase;
        position: relative;
        display: table-cell;
        line-height: 30px;
        padding-left: 27px; }
      #about .about-left ul .about-image {
        width: 50px;
        text-align: center;
        display: inline-block;
        display: table-cell;
        vertical-align: middle; }
      #about .about-left ul img {
        vertical-align: middle; }
  #about .about-right {
    position: absolute;
    top: 86px;
    left: 50%; }

/***********************************************************BonusPlan*********************************************************/
#bonus {
  background-image: url("../images/bonus-bg.jpg");
  width: 100%;
  height: 442px;
  background-position: center center;
  background-repeat: no-repeat; }
  #bonus .bonus-wrap {
    padding: 28px; }
  #bonus .bonus-block {
    background-color: #fff;
    width: 270px;
    margin: 0 auto;
    padding: 38px 0; }
    #bonus .bonus-block .bonus-block-header {
      background-color: #f4f4f4;
      padding: 6px 40px;
      text-align: center; }
      #bonus .bonus-block .bonus-block-header span {
        font-family: 'ProximaNovaBlack', sans-serif;
        color: #ff1515;
        font-size: 20px;
        text-transform: uppercase; }
      #bonus .bonus-block .bonus-block-header p {
        font-family: 'ProximaNovaRegularItalic', sans-serif;
        color: #343434;
        font-size: 14px; }
        #bonus .bonus-block .bonus-block-header p i {
          font-size: 24px; }
    #bonus .bonus-block .bonus-block-content {
      text-align: center; }
      #bonus .bonus-block .bonus-block-content span {
        font-family: 'ProximaNovaLight', sans-serif;
        color: #ff1515;
        font-size: 30px; }
        #bonus .bonus-block .bonus-block-content span i {
          font-size: 72px;
          font-style: normal; }
      #bonus .bonus-block .bonus-block-content p {
        font-family: 'ProximaNovaRegularItalic', sans-serif;
        color: #ff1515;
        font-size: 24px;
        text-decoration: underline; }
    #bonus .bonus-block .bonus-block-footer {
      margin-top: 54px;
      text-align: center; }
      #bonus .bonus-block .bonus-block-footer a {
        font-family: 'ProximaNovaRegular', sans-serif;
        color: #ff1515;
        font-size: 18px;
        text-decoration: none;
        border: 1px solid #e6e6e6;
        padding: 12px 29px; }

/***********************************************************Calc*********************************************************/
#calc {
  padding: 45px 0;
  height: 307px; }
  #calc .calc-header {
    text-align: center; }
    #calc .calc-header h2 {
      line-height: 48px; }
    #calc .calc-header span {
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #343434;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 23px; }
  #calc .calc-block .calc-choice {
    text-align: center;
    margin-top: 34px; }
    #calc .calc-block .calc-choice select {
      width: 253px;
      height: 30px;
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #343434;
      font-size: 18px;
      padding-left: 7px;
      border: 1px solid #e8e8e8;
      margin-right: 5px; }
    #calc .calc-block .calc-choice input {
      width: 253px;
      height: 28px;
      border: 1px solid #e8e8e8;
      color: rgba(0, 0, 0, 0.5);
      padding-left: 10px;
      font-family: 'ProximaNovaRegular', sans-serif;
      font-size: 18px; }
  #calc .calc-block .calc-scale {
    width: 700px;
    margin: 0 auto;
    margin-top: 30px; }
  #calc .calc-block .scale-choice {
    display: block; }
  #calc .calc-block .scale-left, #calc .calc-block .scale-right {
    font-family: 'ProximaNovaRegular', sans-serif;
    color: #343434;
    font-size: 18px; }
  #calc .calc-block .scale-left {
    float: left; }
  #calc .calc-block .scale-right {
    float: right; }
  #calc .calc-block .range {
    display: block; }
  #calc .calc-block #calc-range {
    height: 16px;
    padding: 0;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    width: 100%;
    position: relative; }
  #calc .calc-block #calc-thumb {
    width: 56px;
    height: 24px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    #calc .calc-block #calc-thumb .thumb-circle {
      width: 20px;
      height: 20px;
      border: 1px solid #c6c6c6;
      background-color: #fff;
      border-radius: 50%;
      margin: 0 auto; }
    #calc .calc-block #calc-thumb span {
      text-align: center;
      padding-top: 20px;
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #ff1515;
      font-size: 18px; }
  #calc .calc-block .calc-footer {
    text-align: center;
    margin-top: 25px; }
    #calc .calc-block .calc-footer span {
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #343434;
      font-size: 46px;
      text-transform: uppercase;
      letter-spacing: -2px; }
      #calc .calc-block .calc-footer span strong {
        font-style: normal;
        font-weight: normal;
        color: #ff1515; }
        #calc .calc-block .calc-footer span strong i {
          font-style: normal;
          font-size: 60px; }

/***********************************************************Calc*********************************************************/
#tarifs {
  background-image: url("../images/tarifs-bg.jpg");
  width: 100%;
  height: 1212px;
  background-position: center center;
  background-repeat: no-repeat; }
  #tarifs h2 {
    color: #fff;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px; }
  #tarifs .stage {
    width: 100%;
    height: 550px;
    border: 1px dashed #fff;
    text-align: center; }
    #tarifs .stage span {
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #fff;
      font-size: 24px;
      display: block;
      margin-top: 15px; }
    #tarifs .stage img {
      display: block;
      margin: 0 auto; }
  #tarifs .stage-block-wrap {
    float: none;
    display: block;
    width: 832px;
    margin: 0 auto;
    margin-top: 26px; }
  #tarifs .stage-block {
    background-color: #fff;
    width: 261px;
    height: 380px;
    padding: 26px 0;
    box-sizing: border-box;
    float: left;
    margin-top: 30px; }
    #tarifs .stage-block .stage-block-header {
      background-color: #f4f4f4;
      padding: 0 40px;
      text-align: center; }
      #tarifs .stage-block .stage-block-header span {
        font-family: 'ProximaNovaBlack', sans-serif;
        color: #ff1515;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 34px; }
      #tarifs .stage-block .stage-block-header p {
        font-family: 'ProximaNovaRegularItalic', sans-serif;
        color: #343434;
        font-size: 14px; }
        #tarifs .stage-block .stage-block-header p i {
          font-size: 24px; }
    #tarifs .stage-block .stage-block-content {
      text-align: center; }
      #tarifs .stage-block .stage-block-content span {
        font-family: 'ProximaNovaLight', sans-serif;
        color: #ff1515;
        font-size: 30px;
        margin-top: 8px;
        margin-bottom: 14px; }
        #tarifs .stage-block .stage-block-content span i {
          font-size: 72px;
          font-style: normal; }
      #tarifs .stage-block .stage-block-content p {
        font-family: 'ProximaNovaRegularItalic', sans-serif;
        color: #343434;
        font-size: 16px; }
    #tarifs .stage-block .stage-block-footer {
      margin: 49px 0 0 0;
      text-align: center; }
      #tarifs .stage-block .stage-block-footer a {
        font-family: 'ProximaNovaRegular', sans-serif;
        color: #ff1515;
        font-size: 18px;
        text-decoration: none;
        border: 1px solid #e6e6e6;
        padding: 13px 29px; }
  #tarifs .central-block {
    border: 1px solid red;
    width: 310px;
    height: 420px;
    background-image: url("../images/central-block-bg.jpg");
    background-size: 279px 372px;
    background-position: center center;
    background-repeat: no-repeat; }
    #tarifs .central-block .stage-block-header {
      background-color: transparent;
      padding-top: 19px; }
    #tarifs .central-block .stage-block-footer a {
      background-color: #ff1515;
      color: #fff; }
  #tarifs .side-block {
    margin-top: 50px; }
  #tarifs #second-stage {
    width: 100%;
    height: 505px;
    border: 1px dashed #fff;
    text-align: center;
    margin-top: 35px; }
    #tarifs #second-stage .decor {
      margin-top: 11px; }
    #tarifs #second-stage .stage-block-wrap {
      width: 100%; }
    #tarifs #second-stage .stage-block {
      float: none;
      display: inline-block;
      width: 270px;
      margin-right: 10px;
      margin-top: 35px; }
    #tarifs #second-stage .central-block {
      background-image: none;
      border: none;
      height: 380px; }
    #tarifs #second-stage .stage-block-header {
      background-color: #f4f4f4; }
    #tarifs #second-stage .stage-block-footer a {
      background-color: #fff;
      color: #ff1515; }

/***********************************************************Statisctic-Main*********************************************************/
#statistic-main {
  padding: 49px 0 86px 0;
  text-align: center; }
  #statistic-main table {
    width: 930px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 35px; }
    #statistic-main table td {
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #343434;
      font-size: 16px;
      text-align: left;
      padding: 16px 0 0px 28px; }
      #statistic-main table td img {
        margin-right: 6px; }
    #statistic-main table .summ {
      text-align: right;
      padding-right: 60px; }
    #statistic-main table .pay-icon img {
      vertical-align: middle; }
    #statistic-main table .table-header {
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #343434;
      font-size: 18px;
      text-transform: uppercase; }
      #statistic-main table .table-header td {
        text-align: left;
        border-bottom: 2px solid #c6c6c6;
        padding: 5px 0 5px 28px; }

/***********************************************************News*********************************************************/
#news {
  background-image: url("../images/news-bg.jpg");
  width: 100%;
  height: 534px;
  background-position: center center;
  background-repeat: no-repeat; }
  #news h2 {
    text-align: center;
    padding-top: 56px;
    margin-bottom: 15px; }
  #news .lSSlideOuter .lSPager.lSpg {
    display: none; }
  #news .lSSlideOuter {
    text-align: center; }
  #news .news-overlay {
    width: 1076px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-left: 62px;
    bottom: 17px; }
    #news .news-overlay h4 {
      font-family: 'ProximaNovaBlack', sans-serif;
      color: #fff;
      font-size: 24px;
      line-height: 20px;
      text-align: left;
      text-transform: uppercase;
      padding-left: 25px;
      margin-top: 5px; }
    #news .news-overlay span {
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #fff;
      font-size: 24px;
      text-align: left;
      text-transform: uppercase;
      display: block;
      padding-left: 25px; }

/***********************************************************Response*********************************************************/
#response {
  text-align: center;
  padding: 63px 0 93px 0; }
  #response h2 {
    text-align: center;
    margin-bottom: 15px; }

/***********************************************************Partners*********************************************************/
#partners {
  background-image: url("../images/partners-bg.jpg");
  width: 100%;
  height: 325px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center; }
  #partners h2 {
    padding-top: 56px; }
  #partners ul {
    list-style-type: none;
    margin-top: 60px; }
    #partners ul li {
      display: inline-block;
      padding: 0 25px; }
    #partners ul img {
      vertical-align: middle; }

/***********************************************************But2*********************************************************/
#but2 {
  padding: 83px 0;
  text-align: center; }
  #but2 span {
    font-family: 'ProximaNovaRegular', sans-serif;
    color: #343434;
    font-size: 55px;
    display: block;
    line-height: 72px;
    margin-bottom: 61px; }
    #but2 span strong {
      font-size: 60px; }
  #but2 a {
    background-color: #ff1515;
    padding: 19px 68px 19px 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'ProximaNovaRegular', sans-serif;
    font-size: 18px;
    background-image: url("../images/check-button-bg.png");
    background-position: right 30px center;
    background-repeat: no-repeat; }

/***********************************************************Footer*********************************************************/
footer {
  background-image: url("../images/footer-bg.jpg");
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat; }
  footer .top-footer-left {
    width: 568px;
    display: inline-block;
    padding-top: 36px;
    padding-left: 50px;
    box-sizing: border-box; }
    footer .top-footer-left p {
      font-family: 'ProximaNovaRegular', sans-serif;
      color: #fff;
      font-size: 12px;
      margin-top: 5px;
      width: 93%; }
  footer .top-footer-middle {
    width: 430px;
    display: inline-block;
    padding-left: 50px;
    box-sizing: border-box; }
    footer .top-footer-middle ul {
      list-style-type: none;
      display: inline-block; }
      footer .top-footer-middle ul li {
        margin-top: 7px; }
      footer .top-footer-middle ul a {
        font-family: 'ProximaNovaRegular', sans-serif;
        color: #fff;
        font-size: 16px;
        text-decoration: none; }
      footer .top-footer-middle ul .red-link a {
        color: #ff1515; }
    footer .top-footer-middle .left-list {
      margin-right: 35px; }
  footer .top-footer-right {
    width: 190px;
    display: inline-block;
    position: relative; }
    footer .top-footer-right ul {
      list-style-type: none;
      position: absolute;
      top: -77px; }
      footer .top-footer-right ul li {
        display: inline-block;
        padding: 0 12px; }
        footer .top-footer-right ul li img {
          vertical-align: middle; }
  footer hr {
    width: 1100px;
    margin: 0 auto;
    height: 1px;
    border: none;
    background-color: #eee;
    background: #eee;
    margin-top: 38px;
    margin-bottom: 30px; }
  footer span {
    font-family: 'ProximaNovaRegular', sans-serif;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: block; }
  footer .bottom-footer {
    text-align: center;
    margin-top: 48px; }
    footer .bottom-footer img {
      padding: 0 45px;
      vertical-align: middle; }
