@media only screen and (min-width : 0px) and (max-width : 767px) {

	.probate-header .container{
		max-width: 100%;
	}

	.probate-header__menu{
		position: relative;
	}

	.probate-header__buttons{
		display: none;
		position: absolute;
		top: 48px;
		right: -15px;
		z-index: 100;
		background: #fff;
		height: auto;
		width: 170px;
		text-align: center;
	}

	.probate-header__buttons a{
		margin-left: 0px;
	}

	.probate-header .gen-btn__fill{
		margin-top: 20px;
	}

	.probate-header .gen-btn__stroke{
		margin-top: 10px;
		width: 127px;
		margin-bottom: 20px;
		padding-right: 30px;
	}

	.main-banner__wrap p {
		font-size: 20px;
		line-height: 28px;
	}

	.gen-btn__fill--big{
		padding: 0px 20px;
		width: 100%;
		max-width: 300px;
	}

	.guarantee span {
		font-size: 18px;
	}

	.guarantee svg{
		width: 40px;
		height: 40px;
	}


	.main-banner__wrap p{
		width: 95%;
	}

	.single-text h2{
		font-size: 35px;
	}

	.gen-text--28 p, .gen-text p{
		font-size: 20px;
		line-height: 30px;
	}

	.main-image__text{
		padding: 5vw 5vw 5vw 8vw!important;
		min-height: 1px!important;
		height: auto!important;

	}

	.single-text__wrap p{
		width: 90%;
	}

	.main-back__wrap{
		width: 100%;
	}

	.main-bottom__text{
		padding-left: 10vw;
		padding-right: 10vw;
	}

	.main-image{
		flex-wrap: wrap;
	}

	.main-image__block {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.main-image__image{
		order: 1;
	}

	.main-image__text{
		order: 2;
	}

	.main-image__image img{
		width: 100%;
	}

	.main-back__wrap{
		padding: 60px 20px;
	}

	.main-back__wrap span{
		font-size: 32px;
	}

	.main-bottom__text{
		flex: 0 0 100%;
		max-width: 100%;
	}

	.probate-footer__wrap{
		padding: 0px;
	}

	.sign-form__wrap{
		flex-wrap: wrap;
	}

	.sign-form__image{
		order: 1;
		height: auto;
	}

	.sign-form__image img{
		width: 100%;
		height: auto;
	}

	.sign-form__form{
		order: 2;
		margin: 0px auto;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.sign-form__form form{
		padding: 0px;
	}

	.sign-form__header span {
		font-size: 6vw;
		line-height: 8vw;
	}

}

@media only screen and (min-width : 576px) and (max-width : 767px) {

	.main-bottom__text {
	    flex: 0 0 80%;
	    max-width: 80%;
	}

	.guarantee span {
		font-size: 22px;
	}

	.guarantee svg{
		width: 50px;
		height: 50px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.main-banner__wrap p{
		width: 95%;
	}

	.single-text__wrap p{
		width: 90%;
	}

	.main-back__wrap{
		width: 100%;
	}

	.main-bottom__text{
		padding-left: 10vw;
	}

	.main-image{
		flex-wrap: wrap;
	}

	.main-image__block {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.main-image__image{
		order: 1;
	}

	.main-image__text{
		order: 2;
	}

	.main-image__image img{
		width: 100%;
	}

	.main-image__text{
		padding: 3vw 4vw 3vw 4vw!important;
		min-height: 1px!important;
		height: auto!important;
	}

	.main-bottom__text {
		flex: 0 0 68%;
		max-width: 68%;
	}

	.sign-form__wrap{
		flex-wrap: wrap;
	}

	.sign-form__image{
		order: 1;
		height: auto;
	}

	.sign-form__image img{
		width: 100%;
		height: auto;
	}

	.sign-form__form{
		order: 2;
		margin: 0px auto;
	}


}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.main-banner__wrap p{
		width: 85%;
	}

	.single-text__wrap p{
		width: 80%;
	}

	.main-back__wrap{
		width: 100%;
	}

	.main-bottom__text{
		padding-left: 8vw;
		padding-right: 8vw;
	}
}


@media only screen and (min-width : 1200px) and (max-width : 1439px) {

	.single-text__wrap p {
		width: 70%;
	}

}

@media only screen and (min-width : 1440px) {

	.container{
		max-width: 1322px;
	}
}

@media only screen and (min-width : 1920px) {

	.container{
		max-width: 90%;
	}
}
