body {
  font-family: "Exo2", arial;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

header .top_line {
  height: 48px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#30233c+0,553d6b+50,30233c+100 */
  background: #30233c;
  /* Old browsers */
  background: -moz-linear-gradient(left, #30233c 0%, #553d6b 50%, #30233c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #30233c 0%, #553d6b 50%, #30233c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #30233c 0%, rgba(85, 61, 107, 0.9) 33%, rgba(85, 61, 107, 0.9) 66%, #30233c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30233c', endColorstr='#30233c',GradientType=1 );
  /* IE6-9 */
}

header .top_line .logo {
  margin-top: 6px;
}

header .top_line .logo span {
  font-size: 23px;
  color: #fff;
  vertical-align: middle;
}

header .top_line .quick {
  float: left;
}

header .top_line .quick a {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
  line-height: 48px;
}

header .top_line .phone {
  position: relative;
}

header .top_line .phone img {
  position: absolute;
  top: 13.5px;
}

header .top_line .phone span {
  font-size: 20px;
  color: #fff;
  line-height: 48px;
  margin-left: 32px;
}

header .main_banner {
  background-image: url("../img/main_banner.png");
  width: 100%;
  height: 504px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .main_banner .banner_dekor {
  background-image: url("../img/lesenka.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 504px;
}

header .main_banner .wrap_banner {
  margin-top: 75px;
}

header .main_banner .logo_banner span {
  font-size: 30px;
  color: #fff;
  line-height: 21px;
  vertical-align: middle;
}

header .main_banner .zagol h1 {
  font-family: "Exo2Bold", arial;
  font-size: 90px;
  line-height: 90px;
  color: #e968ff;
  margin: 0;
  text-transform: uppercase;
}

header .main_banner .zagol i {
  color: #fff;
  font-style: normal;
}

header .main_banner .banner_descr span {
  font-family: "Exo2";
  font-size: 25px;
  color: #fff;
  line-height: 35px;
}

nav .menu {
  min-height: 462px;
  background: #3d5afd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3d5afd 0%, #5a73ff 50%, #3d5afd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3d5afd 0%, #5a73ff 50%, #3d5afd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3d5afd 0%, #5a73ff 33%, #5a73ff 50%, #5a73ff 66%, #3d5afd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d5afd', endColorstr='#3d5afd',GradientType=0 );
  /* IE6-9 */
}

nav .menu h2 {
  color: #fff;
  font-size: 30px;
  line-height: 21px;
  margin: 30px 0 0 0;
  text-align: center;
  text-shadow: #603b00 1px 1px 1px;
}

nav .menu .wrap_menu {
  height: 275px;
}

nav .menu .menu_icon {
  background: #fff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  margin: 45px auto 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

nav .menu .menu_icon img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

nav .menu .yellow {
  background-color: #fdcc30;
  text-align: center;
}

nav .menu .yellow p {
  font-family: "Exo2Bold", arial;
  font-size: 25px;
  line-height: 25px;
  color: #fff;
  position: absolute;
  top: 45px;
  margin: 0;
  text-shadow: #603b00 1px 1px 0px;
  text-transform: uppercase;
}

nav .menu .menu_descr {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

nav .menu .menu_descr p {
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  text-shadow: #603b00 1px 1px 0px;
}

nav .menu .menu_button {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3349c4+0,172eaf+99 */
  background: #3349c4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3349c4 0%, #172eaf 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3349c4 0%, #172eaf 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3349c4 0%, #172eaf 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3349c4', endColorstr='#172eaf',GradientType=0 );
  /* IE6-9 */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

nav .menu .menu_button a {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
}

#buisness {
  background-image: url("../img/banner_buisness.png");
  width: 100%;
  height: 474px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#buisness .dekor_buisness {
  background-image: url("../img/lesenka2.png");
  width: 100%;
  height: 474px;
  background-repeat: repeat-x;
  background-position: top center;
}

#buisness .buisness_descr {
  margin-top: 110px;
}

#buisness .buisness_descr h2 {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  margin-bottom: 30px;
}

#buisness .buisness_descr p {
  font-size: 15px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  margin-bottom: 36px;
}

#buisness .buisness_right {
  margin-top: 180px;
  margin-left: 30px;
  float: left;
  -webkit-transform: rotate(-27deg);
  -moz-transform: rotate(-27deg);
  -o-transform: rotate(-27deg);
  -ms-transform: rotate(-27deg);
  transform: rotate(-27deg);
}

#buisness .buisness_right p {
  color: #fff;
  font-family: "Lobster";
  font-size: 22px;
  line-height: 30px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  text-align: center;
}

#site {
  width: 100%;
  min-height: 474px;
  background: #346acd;
  /* Old browsers */
  background: -moz-linear-gradient(left, #346acd 0%, #608cdb 33%, #608cdb 50%, #608cdb 66%, #346acd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #346acd 0%, #608cdb 33%, #608cdb 50%, #608cdb 66%, #346acd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #346acd 0%, #608cdb 33%, #608cdb 50%, #608cdb 66%, #346acd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#346acd', endColorstr='#346acd',GradientType=1 );
  /* IE6-9 */
}

#site .site_descr {
  margin-top: 110px;
  width: 90%;
}

#site .site_descr h2 {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  margin-bottom: 30px;
}

#site .site_descr p {
  font-size: 15px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  margin-bottom: 36px;
}

#site .numeral {
  text-align: center;
  margin-top: 40px;
  height: 400px;
}

#site .numeral .numeral_header {
  text-align: center;
}

#site .numeral .numeral_header h5 {
  color: #fff;
  font-family: "Exo2Bold", arial;
  font-size: 15px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px;
}

#site .numeral .numeral_header p {
  font-size: 15px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px;
}

#site .numeral .site_button {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #d6e8f9 41%, #b9d8f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #d6e8f9 41%, #b9d8f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, #d6e8f9 41%, #b9d8f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b9d8f6',GradientType=0 );
  /* IE6-9 */
}

#site .numeral .site_button a {
  color: #2d4b81;
  font-size: 15px;
  line-height: 15px;
}

#site .numeral .site_button a p {
  margin: 5px auto;
}

#clients {
  background-image: url("../img/bg_clients.png");
  width: 100%;
  height: 474px;
  background-position: top center;
}

#clients .clients_left {
  margin-top: 90px;
  margin-right: 140px;
  float: right;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#clients .clients_left p {
  color: #fff;
  font-family: "Lobster";
  font-size: 22px;
  line-height: 30px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  text-align: center;
}

#clients .clients_right {
  margin-top: 110px;
}

#clients .clients_right h2 {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  margin-bottom: 30px;
}

#clients .clients_right p {
  font-size: 15px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  margin-bottom: 36px;
}

#seo {
  background-image: url("../img/bg_seo.png");
  width: 100%;
  min-height: 474px;
  background-position: top center;
}

#seo .seo_left {
  margin-top: 110px;
  margin-left: 22px;
  width: 90%;
}

#seo .seo_left h2 {
  font-size: 30px;
  line-height: 30px;
  color: #115a84;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
}

#seo .seo_left p {
  font-size: 15px;
  color: #115a84;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  margin-top: 30px;
}

#seo .seo_right {
  margin-top: 25px;
}

footer {
  width: 100%;
  min-height: 140px;
  background: #1c2b48;
  /* Old browsers */
  background: -moz-linear-gradient(left, #1c2b48 0%, #26437b 33%, #26437b 50%, #26437b 66%, #1c2b48 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1c2b48 0%, #26437b 33%, #26437b 50%, #26437b 66%, #1c2b48 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1c2b48 0%, #26437b 33%, #26437b 50%, #26437b 66%, #1c2b48 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2b48', endColorstr='#1c2b48',GradientType=1 );
  /* IE6-9 */
}

footer .logo {
  margin-top: 60px;
  margin-left: 22px;
}

footer .logo span {
  font-size: 23px;
  color: #fff;
  vertical-align: middle;
}

footer .logo i {
  display: block;
  color: #fff;
  font-style: normal;
  font-size: 12px;
}

footer .contacts {
  margin-top: 28px;
}

footer .contacts img {
  display: inline-block;
}

footer .contacts h6 {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px;
}

footer .contacts span {
  display: block;
  font-size: 13px;
  color: #fff;
  margin-left: 20px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px;
}

footer .adres {
  margin-top: 28px;
  margin-left: 40px;
}

footer .adres img {
  display: inline-block;
}

footer .adres h6 {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px;
}

footer .adres span {
  display: block;
  font-size: 13px;
  color: #fff;
  margin-left: 20px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px;
}

.hidden {
  display: none;
}
