.button {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 58px;
	background-color: $brown;

	text-align:center;
	text-decoration: none;
	font-family: $font;

	border: 0px;
	border-radius: 0px;

	cursor:pointer;
	appearance: none;
	outline: none;
	transition: all linear 0.3s;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;

	@include maxw(1024px) {
		height: 54px;
		font-size: 14px;
	}

	&-gray {
		background-color: $white_a;
	}
}

.section-title {
	position: relative;
	text-align: center;

	span {
		position: relative;
		z-index: 20;
		display: inline-block;
		padding: 0 30px;
		background-color: $white;
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 42.5%;
		height: 1px;
		background-color: $black;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 42.5%;
		height: 1px;
		background-color: $black;
	}
}

.arrow-up {
	display: none;
	position: fixed;
	z-index: 100;
	bottom: 151px;
	right: 73px;
	width: 100px;
	height: 100px;

	@include maxw(1440px) {
		width: 80px;
		height: 80px;
		bottom: 30px;
		right: 30px;
	}

	&.active {
		display: block;
	}
}

.bredcrumbs {
	display: flex;
	align-items: center;
	height: 84px;
	background-color: $white_a;

	&__inline {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		display: flex;
		align-items: center;
	}
	
	&__item {
		margin-right: 33px;
		color: $gray_a;
		font-size: 15px;
		line-height: 1;

		@include maxw(480px) {
			font-size: 13px;
			margin-right: 25px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -18px;
			width: 6px;
			height: 6px;
			background-image: url(../img/layout/general/arrow-right.svg);
			background-size: 4px;
			background-repeat: no-repeat;
			background-position: center;

			@include maxw(480px) {
				right: -13px;
			}
		}
	}

	&__active {
		color: $black;
	}

	&__back {
		display: flex;
		align-items: center;
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;

		 @include maxw(768px) {
			display: none;
		}

		img {
			flex-shrink: 0;
			width: 18px;
			margin-right: 15px;

		}
	}
}

/* nav-icon-5 */
.nav-open {
  width: 24px;
  height: 16px;
  position: relative;
  cursor: pointer;
  display: none;

  @include maxw(850px) {
		display: block;
	}
}

.nav-open span {
  background-color:$black;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 2px;
  transition-duration: 500ms
}

.nav-open span:nth-child(1) {
  top:0px;
  left: 0px;
}

.nav-open span:nth-child(2) {
  top:7px;
  left: 0px;
  opacity:1;
}

.nav-open span:nth-child(3) {
  bottom:0px;
  left: 0px;
}

.nav-open.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}

.nav-open.open span:nth-child(2) {
  opacity:0;
}

.nav-open.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 7px;
}