@font-face {
  font-family: "europebold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/europebold.eot?#iefix") format("embedded-opentype"), url("../fonts/europebold.woff") format("woff"), url("../fonts/europebold.ttf") format("truetype"); }

@font-face {
  font-family: "europenormal";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/europenormal.eot?#iefix") format("embedded-opentype"), url("../fonts/europenormal.woff") format("woff"), url("../fonts/europenormal.ttf") format("truetype"); }

@font-face {
  font-family: "Taurus_Normal";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Taurus_Normal.eot?#iefix") format("embedded-opentype"), url("../fonts/Taurus_Normal.woff") format("woff"), url("../fonts/Taurus_Normal.ttf") format("truetype"); }

@font-face {
  font-family: "ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu.woff") format("woff"), url("../fonts/ubuntu.ttf") format("truetype"); }
