body {
  min-width: 320px;
  max-width: 1500px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #fff; }
  body a:hover, body a:focus, body a:active {
    text-decoration: none;
    outline: none; }
  body input:focus, body input:active {
    text-decoration: none;
    outline: none; }
  body button:focus, body button:active {
    text-decoration: none;
    outline: none; }

.black {
  background-color: #000; }

.page {
  position: static; }

.section-header {
  text-align: center; }
  .section-header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 14px; }
  .section-header hr {
    width: 160px;
    height: 1px;
    border: none;
    background-color: #e9d456;
    background: #e9d456;
    display: inline-block; }
  .section-header img {
    position: relative;
    top: -17px;
    margin: 0px 38px; }

.breadcrumb {
  background-color: #000;
  padding: 8px 0px; }

.breadcrumb > li > a, .breadcrumb .active {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 16px; }

.breadcrumb > li > a:hover {
  opacity: 0.7; }

.footer-page {
  background-color: #171717; }

/************************************************Header*********************************/
header {
  min-height: 100px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 100; }

.logo {
  line-height: 100px; }

.navbar-default {
  background-color: transparent;
  border: none;
  margin-top: 30px; }

.navbar-default .navbar-nav > li {
  padding: 10px 13px 10px; }

.navbar-default .navbar-nav > li > a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  padding: 0px; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #ecd455;
  border-bottom: 1px solid #ecd455; }

.phone {
  padding-left: 10px; }
  .phone span {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 100px; }

.order-button {
  margin-left: -10px;
  line-height: 100px; }
  .order-button a {
    background-color: #de3539;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 11px 26px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .order-button a:hover {
    background-color: #bc272b; }

/************************************************FirstScreen*********************************/
.first-screen {
  width: 100%;
  min-height: 550px;
  position: relative;
  background-image: url("../img/first-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%; }

.main-header {
  margin-top: 174px; }
  .main-header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    color: #fff;
    font-weight: 400;
    line-height: 62px;
    text-align: center; }
  .main-header i {
    font-style: normal;
    font-weight: 100; }

.first-screen-button {
  margin-top: 35px;
  text-align: center; }
  .first-screen-button a {
    background-color: #f3e06b;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #414141;
    font-weight: 400;
    text-transform: uppercase;
    padding: 11px 25px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .first-screen-button a:hover {
    background-color: #cfba3f; }

.benefits-block {
  height: 45px;
  line-height: 44px;
  margin-top: 75px;
  padding-left: 95px; }
  .benefits-block img {
    margin-right: 20px; }
  .benefits-block span {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: normal;
    vertical-align: middle;
    width: 75%; }

/************************************************Girls*********************************/
#girls {
  width: 100%;
  min-height: 1095px;
  background-image: url("../img/girls-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px; }

.girls-block {
  width: 270px;
  height: 358px;
  position: relative;
  margin: 30px auto 0px; }
  .girls-block img {
    width: 100%;
    height: 100%; }

.girls-block-hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .girls-block-hover img {
    width: 64px;
    height: 68px;
    margin-top: 100px; }

.girls-block:hover .girls-block-hover {
  opacity: 1; }

.girls-block:hover .girls-block-overlay {
  opacity: 0; }

.girls-block-overlay {
  width: 100%;
  height: 118px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.girls-block-text {
  width: 100%;
  position: absolute;
  bottom: 13px; }

.name, .girls-characters-left, .girls-characters-right {
  text-align: center;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400; }

.girls-characters-left, .girls-characters-right {
  text-align: left;
  float: left;
  padding-top: 8px; }
  .girls-characters-left span, .girls-characters-right span {
    display: block;
    color: #e9d456;
    font-size: 16px; }
  .girls-characters-left span:nth-child(2), .girls-characters-right span:nth-child(2) {
    padding-top: 5px; }
  .girls-characters-left i, .girls-characters-right i {
    font-style: normal;
    font-weight: 300;
    color: #fff; }

.girls-characters-left {
  margin-right: 30px;
  padding-left: 30px; }

.girls-button {
  margin-top: 50px;
  text-align: center; }
  .girls-button a {
    background-color: #f3e06b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    padding: 11px 16px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .girls-button a:hover {
    background-color: #cfba3f; }

.hidden-content {
  display: none; }

/************************************************Programms*********************************/
#programms {
  width: 100%;
  min-height: 1288px;
  background-image: url("../img/programs-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 50px; }
  #programms .section-header {
    margin-bottom: 50px; }

.container-programms {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.programms-block {
  width: 347px;
  height: 512px;
  position: relative;
  cursor: pointer; }

.programms-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.programms-block:hover .programms-overlay {
  opacity: 1; }

.programms-block-text {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 55px;
  z-index: 100; }
  .programms-block-text .programms-block-text-header {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #e9d456;
    font-weight: 400;
    height: 57px;
    display: block; }
  .programms-block-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    padding: 0px 23px;
    margin-top: 20px; }
  .programms-block-text img {
    text-align: center;
    display: block;
    margin: 0 auto; }
  .programms-block-text hr {
    width: 280px;
    height: 1px;
    border: none;
    background-color: #e9d456;
    background: #e9d456;
    display: inline-block; }

.text-middle {
  height: 200px; }

.programms-block-character {
  text-align: left;
  padding-left: 30px; }
  .programms-block-character img {
    display: inline-block;
    margin-right: 10px; }
  .programms-block-character span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300; }

.programms-block-ch {
  margin-bottom: 10px; }

.programms-block-ch-left {
  display: inline-block; }

.programms-block-ch-right {
  display: inline-block;
  padding-left: 45px; }

/************************************************Membership*********************************/
#membership {
  width: 100%;
  min-height: 585px;
  background-image: url("../img/membership-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 45px;
  background-size: 100% 100%; }
  #membership .col-lg-6 img {
    margin-top: 15px; }

.left-button {
  margin-left: 26px; }

.right-button {
  margin-left: 90px; }

/************************************************Interior*********************************/
#interior {
  width: 100%;
  min-height: 734px;
  background-image: url("../img/interior-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: visible !important;
  padding-top: 45px; }

.owl-wrap {
  width: 100%;
  height: 600px;
  margin: 35px auto; }

.owl-carousel .owl-stage-outer {
  overflow: visible !important; }

.owl-carousel {
  width: 970px;
  margin: 0 auto;
  overflow-x: hidden;
  padding-top: 100px;
  position: static; }

.owl-item {
  width: 400px !important;
  height: 280px !important; }
  .owl-item img {
    width: 100%;
    height: 100%;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }

.center {
  z-index: 1000; }
  .center img {
    -webkit-transform: scale(1.425, 1.4607) !important;
    -moz-transform: scale(1.425, 1.4607) !important;
    -o-transform: scale(1.425, 1.4607) !important;
    -ms-transform: scale(1.425, 1.4607) !important;
    transform: scale(1.425, 1.4607) !important;
    -webkit-backface-visibility: hidden;
      -webkit-backface-visibility--ms-transform: translateZ(0);
      -webkit-backface-visibility--webkit-transform: translateZ(0);
      -webkit-backface-visibility-transform: translateZ(0);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }

.owl-next {
  background-image: url("../img/next-arrow.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 36px;
  position: absolute;
  top: 40%;
  right: 0px;
  margin-right: 0px; }

.owl-next:hover, .owl-next:active, .owl-next:focus {
  background-image: url("../img/next-arrow-y.png"); }

.owl-prev:hover, .owl-prev:active, .owl-prev:focus {
  background-image: url("../img/prev-arrow-y.png"); }

.owl-prev {
  background-image: url("../img/prev-arrow.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 36px;
  top: 40%;
  left: 0px;
  margin-left: 0px;
  position: absolute; }

.owl-dots {
  text-align: center;
  margin-top: 100px; }
  .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 18px;
    background-color: #fff;
    border-radius: 50%; }
  .owl-dots .active {
    background-color: #e9d456; }

/************************************************About*********************************/
#about {
  width: 100%;
  min-height: 599px;
  background-image: url("../img/about-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 45px; }

#about-form {
  margin-top: 36px; }
  #about-form input {
    width: 470px;
    height: 55px;
    border: none;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; }
  #about-form textarea {
    border: none;
    width: 470px;
    height: 170px;
    resize: none;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px; }
  #about-form input, #about-form textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #414141;
    font-weight: 300; }
  #about-form button {
    width: 470px;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #414141;
    font-weight: 500;
    background-color: #ebd65a;
    border: none;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  #about-form button:hover {
    background-color: #cfba3f; }

.feedback-top {
  float: left;
  display: block;
  width: 100%; }
  .feedback-top span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 400; }
  .feedback-top img {
    margin-right: 40px; }

.f-date {
  float: right;
  line-height: 53px; }

.feedback-wrap {
  margin-top: 36px; }

.feedback {
  padding-left: 117px;
  margin-bottom: 3px;
  margin-bottom: 15px; }
  .feedback hr {
    width: 380px;
    float: right;
    display: block;
    margin: 0px; }

.feedback-bottom {
  display: block;
  float: left; }
  .feedback-bottom p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    margin-top: 10px; }

.feedback-button {
  margin-top: 10px;
  padding-left: 117px; }
  .feedback-button a {
    background-color: #f3e06b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 30px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .feedback-button a:hover {
    background-color: #cfba3f; }

/************************************************Contacts*********************************/
#contacts {
  width: 100%;
  min-height: 437px;
  background-image: url("../img/contacts-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; }
  #contacts .section-header {
    margin-top: 84px; }

#contacts p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  margin-top: 24px; }

#contacts span {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 300; }

.contacts-coor {
  text-align: center; }

.contacts-field {
  margin-top: 16px;
  margin-bottom: 28px;
  text-align: left;
  padding-left: 80px; }

.contacts-field-img {
  width: 30px;
  display: inline-block;
  position: relative;
  top: -5px; }

.marker {
  top: 0px; }

.map {
  margin-top: 40px; }

/************************************************Footer*********************************/
footer {
  background-color: #000;
  min-height: 100px; }

.footer-menu {
  padding-left: 40px;
  margin-bottom: 0px;
  list-style-type: none;
  margin-top: 27px; }
  .footer-menu li {
    display: inline-block;
    padding: 10px; }
  .footer-menu li > a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    padding: 0px; }
  .footer-menu li > a:hover {
    color: #ecd455;
    border-bottom: 1px solid #ecd455; }

/************************************************Modal*********************************/
.hidden_form {
  height: 340px;
  width: 370px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-color: #000;
  border: 1px solid #4b4b4b;
  padding: 15px;
  padding-top: 42px; }

.hidden-form-top {
  text-align: center; }
  .hidden-form-top span {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 300; }
  .hidden-form-top p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px; }

.hidden-form-middle input {
  width: 320px;
  border: 1px solid #4b4b4b;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  padding: 0px 20px;
  background-color: #000;
  margin-bottom: 16px; }

.hidden-form-middle button {
  width: 320px;
  height: 42px;
  background-color: #de3539;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.hidden-form-middle button:hover {
  background-color: #bc272b; }

.mfp-close-btn-in .mfp-close {
  color: #fff;
  opacity: 1; }

/************************************************ModelPage*********************************/
.model-desc {
  padding-top: 30px; }

.middle-model-image, .middle-programma-image {
  margin: 41px 0px; }

.add-page {
  padding-left: 0px;
  padding-top: 30px; }
  .add-page .programms-block-ch-right {
    padding-left: 37px; }

.add-page-block {
  position: static;
  margin-top: 6px; }
  .add-page-block span {
    font-size: 18px; }
  .add-page-block .girls-characters-left {
    padding-left: 0px; }

.model-ch {
  padding-left: 10px; }

.model-previews {
  margin-left: -30px; }

.model-param, .model-opt {
  margin-top: 30px; }

.model-param img {
  position: relative;
  top: -3px; }

.model-ch-name, .programma-desc-header {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 17px;
  color: #fff;
  font-weight: 400; }

.model-param-header, .model-opt-header span {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  padding-left: 16px; }

.model-opt-header img {
  position: relative;
  top: -4px; }

.model-services {
  list-style-type: none;
  padding-left: 0px;
  display: inline-block;
  margin-top: 5px;
  margin-right: 50px; }
  .model-services li {
    background-image: url("../img/like.png");
    background-repeat: no-repeat;
    background-position: center left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    padding-left: 37px;
    margin-top: 5px; }

.model-ch-button {
  margin-top: 65px; }
  .model-ch-button a {
    background-color: #f3e06b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #414141;
    font-weight: 500;
    text-transform: uppercase;
    padding: 11px 30px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .model-ch-button a:hover {
    background-color: #cfba3f; }

.model-programms {
  margin-top: 30px; }

.model-programms-wrap {
  border-top: 1px solid #e9d456;
  border-bottom: 1px solid #e9d456;
  padding-top: 10px;
  padding-bottom: 7px; }

.model-programms-block {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding-top: 20px; }
  .model-programms-block span {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
  .model-programms-block p {
    font-size: 16px;
    font-weight: 300;
    line-height: 36px; }

.add-page-feed {
  padding-left: 0px; }
  .add-page-feed hr {
    width: 1080px; }

.model-feeds {
  padding-top: 33px; }

/************************************************ProgrammaPage*********************************/
.programma-desc {
  padding-top: 30px; }

.programma-desc-header {
  text-transform: uppercase; }

.programma-desc-text {
  padding-left: 16px; }
  .programma-desc-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    font-weight: 300;
    margin-top: 27px;
    margin-bottom: 21px; }

.programms-block-character-page {
  padding-left: 16px;
  display: inline-block; }

.programma-desc .col-lg-8 .programms-block-character-page:nth-child(3) {
  padding-left: 120px; }

.programma-desc-button {
  margin-top: 40px;
  padding-left: 16px; }
  .programma-desc-button a {
    background-color: #f3e06b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #414141;
    font-weight: 500;
    text-transform: uppercase;
    padding: 11px 30px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .programma-desc-button a:hover {
    background-color: #cfba3f; }

/************************************************ContactsPage*********************************/
.contacts-page {
  padding-top: 30px;
  padding-bottom: 50px; }
  .contacts-page p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    font-weight: 300; }
  .contacts-page .breadcrumb {
    margin-bottom: 8px; }

.contacts-header {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  font-weight: 300; }

.contacts-info {
  margin-top: 20px; }
  .contacts-info span {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    font-weight: 400;
    display: block; }
  .contacts-info a {
    color: #ecd455;
    text-decoration: underline; }

.contacts-map {
  margin-top: 26px; }

/************************************************TypicalPage*********************************/
.typ-page {
  padding-top: 30px; }
  .typ-page .breadcrumb {
    margin-bottom: 0px; }
  .typ-page h1 {
    margin-top: 10px;
    margin-bottom: 7px; }
  .typ-page h2, .typ-page h3 {
    margin-bottom: 5px; }

.typ-block h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  line-height: 36px;
  color: #fff;
  font-weight: 300; }

.typ-block h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  font-weight: 300; }

.typ-block h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: #fff;
  font-weight: 300; }

.typ-block p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
  font-weight: 300; }

.typ-options {
  margin-top: 17px; }
  .typ-options input {
    display: none; }
  .typ-options input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #e9d456; }
  .typ-options input[type="checkbox"]:checked + label span {
    background-image: url("../img/checked.png");
    background-repeat: no-repeat;
    background-position: center center; }
  .typ-options span {
    position: relative;
    top: 3px;
    margin-right: 20px; }
  .typ-options label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #e9d456;
    font-weight: 300; }

.cb-list {
  list-style-type: none;
  padding-left: 0px;
  display: inline-block; }
  .cb-list li {
    margin: 5px 0px; }

.num-list {
  padding-left: 0px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #e9d456;
  font-weight: 300;
  margin-left: 160px; }
  .num-list li {
    margin: 12px; }

.typ-media {
  padding-bottom: 40px; }

.video-block {
  width: 370px;
  height: 237px;
  position: relative;
  margin-top: 15px; }

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45); }

.play {
  width: 62px;
  height: 62px;
  background-image: url("../img/play-button.png");
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.play:hover {
  cursor: pointer;
  opacity: 0.7; }

.gb-typ-page {
  margin: 0px;
  margin-top: 40px; }

.hidden {
  display: none; }
