@media only screen and (min-width : 0px) and (max-width : 479px) {

	.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus{
		border: none;
		margin-top: 14px;
		margin-bottom: 14px;
		background-color: transparent;
	}	

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #5d9031;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background-color: #fff;
	}

	.navbar-default .navbar-nav > li > a{
		color: #000;
	}

	header{
		height: 60px;
	}

	.navbar-nav{
		float: none;
		text-align: center;
	}

	.navbar-nav li{
		float: none;	
	}

	.feed-phone{
		float: none;
		margin: 0 auto;		
		display: inline-block;
	}

	.feed-phone i{
		top: 0px;
	}

	.feed-phone-text{
		top: 5px;
	}

	.first-add-back{
		background-image: none!important;
	}

	.main-header{
		padding-top: 5px;
		padding-left: 10px;
	}

	.main-header h1 br{
		display: none;
	}

	.main-header h1{
		font-size: 30px;
		line-height: 39px;
		letter-spacing: 1px;
		margin-top: 10px;
	}

	.main-header-content p{
		font-size: 22px;
		line-height: 24px;
	}

	#first-form{
		width: 100%;
	}

	.first-form-header p{
		font-size: 16px;
	}

	.main-header-icons{
		display: none;
	}

	.main-header-content{
		background-image: none!important;
	}

	.main-header-content{
		padding-left: 12px;
	}

	#first-form{
		margin-top: 10px;
	}

	.first-form-header{
		padding-top: 0px;
		height: 110px;
	}

	.slide-wrap{
		background-position: right 0px;
	}

	body h2{
		font-size: 26px;
		line-height: 30px;
		letter-spacing: 1px;
	}

	.navbar-default .navbar-collapse{
		position: absolute;
		width: 127%;
		left: -69px;
	}

	.center .slider-text{
		left: 20px;
	}

	.projects-center-image{
		display: none;
	}

	.line{
		display: none;
	}

	.projects-icons .projects-icons-block{
		top: 0!important;
		right: 0!important;
		left: 0!important;
		bottom: 0!important;
		margin-top: 0px!important;
		width: 50%;
		margin-bottom: 60px;
	}

	.projects{		
		position: relative;
	}

	.projects-button{
		position: absolute;
		bottom: -40px;
		margin: auto;
		right: 0px;
		left: 0px;
	}

	.packets-left, .packets-right, .packets-center{
		float: none;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 160px;
		background-color: #fff;
	}
	
	.packets-right{
		margin-bottom: 30px;
	}

	.packets-programm{
		margin-top: 50px;
		width: 100%;
		height: 245px;
	}

	.packets-programm-button{
		text-align: center;
		margin-right: 0px;
	}

	.packets-programm a{
		float: none;
		display: inline-block;
		margin-top: 20px;		
	}

	.packets-programm p{
		padding-left: 15px;
		padding-right: 15px;
		float: none;
	}

	.projects-button{
		display: none;
	}

	.packets-center h3{
		font-size: 28px;
	}

	.calc-top{
		margin-left: 0px;
	}

	.calc-top p, .calc-top strong{
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 1px;
	}

	.calc-top input{
		margin: 20px 20px 0 0;
		height: 40px;
		display: block;
		width: 200px;
	}

	.calc-top strong{
		top: 27px;
	}

	.calc-top p{
		top: 3px;
	}

	#slider-range-min{
		margin-left: 0px;
		width: 100%;
		max-width: 650px;
	}

	.calc-bottom-text p{
		padding: 0 20px;
	}

	.calc-block{
		width: 100%;
		max-width: 310px;
	}

	#transit-form{
		width: 100%;
		max-width: 400px;
		height: 316px;
		margin: 0px auto;
	}

	.transit-form-top{		
		text-align: center;
	}

	#transit-form button{
		margin-top: 0px;
	}

	.transit{
		padding: 0px 0px;
	}

	#transit-form input{
		display: block;
		margin-top: 0px;		
		margin: 0 auto 20px;
	}

	.transit-form-top{
		padding-top: 20px;
		padding-left: 0px;		
	}

	#transit-form p{
		font-size: 10px;
		padding-left: 10px;
	}

	#desc{
		background-image: none!important;
	}

	.desc-right{
		width: 100%;
		max-width: 370px;
		height: 515px;
		background-size: 100% 100%;
	}

	.desc-right-bottom ul{
		padding-left: 10px;
	}

	.desc-icon-text{
		margin-top: 0px;
	}

	.desc-icon-text p{
		width: 100%;
	}

	.desc-icon-text span{
		font-size: 19px;
	}

	
	#scheme{
		background-image: none!important;
	}

	.desc-text-block{
		width: 100%;
	}

	.desc-icons-sec{
		border: none;
	}

	.scheme-block img{
		display: none;
	}

	.scheme-block{
		margin-bottom: 30px;
	}

	#scheme .col-xs-6{
		width: 100%;
	}

	.contacts-block{
		margin-left: 0px;
		margin-top: 127px;
	}

	footer .col-xs-6{
		width: 100%;		
	}

	footer{
		min-height: 220px;
	}

	.footer-right{
		text-align: center;
	}

	.left-modal{
		width: 100%;
		min-height: 270px;
	}

	.right-modal{
		width: 100%;
		background-color: #fff;
		box-shadow: 0 0 20px rgba(0,0,0,0.3);
	}

	.hidden_form{
		width: 100%;
	}
	
}

@media only screen and (min-width : 480px) and (max-width : 767px){

	.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus{
		border: none;
		margin-top: 14px;
		margin-bottom: 14px;
		background-color: transparent;
	}	

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #5d9031;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background-color: #fff;
	}

	.navbar-default .navbar-nav > li > a{
		color: #000;
	}

	header{
		height: 60px;
	}

	.navbar-nav{
		float: none;
		text-align: center;
	}

	.navbar-nav li{
		float: none;	
	}

	.feed-phone{
		float: none;
		margin: 0 auto;		
		display: inline-block;
	}

	.feed-phone i{
		top: 0px;
	}

	.feed-phone-text{
		top: 5px;
	}

	.first-add-back{
		background-image: none!important;
	}

	.main-header{
		padding-top: 5px;
		padding-left: 10px;
	}

	.main-header h1 br{
		display: none;
	}

	.main-header h1{
		font-size: 37px;
		line-height: 39px;
	}

	.main-header-icons{
		display: none;
	}

	.main-header-content{
		background-image: none!important;
	}

	.main-header-content{
		padding-left: 12px;
	}

	#first-form{
		margin-top: 10px;
	}

	.first-form-header{
		padding-top: 0px;
		height: 110px;
	}

	.slide-wrap{
		background-position: 0px 0px;
	}

	body h2{
		font-size: 30px;
	}

	.navbar-default .navbar-collapse{
		position: absolute;
		width: 100%;
	}

	.projects-center-image{
		display: none;
	}

	.line{
		display: none;
	}

	.projects-icons .projects-icons-block{
		top: 0!important;
		right: 0!important;
		left: 0!important;
		bottom: 0!important;
		margin-top: 0px!important;
		width: 50%;
		margin-bottom: 60px;
	}

	.projects{		
		position: relative;
	}

	.projects-button{
		position: absolute;
		bottom: -40px;
		margin: auto;
		right: 0px;
		left: 0px;

	}

	.packets-left, .packets-right, .packets-center{
		float: none;
		width: 400px;
		margin: 0 auto;
		margin-bottom: 160px;
		background-color: #fff;
	}
	
	.packets-right{
		margin-bottom: 30px;
	}

	.packets-programm{
		margin-top: 50px;
		width: 450px;
		height: 175px;
	}

	.packets-programm-button{
		text-align: center;
	}

	.packets-programm a{
		float: none;
		display: inline-block;
		margin-top: 20px;		
	}

	.packets-programm p{
		padding-left: 15px;
		padding-right: 15px;
	}

	.calc-top{
		margin-left: 0px;
	}

	.calc-top p, .calc-top strong{
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 1px;
	}

	.calc-top input{
		margin: 0px 30px;
		height: 40px;
	}

	.calc-top strong{
		top: 9px;
	}

	.calc-top p{
		top: 3px;
	}

	#slider-range-min{
		margin-left: 0px;
		width: 100%;
		max-width: 650px;
	}

	.calc-bottom-text p{
		padding: 0 20px;
	}

	#transit-form{
		width: 450px;		
		height: 300px;
		margin: 0px auto;
	}

	.transit-form-top{		
		text-align: center;
	}

	#transit-form button{
		margin-top: 0px;
	}

	.transit{
		padding: 0px 0px;
	}

	#transit-form input{
		display: block;
		margin-top: 0px;		
		margin: 0 auto 20px;
	}

	.transit-form-top{
		padding-top: 20px;
		padding-left: 0px;		
	}

	#transit-form p{
		font-size: 10px;
		padding-left: 10px;
	}

	#desc{
		background-image: none!important;
	}

	
	#scheme{
		background-image: none!important;
	}

	.desc-text-block{
		width: 100%;
	}

	.desc-icons-sec{
		border: none;
	}

	.scheme-block img{
		display: none;
	}

	.scheme-block{
		margin-bottom: 30px;
	}

	.contacts-block{
		margin-left: 150px;
		margin-top: 127px;
	}

	.left-modal{
		width: 100%;
		min-height: 270px;
	}

	.right-modal{
		width: 100%;
		background-color: #fff;
		box-shadow: 0 0 20px rgba(0,0,0,0.3);
	}

	.hidden_form{
		width: 360px;
	}


}

@media only screen and (min-width : 768px) and (max-width : 991px){

	.first{
		margin-top: -120px;
	}

	.navbar-nav{
		float: none;
		text-align: center;
	}

	.navbar-nav li{
		float: none;
		display: inline-block;
	}

	.nav > li > a{
		padding: 10px 30px;
	}

	.first-add-back{
		background-image: none!important;
	}

	#first-form{
		width: 100%;
		margin-top: 40px;
	}

	.main-header{
		padding-top: 70px;
	}

	.first-form-header{
		padding-top: 10px;
		height: 70px;
	}

	.first-form-header span{
		font-size: 20px;
	}

	.first-form-header p{
		font-size: 14px;
		line-height: 16px;
		margin-top: 0px;
	}

	.first-form-header p br, .first-form-footer p br {
		display: none;
	}

	.first-form-content{
		padding-bottom: 10px;
	}

	.first-form-content button{
		margin-top: 20px;
	}

	

	.projects-icons .projects-icons-block:nth-child(1) {
 		position: relative;
    	right: -5px;
    	top: -65px;
	}

	.projects-icons .projects-icons-block:nth-child(4) {
 		position: relative;
    	top: -65px;
    	left: -5px;
	}

	.projects-icons .projects-icons-block:nth-child(1) .line img, .projects-icons .projects-icons-block:nth-child(4) .line img{
		top: 17px;
	}

	.projects-icons .projects-icons-block:nth-child(2) .line img{
		right: -50px;
	}

	.projects-icons .projects-icons-block:nth-child(3) .line img{
		left: -45px;
	}

	.packets-center .circle{
		width: 180px;
		height: 180px;
		top: -90px;
	}

	.packets-center .circle p{
		font-family: 'PT Sans', sans-serif;
		font-size: 24px;
		line-height: 20px;
		color: #fff;
		font-weight: 600;
		letter-spacing: 3.2px;
		padding-left: 0px;
	}

	.packets-center .circle strong{
		font-size: 70px;		
		letter-spacing: 0px;
	}

	.packets-center .circle i{
		font-style: normal;
		font-size: 45px;
	}

	.packets-center .circle{
		padding-top: 34px;
		padding-left: 20px;
	}

	.packets-center h3{		
		padding-left: 0px;
	}

	.packets-center-content p, .packets-center-content strong{
		padding-left: 20px;
	}

	.packets-left-content h3, .packets-right-content h3, .packets-center h3{
		font-size: 24px;
	}

	.packets-center-content .packets-left-button{
		margin-top: 50px;
	}

	.owl-nav{
		left: 54%;
	}

	.packets-programm{
		width: 100%;
	}

	.packets-programm a{
		font-size: 14px;
	}

	.packets-programm p{
		font-size: 15px;
	}

	.calc-top{
		margin-left: 0px;
	}

	#slider-range-min{
		margin-left: 15px;
	}

	.packets-programm-button{
		margin-right: 15px;
	}

	.calc-block{
		width: 96%;
	}

	.calc-block-middle-icon img{
		width: 200px;
		height: auto;
	}

	.calc-block-middle-icon-content{
		padding-top: 53px;
	}

	.calc-block-middle-content ul{
		padding-left: 10px;
	}

	.calc-block-middle-content ul li{
		font-size: 13px;
	}

	.calc-block-middle-content p{
		font-size: 12px;
	}

	.calc-bottom-text p{
		padding: 0 50px;
	}

	#transit-form{
		width: 100%;
		height: 185px;
	}

	.transit-form-top{		
		text-align: center;
	}

	#transit-form button{
		margin-top: 20px;
	}

	.transit{
		padding: 40px 0px;
	}

	#desc{
		background-image: none!important;
	}

	.desc-icons img{
		float: none;		
		
		display: block;
		margin-bottom: 30px;		
	}

	.scheme-block img{
		display: none;
	}

	.scheme-block{
		margin-bottom: 30px;
	}

	#scheme{
		background-image: none!important;
	}


}

@media only screen and (min-width: 992px) and (max-width: 1199px){

	.first-add-back {
    	background-image: none!important;
	}	

	.main-header{
		padding-left: 0px;
	}

	.main-header-content{
		padding-left: 0px;
		background-position: top 20px right 51px;
	}

	.projects-icons .projects-icons-block:nth-child(1) {
 		position: relative;
    	right: -50px;
    	top: -65px;
	}

	.projects-icons .projects-icons-block:nth-child(4) {
 		position: relative;
    	top: -65px;
    	left: -50px;
	}

	.projects-icons .projects-icons-block:nth-child(1) .line img, .projects-icons .projects-icons-block:nth-child(4) .line img{
		top: 17px;
	}

	.projects-icons .projects-icons-block:nth-child(2) .line img{
		right: -27px;
	}

	.projects-icons .projects-icons-block:nth-child(3) .line img{
		left: -17px;
	}

	#slider-range-min{
		width: 520px;
	}

	.calc-bottom-text p{
		padding: 0 120px;
	}

	.desc-text-block{
		float: none;
		width: 90%;
	}

	.desc-icon-text span{
		font-size: 22px;
	}

	.desc-icon-text p{
		width: 100%;
	}

	#desc{
		background-image: none!important;
	}

	.scheme-block img{
		display: none;
	}

	#scheme{
		background-image: none!important;
	}


}


@media only screen and (min-width: 1200px) and (max-width: 1919px){

	.first-add-back{
		background-position: center left -250px;
	}

	#scheme{
		background-position: top 30px right -180px;
	}
}