@import "bourbon/bourbon"

body
	min-width: 320px
	max-width: 1700px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	margin: 0 auto
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
ul
	list-style-type: none
	padding-left: 0px

$ubun: 'ubuntu', sans-serif
$taur: 'Taurus_Normal', sans-serif
$e-r: 'europenormal', sans-serif
$e-b: 'europebold', sans-serif


/*******************************************Header*************************************/
header
	min-height: 109px	
.logo
	margin-top: 11px
	span
		font-family: $taur
		font-size: 53px
		color: #131728
	i
		font-style: normal
		color: #ffcd00
.main-menu
	margin-top: 47px
	margin-right: -48px
	float: right
	li
		display: inline-block
		padding-right: 21px		
		a
			font-family: $e-r
			font-size: 16px
			color: #000033
		a:hover
			border-bottom: 1px solid #ffcd00
.main-menu ul li:last-child
	padding-left: 22px
.main-menu ul li:nth-child(2)
	position: relative
	left: 10px
.main-menu ul li:nth-child(1)
	margin-left: -10px
.phones
	margin-top: 35px
	margin-right: 45px
	text-align: right
	span
		display: block
		font-family: "Trebuchet MS", Helvetica, sans-serif
		font-size: 16px
		font-weight: bold
		color: #131728
		line-height: 22px
	i
		font-style: normal
		color: #ffcc00
		font-weight: normal
.other-page .main-menu
	float: none
	text-align: center
	li
		padding: 0px 10px!important
		margin: 0px!important
		left: 0px!important
.other-page .phones i
	color: #5966a9

/*******************************************MenuShop*************************************/
.menu-shop
	width: 100%
	min-height: 50px
	background-color: #131728
	position: relative
.catalog-menu
	position: absolute
	top: 50px 
	left: 57px
	width: 225px
	height: 385px
	border-radius: 0px 0px 10px 10px
	background-color: #131728
	z-index: 1000
	padding-top: 36px	
	padding-left: 23px
	display: none
	li
		margin-bottom: 13px
	a
		font-family: 'Open Sans', sans-serif
		font-size: 18px
		color: #fff
		line-height: 18px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	a:hover
		color: #ffcd00
.catalog
	float: right
	p
		float: right
		font-family: $e-r
		font-size: 13px
		text-transform: uppercase
		color: #fff
		position: relative
		right: 16px
		top: 12px
		line-height: 15px
.basket
	margin-left: 80px	
	img
		display: inline-block
		position: relative
		margin-top: -26px
		margin-left: -47px
.basket-content
	display: inline-block	
	i
		font-style: normal
	a
		display: inline-block
		font-family: $e-r
		font-size: 13px
		color: #fff
		border-bottom: 1px solid #fff
		margin-left: 51px
		line-height: 10px
	span
		display: block
		font-family: 'Century Gothic', sans-serif
		font-size: 13px			
		margin-left: 17px
		line-height: 20px
		position: relative
		margin-top: -7px
		color: #c4c5e7
#search-form
	width: 648px
	height: 41px
	margin-left: -33px
	margin-top: 6px
	position: relative
	z-index: 10
	input
		width: 100%
		height: 100%
		border: none
		padding-left: 20px
		padding-right: 100px
		font-size: 16px
	button	
		width: 93px
		height: 37px
		position: absolute
		top: 2px
		right: 2px
		border: none
		background-color: #ffcc00
		font-family: 'Century Gothic', sans-serif
		font-size: 19px
		text-align: center
		text-shadow: 0.5px 0 0 #000
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	button:hover
		opacity: 0.7
.decor-1
	position: absolute
	top: 14px
	margin-left: -33px
.decor-2
	position: absolute
	top: 0px
	right: 0px
	margin-left: -33px
	margin-top: -15px


/*******************************************FirstScreen*************************************/
.first-screen
	width: 100%
	height: 491px
	background-image: url('../img/main-bg.jpg')
	background-repeat: no-repeat
	background-position: center center
.main-header
	width: 639px
	height: 327px
	background-image: url('../img/header-bg.png')
	margin-top: 61px
	margin-left: 322px
	position: relative
	h1
		font-family: $e-b
		font-size: 50px
		color: #fff
		padding-top: 95px
		padding-left: 116px
		line-height: 61px
		transform: scaleX(1.35)
	hr
		width: 4px
		height: 172px
		position: absolute
		top: 72px
		left: 0px
		border: none
		background-color: #fff

/*******************************************Category*************************************/
.category
	padding-top: 44px
	min-height: 815px
.category-block 	
	a
		font-family: $e-r
		font-size: 18px
		color: #fff
		position: relative		
		top: 47px
		z-index: 50
		text-align: center
		display: block	
		text-align: left
		line-height: 22px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	a:hover
		color: #ffcc00		
.category-block-image
	height: 186px
	text-align: center
.category-menu img
	margin-left: 85px
	margin-top: -38px
	position: relative
	z-index: 10
.cm-sec img
	margin-top: 32px
.category .row .col-lg-2:nth-child(1) 
	img
		position: relative
		top: 30px
	a
		top: 59px
		padding-left: 56px
.category .row .col-lg-2:nth-child(2) 
	img
		position: relative
		top: 41px
	a
		top: 47px
		padding-left: 29px
.category .row .col-lg-2:nth-child(3) 
	img
		position: relative
		top: 36px
	a
		top: 47px
		padding-left: 9px
.category .row .col-lg-2:nth-child(4) 
	img
		position: relative
		top: 17px
		left: 25px
	a
		top: 47px
		padding-left: 62px
.category .row .col-lg-2:nth-child(6) 
	img
		position: relative
		top: 68px
		left: 5px
	a
		top: 113px
		padding-left: 52px
.category .row .col-lg-2:nth-child(7) 
	img
		position: relative
		top: 57px
		left: 5px
	a
		top: 113px
		padding-left: 18px
.category .row .col-lg-2:nth-child(8) 
	img
		position: relative
		top: 90px
		left: 5px
	a
		top: 103px
		padding-left: 13px
.category .row .col-lg-2:nth-child(9) 
	img
		position: relative
		top: 33px
		left: 30px
	a
		top: 103px
		padding-left: 60px


/*******************************************Benefits*************************************/
.benefits
	width: 100%
	min-height: 286px
	background-color: #f8f8f8
	padding-top: 40px
.benefits-block 
	text-align: center
	img
		display: block
		margin: 0 auto
		position: relative
	span
		font-family: $e-r
		font-size: 20px
		line-height: 26px
		color: #000033
		text-shadow: 1px 0 0 #000033
		display: block
		position: relative
	span::after
		content: ''
		display: inline-block
		vertical-align: box
		width: 1px
		height: 67px
		background: #f6d889
		position: absolute
		top: -11px
		right: 20px
.benefits-block-image
	height: 143px
.benefits .row .col-lg-2:nth-child(1) .benefits-block
	margin-right: -80px
	img
		top: 5px
	span::after
		right: 25px
.benefits .row .col-lg-2:nth-child(2) .benefits-block
	margin-right: -80px
	img
		top: 15px
.benefits .row .col-lg-3 .benefits-block
	margin-right: -28px
	img
		top: 30px
	span::after
		right: 16px
.benefits .row .col-lg-2:nth-child(4) .benefits-block
	margin-right: 0px
	img
		top: 30px
	span::after
		display: none


/*******************************************Offer*************************************/
.offer
	min-height: 419px
.offer-left
	width: 51%	
	float: left
.offer-left-top
	width: 100%
	height: 289px
	background-color: #181c2c		
	p		
		float: right
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		line-height: 19px
		color: #fff
		width: 56%
		padding-top: 38px	
		height: 204px
			
	i
		font-style: normal
		color: #ffcd00
	span
		display: block
		width: 100%
		height: 76px
		line-height: 76px
		float: right
		text-align: right
		background-color: #1c2335
		font-family: 'Century Gothic', sans-serif
		font-size: 32px
		color: #fff
		font-weight: bold
		padding-right: 27px
		border-top: 1px solid #fff
.offer-left-bottom
	height: 129px	
	float: right	
	img
		display: inline-block
		position: relative
		top: 14px
		margin-right: 32px
	.offer-phones
		display: inline-block
		position: relative
		top: 34px
		right: 33px
		span
			display: block
			font-family: $e-b
			font-size: 24px	
			line-height: 30px
			color: #121e33		
.offer-right
	width: 49%
	height: 419px
	float: left	
	overflow: hidden
.offer-right img
	width: 100%
	height: 100%


/*******************************************Map*************************************/
.map
	min-height: 566px
	position: relative
.map-left
	width: 51%
	position: absolute
	top: 0
	left: 0
.map-right
	width: 49%
	position: absolute
	top: 0
	left: 51%
.map-block
	width: 650px
	height: 86px
	margin-left: 275px
	position: relative
	span
		font-family: $ubun
		font-size: 24px
		line-height: 24px
		color: #fff
		display: block
	a
		font-family: $ubun
		font-size: 16px
		line-height: 18px
		color: #fff		
		text-decoration: underline
		letter-spacing: -0.7px
	img
		position: absolute
		top: -9px
		left: 248px
.map-block-left
	width: 50%
	height: 100%
	float: left
	background-color: #00071f
	padding-top: 24px
	padding-left: 24px
.map-block-right
	width: 50%
	height: 100%
	float: left
	background-color: #111e32
	text-align: right
	padding-top: 24px
	padding-right: 20px


/*******************************************Map*************************************/
footer
	width: 100%
	min-height: 75px
	background-color: #fff
	text-align: right	
	padding-top: 5px
	margin-right: -120px

/*******************************************CatalogPage*************************************/
.catalog-page
	min-height: 555px
	padding-top: 20px
	padding-right: 50px
.page-row
	position: relative	
.catalog-page-main
	width: 630px
	min-height: 405px
.cpmb-image		
	width: 154px	
	height: 150px
	display: table-cell
	vertical-align: bottom	
	text-align: center
.catalog-page-main-block
	display: inline-block
	width: 24.5%	
	position: relative
.cpmb-desc
	margin-top: 10px	
	a
		font-family: 'Open Sans', sans-serif
		font-size: 14px
		color: #091024
		border-bottom: 1px solid #d5d5d7		
	a:hover
		border-bottom: none
	span
		font-family: 'Open Sans', sans-serif
		font-size: 12px
		color: #7e7f80				
		display: block
		padding-left: 30px
		margin-top: -2px
	p
		font-family: 'Century Gothic', sans-serif
		font-size: 14px 
		color: #ff0018
		font-weight: bold
		display: block
		padding-left: 50px
		margin-top: -5px
	.basket-link
		border-bottom: none
		position: absolute
		bottom: 15px
		right: 20px

/*******************************************ContactsPage*************************************/
.contacts-page-main
	min-height: 268px
	position: relative	
.cpmain-header
	width: 51%
	height: 35px
	background-color: #1c2335
	position: absolute
	top: 0
	left: 0
.cpmain-header-right
	width: 49%
	height: 35px
	background-color: #131728
	position: absolute
	top: 0
	right: 0
.cpmain-left-form-header, .cpmain-right-form-header
	font-family: 'Open Sans', sans-serif
	font-size: 16px
	color: #fff
	font-weight: 600
	padding-left: 201px
	padding-top: 8px
	i
		font-style: normal
		color: #ffcc00
.cpmain-right-form-header
	padding-left: 10px
.cpmain-left-form, .cpmain-right-form
	margin-top: 30px
	padding-left: 214px
	.form-field
		margin-bottom: 8px
	span
		display: block
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		color: #121e33
		text-shadow: 0.5px 0 0 #121e33
	input
		width: 241px
		height: 31px
		border: 1px solid #464f60
		padding-left: 10px
		padding-right: 10px
	::-webkit-input-placeholder 
		font-family: 'Open Sans', sans-serif
		font-size: 9px
		color: #aaaaa9
	::-moz-placeholder
		font-family: 'Open Sans', sans-serif
		font-size: 9px
		color: #aaaaa9
	:-moz-placeholder 
		font-family: 'Open Sans', sans-serif
		font-size: 9px
		color: #aaaaa9
	:-ms-input-placeholder      
		font-family: 'Open Sans', sans-serif
		font-size: 9px
		color: #aaaaa9
	button
		width: 174px
		height: 31px
		border: none
		background-color: #121e33
		font-family: $e-b
		font-size: 16px
		color: #fff		
		display: block
		margin-top: 18px
		text-align: left
		padding-left: 20px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
		i
			font-style: normal
			color: #ffcd00
	button:hover
		opacity: 0.7
	textarea
		display: block
		width: 241px
		height: 65px
		border-left: 1px solid #464f60
		border-right: 1px solid #464f60
		border-bottom: 1px solid #464f60
		border-top: none
		padding: 6px 8px
.cpmain-right-form
	padding-left: 20px

/*******************************************BasketPage*************************************/
.basket-page
	min-height: 570px
	padding-bottom: 0px
.basket-choice-image
	width: 100%
	height: 114px
	padding-left: 15px
.basket-choice-desc
	text-align: right
	width: 160px	
	span
		padding-left: 7px		
		font-family: 'Open Sans', sans-serif
		font-size: 10px
		color: #7e7f80	
		position: relative
		top: -10px		
		right: 2px
	a
		padding-left: 7px		
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		color: #091024
		text-decoration: underline
#basket-main
	float: right
	margin-top: 66px
	width: 803px
	th
		height: 50px
		font-family: $e-r
		font-size: 18px
		color: #898889
		border-bottom: 2px solid #ffcd00
		text-align: left
		padding-left: 63px
	td
		height: 173px
		border-bottom: 1px solid #e5e6e7
.basket-col-choice
	width: 30%
.basket-col-price
	width: 20%
	padding-left: 38px!important
.basket-col-number
	width: 30%
	padding-left: 20px!important
.basket-col-summa
	width: 20%
	padding-left: 10px!important	
.basket-price, .basket-summa
	span, p
		font-family: 'Open Sans', sans-serif
		font-size: 18px
		color: #131728
		text-shadow: 0.5px 0 0 #131728
		position: relative
		top: -3px
		left: 35px
.basket-summa
	span
		left: 0px
.basket-number
	width: 151px
	height: 40px
	border: 1px solid #afafbe
	position: relative
	top: -2px
	right: 4px	
	.minus		
		width: 37px
		height: 100%
		border-right: 1px solid #afafbe
		text-align: center		
		font-size: 24px
		display: inline-block
		float: left
	.minus:hover
		cursor: pointer
	.general
		float: left
		display: inline-block
		font-size: 18px		
		line-height: 40px
		position: relative		
		text-align: center
		width: 75px	
	.plus
		float: right
		width: 37px
		height: 100%
		border-left: 1px solid #afafbe
		text-align: center		
		font-size: 24px
		display: inline-block
	.plus:hover
		cursor: pointer
#quick-sale
	width: 306px
	height: 348px
	background-color: #1c2335
	margin-top: 115px	
	margin-left: -30px
	.quick-sale-header
		height: 78px
		background-color: #131728	
		text-align: center
		span
			font-family: 'Open Sans', sans-serif
			font-size: 24px
			color: #fff	
			font-weight: 800
			line-height: 78px
		i
			font-style: normal
.quick-sale-field	
	margin-bottom: 20px
	span
		display: block
		font-family: 'Open Sans', sans-serif
		font-size: 18px
		color: #fff
		font-weight: 600
	input
		width: 270px
		height: 33px
		border: none
		padding: 0px 10px		
		margin-top: 2px
	::-webkit-input-placeholder 
		font-family: 'Open Sans', sans-serif
		font-size: 14px
		color: #aaaaa9
	::-moz-placeholder
		font-family: 'Open Sans', sans-serif
		font-size: 14px
		color: #aaaaa9
	:-moz-placeholder 
		font-family: 'Open Sans', sans-serif
		font-size: 14px
		color: #aaaaa9
	:-ms-input-placeholder      
		font-family: 'Open Sans', sans-serif
		font-size: 14px
		color: #aaaaa9
.quick-sale-middle
	width: 100%
	padding-top: 5px
	padding-left: 15px
	button
		width: 160px
		height: 39px		
		background-color: #ffcc00
		border: none
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		color: #1c2335
		font-weight: 400
		display: block
		margin-top: 42px
		margin-left: 55px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	button:hover
		opacity: 0.7

/*******************************************AboutPage*************************************/
.about-page
	min-height: 619px
.about-page-desc
	width: 275px
	height: 619px
	background-color: #1a283e
	margin-left: -16px
.about-page-desc-top
	width: 100%
	height: 310px
	background-color: #091024
	text-align: right
	padding-top: 20px
	span
		font-family: 'Open Sans', sans-serif
		font-size: 28px
		line-height: 28px
		text-transform: uppercase
		color: #fff
		font-weight: 700
		letter-spacing: -2px
		padding-right: 12px
		display: block
		i
			text-decoration: underline
	i
		font-style: normal
		color: #ffcc00
	p
		text-align: left
		font-family: 'Open Sans', sans-serif
		font-size: 20px		
		line-height: 19px
		color: #fff
		font-weight: 400
		padding-left: 25px
		padding-top: 15px
		padding-right: 5px
		letter-spacing: -1.3px
.about-page-desc-bottom
	padding-left: 30px
	padding-top: 15px
	p
		font-family: 'Open Sans', sans-serif
		font-size: 20px		
		line-height: 19px
		color: #fff
		font-weight: 400
		line-height: 19px
		letter-spacing: -1.3px
		padding-right: 10px
	i
		font-style: normal
		color: #ffcc00
.about-page-image 
	margin-left: 59px
	width: 927px
	height: 619px
	img		
		width: 100%
		height: 100%
		


.hidden
	display: none

