@media only screen and (min-width : 0px) and (max-width : 575px) {
	.container-small{
		width: 100%;
	}

	.banner{
		height: 292px;
		background-image:url(../images/main-banner-mobile.jpg);
		padding-top: 183px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.images{
		padding-top: 55px;
	}

	.menu-toggle-button{
		margin-top: 36px;
	}

	.site-header{
		display: flex;
		justify-content: space-between;
		padding-top: 0px;
	}

	.logo{
		position: relative;
		left: 15px;
		margin-left: 0px;
		width: 184px;
	}

	.main-menu-wrap{
		width: auto;
	}

	.main-menu{
		position: absolute;		
		top: 90px;
		right: 0px;		
		margin: 0px;
		width: 100vw;
		background-color: #fff;				
		padding: 0px;
		display: none;
		height: auto;
	}

	.main-menu ul:nth-child(1), .main-menu ul:nth-child(2){
		padding: 0px;
		text-align: center;
		display: block;
	}

	.main-menu li{
		display: block;
		margin: 0px!important;
	}

	.main-menu a{
		color: #394149;
	}

	.site-header.scrolled .logo{
		margin-top: 5px;
		width: 184px;
		margin-top: 10px;
	}

	.site-header.scrolled .menu-toggle-button span, .site-header.scrolled .menu-toggle-button span::before, .site-header.scrolled .menu-toggle-button span::after{
		background: #394149;
	}

	.site-header.scrolled .menu-toggle-button.is-active span{
		background: none;
	}

	.site-header.scrolled .menu-toggle-button{
		margin-top: 20px;
	}

	.site-header.scrolled .main-menu{
		top: 75px;
	}

	h1{
		font-size: 30px;
		letter-spacing: -1px;
	}

	.images-wrap .images-block:last-child{
		margin-bottom: 0px;
	}

	.images-block{
		flex: 0 0 100%;
		height: auto;
		max-width: 261px;
		margin-bottom: 35px;
	}

	.subheader h2 {
		font-size: 23px;
		letter-spacing: 0px;
	}

	.subheader span {
		font-size: 18px;
		display: block;
		margin-top: 18px;
	}

	.images-wrap{
		justify-content: center;
		margin-top: 70px;
	}

}

@media only screen and (min-width : 576px) and (max-width : 767px) {

	.banner{
		height: 400px;
		background-image:url(../images/main-banner-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.container-small{
		width: 100%;
	}

	.images{
		padding-top: 55px;
	}

	.menu-toggle-button{
		margin-top: 36px;
	}

	.site-header{
		display: flex;
		justify-content: space-between;
		padding-top: 0px;
	}

	.logo{
		position: relative;
		left: 15px;
		margin-left: 0px;
		width: 184px;
	}

	.main-menu-wrap{
		width: auto;
	}

	.main-menu{
		position: absolute;		
		top: 90px;
		right: 0px;		
		margin: 0px;
		width: 100vw;
		background-color: #fff;				
		padding: 0px;
		display: none;
		height: auto;
		box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
	}

	.main-menu ul:nth-child(1), .main-menu ul:nth-child(2){
		padding: 0px;
		text-align: center;
		display: block;
	}

	.main-menu li{
		display: block;
		margin: 0px!important;
	}

	.main-menu a{
		color: #394149;
	}

	.site-header.scrolled .logo{
		margin-top: 5px;
		width: 184px;
		margin-top: 10px;
	}

	.site-header.scrolled .menu-toggle-button span, .site-header.scrolled .menu-toggle-button span::before, .site-header.scrolled .menu-toggle-button span::after{
		background: #394149;
	}

	.site-header.scrolled .menu-toggle-button.is-active span{
		background: none;
	}

	.site-header.scrolled .menu-toggle-button{
		margin-top: 20px;
	}

	.site-header.scrolled .main-menu{
		top: 75px;
	}

	h1{
		font-size: 46px;
		letter-spacing: -1px;
	}

	.images-block{
		flex: 0 0 100%;
		height: auto;
		max-width: 261px;
		margin-bottom: 35px;
	}

	.subheader h2 {
		font-size: 32px;
		letter-spacing: 0px;
	}

	.subheader span {
		font-size: 22px;
		display: block;
		margin-top: 18px;
	}

	.images-wrap{
		justify-content: center;
		margin-top: 70px;
	}

	.images-wrap .images-block:last-child{
		margin-bottom: 0px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.container-small{
		width: 100%;
	}

	.site-header{
		display: flex;
		justify-content: space-between;
		padding-top: 0px;
	}

	.logo{
		position: relative;
		left: 30px;
		margin-left: 0px;
	}

	.main-menu-wrap{
		width: auto;
	}

	.main-menu{
		position: absolute;		
		top: 110px;
		right: 0px;		
		margin: 0px;
		width: 100vw;
		background-color: #fff;				
		padding: 0px;
		display: none;
		height: auto;
	}

	.main-menu ul:nth-child(1), .main-menu ul:nth-child(2){
		padding: 0px;
		text-align: center;
		display: block;
	}

	.main-menu li{
		display: block;
		margin: 0px!important;
	}

	.main-menu a{
		color: #394149;
	}

	.site-header.scrolled .logo{
		margin-top: 5px;
	}

	.site-header.scrolled .menu-toggle-button span, .site-header.scrolled .menu-toggle-button span::before, .site-header.scrolled .menu-toggle-button span::after{
		background: #394149;
	}

	.site-header.scrolled .menu-toggle-button.is-active span{
		background: none;
	}

	.site-header.scrolled .menu-toggle-button{
		margin-top: 20px;
	}

	.site-header.scrolled .main-menu{
		top: 75px;
	}

	h1{
		font-size: 62px;
	}

	.images-block{
		flex: 0 0 32%;
		height: auto;
	}

	.subheader h2 {
		font-size: 42px;
	}

	.subheader span {
		font-size: 24px;
	}
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.container-small{
		width: 100%;
		padding: 0px 30px;
	}

	h1{
		font-size: 80px;
	}

	.images-block{
		flex: 0 0 32%;
		height: auto;
	}

	.main-menu ul:nth-child(1), .main-menu ul:nth-child(2){
		padding: 0px;
	}

	.main-menu ul:nth-child(2) li:nth-child(1){
		margin-right: 62px;
	}

	
}


@media only screen and (min-width : 1200px) and (max-width : 1919px) {
	h1{
		font-size: 90px;
	}

	.images-block{
		flex: 0 0 32%;
		height: auto;
	}

	.main-menu ul:nth-child(1), .main-menu ul:nth-child(2){
		padding: 0px;
	}

	.main-menu ul:nth-child(2) li:nth-child(1){
		margin-right: 62px;
	}

	.banner{
		padding-top: 240px;
	}
}