html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: auto;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f8ff;
}

body a:hover, body a:focus, body a:active {
  text-decoration: none;
  outline: none;
}

body input:focus, body input:active {
  text-decoration: none;
  outline: none;
}

body button:focus, body button:active {
  text-decoration: none;
  outline: none;
}

body textarea:focus, body textarea:active {
  text-decoration: none;
  outline: none;
}

body a {
  display: inline-block;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body ul, body ol {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

body button {
  border: none;
  cursor: pointer;
}

body hr {
  border: none;
}

.pixel {
  background: url(../img/main.jpg) no-repeat top center;
  width: 1920px;
  height: 12800px;
  position: absolute;
  z-index: 1000000;
  display: none;
  left: 50%;
  top: 0;
  margin-left: -960px;
  opacity: 0.5;
  margin-top: 0px;
}

/***************************************************GeneralStyles************************************/
h1 {
  font-weight: 900;
  font-size: 88px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

h1 i {
  font-style: normal;
  font-size: 64px;
}

h1 strong {
  color: #FF9700;
}

h2 {
  font-weight: 700;
  color: #FF9700;
  font-size: 40px;
  margin-bottom: 60px;
}

/***************************************************Header************************************/
header {
  width: 100%;
  height: 568px;
  background-image: url("../img/top-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

header ul {
  margin-top: 60px;
}

header li {
  color: #fff;
  font-size: 24px;
  margin: 20px 0px;
  padding-left: 60px;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: left top;
}

/***************************************************Nav-Icons**************************************/
.nav-icons {
  padding: 40px 0px;
}

.icon-block {
  width: 144px;
  height: 144px;
  border: 1px solid #FF9700;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/choice.png");
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon-block__third {
  background-image: url("../img/contacts.png");
}

.icon-block__second {
  background-image: url("../img/port.png");
}

.icon-block:hover {
  -webkit-box-shadow: inset 0 0 20px rgba(255, 178, 77, 0.5);
  box-shadow: inset 0 0 20px rgba(255, 178, 77, 0.5);
}

/***************************************************Tariffs**************************************/
.tariffs {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 80px;
}

.tariff-block {
  width: 420px;
  height: 620px;
  border: 1px solid #d6d6d6;
  border-radius: 7px;
  background: #F9F6F2;
  margin: 0 auto;
  padding: 20px 0px 130px 0px;
  position: relative;
}

.tariff-block span {
  font-size: 50px;
}

.tariff-block ul {
  margin-top: 60px;
}

.tariff-block li {
  font-size: 26px;
  color: #565656;
  margin-bottom: 30px;
  padding: 0px 20px;
}

.tariff-header {
  display: block;
  padding-bottom: 20px;
}

.tariff-cost {
  width: 100%;
  height: 120px;
  background: #ededed;
  border-top: 1px dashed #d6d6d6;
  border-bottom: 1px dashed #d6d6d6;
}

.tariff-cost span {
  color: #00B8EA;
  line-height: 120px;
}

.btn-order {
  width: 226px;
  height: 55px;
  background: #26d45f;
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 55px;
  border-radius: 7px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -113px;
}

.btn-order:hover {
  background: #00B8EA;
  color: #fff;
}

/***************************************************Slider*************************************/
.slider {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 80px;
  padding-top: 40px;
}

.slick-dots {
  margin-top: 20px;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots button {
  width: 20px;
  height: 20px;
  background-color: #d8d8d8;
  margin: 0 10px;
  border-radius: 50%;
  font-size: 0px;
}

.slick-dots .slick-active button {
  background-color: #00B8EA;
}

.slide {
  position: relative;
  width: 360px !important;
  height: 298px;
}

.slide-desc {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slide-desc span {
  color: #fff;
  width: 100%;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.slide-desc:hover {
  cursor: pointer;
}

.slide:hover .slide-desc {
  visibility: visible;
  opacity: 1;
}

/***************************************************Contacts*************************************/
.contacts {
  padding-bottom: 80px;
  padding-top: 40px;
}

.contacts span {
  font-size: 24px;
  color: #565656;
}

.contacts h2 {
  margin-bottom: 20px;
}

.feedback-form {
  margin-top: 60px;
  -moz-placeholder-color: #565656;
  -moz-placeholder-font-size: 18px;
  -ms-input-placeholder-color: #565656;
  -ms-input-placeholder-font-size: 18px;
}

.feedback-form input {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  color: #565656;
  font-size: 18px;
}

.feedback-form ::-webkit-input-placeholder {
  color: #565656;
  font-size: 18px;
}

.feedback-form ::-moz-placeholder {
  color: #565656;
  font-size: 18px;
}

.btn-form {
  width: 262px;
  height: 45px;
  background: #00B8EA;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 45px;
  border-radius: 5px;
  text-align: center;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  margin-top: -30px;
}

.btn-form:hover {
  background: #FF9700;
  color: #fff;
}

/***************************************************Footer*************************************/
footer {
  width: 100%;
  height: 78px;
  background: #969696;
}

footer a, footer span {
  color: #fff;
  line-height: 78px;
  font-size: 20px;
}

footer i {
  font-style: normal;
}

footer a:hover {
  color: #00B8EA !important;
}

footer a:visited, footer a:active, footer a:focus {
  color: #fff;
}

.hidden {
  display: none;
}
