@media only screen and (min-width : 0px) and (max-width : 479px) {

}

@media only screen and (min-width : 480px) and (max-width : 767px) {
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
}

@media only screen and (min-width : 1200px) and (max-width : 1439px) {

	.content-block__header h1 {
		font-size: 90px;
	}

	.content-block__image{
		margin-left: 160px;
	}

	.content-block__play a{
		width:  100px;
		height: 100px;
	}

	.content-block__play img{
		height: 100%;
		width: auto;
	}

	.content-block__play span{
		margin-top: -25px;
	}

	.content-block__play{
		margin-left: 100px;
	}

	.subheader{
		margin-bottom: 30px;
	}

	.tab-content{
		margin: 60px auto 30px;
	}

	.nav-tabs .nav-link{
		line-height: 80px;
	}

	.nav-item{
		height: 80px;
	}

	.nav-item .logobox{
		width: 80px;
		height: 80px;
	}

	.nav-item .logobox{
		left:  -30px;
	}

	.nav-item .logobox img{
		width: 80%;
		height: auto;
	}

	.content-block__header {
		margin-left: -70px;
	}

}

@media only screen and (min-width : 1440px) and (max-width : 1919px) {

	.content-block__header h1 {
		font-size: 90px;
	}

	.content-block__image{
		margin-left: 160px;
	}

	.content-block__play a{
		width:  100px;
		height: 100px;
	}

	.content-block__play img{
		height: 100%;
		width: auto;
	}

	.content-block__play span{
		margin-top: -25px;
	}

	.content-block__play{
		margin-left: 135px;
		margin-top: -100px;
	}

	.subheader{
		margin-bottom: 30px;
	}

	.nav-tabs .nav-link{
		line-height: 80px;
	}

	.nav-item{
		height: 80px;
	}

	.nav-item .logobox{
		width: 80px;
		height: 80px;
	}

	.content-block__header {
		margin-left: -70px;
	}

	.nav-item .logobox{
		left:  -30px;
	}

	.nav-item .logobox img{
		width: 80%;
		height: auto;
	}

}