@import "bourbon/bourbon"

body
	font-family: "PT Sans", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	max-width: 1470px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden	
	margin: 0 auto		
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	ul
		list-style-type: none
		padding: 0
	a:hover
		opacity: 0.7

/*****************************************************General**************************************************/
h2
	font-family: 'GothamProBlack', sans-serif
	font-size: 36px
	text-transform: uppercase
	color: #000
	line-height: 52px
	letter-spacing: 3px	
	strong
		color: #f87e47



/*****************************************************Header**************************************************/

header
	height: 60px
	position: absolute
	z-index: 10
	width: 1180
	margin: auto
	left: 0 
	right: 0	
.title	
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 20px
		text-transform: uppercase
		color: #f87e47
		line-height: 60px
		letter-spacing: 2px
.main-menu
	padding-left: 35px
	li
		display: inline-block
		line-height: 60px
		padding: 0 5px
	a
		font-family: 'Open Sans', sans-serif
		text-transform: uppercase
		color: #fff
	a:hover
		opacity: 0.7
.phone
	line-height: 60px
	color: #f87e47
	padding-left: 14px
	i
		font-size: 14px
		margin-right: 6px
	span
		font-family: 'Open Sans', sans-serif
		font-size: 14px
		font-weight: 600
		letter-spacing: 1px
.callback
	line-height: 60px
	a
		color: #fff
		text-transform: uppercase
		font-size: 12px
		padding: 10px 22px 10px 28px 
		border: 2px solid #fff
		border-radius: 5px
		letter-spacing: 2px
	a:hover
		opacity: 0.7



/*****************************************************First**************************************************/
.first
	width: 100%
	height: 703px
	background-position: center center
	background-repeat: no-repeat
	position: relative
	background-size: cover
	padding-top: 60px

h1
	margin-top: 82px
	font-family: 'GothamProBlack', sans-serif
	font-size: 46px	
	color: #fff
	line-height: 59px
	padding: 0 44px
	text-align: center
	letter-spacing: 3px
	strong		
		color: #f87e47
	i
		font-family: 'EmojiOneColor', sans-serif
	i:after
		content: "\1F44D"
		font-style: normal
		border: none				

.cat-left, .cat-right
	ul
		margin-top: 20px
		li
			margin-bottom: 7px		
	span
		font-family: 'Open Sans', sans-serif
		text-transform: uppercase
		color: #fff
		font-size: 16px
		letter-spacing: 1.5px			
	i
		color: #f87e47
		margin-right: 10px
	a
		color: #f87e47
		font-family: 'Open Sans', sans-serif
		text-transform: uppercase		
		font-size: 16px
		letter-spacing: 1px		
.cat-left
	float: right
	margin-right: 12px
.cat-right
	margin-left: 6px

.banner-form-header
	font-family: 'GothamProBlack', sans-serif
	font-size: 22px	
	color: #fff
	text-align: center
	margin-top: 75px
	span
		letter-spacing: 2.3px

#form-banner
	width: 71%
	padding: 20px 20px
	background-color: #fff
	margin: 0 auto
	margin-top: 24px
	border-radius: 5px
	input
		color: #343434
		font-family: 'Open Sans', sans-serif		
		font-size: 14px
		border: 2px solid #e3e0d6
		padding: 7px 9px
		border-radius: 5px	
		margin-right: 15px
	::-webkit-input-placeholder 
		color: #c4c4c4
		letter-spacing: 1px
	::-moz-placeholder
		color: #c4c4c4
		letter-spacing: 1px          
	:-moz-placeholder 
		color: #c4c4c4 
		letter-spacing: 1px     
	:-ms-input-placeholder      
		color: #c4c4c4
		letter-spacing: 1px
	button
		background-image: none
		background-color: #f87e47
		border: none
		height: 40px
		width: 170px
		color: #fff
		font-family: 'Open Sans', sans-serif		
		font-size: 14px
		font-weight: 700
		letter-spacing: 2px
.mouse
	text-align: center
	margin-top: 34px

/*****************************************************Benefits**************************************************/
.benefits
	padding-top: 47px
	position: relative
.benefits-block
	text-align: center
	margin-bottom: 105px
	span
		display: block
		font-family: 'GothamProBlack', sans-serif
		font-size: 20px	
		color: #000
		margin-top: 21px
		letter-spacing: 2px
		text-transform: uppercase
	p
		color: #000
		font-family: 'Open Sans', sans-serif		
		font-size: 18px
		letter-spacing: 2px
.benefits-block-img
	width: 100%
	height: 100px
	position: relative
.one
	img
		padding-top: 15px
.two, .five, .six
	img
		padding-top: 7px
.four
	img
		padding-top: 5px
.smeta
	width: 580px
	height: 115px
	background-color: #f87e47
	border-radius: 60px
	box-shadow: 0 0 50px rgba(0,0,0,0.4)
	position: absolute
	top: 590px
	z-index: 10
	overflow: hidden
	background-position: top 25px right 30px
	background-repeat: no-repeat
	margin: auto
	right: 0
	left: 0
	.smeta-left-img
		float: left
	img
		margin-left: 60px
		margin-top: 31px
	.smeta-content
		float: left
		margin-left: 32px
		margin-top: 27px
	a
		font-family: 'GothamProBlack', sans-serif
		font-size: 20px	
		color: #fff
		letter-spacing: 3px
		line-height: 31px
		strong
			font-family: 'GothamProRegular', sans-serif
			font-size: 20px
			font-weight: normal
			letter-spacing: 2.5px			


/*****************************************************Video**************************************************/
.video
	width: 100%
	height: 538px
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	padding-top: 100px
.video-left
	margin-top: 101px
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 24px	
		color: #f87e47
		letter-spacing: 2px
		text-transform: uppercase
		display: block
		margin-bottom: 20px
	p
		font-family: 'Open Sans', sans-serif
		font-size: 18px	
		color: #000
		letter-spacing: 1px
		line-height: 25px
		margin-bottom: 25px
.video-right
	span
		font-family: 'GothamProRegular', sans-serif
		font-size: 20px
		font-weight: normal
		letter-spacing: 0.5px
		text-transform: uppercase
		color: #000
		text-shadow: 1px 0 0 #000
		padding-left: 96px
.video-phone
	width: 100%
	height: 338px
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	position: relative
	margin-top: 13px
.slider-test
	width: 500px
	height: 300px
	margin: 0 auto
	margin-right: 88px
	padding-top: 27px

/*****************************************************Decisions**************************************************/
.decisions
	h2
		padding: 0 200px 
		text-align: center
.decisions-block	
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 24px
		text-transform: uppercase
		color: #f87e47		
		letter-spacing: 1px
		display: block	
		float: right
	p
		display: block		
		font-family: 'Open Sans', sans-serif
		font-size: 18px	
		color: #000
		text-align: right
		float: right
		width: 62%
.decisions-block-image
	width: 30px
	height: 30px
	border: 2px solid #f87e47
	border-radius: 50%
	text-align: center
	display: inline-block	
	float: right
	margin-top: 2px
	margin-left: 10px
	i
		font-size: 15px
		color: #f87e47
		line-height: 26px



/*****************************************************Project**************************************************/
.project
	width: 100%
	height: 438px
	background-position: center center
	background-repeat: no-repeat
	position: relative

.hidden
	display: none
