@import "bourbon/bourbon"

body
	font-family: "PT Sans", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	max-width: 1470px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden	
	margin: 0 auto		
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	ul
		list-style-type: none
		padding: 0
	a:hover
		opacity: 0.7

/*****************************************************General**************************************************/
h2
	font-family: 'GothamProBlack', sans-serif
	font-size: 36px
	text-transform: uppercase
	color: #000
	line-height: 52px
	letter-spacing: 3px	
	strong
		color: #f87e47



/*****************************************************Header**************************************************/

header
	height: 60px
	position: absolute
	z-index: 10
	width: 1180
	margin: auto
	left: 0 
	right: 0	
.title	
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 20px
		text-transform: uppercase
		color: #f87e47
		line-height: 60px
		letter-spacing: 2px
.main-menu
	padding-left: 35px
	li
		display: inline-block
		line-height: 60px
		padding: 0 5px
	a
		font-family: 'Open Sans', sans-serif
		text-transform: uppercase
		color: #fff
	a:hover
		opacity: 0.7
.phone
	line-height: 60px
	color: #f87e47
	padding-left: 14px
	i
		font-size: 14px
		margin-right: 6px
	span
		font-family: 'Open Sans', sans-serif
		font-size: 14px
		font-weight: 600
		letter-spacing: 1px
.callback
	line-height: 60px
	a
		color: #fff
		text-transform: uppercase
		font-size: 12px
		padding: 10px 22px 10px 25px 
		border: 2px solid #fff
		border-radius: 5px
		letter-spacing: 2px
	a:hover
		opacity: 0.7

/*****************************************************First**************************************************/
.first
	width: 100%
	height: 703px
	background-position: center center
	background-repeat: no-repeat
	position: relative
	background-size: cover
	padding-top: 60px

h1
	margin-top: 82px
	font-family: 'GothamProBlack', sans-serif
	font-size: 46px	
	color: #fff
	line-height: 59px
	padding: 0 44px
	text-align: center
	letter-spacing: 3px
	min-height: 121px!important
	strong		
		color: #f87e47
	i
		margin-left: 10px
		img
			margin-bottom: 10px		


.cat-left, .cat-right
	ul
		margin-top: 20px
		li
			margin-bottom: 7px		
	span
		font-family: 'Open Sans', sans-serif
		text-transform: uppercase
		color: #fff
		font-size: 16px
		letter-spacing: 1.5px			
	i
		color: #f87e47
		margin-right: 10px
	a
		color: #f87e47
		font-family: 'Open Sans', sans-serif
		text-transform: uppercase		
		font-size: 16px
		letter-spacing: 1px		
.cat-left
	float: right
	margin-right: 12px
.cat-right
	margin-left: 6px

.banner-form-header
	font-family: 'GothamProBlack', sans-serif
	font-size: 22px	
	color: #fff
	text-align: center
	margin-top: 75px
	span
		letter-spacing: 2.3px

#form-banner
	width: 817px
	padding: 20px 20px
	background-color: #fff
	margin: 0 auto
	margin-top: 24px
	border-radius: 5px
	input
		color: #343434
		font-family: 'Open Sans', sans-serif		
		font-size: 14px
		border: 2px solid #e3e0d6
		padding: 7px 9px
		border-radius: 5px	
		margin-right: 15px
		width: 180px
	::-webkit-input-placeholder 
		color: #c4c4c4
		letter-spacing: 1px
	::-moz-placeholder
		color: #c4c4c4
		letter-spacing: 1px          
	:-moz-placeholder 
		color: #c4c4c4 
		letter-spacing: 1px     
	:-ms-input-placeholder      
		color: #c4c4c4
		letter-spacing: 1px
	button
		background-image: none
		background-color: #f87e47
		border: none
		height: 40px
		width: 170px
		color: #fff
		font-family: 'Open Sans', sans-serif		
		font-size: 14px
		font-weight: 700
		letter-spacing: 2px
.mouse
	text-align: center
	margin-top: 34px

/*****************************************************Benefits**************************************************/
.benefits
	padding-top: 47px
	position: relative
.benefits-block
	text-align: center
	margin-bottom: 90px
	span
		display: block
		font-family: 'GothamProBlack', sans-serif
		font-size: 20px	
		color: #000
		margin-top: 21px
		letter-spacing: 2px
		text-transform: uppercase
	p
		color: #000
		font-family: 'Open Sans', sans-serif		
		font-size: 18px
		letter-spacing: 2px
		width: 80%
		margin: 0 auto
.benefits-block-img
	width: 100%
	height: 100px
	position: relative
.one
	img
		padding-top: 15px
.two, .five, .six
	img
		padding-top: 7px
.four
	img
		padding-top: 5px
.smeta
	width: 580px
	height: 115px
	background-color: #f87e47
	border-radius: 60px
	box-shadow: 0 0 50px rgba(0,0,0,0.4)
	position: absolute
	top: 590px
	z-index: 10
	overflow: hidden
	background-position: top 25px right 30px
	background-repeat: no-repeat
	margin: auto
	right: 0
	left: 0
	border: none
	.smeta-left-img
		float: left
	img
		margin-left: 60px
		padding-top: 5px
	.smeta-content
		float: left
		margin-left: 32px
		text-align: left		
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 20px	
		color: #fff
		letter-spacing: 3px
		line-height: 31px
		strong
			font-family: 'GothamProRegular', sans-serif
			font-size: 20px
			font-weight: normal
			letter-spacing: 2.5px			


/*****************************************************Video**************************************************/
.video
	width: 100%
	height: 538px
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	padding-top: 100px
.owl-video-tn
	background-size: 100%!important
.video-left
	margin-top: 101px
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 24px	
		color: #f87e47
		letter-spacing: 2px
		text-transform: uppercase
		display: block
		margin-bottom: 20px
	p
		font-family: 'Open Sans', sans-serif
		font-size: 18px	
		color: #000
		letter-spacing: 1px
		line-height: 25px
		margin-bottom: 25px
.video-right
	span
		font-family: 'GothamProRegular', sans-serif
		font-size: 20px
		font-weight: normal
		letter-spacing: 0.5px
		text-transform: uppercase
		color: #000
		text-shadow: 1px 0 0 #000
		padding-left: 96px
		position: relative
.video-phone
	width: 100%
	height: 338px
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	position: relative
	margin-top: 13px
.slider-test
	width: 500px
	height: 300px
	margin: 0 auto
	margin-right: 88px
	padding-top: 27px


.owl-next
	position: absolute
	width: 21px
	height: 40px
	background-image: url('../img/arrow-red__right.png')!important
	top: 189px
	right: 0
	cursor: pointer
	z-index: 100
	margin-right: -20px
.owl-next:hover
	opacity: 0.7
.owl-prev
	position: absolute
	top: 189px
	width: 21px
	height: 40px
	background-image: url('../img/arrow-red__left.png')!important	
	left: 0
	margin-left: -20px
	cursor: pointer

.owl-prev:hover
	opacity: 0.7

.owl-dot
	span
		padding-left: 0px



/*****************************************************Decisions**************************************************/
.decisions
	padding: 17px 0 79px 0
	h2
		padding: 0 200px 
		text-align: center
.decisions-block-wrap
	margin-top: 30px
.decisions-centr-image
	text-align: center
.decisions-block-text
	position: relative
	padding-right: 45px
	text-align: right
	margin-right: 45px
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 24px
		text-transform: uppercase
		color: #f87e47		
		letter-spacing: 1px
		display: block
		line-height: 32px		
	p
		display: block		
		font-family: 'Open Sans', sans-serif
		font-size: 18px	
		color: #000	
		margin-top: 16px
		line-height: 20px
		letter-spacing: 1px			
.decisions-block-image
	width: 30px
	height: 30px
	border: 2px solid #f87e47
	border-radius: 50%
	text-align: center
	position: absolute
	top: 0
	right: 0
	box-shadow: 0 0 10px rgba(0,0,0,0.3)
	i
		font-size: 15px
		color: #f87e47
		line-height: 26px

.decisions-right
	.decisions-block-text
		text-align: left
		padding-left: 45px		
		margin-left: 45px
		margin-right: 0
		padding-right: 0
		p
			padding-right: 50px
	.decisions-block-image
		left: 0

.decisions-right, .decisions-left
	margin-top: 29px

.decisions-left .decisions-block:nth-child(2)
	margin-top: 92px

.decisions-right .decisions-block:nth-child(2) 
	margin-top: 60px
	
/*****************************************************Cards**************************************************/
#cards
	background-color: #414040
	padding: 41px 0
	h2
		color: #fff
		padding: 0 100px
		text-align: center
		margin-bottom: 60px
.cards-block
	background-color: #fff
	width: 280px
	border-radius: 5px
	margin: 0 auto
	margin-bottom: 75px
	overflow: hidden
.cards-block-header
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 18px	
		line-height: 48px
		color: #000
		display: block
		text-align: center
		letter-spacing: 2px
.cards-block-image		
	width: 100%
	height: 200px
	position: relative
	margin-bottom: 23px
	box-shadow: 0 0 20px rgba(0,0,0,0.3)
	img
		width: 100%
		height: 200px
	.image-hd
		width: 45px
		height: 29px
		position: absolute
		top: 15px 
		left: 15px
	.cards-best
		width: 162px
		height: 25px
		position: absolute
		top: 14px
		right: 19px
.cards-block-footer
	text-align: center
	padding-bottom: 21px
	a
		font-family: 'Open Sans', sans-serif
		font-size: 16px	
		line-height: 48px
		color: #fff		
		background-color: #f87e47
		padding: 9px 42px
		border-radius: 5px
		text-transform: uppercase
		letter-spacing: 2px
	p
		font-family: 'Open Sans', sans-serif
		font-size: 14px	
		line-height: 20px
		color: #000
		letter-spacing: 1px			

/*****************************************************Sets**************************************************/
#sets
	padding: 41px 0 82px 0
	h2	
		text-align: center
		margin-bottom: 35px
.sets-choice
	text-align: center	
	ul
		display: inline-block		
		margin: 0 auto			
	li
		float: left		
		border: 3px solid #f87e47
		border-left: none	
		width: 193px
		position: relative
	.active-link
		background-color: #f87e47
		color: #fff
	li:hover
		background-color: #f87e47
	li:hover a
		color: #fff
	li:nth-child(1)
		border-left: 3px solid #f87e47	
		border-radius: 5px 0 0 5px
	li:nth-child(4)
		border-radius: 0  5px 5px  0
	a
		letter-spacing: 2px
		font-family: 'GothamProBlack', sans-serif		
		color: #000
		text-transform: uppercase
		font-size: 18px
		line-height: 55px
		display: block
	a:hover
		opacity: 1
	img
		position: absolute
		width: 36px
		height: 13px
		margin: auto
		top: 0
		bottom: 0
		left: 30px
.sets-type
	background-color: #f87e47
	width: 195px
	text-align: center
	height: 70px
	float: left
	margin-right: 20px
	span
		letter-spacing: 1px
		font-family: 'GothamProBlack', sans-serif		
		color: #fff
		text-transform: uppercase
		font-size: 26px
		line-height: 70px
.sets-price	
	span
		font-family: 'Open Sans', sans-serif		
		color: #000
		text-transform: uppercase
		font-size: 30px
		font-weight: 700
		line-height: 44px
		letter-spacing: 3px
	p
		font-family: 'Open Sans', sans-serif		
		color: #7e7e7e		
		font-size: 14px
		letter-spacing: 3px
	i
		font-style: normal
		font-weight: 700
		color: #000
		text-decoration: line-through
.sets-card-desc-middle
	margin-top: 38px
	span
		letter-spacing: 2px
		font-family: 'GothamProBlack', sans-serif		
		color: #000		
		font-size: 20px
		line-height: 70px
	li
		margin-bottom: 20px
		i
			display: inline-block
			vertical-align: top
			margin-top: 7px
			color: #f87e47
			margin-right: 11px
		p
			display: inline-block
			font-family: 'Open Sans', sans-serif		
			color: #000	
			font-size: 18px	
			letter-spacing: 2px
.sets-card-desc-footer
	text-align: center
	margin-top: 57px
	a
		font-family: 'Open Sans', sans-serif		
		color: #fff
		font-size: 21px	
		letter-spacing: 2px
		background-color: #f87e47
		padding: 11px 35px
		border-radius: 5px
		text-transform: uppercase
.sets-card-image
	margin-top: 70px	
.sets-card-desc
	margin-top: 70px
	padding-left: 20px

/*****************************************************Project**************************************************/
.project
	width: 100%
	min-height: 438px
	background-position: center center
	background-repeat: no-repeat
	position: relative
	padding: 41px 0
	h2
		color: #fff
		text-align: center
		margin-bottom: 20px
	span
		color: #f87e47
		letter-spacing: 3px
		font-family: 'GothamProBlack', sans-serif
		font-size: 28px
		text-align: center
		display: block
#project-form
	width: 71%
	padding: 20px 20px
	background-color: #fff
	margin: 0 auto
	margin-top: 41px
	border-radius: 5px
	input
		color: #343434
		font-family: 'Open Sans', sans-serif		
		font-size: 18px
		border: 2px solid #e3e0d6
		padding: 5px 9px
		border-radius: 5px	
		margin-right: 33px
		width: 244px
	::-webkit-input-placeholder 
		color: #c4c4c4
		letter-spacing: 1px
	::-moz-placeholder
		color: #c4c4c4
		letter-spacing: 1px          
	:-moz-placeholder 
		color: #c4c4c4 
		letter-spacing: 1px     
	:-ms-input-placeholder      
		color: #c4c4c4
		letter-spacing: 1px
	button
		background-image: none
		background-color: #f87e47
		border: none
		height: 42px
		width: 210px
		color: #fff
		font-family: 'Open Sans', sans-serif		
		font-size: 18px		
		letter-spacing: 3px
		text-transform: uppercase
		border-radius: 5px
.project-form
	p
		color: #fff
		font-family: 'Open Sans', sans-serif		
		font-size: 22px		
		text-align: center
		text-transform: uppercase
		letter-spacing: 2px
		margin-top: 16px

/*****************************************************Sheme**************************************************/
.scheme
	position: relative
	padding: 42px 0 61px 0
	h2
		text-align: center
		margin-top: 16px
.dotted
	position: absolute
	width: 30px
	height: 453px
	margin: auto
	left: 0
	right: 0
	top: 155px
.scheme-block
	position: relative
	height: 113px	
	margin-top: 15px		
.first-block
	margin-top: 44px
.scheme-block-desc
	text-align: right
	padding-right: 178px
	padding-top: 24px	
	span
		color: #000		
		font-family: 'Open Sans', sans-serif
		font-size: 26px
		font-weight: 700
		display: block
		text-transform: uppercase
		line-height: 28px
		margin-bottom: 18px
	a
		color: #000		
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		border-bottom: 1px dashed #000
		text-transform: uppercase		
	p
		color: #000		
		font-family: 'Open Sans', sans-serif
		font-size: 16px
		text-transform: uppercase
.third-deck
	padding-top: 0
	span
		padding-top: 0px
		line-height: 113px
.scheme-block-img
	position: absolute
	top: 0
	right: 45px
.scheme .row:nth-child(3)
	.scheme-block-desc	
		text-align: left
		padding-left: 185px
		padding-right: 0px
	.scheme-block-img
		left: 48px

.scheme .row:nth-child(4)
	.scheme-block
		margin-top: 33px

.scheme .row:nth-child(5)
	.scheme-block-desc	
		text-align: left
		padding-left: 185px
		padding-right: 0px
		padding-top: 11px
	.scheme-block-img
		left: 48px

.button-scheme
	text-align: center
	margin-top: 69px
	a
		color: #fff	
		font-family: 'Open Sans', sans-serif
		font-size: 18px
		text-transform: uppercase
		background-color: #f87e47
		padding: 9px 37px
		border-radius: 5px

/*****************************************************FaqBack**************************************************/
.faq
	width: 100%
	min-height: 945px
	padding: 55px 0
	background-repeat: repeat-y
	h2
		text-align: center
.acc-wrap
	background-color: #fff
	width: 1000px
	margin: 0 auto
	border: 5px solid #e47949
	padding: 42px 30px		
.panel-default
	border-image: none
	background-color: #fff
	border: none
	box-shadow: none
	border-bottom: 2px solid #e5e5e5
.panel-default > .panel-heading
	background-color: #fff
	background-repeat: no-repeat
	background-position: center right 15px	
.panel-default > .panel-heading + .panel-collapse > .panel-body
	border-top: none
.panel-group
	border-top: 2px solid #e5e5e5
.panel-title
	a
		font-family: 'PT Sans', sans-serif
		font-size: 30px
		color: #bf5d31
		display: block
.panel-body
	p	
		font-family: 'GothamProRegular', sans-serif
		font-size: 20px
		line-height: 31px
		margin: 60px 0
.accordion-icon		
	float: right
	padding-top: 10px
#accordion
	margin-top: 63px

/*****************************************************Partners**************************************************/
.partners
	height: 375px
	padding: 42px 0
	h2
		text-align: center
		margin-bottom: 60px

	#lightSlider
		height: 65px!important	
		text-align: center
	.lSSlideWrapper	
		line-height: 65px

/*****************************************************Form**************************************************/
#form-q
	width: 100%
	height: 610px
	background-position: center center
	background-repeat: no-repeat
	padding: 50px 0
	h2 
		color: #fff
		text-align: center
		font-size: 46px
.form-contacts
	margin-top: 60px
	margin-left: 217px
.form-contacts-block
	margin-bottom: 30px
	span
		font-family: 'Open Sans', sans-serif
		font-size: 20px
		line-height: 30px
		font-weight: 700
		color: #fff
		display: block
	p, a
		font-family: 'Open Sans', sans-serif
		font-size: 20px
		line-height: 30px		
		color: #fff
		display: block
	i
		color: #fff
		display: inline-block
		margin-right: 10px
		line-height: 30px
		font-size: 20px
	a
		display: inline-block
#form-order
	width: 315px
	background-color: #fff
	text-align: center
	margin-top: 60px
	padding: 20px 0 26px 0
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 16px
		line-height: 31px
	input
		width: 250px
		height: 40px		
		border: 2px solid #e3e0d6
		padding-left: 15px
		margin-top: 16px
	::-webkit-input-placeholder 
		color: #c4c4c4
		letter-spacing: 1px
	::-moz-placeholder
		color: #c4c4c4
		letter-spacing: 1px          
	:-moz-placeholder 
		color: #c4c4c4 
		letter-spacing: 1px     
	:-ms-input-placeholder      
		color: #c4c4c4
		letter-spacing: 1px
	textarea
		resize: none
		width: 250px
		height: 80px
		border: 2px solid #e3e0d6
		margin-top: 26px
		padding-left: 15px
	button
		width: 150px
		height: 40px
		background-image: none
		background-color: #f87e47
		border: none
		font-family: 'Open Sans', sans-serif
		font-size: 15px		
		color: #fff
		text-transform: uppercase
		margin-top: 14px

/**Footer**/
footer
	min-height: 185px
	background: #413f3f
	padding-top: 50px
	.copy		
		span
			color: #fff
			display: block
			font-family: 'Open Sans', sans-serif
			font-size: 14px
			letter-spacing: 2px
			margin-top: 7px
			margin-bottom: 23px
		a
			color: #fff
			border-bottom: 1px dashed #fff
	.social-media
		ul
			list-style-type: none
			padding: 0
			margin-left: 65px
			li
				font-size: 30px
				display: inline-block
				padding-right: 32px
			a
				color: #fff
	.contacts
		margin-left: 87px
		text-align: right
		span
			display: block
			color: #fff
			display: block
			font-family: 'Open Sans', sans-serif
			font-size: 20px
			letter-spacing: 3px
			margin-left: 3px
			margin-bottom: 5px
		a
			display: inline-block
			color: #fff		
			font-family: 'Open Sans', sans-serif
			font-size: 14px	
			text-align: right			
			letter-spacing: 2px
			border-bottom: 1px dashed #fff
			text-transform: uppercase
			margin-top: 7px

.hidden_form
	height: 355px	
	width: 315px
	background-color: #fff
	text-align: center
	margin-top: 60px
	padding: 20px 0 26px 0
	margin: 0 auto
	position: relative
	span
		font-family: 'GothamProBlack', sans-serif
		font-size: 16px
		line-height: 31px
	input
		width: 250px
		height: 40px		
		border: 2px solid #e3e0d6
		padding-left: 15px
		margin-top: 16px
	::-webkit-input-placeholder 
		color: #c4c4c4
		letter-spacing: 1px
	::-moz-placeholder
		color: #c4c4c4
		letter-spacing: 1px          
	:-moz-placeholder 
		color: #c4c4c4 
		letter-spacing: 1px     
	:-ms-input-placeholder      
		color: #c4c4c4
		letter-spacing: 1px
	textarea
		resize: none
		width: 250px
		height: 80px
		border: 2px solid #e3e0d6
		margin-top: 26px
		padding-left: 15px
	.hid-form-but
		width: 150px
		height: 40px
		background-image: none
		background-color: #f87e47
		border: none
		font-family: 'Open Sans', sans-serif
		font-size: 15px		
		color: #fff
		text-transform: uppercase
		margin-top: 14px

.hidden_form2	
	width: 790px	
	background-color: #fff
	text-align: center	
	padding: 46px 0
	margin: 0 auto
	position: relative
	h3
		font-family: 'GothamProBlack', sans-serif
		font-size: 24px
		line-height: 29px
		color: #f87e47
		text-align: left
		padding: 0 45px

.order-descr
	margin-top: 68px
	padding: 0 45px
	img
		float: left
		margin-right: 28px
	span
		font-family: 'Open Sans', sans-serif
		font-size: 14px		
		color: #000
		text-align: left
		display: block		
		margin-top: 45px
		letter-spacing: 1px		
.order-table
	margin-top: 68px
	padding: 0 45px
	p
		font-family: 'Open Sans', sans-serif
		font-size: 22px		
		color: #000
		text-align: left
		font-weight: 700
		letter-spacing: 2px
		margin-bottom: 40px
	table
		text-align: left		
		td
			font-family: 'Open Sans', sans-serif
			font-size: 16px		
			color: #000
			padding: 5px 0
			strong
				font-weight: 700
		tr td:nth-child(1)
			width: 400px
.order-video
	padding: 0 45px
	span
		display: block
		text-align: left
		font-family: 'Open Sans', sans-serif
		font-size: 22px		
		color: #000
		font-weight: 700
		margin: 40px 0
	iframe		
		text-align: left
		display: block
		margin-bottom: 40px

.order-footer
	display: block
	text-align: left
	font-family: 'Open Sans', sans-serif
	font-size: 22px		
	color: #000	
	background-color: #fbfbfb	
	padding: 50px 45px 0 45px
	span
		display: block		
		letter-spacing: 2px
		margin-bottom: 30px
	a
		display: inline-block
		font-size: 16px
		color: #fff
		text-transform: uppercase
		background-color: #f87e47
		letter-spacing: 2px
		padding: 5px 10px
		border-radius: 5px







.hidden
	display: none
