@font-face {
  font-family: "GothamProBlack";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack.ttf") format("truetype"); }

@font-face {
  font-family: "EmojiOneColor";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/EmojiOneColor-SVGinOT.eot?#iefix") format("embedded-opentype"), url("../fonts/EmojiOneColor-SVGinOT.woff") format("woff"), url("../fonts/EmojiOneColor-SVGinOT.ttf") format("truetype"); }

@font-face {
  font-family: "GothamProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype"); }
