@media only screen and (min-width : 0px) and (max-width : 575px) {	

	.product-banner-top{
		min-height: 100px;
	}

	.product-banner-top .btn-blue-gen{
		width: 100%;
		text-align: center;
	}

	.product-info-block-image{
		width: 100%;
		height: auto!important;		
	}

	.product-info-block-image{
		border-radius: 8px 8px 0px 0px;
	}

	.product-info-company{
		border-right: none!important;
		border-bottom: solid 1px #adb4ca;
	}

	.product-control{
		min-height: 400px;
		background-position: center bottom;
		background-size: 320px auto;
	}

	.nota-list-field{
		flex-wrap: wrap;
	}

	.nota-list-field span:nth-child(1){
		flex: 0 0 100%;
	}	

	.nota-graph .nav-tabs li{
		display: block;
		width: 100%;
	}

	.nota-graph .nav-tabs .nav-item:first-child{
		border-radius: 4px 4px 0px 0px;
	}

	.nota-graph .nav-tabs .nav-item:last-child{
		border-radius: 0px 0px 4px 4px;
	}

	.nota-graph .nav-tabs .nav-item{
		border-right: 1px solid #4753d1!important;
	}

	.base-active-block{
		flex-direction: column;
	}
	
		
}


@media only screen and (min-width : 576px) and (max-width : 767px) {

	.product-banner-top{
		min-height: 100px;
	}

	.product-info-block-image{
		width: 100%;
		height: auto!important;		
	}

	.product-info-block-image{
		border-radius: 8px 8px 0px 0px;
	}

	.product-info-company{
		border-right: none!important;
		border-bottom: solid 1px #adb4ca;
	}

	.product-control{
		min-height: 400px;
		background-position: center bottom;
		background-size: 450px auto;
	}

	.nota-list-field{
		flex-wrap: wrap;
	}

	.nota-list-field span:nth-child(1){
		flex: 0 0 100%;
	}	

	.nota-graph .nav-tabs li{
		display: block;
		width: 100%;
	}

	.nota-graph .nav-tabs .nav-item:first-child{
		border-radius: 4px 4px 0px 0px;
	}

	.nota-graph .nav-tabs .nav-item:last-child{
		border-radius: 0px 0px 4px 4px;
	}

	.nota-graph .nav-tabs .nav-item{
		border-right: 1px solid #4753d1!important;
	}

	.base-active-block{
		flex-direction: column;
	}
	
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	
	.pibc-inner{
		flex-wrap: wrap;
	}

	.pic-br-fix{
		border-right: none;
	}

	.product-control{
		min-height: 586px;
		background-position: center bottom;
	}

	.pibc-inner-block{
		flex: 0 0 100%;
	}

	.product-info-block{
		height: auto;
	}

	.nota-list-field span:nth-child(1){
		flex: 0 0 23%;
	}

	.nota-list-field span:nth-child(2){
		padding-left: 50px;
	}

	.base-active-block{
		flex-direction: column;
	}


}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.pibc-inner-block{
		flex: 0 0 33%;
	}

	.pic-br-fix{
		border-right: none;
	}

	.product-control{
		background-size: 60%;
		background-position: right top -50px;
	}

}