@media only screen and (min-width : 0px) and (max-width : 575px) {	
	
	.banner-top{
		height: 383px;
	}

	.invest-icons-wrap{
		width: 100px;		
		flex: none;
	}

	.invest-services .btn-outline-primary{
		border-color: #4753d1;
		border: none;
		width: 100%;
		text-align: left;
		border-radius: 0px;
		margin-left: 0px!important;
	}

	.btn-group-invest{
		border-radius: 4px;
		border: solid 1px #4753d1;
	}

	.invest-sb-wrap{
		width: 100%;
		max-width: 400px;
	}

	.invest-services .line-mob{
		border-bottom: solid 1px #4753d1;
		border-radius: 0px;
	}

	.invest-services-block{
		width: 100%;
		max-width: 400px!important;
		margin: 0 auto;
	}

	.invest-start-image{
		width: 100%;
		height: auto;
	}

	.invest-table-main .invest-table-col:nth-child(1){
		width: 100%;
	}
	.invest-table-main .invest-table-col:nth-child(2){
		width: 100%;
	}
	.invest-table-main .invest-table-col:nth-child(3){
		width: 100%;
	}
	.invest-table-main .invest-table-col:nth-child(4){
		width: 100%;
	}

	.invest-table-col-blue{
		background-color: #fff;
		height: auto;
	}
	
}


@media only screen and (min-width : 576px) and (max-width : 767px) {

	.invest-icons-wrap{
		width: 100px;		
		flex: none;
	}

	.invest-services .btn-outline-primary{
		border-color: #4753d1;
		border: none;
		width: 100%;
		text-align: left;
		border-radius: 0px;
		margin-left: 0px!important;
	}

	.btn-group-invest{
		border-radius: 4px;
		border: solid 1px #4753d1;
	}

	.invest-sb-wrap{
		width: 100%;
		max-width: 400px;
	}

	.invest-services .line-mob{
		border-bottom: solid 1px #4753d1;
		border-radius: 0px;
	}

	.invest-services-block{
		width: 100%;
		max-width: 400px!important;
		margin: 0 auto;
	}

	.invest-start-image{
		width: 100%;
		height: auto;
	}

	.invest-table-main .invest-table-col:nth-child(1){
		width: 100%;
	}
	.invest-table-main .invest-table-col:nth-child(2){
		width: 100%;
	}
	.invest-table-main .invest-table-col:nth-child(3){
		width: 100%;
	}
	.invest-table-main .invest-table-col:nth-child(4){
		width: 100%;
	}

	.invest-table-col-blue{
		background-color: #fff;
		height: auto;
	}

	.invest-info-block span{
		font-size: 19px!important;
	}

	
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.container-mobile{
		padding: 0px 40px;
	}

	.invest-start-image{
		width: 100%;
	}

	.invest-table-col-blue{
		background-color: #fff;
		height: auto;
	}

	.invest-table-main{
		flex-wrap: wrap;
	}

	.invest-table-main .invest-table-col:nth-child(1){
		flex: 1 0 30%;
	}
	.invest-table-main .invest-table-col:nth-child(2){
		flex: 1 0 70%;
	}
	.invest-table-main .invest-table-col:nth-child(3){
		flex: 1 0 70%;
		margin-left: 30%;
	}
	.invest-table-main .invest-table-col:nth-child(4){
		flex: 1 0 70%;
		margin-left: 30%;
	}

	
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.invest-table-main .invest-table-col:nth-child(1){
		width: 20%;
	}
	.invest-table-main .invest-table-col:nth-child(2){
		width: 30%;
	}
	.invest-table-main .invest-table-col:nth-child(3){
		width: 30%;
	}
	.invest-table-main .invest-table-col:nth-child(4){
		width: 20%;
	}

	.invest-services-block-image span{
		font-size: 30px!important;
	}
}