@media only screen and (min-width : 0px) and (max-width : 479px) {

	header .main-menu{
		position: absolute;		
		top: 50px;
		left: 0px;
		margin-left: 0px;	
		margin-top: 20px;
		width: 100%;
		height: auto;
		background-color: #4b5c6c;				
		padding: 0px;
		display: none;		
		z-index: 100;
	}

	header .main-menu ul{
		padding-bottom: 30px;
	}

	header .main-menu li{
		width: 100%;
		display: block;			
		text-align: center;
		padding-right: 0px;
	}

	.menu-toggle-button{
		float: right;
		margin-top: 38px;
	}

	.header_desc{
		padding: 0px;		
	}

	.header-block-wrapper{
		width: 100%;		
		text-align: left;
		top: 40px;		
		margin: 0 auto;
	}

	.header-block{				
		margin: 0 auto;
		margin-bottom: 20px;
		display:block;
	}
	

	.seo-q{
		height: auto;
		padding-top: 780px;
		padding-bottom: 60px;
	}

	.seoq-content{
		margin-top: 40px;
	}

	.seoq-text{
		font-size: 16px;
	}

	.header-gen, .ord-header{
		font-size: 28px;
	}

	.sub-header, .ord-subheader{
		font-size: 18px;
	}

	.btn_seo{
		width: 100%;
		font-size: 20px;
	}

	.form-main{
		width: 100%;
		max-width: 400px;
	}

	.form-field{
		width: 100%;
		margin-bottom: 20px;
		height: 50px;
		border: 2px solid #d7d7d7;
	}

	.long_field{
		width: 100%;
		margin-top: 0px;
	}

	.form-main {
	 	-moz-placeholder-color: #424e68;
	  	-moz-placeholder-font-family: "RobotoMedium", sans-serif;
	  	-moz-placeholder-font-size: 14px;
	  	-ms-input-placeholder-color: #424e68;
	  	-ms-input-placeholder-font-family: "RobotoMedium", sans-serif;
	  	-ms-input-placeholder-font-size: 14px; }
  	.form-main ::-webkit-input-placeholder {
    	color: #424e68;
    	font-family: "RobotoMedium", sans-serif;
    	font-size: 14px; }
  	.form-main ::-moz-placeholder {
    	color: #424e68;
    	font-family: "RobotoMedium", sans-serif;
    	font-size: 14px; }

    .form-field{
    	font-size: 14px;
    	margin-right: 0px;
    }

    .form-submit{
    	margin-top: 0px;
    }

    .btn_form{
    	width: 300px;
    	height: 60px;
    	line-height: 60px;
    	font-size: 18px;
    }

    .result{
    	height: auto;
    	padding-bottom: 40px;
    }

    .circle{
    	width: 150px;
    	height: 150px;
    	background-size: 80px 80px;
    }

    .result-text{
    	padding: 0px 20px;
    	font-size: 16px;
    	line-height: 26px;
    	margin-bottom: 30px;
    }

    .result-buttons{
    	width: 100%;
    }

    .btn-outline{
    	width: 100%;  
    	font-size: 20px; 
    	margin-bottom: 20px;
    	display: block; 	
    }

    .result-buttons a:nth-child(1){
    	margin-right: 0px;
    }

    .price{
		padding-top: 120px;
		height: auto;
		padding-bottom: 80px;
	}

	.price .price-slider{
    	width: 100%;
    }

    .price-slide{
    	display: block;
		margin: 0 auto!important;
		margin-bottom: 20px!important;
    }

    .btn_order{
    	width: 50%;
    }

    footer{
    	height: auto;
    	padding-bottom: 40px;
    }

    .footer-logo-block img{
    	width: 200px;
    }

    footer .col-xs-4{
    	width: 50%;
    }

    .footer-list{
    	margin-top: 30px;
    }
	
	.footer-header{
		font-size: 22px;
	}

	.f-link{
		font-size: 13px;
	}

	.copy-link{
		font-size: 12px;
	}

	.copy-list{
		display: block;
		text-align: center;
		margin: 10px 0px;
		border: none;
	}

	.staff{
		height: auto;
		padding-bottom: 40px;
	}
}

@media only screen and (min-width : 480px) and (max-width : 767px) {

	header .main-menu{
		position: absolute;		
		top: 50px;
		left: 0px;
		margin-left: 0px;	
		margin-top: 20px;
		width: 100%;
		height: auto;
		background-color: #4b5c6c;				
		padding: 0px;
		display: none;		
		z-index: 100;
	}

	header .main-menu ul{
		padding-bottom: 30px;
	}

	header .main-menu li{
		width: 100%;
		display: block;			
		text-align: center;
		padding-right: 0px;
	}

	.menu-toggle-button{
		float: right;
		margin-top: 38px;
	}

	.header_desc{
		padding: 0 20px;
		height: 145px;
	}

	.header-block-wrapper{
		width: 100%;
		margin-left: 0px;
		text-align: left;
		top: 0px;		
	}

	.header-block{
		width: 90%;
		height: 100px;
		margin: 0 auto;
		margin-bottom: 20px;
		display:block;
	}

	.header-block_inner{
		background-position: left 30px center;
		background-size: 80px 80px;
		text-align: left;
	}

	.header-block_inner span{
		font-size: 18px;
		top: 0px;
		line-height: 100px;
		text-align: left;	
		margin-left: 150px;	
	}

	.header-gen{
		font-size: 36px;
	}

	.sub-header{
		font-size: 22px;
	}

	.seoq-content{
		margin-top: 40px;
	}

	.seoq-text{
		font-size: 16px;
	}

	.header-gen, .ord-header{
		font-size: 36px;
	}

	.sub-header, .ord-subheader{
		font-size: 22px;
	}

	.form-main{
		width: 100%;
		max-width: 400px;
	}

	.form-field{
		width: 100%;
		margin-bottom: 20px;
		height: 50px;
		border: 2px solid #d7d7d7;
	}

	.long_field{
		width: 100%;
		margin-top: 0px;
	}

	.form-main {
	 	-moz-placeholder-color: #424e68;
	  	-moz-placeholder-font-family: "RobotoMedium", sans-serif;
	  	-moz-placeholder-font-size: 14px;
	  	-ms-input-placeholder-color: #424e68;
	  	-ms-input-placeholder-font-family: "RobotoMedium", sans-serif;
	  	-ms-input-placeholder-font-size: 14px; }
  	.form-main ::-webkit-input-placeholder {
    	color: #424e68;
    	font-family: "RobotoMedium", sans-serif;
    	font-size: 14px; }
  	.form-main ::-moz-placeholder {
    	color: #424e68;
    	font-family: "RobotoMedium", sans-serif;
    	font-size: 14px; }

    .form-field{
    	font-size: 14px;
    }

    .form-submit{
    	margin-top: 0px;
    }

    .btn_form{
    	width: 300px;
    	height: 60px;
    	line-height: 60px;
    	font-size: 18px;
    }

    .result-text{
    	padding: 0px 20px;
    	font-size: 22px;
    	margin-bottom: 30px;
    }

    .result-buttons{
    	width: 100%;
    }

    .btn-outline{
    	width: 49%;  
    	font-size: 20px;  	
    }

    .result-buttons a:nth-child(1){
    	margin-right: 1%;
    }

    .price{
		padding-top: 120px;
		height: auto;
		padding-bottom: 80px;
	}

	.price .price-slider{
    	width: 100%;
    }

    .price-slide{
    	display: block;
		margin: 0 auto!important;
		margin-bottom: 20px!important;
    }

    footer{
    	height: auto;
    	padding-bottom: 40px;
    }
	
	.footer-header{
		font-size: 22px;
	}

	.f-link{
		font-size: 13px;
	}

	.copy-link{
		font-size: 12px;
	}

	.staff{
		height: auto;
		padding-bottom: 40px;
	}

	.visible-xs{
		display: none!important;
	}
    

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.menu_list{
		margin-left: 60px;
	}

	.header_desc{
		padding: 0 60px;
	}

	.header-block-wrapper{
		width: 100%;
		margin-left: 0px;
	}

	.header-block{
		width: 225px;
	}

	.header-block_inner span{
		font-size: 18px;
	}

	.header-gen{
		font-size: 36px;
	}

	.sub-header{
		font-size: 22px;
	}

	.seo-q, .staff, .price{
		height: 970px;
	}

	.price{
		padding-top: 120px;
	}

	.seoq-content{
		margin-top: 80px;
	}

	.seoq-text{
		font-size: 18px;
	}

	.form-main{
		width: 100%;
	}

	.form-field{
		width: 30.8%;
	}

	.long_field{
		width: 100%;
	}

	.form-main {
	 	-moz-placeholder-color: #424e68;
	  	-moz-placeholder-font-family: "RobotoMedium", sans-serif;
	  	-moz-placeholder-font-size: 18px;
	  	-ms-input-placeholder-color: #424e68;
	  	-ms-input-placeholder-font-family: "RobotoMedium", sans-serif;
	  	-ms-input-placeholder-font-size: 18px; }
  	.form-main ::-webkit-input-placeholder {
    	color: #424e68;
    	font-family: "RobotoMedium", sans-serif;
    	font-size: 18px; }
  	.form-main ::-moz-placeholder {
    	color: #424e68;
    	font-family: "RobotoMedium", sans-serif;
    	font-size: 18px; }

    .form-field{
    	font-size: 18px;
    }

    .result-text{
    	padding: 0px 20px;
    	font-size: 26px;
    }

    .result-buttons{
    	width: 100%;
    }

    .btn-outline{
    	width: 328px;
    }

    .price .price-slider{
    	width: 100%;
    }

    .price-slide{
    	width: 32%;
    }

    .price-text p{
    	font-size: 14px;
    	padding-left: 40px;
    }

    .price-text span{
    	font-size: 14px;
    }

    .price-text strong{
    	font-size: 17px;
    }

    .price-text i{
    	font-size: 20px;
    }
	
	.price-text .budget{
		padding-left: 60px;
	}
    
    .btn_order{
    	width: 140px;
    }

    .footer-logo-block img{
		width: 94%;
		height: auto;
	}

	.footer-header{
		font-size: 22px;
	}

	.f-link{
		font-size: 13px;
	}

	.copy-link{
		font-size: 12px;
	}

}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.header-block-wrapper{
		width: 100%;
		margin-left: 0px;
	}

	.header_desc{
		padding: 0 160px;
	}

	.result-text{
		margin-bottom: 30px;
	}

	.footer-logo-block img{
		width: 94%;
		height: auto;
	}
}

@media only screen and (min-width : 1400px) {
	.main-menu{
		margin-right: -32px;
	}

	.footer-logo-block{
		margin-left: -100px;
	}

	.footer-col-first{
		margin-left: -48px;
	}

	.footer-col-second{
		margin-left: -19px;
	}

	.footer-col-third{
		margin-left: 80px;
	}

	.f-copy{
		margin-left: -120px;
	}
}


