@font-face {
  font-family: "Fedra";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FedraSansPro/FedraSansPro Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSansPro/FedraSansPro Medium.woff") format("woff"), url("../fonts/FedraSansPro/FedraSansPro Medium.ttf") format("truetype"), url("../fonts/FedraSansPro/FedraSansPro Medium.svg#Fedra") format("svg"); }

@font-face {
  font-family: "FedraBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FedraSansProBold/FedraSansPro Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSansProBold/FedraSansPro Bold.woff") format("woff"), url("../fonts/FedraSansProBold/FedraSansPro Bold.ttf") format("truetype"), url("../fonts/FedraSansProBold/FedraSansPro Bold.svg#FedraBold") format("svg"); }

@font-face {
  font-family: "FedraNormal";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FedraSansProNormal/FedraSansPro Normal.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSansProNormal/FedraSansPro Normal.woff") format("woff"), url("../fonts/FedraSansProNormal/FedraSansPro Normal.ttf") format("truetype"), url("../fonts/FedraSansProNormal/FedraSansPro Normal.svg#FedraNormal") format("svg"); }

@font-face {
  font-family: "FedraBook";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FedraSansProBook/FedraSansPro Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSansProBook/FedraSansPro Book.woff") format("woff"), url("../fonts/FedraSansProBook/FedraSansPro Book.ttf") format("truetype"), url("../fonts/FedraSansProBook/FedraSansPro Book.svg#FedraBook") format("svg"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Regular/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather-Regular/Merriweather-Regular.ttf") format("truetype"), url("../fonts/Merriweather-Regular/Merriweather-Regular.svg#Merriweather") format("svg"); }

@font-face {
  font-family: "MerriweatherBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Bold/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold/Merriweather-Bold.ttf") format("truetype"), url("../fonts/Merriweather-Bold/Merriweather-Bold.svg#MerriweatherBold") format("svg"); }

@font-face {
  font-family: "MaterialIconic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MaterialIconic/Material-Design-Iconic-Font.eot?#iefix") format("embedded-opentype"), url("../fonts/MaterialIconic/Material-Design-Iconic-Font.woff") format("woff"), url("../fonts/MaterialIconic/Material-Design-Iconic-Font.ttf") format("truetype"), url("../fonts/MaterialIconic/Material-Design-Iconic-Font.svg#MaterialIconic") format("svg"); }
