body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-repeat: repeat;
  z-index: 0; }
  body a:hover, body a:focus, body a:active {
    text-decoration: none;
    outline: none; }
  body input:focus, body input:active {
    text-decoration: none;
    outline: none; }

header {
  background-position: center center;
  width: 100%;
  height: 678px;
  background-repeat: no-repeat;
  background-size: cover; }
  header .header-wrap {
    margin-top: 31px; }
  header .navbar {
    background: transparent;
    border: none;
    box-shadow: none;
    margin-left: -77px;
    margin-bottom: 0px;
    float: left; }
  header .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
    font-family: 'ProbaProBold', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  header .nav > li > a {
    padding: 15px 16px; }
  header .button-order {
    float: right; }
  header .button-order:hover a {
    background: #fff;
    color: #ac2821; }
  header .button-order a {
    font-family: 'ProbaProBold', sans-serif;
    color: #fff;
    padding: 10px 25px;
    border: 3px solid #fff;
    border-radius: 20px;
    line-height: 50px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  header h1 {
    font-family: 'GilroyBold', sans-serif;
    color: #fff;
    font-size: 42px;
    margin-top: 109px;
    margin-bottom: 24px; }
  header p {
    font-family: 'GilroyRegular', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    width: 60%; }
  header .banner-button {
    margin-top: 69px; }
    header .banner-button a {
      font-family: 'ProbaProBold', sans-serif;
      font-size: 13px;
      letter-spacing: 3px;
      color: #fff;
      padding: 18px 55px;
      border: 3px solid #fff;
      border-radius: 30px;
      background-color: #1d8dff;
      text-transform: uppercase; }
  header .banner-button:hover a {
    background: #fff;
    color: #ac2821; }

/******************************************PrinceplesBlock*****************************/
#princeples {
  width: 100%;
  height: 889px;
  position: relative;
  z-index: -1;
  overflow: hidden; }
  #princeples strong {
    color: #ac2821; }
  #princeples h2 {
    font-family: 'GilroyBold', sans-serif;
    font-size: 53px;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 127px;
    color: #181818; }
  #princeples .principles-block {
    position: relative; }
    #princeples .principles-block i {
      font-family: 'GilroyBold', sans-serif;
      font-size: 16px;
      line-height: 20px;
      display: block;
      width: 20px;
      height: 20px;
      background: #b2b2b2;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      position: absolute;
      margin-left: -26px;
      margin-top: -20px;
      font-style: normal; }
    #princeples .principles-block .arrow {
      position: absolute;
      top: 0;
      left: 164px;
      top: 106px; }
    #princeples .principles-block strong {
      font-family: 'GilroyBold', sans-serif;
      display: block;
      font-size: 19px;
      color: #222222;
      text-transform: uppercase;
      margin-top: 40px;
      margin-bottom: 16px;
      line-height: 1.3; }
    #princeples .principles-block p {
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      color: #868686;
      line-height: 25px;
      width: 62%; }
  #princeples .second-pr-block {
    margin-left: 64px; }
    #princeples .second-pr-block .arrow {
      left: 190px; }
    #princeples .second-pr-block p {
      width: 88%; }
    #princeples .second-pr-block strong {
      margin-top: 35px; }
  #princeples .third {
    width: 290px;
    margin-left: 58px;
    margin-top: -39px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 30px 30px; }
    #princeples .third i {
      margin-left: -8px;
      margin-top: 0px; }
    #princeples .third span {
      font-family: 'GilroyBold',sans-serif;
      line-height: 21px;
      background: #f6f6f6;
      display: block;
      font-size: 16px;
      text-transform: uppercase;
      color: #383838;
      text-align: center;
      padding: 11px 30px; }
    #princeples .third img {
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
      margin-top: 17px; }
    #princeples .third strong {
      font-family: 'GilroyBold', sans-serif;
      display: inline-block;
      width: 70%;
      font-size: 16px;
      color: #222;
      text-transform: none;
      margin: 17px 0; }
    #princeples .third ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
    #princeples .third li {
      background: #fff;
      border-bottom: 1px solid #f3f3f3;
      padding-left: 35px; }
    #princeples .third li:nth-child(3) {
      height: 100px; }
    #princeples .third .opros {
      margin-left: -18px;
      margin-top: 21px; }
    #princeples .third .principles-button {
      position: relative;
      width: 100%;
      height: 50px;
      background: #c7423b;
      padding-top: 10px;
      border-radius: 30px;
      background-position: center right 18px;
      background-repeat: no-repeat;
      margin-top: -30px; }
      #princeples .third .principles-button a {
        font-family: 'ProbaProBold', sans-serif;
        font-size: 12px;
        color: #fff;
        letter-spacing: 3px;
        text-transform: uppercase;
        border-right: 1px solid #fff;
        padding: 8px 14px 8px 23px;
        line-height: 30px; }
  #princeples .people {
    position: absolute;
    width: 1213px;
    height: 429px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -141px; }

/******************************************PartnersBlock*****************************/
#partners {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 463px;
  padding-top: 42px;
  position: relative; }
  #partners h2 {
    font-family: 'GilroyBold', sans-serif;
    font-size: 53px;
    text-align: center;
    margin-top: 60px;
    color: #fff;
    margin-bottom: 92px; }
  #partners strong {
    color: #ac2821; }
  #partners .lSSlideOuter .lSPager.lSpg {
    display: none; }
  #partners .lSSlideWrapper {
    text-align: center; }

/******************************************OneBlock*****************************/
#one-seven .one-seven-block {
  width: 100%;
  height: 594px;
  border-bottom: 1px solid #d1d1d1;
  position: relative;
  overflow: hidden; }
  #one-seven .one-seven-block .one-seven-block-image {
    position: relative;
    float: left;
    width: 40%; }
    #one-seven .one-seven-block .one-seven-block-image img {
      position: absolute;
      top: 83px; }
  #one-seven .one-seven-block .one-seven-block-desc {
    float: right;
    position: relative;
    width: 55%;
    margin-top: -18px; }
    #one-seven .one-seven-block .one-seven-block-desc strong {
      font-family: 'montserratbold_allfont_ru', sans-serif;
      font-size: 197px;
      color: rgba(159, 163, 167, 0.17); }
    #one-seven .one-seven-block .one-seven-block-desc .one-seven-content {
      position: absolute;
      top: 124px;
      left: 86px; }
      #one-seven .one-seven-block .one-seven-block-desc .one-seven-content h3 {
        font-family: 'GilroyBold', sans-serif;
        font-size: 44px;
        color: #212121;
        line-height: 51px;
        margin-bottom: 30px; }
      #one-seven .one-seven-block .one-seven-block-desc .one-seven-content p {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        color: #8a8a8a;
        line-height: 25px;
        margin-bottom: 24px;
        width: 84%; }
      #one-seven .one-seven-block .one-seven-block-desc .one-seven-content ul {
        padding: 0; }
      #one-seven .one-seven-block .one-seven-block-desc .one-seven-content li {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        color: #8a8a8a;
        line-height: 25px; }
      #one-seven .one-seven-block .one-seven-block-desc .one-seven-content .one-seven-button {
        width: 220px;
        background: #fff;
        border: 3px solid #ac2821;
        padding: 9px 60px 9px 20px;
        border-radius: 30px;
        background-position: center right 23px;
        background-repeat: no-repeat;
        margin-top: 14px; }
        #one-seven .one-seven-block .one-seven-block-desc .one-seven-content .one-seven-button a {
          font-family: 'ProbaProBold';
          color: #ac2821;
          font-size: 12px;
          letter-spacing: 3px;
          text-transform: uppercase; }
      #one-seven .one-seven-block .one-seven-block-desc .one-seven-content .one-seven-button:hover {
        background: #ac2821;
        background-image: url("../img/arrow-right-white.png") !important;
        background-position: center right 23px !important;
        background-repeat: no-repeat !important; }
        #one-seven .one-seven-block .one-seven-block-desc .one-seven-content .one-seven-button:hover a {
          color: #fff; }
    #one-seven .one-seven-block .one-seven-block-desc .third-block p {
      margin-bottom: 0;
      width: 98%; }
    #one-seven .one-seven-block .one-seven-block-desc .third-block .one-seven-button {
      margin-top: 20px; }
    #one-seven .one-seven-block .one-seven-block-desc .fourth-block p {
      margin-bottom: 0; }
    #one-seven .one-seven-block .one-seven-block-desc .fourth-block .one-seven-button {
      margin-top: 20px; }
  #one-seven .one-seven-block .five-block {
    width: 58%; }
    #one-seven .one-seven-block .five-block .one-seven-content {
      left: 96px; }
      #one-seven .one-seven-block .five-block .one-seven-content p {
        margin-bottom: 39px; }
      #one-seven .one-seven-block .five-block .one-seven-content ul {
        padding-left: 20px; }
        #one-seven .one-seven-block .five-block .one-seven-content ul li {
          line-height: 35px; }
      #one-seven .one-seven-block .five-block .one-seven-content .one-seven-button {
        margin-top: 30px; }
  #one-seven .one-seven-block .six-block strong {
    margin-left: -50px; }
  #one-seven .one-seven-block .six-block .one-seven-content {
    left: 18px; }
    #one-seven .one-seven-block .six-block .one-seven-content p {
      width: 100%;
      margin-bottom: 0px; }
    #one-seven .one-seven-block .six-block .one-seven-content ul {
      padding-left: 20px; }
      #one-seven .one-seven-block .six-block .one-seven-content ul li {
        line-height: 35px; }
    #one-seven .one-seven-block .six-block .one-seven-content .one-seven-button {
      margin-top: 30px; }
  #one-seven .one-seven-block .seven-block strong {
    margin-top: 6px; }

#one-seven .one-seven-block:nth-child(2n) {
  background-color: #fff; }
  #one-seven .one-seven-block:nth-child(2n) .one-seven-block-image {
    float: right; }
  #one-seven .one-seven-block:nth-child(2n) .one-seven-block-desc {
    float: left; }

/******************************************Law*****************************/
#law {
  width: 100%;
  height: 594px;
  background-position: center center;
  background-repeat: no-repeat; }
  #law h3 {
    font-family: 'GilroyBold', sans-serif;
    margin-top: 118px;
    margin-bottom: 23px;
    font-size: 39px;
    line-height: 51px;
    color: #fff; }
  #law p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 25px;
    color: #fff; }
  #law blockquote {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: #fff;
    margin-top: 25px;
    border-left: none;
    display: block;
    padding: 20px;
    background-color: #396cb1; }
  #law img {
    margin-top: 5px; }

/******************************************MaxComfort*****************************/
#max-comfort {
  width: 100%;
  background-color: #fff; }
  #max-comfort img {
    margin-left: -80px;
    margin-top: 6px; }
  #max-comfort h2 {
    font-family: 'GilroyBold', sans-serif;
    font-size: 53px;
    text-align: center;
    color: #181818;
    margin-top: 86px; }
    #max-comfort h2 strong {
      color: #ac2821;
      text-transform: uppercase; }
  #max-comfort p {
    font-family: 'GilroyRegular', sans-serif;
    font-size: 19px;
    color: #181818;
    text-align: center; }
  #max-comfort .max-comfort-left {
    margin-top: 52px; }
    #max-comfort .max-comfort-left hr {
      width: 2px;
      height: 94%;
      background: #ac2821;
      background-color: #ac2821;
      position: absolute;
      left: -3px;
      margin: 10px 0; }
    #max-comfort .max-comfort-left ol {
      counter-reset: li;
      padding: 0;
      list-style-type: none;
      margin-left: 40px;
      position: relative;
      margin-bottom: 0px; }
    #max-comfort .max-comfort-left ol li {
      font-family: 'GilroyBold';
      font-size: 19px;
      line-height: 24px;
      position: relative;
      margin: 0 0 29px 20px;
      padding: 4px 8px;
      width: 88%; }
    #max-comfort .max-comfort-left ol li:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 3px solid #ac2821;
      left: -40px;
      text-align: center;
      font-size: 19px;
      top: 10px;
      background-color: #fff; }

/******************************************News*****************************/
#news {
  width: 100%;
  height: 849px; }
  #news h2 {
    font-family: 'GilroyBold', sans-serif;
    font-size: 53px;
    text-align: center;
    color: #181818;
    margin-top: 94px;
    margin-bottom: 66px; }
    #news h2 strong {
      color: #ac2821;
      text-transform: uppercase; }
  #news .col-lg-4 {
    padding: 0 10px; }
  #news .news-block {
    height: 100%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding-bottom: 30px;
    position: relative; }
    #news .news-block .left, #news .news-block .right {
      position: absolute;
      bottom: 25px; }
    #news .news-block .right {
      right: 25px; }
  #news .news-block-image {
    width: 100%;
    height: 215px; }
    #news .news-block-image img {
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0; }
  #news .news-block-text {
    min-height: 226px;
    padding: 50px 25px 25px 25px; }
    #news .news-block-text h4 {
      font-family: 'GilroyBold', sans-serif;
      font-size: 22px;
      color: #181818; }
    #news .news-block-text p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #9fa3a7; }
    #news .news-block-text span {
      font-size: 11px;
      color: #9fa3a7;
      text-transform: uppercase; }
      #news .news-block-text span img {
        margin-right: 7px; }
    #news .news-block-text .left {
      float: left; }
    #news .news-block-text .right {
      float: right; }
  #news .other-news {
    text-align: center;
    margin-top: 30px; }
    #news .other-news a {
      font-family: 'ProbaProBold', sans-serif;
      font-size: 12px;
      color: #ac2821;
      text-transform: uppercase;
      border-bottom: 1px solid #ac2821; }
    #news .other-news img {
      margin-left: 10px; }

/******************************************Tarifs*****************************/
#tarifs {
  min-height: 300px;
  background-repeat: repeat-y; }
  #tarifs h2 {
    font-family: 'GilroyBold', sans-serif;
    font-size: 53px;
    text-align: center;
    color: #181818;
    margin-top: 77px;
    margin-bottom: 100px; }
    #tarifs h2 strong {
      color: #ac2821;
      text-transform: uppercase; }
  #tarifs .tarifs-block {
    background-color: #eeeeee;
    border-radius: 10px 10px 0 0;
    height: 610px;
    margin-top: 40px;
    position: relative; }
    #tarifs .tarifs-block span {
      font-family: 'ProbaProBold', sans-serif;
      font-size: 12px;
      color: #151515;
      text-transform: uppercase;
      text-align: center;
      display: block;
      padding-top: 44px; }
    #tarifs .tarifs-block strong {
      font-family: 'GilroyRegular', sans-serif;
      font-size: 55px;
      color: #141414;
      display: block;
      text-align: center; }
      #tarifs .tarifs-block strong i {
        font-size: 20px;
        font-style: normal; }
    #tarifs .tarifs-block ul {
      list-style-type: none;
      text-align: center;
      padding: 0px; }
      #tarifs .tarifs-block ul li {
        font-size: 12px;
        color: #1e1e1e;
        padding: 3px 0; }
        #tarifs .tarifs-block ul li strong {
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          display: inline-block;
          color: #000; }
      #tarifs .tarifs-block ul li:nth-child(2n+1) {
        font-weight: bold; }
    #tarifs .tarifs-block .tarifs-button {
      position: absolute;
      bottom: 50px;
      left: 50%;
      margin-left: -91px; }
      #tarifs .tarifs-block .tarifs-button a {
        font-family: 'GilroyBold', sans-serif;
        border: 2px solid #979797;
        padding: 16px 50px;
        border-radius: 50px;
        color: #474747;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 3px; }
    #tarifs .tarifs-block .tarifs-button:hover a {
      background-color: #ac2821;
      color: #fff;
      border: 2px solid #ac2821; }
  #tarifs .tarifs-block-middle {
    background-color: #ac2821;
    border-radius: 10px 10px 0 0;
    height: 610px; }
    #tarifs .tarifs-block-middle .popular {
      text-align: right;
      padding-top: 20px;
      padding-right: 12px; }
      #tarifs .tarifs-block-middle .popular span {
        color: #fff;
        background-color: #1d8dff;
        padding: 2px 7px;
        border-radius: 5px;
        font-size: 11px;
        display: inline-block; }
    #tarifs .tarifs-block-middle span {
      font-family: 'ProbaProBold', sans-serif;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      display: block;
      padding-top: 24px; }
    #tarifs .tarifs-block-middle strong {
      font-family: 'GilroyRegular', sans-serif;
      font-size: 55px;
      color: #fff;
      display: block;
      text-align: center; }
      #tarifs .tarifs-block-middle strong i {
        font-size: 20px;
        font-style: normal; }
    #tarifs .tarifs-block-middle ul {
      list-style-type: none;
      text-align: center;
      padding: 0px; }
      #tarifs .tarifs-block-middle ul li {
        font-size: 12px;
        color: #fff;
        padding: 3px 0; }
        #tarifs .tarifs-block-middle ul li strong {
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          display: inline-block;
          color: #fff; }
    #tarifs .tarifs-block-middle .tarifs-button {
      margin-top: 38px;
      text-align: center; }
      #tarifs .tarifs-block-middle .tarifs-button a {
        font-family: 'GilroyBold', sans-serif;
        padding: 16px 50px;
        border-radius: 30px;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 3px;
        background-color: #1d8dff; }
    #tarifs .tarifs-block-middle .tarifs-button:hover a {
      background-color: #fff;
      color: #1d8dff; }
  #tarifs .remarks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; }
  #tarifs .remarks li {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    color: #acacac; }

/******************************************Orders*****************************/
#order {
  background-position: center center;
  width: 100%;
  height: 678px; }
  #order .order-left-block {
    margin-top: 232px; }
    #order .order-left-block strong {
      display: block;
      font-size: 53px;
      color: #fff; }
    #order .order-left-block span {
      color: #fff;
      font-size: 17px; }
    #order .order-left-block form {
      margin-top: 30px; }
    #order .order-left-block input {
      width: 360px;
      display: block;
      margin-bottom: 15px;
      height: 45px;
      color: #646464;
      font-size: 17px;
      border: 2px solid #e5e5e5;
      background-position: center right 10px;
      background-repeat: no-repeat;
      padding-left: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #646464; }
    #order .order-left-block button {
      font-family: 'ProbaProBold', sans-serif;
      letter-spacing: 3px;
      width: 295px;
      height: 58px;
      background-color: #1d8dff;
      border: 2px solid #fff;
      border-radius: 30px;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      background-position: center right 39px;
      background-repeat: no-repeat;
      margin-top: 13px;
      text-align: left;
      padding-left: 40px; }
    #order .order-left-block button:hover {
      background-color: #fff;
      color: #ac2821;
      background-image: url("../img/arrow-red.png") !important; }
  #order .order-right-block {
    background-position: left 10px top 157px;
    height: 678px;
    background-repeat: no-repeat; }

/******************************************Footer*****************************/
footer {
  height: 200px; }
  footer .footer-one-left {
    margin-top: 48px; }
  footer .footer-menu ul {
    list-style-type: none;
    text-align: right;
    margin-top: 60px; }
  footer .footer-menu li {
    display: inline-block;
    padding: 0 15px; }
    footer .footer-menu li a {
      font-family: 'ProbaProBold', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #444;
      letter-spacing: 2px; }
  footer .polite {
    margin-top: 31px; }
  footer .soc-icons ul {
    list-style-type: none;
    text-align: right;
    margin-top: 22px; }
  footer .soc-icons li {
    display: inline-block;
    padding: 0 43px; }
  footer .polite a {
    color: #4d4d4d;
    font-size: 14px;
    border-bottom: 1px solid #4d4d4d; }

.hidden {
  display: none; }
