@media only screen and (min-width : 0px) and (max-width : 479px) {

	header{
		background-image: url('../img/main-bg-small.png')!important;
		background-position: top center!important;
	}

	header{
		overflow: hidden;
	}

	header .col-xs-7, header .col-xs-5{
		width: 100%;	
		text-align: center;
	}

	header .button-order{
		float: none;
		text-align: center;
		margin-top: 20px;
	}

	header .navbar{
		margin-left: 0px;
		width: 100%;		
	}

	header .navbar{
		float: right;
	}

	.navbar-default .navbar-toggle{
		background-color: transparent;
		border: 2px solid #fff;
		margin-right: 0px;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-collapse .in{
		background-color: #b14c46;
	}

	header .navbar-default .navbar-nav > li > a{
		text-align: center;
		border-bottom: 1px solid white;
	}

	header h1{
		font-size: 28px;
		margin-top: 10px;
		line-height: 40px;
	}

	header p{
		width: 100%;
		font-size: 13px;
	}

	header .banner-button{
		margin-top: 55px;
		text-align: center;
	}

	#princeples .col-xs-6{
		width: 100%;
	}


	#princeples .principles-block{
		width: 100%;
		left: 10%;	
	}

	#princeples .second-pr-block{
		margin-left: 0px;
		margin-top: 40px;

	}

	#princeples .third{
		width: 290px;
		margin-top: 40px;
		margin-left: 0px;
		left: 0px;

	}

	#princeples .principles-block .arrow{
		display: none;
	}

	#princeples .third{
		margin: 40px auto 0px;
	}

	#goToNextSlide,	#goToPrevSlide{
		display: none;
	}

	#one-seven .one-seven-block .one-seven-block-image{
		text-align: center;
		width: 100%;
	}

	#one-seven .one-seven-block .one-seven-block-image img{
		position: static;
		margin-top: 40px;
		width: 100%;
		height: auto;		
	}

	#one-seven .one-seven-block .one-seven-block-desc .one-seven-content .one-seven-button{
		margin-bottom: 40px;
	}

	#one-seven .one-seven-block .one-seven-block-desc{
		margin-left: 0px;
	}

	#one-seven .one-seven-block .one-seven-block-desc strong{
		font-size: 140px;
	}

	#one-seven .one-seven-block .one-seven-block-desc .one-seven-content{
		margin-left: 0px;
		margin-top: -132px;
	}

	#one-seven .one-seven-block .one-seven-block-desc .one-seven-content h3{
		font-size: 34px;
		line-height: 40px;
	}

	#one-seven .one-seven-block .one-seven-block-desc .one-seven-content p{
		width: 100%;
	}

	#law h3{
		margin-top: 0px;
	}

	#law .law-block{
		text-align: center;
	}

	#law img{
		width: 100%;
	}

	#max-comfort h2{
		font-size: 45px;
	}

	#law .law-block{
		text-align: center;
	}

	#max-comfort img{
		width: 100%;
		margin-left: 0px;
	}

	#news{
		padding-bottom: 30px;
	}

	#news .col-xs-12{
		margin-bottom: 20px;
	}

	#tarifs h2{
		font-size: 44px;
		margin-bottom: 30px;
	}

	#tarifs .tarifs-block-middle{
		margin-top: 40px;
	}

	#tarifs .remarks{
		margin-top: 30px;
	}

	#order .order-left-block strong{
		line-height: 55px;
	}

	#order .order-right-block{
		display: none;
	}

	#order .order-left-block{
		text-align: center;
		margin-top: 120px;
	}

	#order .order-left-block input{
		margin: 15px auto;
		width: 100%;
	}

	footer .col-xs-6, footer .col-xs-4, footer .col-xs-8{
		width: 100%;
	}

	footer .footer-menu ul{
		padding: 0px;
		text-align: center;
	}

	footer .footer-menu li{
		display: block;
	}

	footer .footer-one-left{
		text-align: center;
	}

	footer .soc-icons ul{
		padding: 0;
		text-align: center;
	}

	footer .polite{
		text-align: center;
		display: block;
	}

	footer .soc-icons li{
		padding: 0 20px;		
	}

	#one-seven #six-block strong{
		margin-left: -10px!important;
	}

	#hidden_form .decor, #hidden_form2 .decor{
		display: none;
	}

	#hidden_form .wrap-content, #hidden_form2 .wrap-content{
		margin-left: 0px;
		margin-top: 32px;
	}

	#hidden_form span, #hidden_form2 span{
		font-size: 32px;
	}

	#hidden_form input, #hidden_form2 input{
		width: 100%;
	}

	#hidden_form .submit-button, #hidden_form2 .submit-button{
		margin-top: 15px;
	}

	#hidden_form hr, #hidden_form2 hr{
		width: 100%;
		margin-top: 10px;
	}

	#hidden_form p, #hidden_form2 p{
		font-size: 15px;
	}

	#hidden_form strong, #hidden_form2 strong{
		font-size: 30px;
	}

	#hidden_form span, #hidden_form2 span{
		font-size: 28px;
	}


}

@media only screen and (min-width : 480px) and (max-width : 767px){

	header{
		overflow: hidden;
	}

	header p{
		width: 90%;
	}

	header .navbar{
		margin-left: 0px;
		width: 100%;		
	}

	header .navbar{
		float: right;
	}

	.navbar-default .navbar-toggle{
		background-color: transparent;
		border: 2px solid #fff;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-collapse .in{
		background-color: #b14c46;
	}

	header .navbar-default .navbar-nav > li > a{
		text-align: center;
		border-bottom: 1px solid white;
	}

	header h1{
		margin-top: 10px;
	}

	header .banner-button{
		margin-top: 45px;
	}

	#princeples .principles-block{
		width: 100%;
		left: 10%;	
	}

	#princeples .second-pr-block{
		margin-left: -10px;
	}

	#princeples .third{
		width: 290px;
		margin-top: 40px;
		margin-left: 0px;
		left: 0px;

	}

	#princeples .third{
		margin: 40px auto 0px;
	}

	#goToNextSlide,	#goToPrevSlide{
		display: none;
	}

	#one-seven .one-seven-block .one-seven-block-image{
		text-align: center;
	}

	#one-seven .one-seven-block .one-seven-block-image img{
		position: static;
		margin-top: 40px;		
	}

	#one-seven .one-seven-block .one-seven-block-desc .one-seven-content .one-seven-button{
		margin-bottom: 40px;
	}

	#one-seven .one-seven-block .one-seven-block-desc{
		margin-left: 0px;
	}

	#one-seven #six-block strong{
		margin-left: -10px!important;
	}


	#law h3{
		margin-top: 0px;
	}

	#law .law-block{
		text-align: center;
	}

	#max-comfort img{
		width: 100%;
		margin-left: 0px;
	}

	#news{
		padding-bottom: 30px;
	}

	#news .col-xs-12{
		margin-bottom: 20px;
	}

	#news .news-block-image{
		width: 100%;
		height: auto;
	}

	#tarifs h2{		
		margin-bottom: 30px;
	}

	#tarifs .tarifs-block-middle{
		margin-top: 40px;
	}

	#tarifs .remarks{
		margin-top: 30px;
	}

	#order .order-right-block{
		display: none;
	}

	#order .order-left-block{
		text-align: center;
	}

	#order .order-left-block input{
		margin: 15px auto;
	}

	footer .footer-menu li{
		display: block;
	}

	footer .soc-icons ul{
		padding: 0;
	}

	footer .soc-icons li{
		padding: 0 0 0 53px;
	}

	#hidden_form input, #hidden_form2 input{
		width: 100%;
	}

	#hidden_form .wrap-content, #hidden_form2 .wrap-content{
		margin-left: 76px;
		margin-top: 30px;
	}

	#hidden_form .submit-button, #hidden_form2 .submit-button{
		margin-top: 20px;
	}

	#hidden_form hr, #hidden_form2 hr{
		width: 100%;
		margin-top: 14px;
	}

	footer .footer-menu li{
		padding-right: 0;
	}

}

@media only screen and (min-width : 768px) and (max-width : 991px){

	header .navbar{
		margin-left: 0px;		
	}

	header .navbar-collapse{
		padding: 0px;
	}

	header .navbar li{
		float: none;
		display: inline-block;		
	}

	header .navbar{
		float: none;
		text-align: center;
	}

	header .navbar-nav{
		float: none;
	}

	#princeples .third{
		margin-top: 50px;
		margin-left: 0px;
	}

	#princeples .third{
		margin: 40px auto 0px;
	}

	#goToNextSlide{
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
	}

	#goToPrevSlide{
		width: 40px;
		height: 40px;
		background-size: 40px 40px;	
	}

	#one-seven .one-seven-block .one-seven-block-image img{
		top: 83px;
		margin-left: -150px;
	}

	#one-seven .one-seven-block .one-seven-block-desc .one-seven-content h3{
		font-size: 42px;
		line-height: 42px;
	}

	#one-seven .one-seven-block .one-seven-block-desc .one-seven-content p{
		line-height: 21px;
	}

	#one-seven .one-seven-block:nth-child(2n) .one-seven-block-image img{
		margin-left: 0px;		
	}	

	#one-seven .one-seven-block:nth-child(2n) .one-seven-block-desc .one-seven-content{
		margin-left: 30px;
	}

	#one-seven .third-block .one-seven-block-desc{
		margin-left: 0px;
	}

	#one-seven .five-block .one-seven-block-desc .one-seven-content{
		margin-top: -215px;
	}

	#one-seven .five-block .one-seven-block-desc{
		margin-left: 0px;
	}

	#one-seven .five-block .one-seven-content p{
		margin-bottom: 10px!important;
	}

	#one-seven .five-block .one-seven-content ul li{
		line-height: 27px!important;
	}

	#one-seven #six-block .one-seven-content ul li{
		line-height: 21px;
	}

	#news{
		padding-bottom: 30px;
	}

	#news .col-sm-6{
		margin-bottom: 20px;
	}

	#tarifs .tarifs-block strong{
		font-size: 40px;
	}

	#tarifs .tarifs-block-middle strong{
		font-size: 40px;
	}

	#order .order-left-block{
		margin-top: 180px;
	}

	#order .order-left-block strong{
		line-height: 50px;
	}

	footer .footer-menu ul{
		padding-left: 0px;
	}

	footer .footer-one-left{
		text-align: center;
	}

	#hidden_form input, #hidden_form2 input{
		width: 370px;
	}

	#hidden_form .wrap-content, #hidden_form2 .wrap-content{
		margin-left: 77px;
	}



}

@media only screen and (min-width: 992px) and (max-width: 1199px){

	header .col-md-2 img{
		width: 100%;
		height: auto;
	}

	header .navbar{
		margin-left: 15px;
	}

	header .nav > li > a{
		padding: 15px 10px;
	}

	header .button-order a{
		padding: 8px 20px;
	}

	header .navbar-collapse{
		padding: 0px;
	}

	#princeples .second-pr-block{
		margin-left: 30px;
	}

	#princeples .third{
		margin-left: 35px;
	}

	#goToNextSlide{
		width: 30px;
		height: 30px;
		background-size: 30px 30px;
	}

	#goToPrevSlide{
		width: 30px;
		height: 30px;
		background-size: 30px 30px;	
	}

	#one-seven .one-seven-block .one-seven-block-desc .one-seven-content h3{
		font-size: 42px;
	}

	#one-seven .third-block .one-seven-block-desc .one-seven-content{
		margin-top: -215px;
	}

	#one-seven .third-block .one-seven-block-desc .one-seven-content p{
		width: 84%!important;
	}

	#one-seven .fourth-block .one-seven-block-desc .one-seven-content h3{
		line-height: 42px;
	}

	#one-seven .five-block .one-seven-block-desc .one-seven-content{
		margin-top: -215px;
	}

	#one-seven #six-block .one-seven-content ul li{
		line-height: 21px;
	}

	footer .footer-menu ul{
		padding-left: 0px;
	}

	.footer-menu li:nth-child(6){
		padding-right: 0px
	}
	
}


@media only screen and (min-width: 1200px) and (max-width: 1920px){

	.footer-menu li:nth-child(6){
		padding-right: 0px
	}
}