@font-face {
  font-family: "8292";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/8292.eot?#iefix") format("embedded-opentype"), url("../fonts/8292.woff") format("woff"), url("../fonts/8292.ttf") format("truetype");
}
