@media only screen and (min-width : 0px) and (max-width : 479px) {	

	.banner-top h1{
		font-size: 34px!important;
	}

	.banner-top{
		background-position: top left -450px;	
	}

	.btn-ban-orange{
		width: 100%;
	}

	.quote-block-sec:after{
		display: none;
	}

	.quote-block{
		height: auto;
	}

	.video_wrapper{
		height: 168px;
	}

	.iss-benef-block{
		min-height: auto;
	}

	.hidden-btn{
		display: block;
	}

	.strategy-graph{
		width: 90%;
	}

	.attention{
		height: auto;
	}

	.form-single input{
		width: 100%;
	}

	.add-form{
		height: auto;
	}

	.container-content{
		max-width: 100%;
	}

	
}

@media only screen and (min-width : 480px) and (max-width : 575px) {

	.banner-top{
		background-position: top left -450px;	
	}

	.quote-block-sec:after{
		display: none;
	}

	.quote-block{
		height: auto;
	}

	.video_wrapper{
		height: 280px;
	}

	.iss-benef-block{
		min-height: auto;
	}

	.hidden-btn{
		display: block;
	}

	.strategy-graph{
		width: 90%;
	}

	.attention{
		height: auto;
	}

	.form-single input{
		width: 100%;
	}

	.add-form{
		height: auto;
	}

	
}

@media only screen and (min-width : 576px) and (max-width : 767px) {

	.banner-top{
		background-position: top left -450px;	
	}

	.quote-block-sec:after{
		right: 0px;
	}

	.quote-block{
		height: auto;
	}

	.iss-benef-block{
		min-height: auto;
	}

	.hidden-btn{
		display: block;
	}

	.attention{
		height: auto;
	}

	.form-single input{
		width: 100%;
		max-width: 400px;
	}

	.add-form{
		height: auto;
	}

	
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.container-content{
		max-width: 718px;
	}

	.banner-top{
		background-position: top left -300px;	
	}

	.quote-block-sec:after{
		right: 0px;
	}

	.quote-block{
		height: 218px;
	}

	.iss-benef-block{
		min-height: auto;
	}

	.hidden-btn{
		display: block;
	}

	.attention{
		height: auto;
	}

	.form-single input{
		width: 100%;
	}

	
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.quote-block-sec:after{
		right: 0px;
	}

}