body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body h2 {
  font-family: "RobotoLight", sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: #fff;
}

/* Header */
header .col-md-7 {
  width: 56.57142%;
}

header .col-md-2 {
  width: 17.85714%;
}

header .col-md-3 {
  width: 25.5714%;
}

header .podl {
  background-image: url("../img/top_bg.png");
  height: 108px;
  background-size: cover;
  background-position: top center;
}

header .logo {
  font-family: "RobotoRegular", sans-serif;
  font-size: 20px;
  text-align: center;
  height: 108px;
}

header .top_banner {
  background-color: rgba(39, 150, 207, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  font-weight: normal;
}

header .top_banner h2 {
  margin: 23px 0 20px 0;
}

header .telephone span {
  font-family: "RobotoBold", sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  font-weight: bold;
}

header .telephone a {
  font-family: "RobotoBold", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-left: 75px;
  text-decoration: underline;
  font-weight: normal;
  line-height: 18px;
  vertical-align: middle;
}

header .fa-volume-control-phone {
  font-size: 18px;
  padding-right: 10px;
}

header .contacts {
  padding: 19px 45px 20px 10px;
  height: 108px;
}

header .contacts .fa-map-pin,
header .contacts .fa-paper-plane {
  font-size: 16px;
  margin-right: 5px;
  color: #2796cf;
}

header .contacts span {
  white-space: pre-wrap;
  display: block;
  font-family: "RobotoLight", sans-serif;
  font-size: 0.88em;
  text-align: right;
  margin-bottom: 12px;
}

/* Menu */
.navbar-default,
.navbar {
  position: relative;
  height: 45px;
  background-color: #2796cf;
  z-index: 2;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #076d6d;
}

.nav > li > a {
  position: relative;
  display: block;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  height: 45px;
  padding: 12px 30px;
  text-decoration: underline;
}

.navbar-collapse {
  padding: 0 45px;
}

.navbar-brand {
  color: #fff !important;
  padding: 25px 0;
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  height: 45px;
  padding-left: 20px;
  display: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #2268af;
}

.form-group input {
  display: inline-block;
}

.form-group i {
  position: absolute;
  top: 15.5px;
  right: 50px;
  color: #fff;
}

/* Main Banner */
.main_banner {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  height: 492px;
  width: 100%;
  background-position: top center;
  background-size: cover;
}

.main_banner .top_line {
  width: 477px;
  height: 88px;
  background-color: #2796cf;
  text-align: center;
}

.main_banner .top_line h2 {
  margin: 0;
  line-height: 24px;
  padding-top: 45px;
}

.main_banner .response {
  padding: 67px 0 0 10px;
}

.main_banner .response_form {
  background-color: rgba(39, 150, 207, 0.5);
  width: 477px;
  height: 150px;
  padding: 19px 45px;
}

.main_banner .response_form input {
  display: block;
  border: none;
  font-family: "RobotoLight", sans-serif;
  font-size: 14px;
  color: #2796cf;
  margin-bottom: 21px;
  width: 385px;
  height: 45px;
  padding: 15px 13px;
}

.main_banner .bottom_line {
  width: 477px;
  height: 105px;
  background-color: #2796cf;
  text-align: center;
}

.main_banner .bottom_line input {
  border: none;
  background-color: #2268af;
  color: #fff;
  font-family: "RobotoThin", sans-serif;
  font-size: 14px;
  width: 175px;
  height: 45px;
  line-height: 45px;
  padding: 0 45px;
  margin-bottom: 45px;
  margin-top: 15px;
}

/* Work Sheme */
.shema {
  padding-bottom: 45px;
}

.shema .line {
  background-color: #2796cf;
  height: 45px;
  width: 594px;
  margin: 0 auto;
  text-align: center;
}

.shema .line h2 {
  margin: 0;
  font-size: 30px;
  line-height: 45px;
}

.shema .shema_block {
  margin-top: 45px;
}

.shema .shema_block1 {
  margin-top: 8px;
}

.shema .shema_block3 {
  margin-top: 14px;
}

.shema .shema_img {
  text-align: center;
}

.shema .shema_descr {
  text-align: center;
}

.shema .shema_descr span {
  display: block;
  font-family: "RobotoBold", sans-serif;
  font-size: 14px;
  color: #2796cf;
  padding: 14px 0 5px;
}

.shema .shema_descr p {
  font-family: "RobotoLight", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 0;
}

/* Slider */
.slider .left {
  background-image: url("../img/left.png");
  height: 266px;
  background-position: top center;
  background-repeat: no-repeat;
}

.slider .right {
  background-color: #2796cf;
  height: 266px;
}

.slider .right h3 {
  margin: 0;
  font-family: "RobotoBlack", sans-serif;
  font-size: 36px;
  color: #fbebad;
  padding-bottom: 15px;
  line-height: 36px;
}

.slider .right p {
  margin: 0;
  font-family: "RobotoLight", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 24px;
  padding-bottom: 14px;
  width: 98%;
}

.slider .right span {
  margin: 0;
  font-family: "RobotoBlack", sans-serif;
  font-size: 24px;
  color: #fbebad;
  line-height: 24px;
}

.slider .right_text {
  width: 93%;
  padding-top: 45px;
  text-align: center;
}

.slider .line_left {
  width: 45px;
  height: 266px;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider .line_left img {
  display: block;
  margin: 0 auto;
  padding-top: 100.5px;
}

.slider .line_right {
  width: 45px;
  height: 266px;
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
}

.slider .line_right img {
  display: block;
  margin: 0 auto;
  padding-top: 100.5px;
}

.slider .line_left_r {
  width: 45px;
  height: 266px;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.slider .line_left_r img {
  display: block;
  margin: 0 auto;
  padding-top: 100.5px;
}

.slider .slider_wrap {
  width: 93%;
}

.slider .slider_button {
  border: none;
  background-color: #2268af;
  color: #fff;
  font-family: "RobotoThin", sans-serif;
  font-size: 14px;
  width: 175px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  margin-top: 25px;
}

.slider .slider_button a {
  display: block;
  color: #fff;
  text-decoration: underline;
  text-align: center;
  font-family: "RobotoThin", sans-serif;
  font-size: 14px;
  line-height: 45px;
  padding: 0 45px;
}

/* Content */
.content .content_menu {
  background-color: #2796cf;
  height: 100%;
}

.content .content_menu h3 {
  color: #fff;
  margin: 0;
  font-family: "RobotoBlack", sans-serif;
  font-size: 24px;
  line-height: 36px;
  padding: 45px 0 12px 45px;
}

.content .col-md-3 > .menu_links:nth-child(7) {
  padding-bottom: 60px;
}

.content .menu_line {
  background-color: #2268af;
  height: 42px;
}

.content .menu_line h5 {
  color: #fff;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  line-height: 42px;
  padding-left: 45px;
  margin: 0;
}

.content .menu_links {
  background-color: #2796cf;
  height: 100%;
}

.content .menu_links ul {
  list-style-type: none;
  padding: 15px 45px;
  margin-bottom: 0;
}

.content .menu_links a {
  font-family: "RobotoLight", sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  text-decoration: underline;
  padding-left: 5px;
}

.content .menu_links i {
  font-family: "MinionPro", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #fff;
}

.content .right_content {
  padding: 45px 45px 28px 45px;
}

.content .right_content h2 {
  color: #2796cf;
  font-family: "RobotoLight", sans-serif;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 15px;
  margin: 0;
}

.content .right_content p {
  font-family: "RobotoLight", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 30px;
  margin: 0;
}

/* News */
.news .news_header {
  height: 45px;
  background-color: #bedff1;
}

.news .news_header h2 {
  font-family: "RobotoBlack", sans-serif;
  font-size: 30px;
  line-height: 45px;
  color: #2796cf;
  margin: 0;
  text-align: center;
}

.news .news_line {
  background-color: #2796cf;
  width: 100%;
}

.news .date_header {
  display: block;
  position: static;
  width: 100%;
  height: 100%;
}

.news .date_header span {
  font-family: "RobotoBlack", sans-serif;
  font-size: 14px;
  color: #fff;
  padding-left: 42px;
  padding-right: 11px;
  line-height: 25px;
}

.news .date_header a {
  font-family: "RobotoLight", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
}

.news .date_header p {
  margin: 0;
}

.news .news_image {
  position: relative;
  background-image: url("../img/bg_small1.png");
  height: 163px;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.news .news_image2 {
  position: relative;
  background-image: url("../img/bg_small2.png");
  height: 163px;
  width: 100%;
}

.news .news_image3 {
  position: relative;
  background-image: url("../img/bg_small3.png");
  height: 163px;
  width: 100%;
}

.news .slider_button {
  border: none;
  background-color: #2796cf;
  color: #fff;
  font-family: "RobotoThin", sans-serif;
  font-size: 14px;
  width: 175px;
  height: 45px;
  line-height: 45px;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.news .slider_button a {
  display: block;
  color: #fff;
  text-decoration: underline;
  text-align: center;
  font-family: "RobotoThin", sans-serif;
  font-size: 14px;
  line-height: 45px;
  padding: 0 45px;
}

.news .wrap {
  display: block;
  position: static;
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  height: 70px;
  background-color: #fff;
  position: relative;
}

footer .navbar {
  height: 70px;
  background-color: #fff;
}

footer .nav > li > a {
  margin: 0;
  padding: 0 18px;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  color: rgba(39, 150, 207, 0.68);
  height: 70px;
  line-height: 70px;
  display: inline-block;
}

footer .nav > li > a:hover {
  background-color: #fff;
}

footer .nav > li > a:visited {
  background-color: #fff;
}

footer .nav > li > a:focus {
  background-color: #fff;
}

footer span {
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  color: rgba(39, 150, 207, 0.68);
  height: 70px;
  line-height: 70px;
  display: inline-block;
}

footer p {
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  color: rgba(39, 150, 207, 0.68);
  line-height: 70px;
}

footer .copy {
  float: right;
  margin-right: 45px;
}

.hidden {
  display: none;
}
