/*

		1060

*/
@media (max-width: 1060px) {
	.price-box .price {
        min-width: 140px;
	}
	.price-box .price span {
		font-size: 26px;
		line-height: 60px;
	}
	.price-box .buy {
    	font-size: 22px;
        min-width: 140px;
        line-height: 60px;
	}
	.img-block.active {
		left: 160px;
	}
}
/*

		768

*/
@media (max-width: 768px) {
	.img-block {
	    left: 80px;
		right: 10px;
	}
	.menu {
		margin: 0;
	}
	.menu .tabs {
		width: 100vw;
		left: -100vw;
	}
	.menu.active .tabs {
		left: 0;
		padding-left: 70px;
	}
	.menu li:first-child {
	    border-top: 1px solid #c3a37e;
	}
	.menu li {
	    width: 70px;
	    border-right: 1px solid #c3a37e;
	}
	.menu li span {
	    font-size: 8px;
	    line-height: 10px;
	    position: absolute;
	    bottom: 4px;
	    left: 0;
	    width: 100%;
	}
	.menu .inner-tabs {
	    padding: 7px 5px 0 2px;
	}
	.menu .inner-tab {
		width: 25%;
	}
	.menu .txt-block {
	    padding: 6px 5px 0 2px;
	}
	.menu .txt-box {
	    text-align: center;
		width: 33.33%;
	}
	.menu .color-block {
    	padding: 3px 5px 0 0;
	}
	.menu .inner-block {
		padding: 10px 5px 0;
	}
	.menu .inner-pugs {
    	padding: 0 5px;
	}
	.menu .col {
	    position: relative;
	    top: 0;
	    width: 100%;
	}
    .menu .col:last-child {
	    left: 0;
	}
	.menu .col .inner-block {
		padding: 10px 5px 0;
	}
	.menu .col:last-child .inner-block {
		padding: 10px 5px 0;
	}
	.menu .col .inner-box {
    	width: 25%;
	}

	.menu .texture-tab .inner-box{
		width: 22vw;
		height: 22vw;

	}
}
@media (max-width: 520px) {
	.img-block {
	    left: 60px;
	}
	.price-box .price {
    	min-width: 135px;
	}
	.price-box .price span {
    	font-size: 20px;
    }
    .price-box .buy {
    	font-size: 16px;
        min-width: 120px;
    }
	.menu.active .tabs {
    	padding-left: 50px;
	}
	.menu .inner-tabs.l3.m .inner-tab,
	.menu .inner-tabs.l4.m .inner-tab {
    	width: 50%;
	}
	.menu .inner-tab .inner {
		height: 30px;
	}
	.menu .inner-tab.active .inner {
	    height: 33px;
	    padding-bottom: 3px;
	}
	.menu .inner-tab .inner span {
	    font-size: 7px;
	}
	.menu li {
    	text-align: center;
    	line-height: 45px;
    	height: 65px;
    	width: 50px;
	}
	.menu.active li {
    	width: 50px;
	}
	.menu li .img {
		width: 40px;
	}
	.menu .inner-box {
		width: 50%;
	}
	.menu .col .inner-box {
    	width: 50%;
	}
	.menu .checkbox-block label {
    	width: 50%;
	}
	.menu .input {
    	padding: 0 5px;
	}
	.menu .list {
    	max-width: 96%;
    	width: 330px;
    	display: inline-block;
    	margin: 0 5px;
	}

	.menu .texture-tab .inner-box{
		width: 27vw;
		height: 27vw;
	}
}