@import "bourbon/bourbon"

$dark-grey: #404040
$blue: #d1e9fc
$red: #fc4a60
$light-grey: #f5f5f5
$helv: 'HelveticaNeueCyrRoman', sans-serif
$helv-bold: 'HelveticaNeueCyrBold', sans-serif


html
	width: 100%
	height: 100%
	overflow-x: hidden
body
	width: 100%
	height: auto
	min-width: 320px	
	margin: 0 auto
	position: relative	
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	background-color: #fff
	font-family: $helv
	color: #000
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	a
		display: inline-block
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	ul, ol
		padding: 0px
		margin: 0px
		list-style-type: none
	button
		border: none
		cursor: pointer
	hr
		border: none	

.pixel
	background: url('../img/page.jpg') no-repeat top center
	width: 1920px
	height: 12800px
	position: absolute
	z-index: 1000000
	display: none
	left: 50%
	top: 0
	margin-left: -960px
	opacity: 0.5
	margin-top: 0px


/***************************************************GeneralStyles************************************/
.btn-red
	width: 223px
	height: 37px
	background-color: $red
	margin: 0 auto
	font-family: $helv-bold
	color: #fff
	font-size: 12px
	text-transform: uppercase
	text-align: center
	line-height: 37px
	display: block
	border-radius: 3px
.btn-red:hover
	color: #fff
	background-color: #e93b50

.first
	width: 100%
	height: 39px

/***************************************************Header***********************************/
header
	width: 100%
	height: 102px	
.logo
	margin-top: 25px
.h-search
	width: 100%
	height: 44px
	position: relative
	margin-top: 28px
	input
		width: 100%
		height: 100%
		background-color: $light-grey
		border: none
		padding: 0px 50px 0px 17px
		color: #000
		font-family: $helv
		font-size: 14px
	::-webkit-input-placeholder 
		color: $dark-grey
		font-family: $helv
		font-size: 14px		
	::-moz-placeholder
		color: $dark-grey
		font-family: $helv
		font-size: 14px		
	:-moz-placeholder 
		color: $dark-grey
		font-family: $helv
		font-size: 14px	
	:-ms-input-placeholder      
		color: $dark-grey
		font-family: $helv
		font-size: 14px	
	button
		width: 50px
		height: 44px
		position: absolute
		top: 0px
		right: 0px
		background: transparent
		background-image: url('../img/search.png')
		background-repeat: no-repeat
		background-position: center center
.phone
	background-image: url('../img/phone.png')
	background-repeat: no-repeat
	background-position: left center
	margin-top: 29px
	letter-spacing: 0.7px
.phone-link, .phone-link:visited, .phone-link:active, .phone-link:focus
	font-family: $helv-bold
	font-size: 15px
	color: #333
	padding-left: 20px
.phone-link:hover
	color: $red
.h-work
	background-image: url('../img/clock.png')
	background-repeat: no-repeat
	background-position: left 2px top 1px
	margin-top: 29px
	span
		font-size: 15px
		display: block
		padding-left: 25px
		margin-bottom: 7px
.busket
	width: 100%
	justify-content: flex-end
	margin-top: 30px
.busket_good
	span, a
		display: block
		font-size: 15px
		color: #000
	a:hover
		color: $red
.busket-cost
	font-family: $helv-bold
	margin-top: 5px
	letter-spacing: 0.7px
.busket-image
	position: relative
	margin-right: 5px
	margin-top: 3px
	margin-left: 5px
.busket_goods_number
	width: 16px
	height: 16px
	background: $blue
	border-radius: 100%
	position: absolute
	top: 0px
	right: -5px
	text-align: center
	font-family: $helv-bold
	font-size: 12px
	line-height: 16px
	color: $red

/***************************************************Main-menu***********************************/
.main-menu-sec
	width: 100%
	height: 40px
	background-color: $blue
	position: relative
	z-index: 100
.main-menu
	width: 100%
	height: 40px
	background-color: $blue
	position: relative
	z-index: 100
	ul
		width: 100%
		height: 40px
		display: flex
		justify-content: space-between
		align-items: center
	li
		height: 100%
.menu-link
	font-size: 15px
	font-family: $helv-bold
	color: #000	
	padding: 11px 15px
	height: 100%
.menu-link:hover, .is-open-link
	color: $red	
.is-open-link
	color: #000
	background-color: #f5f5f5
.drop-menu
	position: absolute
	background-color: #f5f5f5
	width: 1170px
	z-index: 100
	display: flex
	justify-content: space-around
	display: none
	right: 0px
	top: 40px	
	padding: 30px 15px
.drop-menu-image
	display: flex
	flex-direction: column	
	img
		width: 100%
		height: auto
.main-menu .drop-menu-list
	display: flex
	flex-direction: column
	align-items: flex-start
.tags
	display: flex
	flex-wrap: wrap	
	ul
		align-items: flex-start
		flex-wrap: wrap
		justify-content: flex-start
		height: auto
.body-overflow
	width: 100%
	height: 100%
	position: absolute
	background-color: rgba(0,0,0,0.7)
	display: none
	z-index: 10
.body-overflow-active
	display: block
.drope-image_header
	font-family: $helv-bold
	display: block
	margin-bottom: 10px
.drop-image_desc
	font-size: 15px
	line-height: 21px
	text-shadow: 0.5px 0px #000
	display: block
	margin-top: 10px
.drop-menu-list, .tags
	margin-top: 40px 
	a
		font-size: 15px
		color: #000
		text-shadow: 0.3px 0px #000		
	a:hover
		color: $red
		text-shadow: 0.3px 0px $red
	li
		margin-bottom: 10px
.tags-header
	font-family: $helv-bold
	font-size: 18px
.tags-block
	margin-top: 20px
.tags-block_header
	font-size: 15px
	font-family: $helv-bold
	display: block
	margin-bottom: 10px
.tags
	margin-top: 0px
	li
		margin-bottom: 0px
	a
		padding-right: 5px
		line-height: 25px

/***************************************************Catalog-Content***********************************/
.catalog-content
	padding-bottom: 45px
.filters
	width: 100%
	height: auto
	background-color: $light-grey
	border-radius: 5px
	margin-top: 30px
	padding-bottom: 20px	
.filters_category
	margin-top: 21px
.filters-header
	width: 100%
	height: 50px
	background-color: $blue
	border-radius: 5px 5px 0px 0px	
	line-height: 55px
	padding-left: 23px
	span
		font-family: $helv-bold
		font-size: 18px
		letter-spacing: 3px	
.filters-block
	margin: 0 20px
	padding: 15px 0px 3px 0px
	border-bottom: 1px solid #fff
.filters-block_header
	font-family: $helv-bold
	font-size: 15px
	color: #000
	background-image: url('../img/tr-down.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 23px
	letter-spacing: 2px	
	margin-bottom: 12px
.filters-block_header:visited, .filters-block_header:active, .filters-block_header:focus
	color: #000
.filters-cost	
	padding-bottom: 21px
	#amount
		margin-right: 14px
.filters-block_hidden
	display: block
	input
		width: 105px
		height: 30px
		border: none
		text-align: center
		font-size: 15px
	.ui-widget.ui-widget-content
		width: 100%
		height: 4px
		border: none
		margin: 0 auto
		background-color: #dadada
		margin-top: 13px
	.ui-slider .ui-slider-range
		background-color: $red
	.ui-state-default, .ui-widget-content .ui-state-default
		border-radius: 50%
		background-color: $red
		border: none
	.ui-slider-horizontal .ui-slider-handle
		top: -0.5em
		outline: none!important
.l-container
	display: block
	position: relative
	padding-left: 28px
	margin-bottom: 9px
	cursor: pointer
	font-size: 14px	
	font-weight: normal
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
.l-container input
	position: absolute
	opacity: 0
	cursor: pointer
.checkmark
	position: absolute
	top: 0
	left: 0
	height: 14px
	width: 14px
	background-color: #fff
	border-radius: 3px
.checkmark:after
	content: ""
	position: absolute
	display: none
.container input:checked ~ .checkmark:after
	display: block
.container .checkmark:after
	left: 5px
	top: -5px
	width: 9px
	height: 15px
	border: solid $red
	border-width: 0 3px 3px 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
.filters-button
	margin-top: 20px
	margin-bottom: 17px
.filters-clear
	text-align: center
.filters-clear_link
	font-family: $helv-bold
	color: #333
	font-size: 12px
	letter-spacing: 1.7px
	text-transform: uppercase	
	margin: 0 auto
.filters-clear_link:hover
	color: $red
.filters_category
	.filters-block_header
		font-size: 15px
		font-family: $helv
	.filters_category_link
		color: #333
		padding-left: 33px
		padding-right: 40px
		font-size: 14px
		line-height: 22px
	.filters_category_link:hover, .filters-block_header:hover
		color: $red
	li
		margin-bottom: 7px
	.filters-block
		padding: 6px 0px
		border-bottom: none	
	.fix-top-pad
		padding-top: 17px
.dropdown-hidden
	background-image: none
	padding-left: 0px


/******************************************Catalog-Content-Left***********************************/
.catalog-content_left
	.breadcrumb
		background-color: transparent
		padding-left: 0px
		margin-top: 15px
		margin-bottom: 20px
		.breadcrumb-item, .breadcrumb-item a
			font-size: 14px
			color: #c7c7c7
			letter-spacing: 1px
		.breadcrumb-item a:hover
			color: $red
		.active
			color: #000
	h2
		font-size: 28px
		font-family: $helv-bold
		color: #000
		letter-spacing: 3.5px
.pages-counter
	margin-top: 10px
	margin-bottom: 16px
	a
		font-size: 15px
		color: #000
		margin-right: 10px
	a:hover
		color: $red
.catalog-content-block
	width: 100%
	height: auto
	background-color: $light-grey
	border-radius: 5px
	margin-bottom: 31px
	position: relative
	img
		width: 100%
		border-radius: 5px 5px 0px 0px
	span
		display: block
.catalog-content-block_desc
	padding: 18px 10px 70px 15px	
.catalog-content-block_header
	font-size: 15px
	letter-spacing: 0.7px
.catalog-content-block_art
	font-size: 12px
	color: #c7c7c7
	margin-top: 3px
	letter-spacing: 0.5px
	i
		font-style: normal
.catalog-content-block_cost
	font-size: 18px
	color: $red
	margin-top: 12px
.btn__order
	margin-top: 10px
	width: 240px
	position: absolute
	bottom: 23px
	left: 15px
.pc-fix
	margin-top: -13px
	position: relative
	z-index: 10

/******************************************Footer***********************************/
footer
	width: 100%
	min-height: 338px
	background-color: $blue
	padding-top: 62px
	a, span
		color: #333	
	.logo
		margin-top: -12px
		margin-bottom: 17px
.social
	margin-top: 28px
	li
		margin-right: 7px
.social_link
	width: 41px
	height: 41px
	background-color: #000
	border-radius: 3px	
	background-repeat: no-repeat
	background-position: center center
.social_link:hover
	background-color: $red
.social_link__vk
	background-image: url('../img/vk.png')
.social_link__face
	background-image: url('../img/face.png')
.social_link__inst
	background-image: url('../img/insta.png')
.contacts
	margin-top: 28px
	li
		margin-bottom: 12px
	a, span
		font-size: 15px		
		padding-left: 28px
	a:hover
		color: $red
.contacts_phone
	background-image: url('../img/phone.png')
	background-repeat: no-repeat
	background-position: left center
.contacts_work
	background-image: url('../img/clock.png')
	background-repeat: no-repeat
	background-position: left center
.contacts_mail
	background-image: url('../img/mail.png')
	background-repeat: no-repeat
	background-position: left center
.customer
	li
		margin-bottom: 13px
.customer_list a
	font-size: 15px	
.customer_list a:hover
	color: $red
.footer_header
	font-size: 17px
	color: #171617
	font-family: $helv-bold
	letter-spacing: 2px
	display: block
	margin-bottom: 20px
.payment
	span
		display: block
	.footer_header
		margin-bottom: 12px
.adr
	background-image: url('../img/marker.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 24px
.copy
	font-size: 12px
.payment_methods
	margin-top: 68px
.hidden
	display: none

/***********************************************ButtonMobile************************************/
.menu-toggle-button
	width: 50px
	height: 40px
	float: right
	background-color: transparent
	border-radius: 7px
	padding-top: 5px
	border: none
	text-indent: -9999px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	position: relative
	display: block
	overflow: hidden
	margin-top: 10px
	float: left
	margin-left: -17px


.menu-toggle-button span 
	display: block
	height: 2px
	background: #fff
	position: absolute
	top: 15px
	left: 16px
	right: 16px
	-webkit-transition: background 0s 0.3
	-o-transition: background 0s 0.3
	transition: background 0s 0.3


.menu-toggle-button span::before, .menu-toggle-button span::after
	content: ""
	display: block
	width: 100%
	height: 2px
	background: #fff
	position: absolute
	left: 0px
	-webkit-transition-duration: 0.3s, 1s
	-o-transition-duration: 0.3s, 1s
	transition-duration: 0.3s, 1s
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s


.menu-toggle-button span::before 
	top: -5px

.menu-toggle-button span::after 
	bottom: -5px

.menu-toggle-button.is-active span
	background: none

.menu-toggle-button.is-active span::before
	top: 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	-webkit-transition-property: top, -webkit-transform
	transition-property: top, -webkit-transform
	-o-transition-property: top, transform
	transition-property: top, transform
	transition-property: top, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s
	background: #fff


.menu-toggle-button.is-active span::after 
	bottom: 0
	background: #fff
	-webkit-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	transform: rotate(-45deg)
	-webkit-transition-property: bottom, -webkit-transform
	transition-property: bottom, -webkit-transform
	-o-transition-property: bottom, transform
	transition-property: bottom, transform
	transition-property: bottom, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s

.menu-toggle-button:focus
	outline: none !important