@media only screen and (min-width : 0px) and (max-width : 479px) {

	.logo{
		margin-left: 0px;
		text-align: center;
	}

	.tagline{
		margin-top: 0px;
		padding-left: 0px;
		text-align: center;		
		line-height: 50px;
		display: block;

	}

	.phone{
		padding-right: 0px;
		text-align: center;		
	}

	.reg-link{
		margin-right: 0px;
	}

	.header-top{
		padding-bottom: 30px;
	}

	.decor{
		display: none;
	}

	.navbar-default{
		height: 50px;
	}

	.navbar-toggle{
		border: none;
		background-color: transparent;		
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff
	}

	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
 		background-color: #fff;
  		color: #203f82;
	}

	.navbar-default .navbar-collapse{
		position: absolute;
		z-index: 1000;
		border: none;
		box-shadow: none;
		background-color: rgba(255,255,255,1);
		width: 100%;
		height: 180px;
		right: 0px;	
		box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.5);
		top: 50px;
	}

	.navbar-nav{
		margin-left: 0px;
		margin: 0px;
	}

	.navbar-default .navbar-nav > li{
		display: block;
		width: 100%;
		left: 0px;
		margin: 20px 0px
	}

	.navbar-default .navbar-nav > li > a{
		padding: 0px;
		margin: 0px;
		color: #203f82;
	}

	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active{
		color: #203f82;	
	}

	.main-bg{
		width: 100%;	
		height: 563px;	
		background-image: url('../img/mobile-bg.jpg');
		background-repeat: repeat-x;
		background-size: auto;			
	}

	.box-mobile{
		display: block;
		position: absolute;		
		width: 100%;
		height: auto;
		top: 160px;
		text-align: center;		
	}

	.box-mobile img{
		width: 100%;
		max-width: 330px;
		height: 100%;		
	}

	.prep-desc{
		margin-left: 0px;
		display: block;
		width: 100%;
	}

	.prep-desc p{
		width: 100%;
		height: 100%;	
		text-align: left;
		margin-top: 30px;
		padding-bottom: 20px;	
		font-size: 1em;
	}

	.more-inf{
		display: block;				
		width: 211px;
		height: 50px;
		position: absolute;
		bottom: 30px;
		margin: auto;
		right: 0px;
		left: 0px;
	}

	.right-col{
		height: 564px;
	}	

	.unik{		
		display: none;
	}	

	.header-content p{
		padding: 0px 0px;
	}

	.benefits-block{		
		margin: 20px auto!important;
	}

	footer{
		padding-bottom: 50px;
	}

	.footer-nav ul{
		margin: 50px auto;
		text-align: center;
	}

	.footer-nav ul li{
		display: block;
		border-right: 0px;
		margin: 20px 0px;
	}

	footer .phone{
		margin-top: 0px;
		padding-top: 0px;
	}

	.copy{
		text-align: center;
	}

	.about img{
		padding-left: 0px;
		margin: 0 auto;
		display: block;
		width: 100%;
		height: auto;
	}

	.unic-tech{
		padding-left: 0px;
		margin-top: 30px;
	}

	.unic-tech h3{
		padding-left: 0px;
	}

	.about-content p{
		padding: 0px;
		margin-top: 30px;
	}

	#customNav{
		display: none;		
	}

	.owl-carousel{
		width: 100%;
	}	

	.dose-block{
		padding-left: 0px!important;
	}

	.dose-block span{
		width: 62%;		
		font-size: 20px;
		top: 23px!important;
		max-width: 210px;
	}

	.dose-block img{
		top: -15px!important;
	}

	.dose-block span br{
		display: none;
	}

	.dose-block p{
		margin-top: 15px;
	}

	.article-page .col-lg-8{
		padding-left: 0px;
		padding-right: 0px;
	}

	.article-page-block-desc{
		padding-left: 0px;
		margin-top: 30px;
	}

	.count-page{
		margin-left: 0px;
		margin-top: 30px;
	}

	.news-headers{
		margin-top: 50px;
	}	

	.articles-content-wrap{
		padding-left: 0px;
	}

	#load-modal .modal-dialog{
		margin: 0 5%;
	}

	.article-one .col-lg-9, .breadcrumb, .article-one .col-lg-12{
		padding-left: 0px;
		padding-right: 0px;
	}

	.marg-rep{
		margin-top: 0px;
	}

	.nh-rep	{
		margin-top: 20px;
	}

	.width-small{
		width: 100%;
	}

	.width-middle{
		width: 100%;
	}

	.float-rep{
		float: none;
		margin: 20px auto;
	}
	
}

@media only screen and (min-width : 480px) and (max-width : 767px) {

	.logo{
		margin-left: 0px;
		text-align: center;
	}

	.tagline{
		margin-top: 0px;
		padding-left: 0px;
		text-align: center;
		display: block;
		line-height: 50px;		
	}

	.phone{
		padding-right: 0px;
		text-align: center;
		margin-top: 20px;
	}

	.main-bg{
		width: 100%;	
		height: 600px;
		background-image: url('../img/mobile-bg.jpg');
		background-repeat: repeat-x;
		background-size: auto;				
	}

	.box-mobile{
		display: block;
		position: absolute;		
		width: 100%;
		height: auto;
		top: 192px;
		text-align: center;		
	}

	.box-mobile img{
		width: 100%;
		max-width: 330px;
		height: 100%;		
	}

	.header-top{
		padding-bottom: 30px;
	}

	.decor{
		display: none;
	}

	.navbar-toggle{
		border: none;
		background-color: transparent;		
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
 		background-color: #fff;
  		color: #203f82;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff
	}

	.navbar-default{
		height: 50px;
	}

	.navbar-default .navbar-collapse{
		position: absolute;
		z-index: 1000;
		border: none;
		box-shadow: none;
		background-color: rgba(255,255,255,1);
		width: 100%;
		height: 180px;
		right: 0px;	
		box-shadow: 0px 20px 20px -20px rgba(0,0,0,0.5);
		top: 50px;
	}

	.navbar-nav{
		margin-left: 0px;
		margin: 0px;
	}

	.navbar-default .navbar-nav > li{
		display: block;
		width: 100%;
		left: 0px;
		margin: 20px 0px
	}

	.navbar-default .navbar-nav > li > a{
		padding: 0px;
		margin: 0px;
		color: #203f82;
	}

	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active{
		color: #203f82;	
	}

	.prep-desc{
		margin-left: 0px;
		display: block;
		width: 100%;
	}

	.prep-desc p{
		width: 450px;		
		margin: 30px auto 0px;
		text-align: justify;
		padding-top: 22px;
	}

	.more-inf{
		display: block;				
		width: 211px;
		height: 50px;
		position: absolute;
		bottom: 30px;
		margin: auto;
		right: 0px;
		left: 0px;
	}

	.more-inf{
		text-align: left;
	}

	.right-col{
		height: 600px;
	}	

	.unik{
		display: none;
	}	

	.header-content p{
		padding: 0px 20px;
	}

	.benefits-block{		
		margin: 20px auto!important;
	}

	footer{
		padding-bottom: 50px;
	}

	.footer-nav ul{
		margin: 50px auto;
		text-align: center;
	}

	footer .phone{
		margin-top: 0px;
	}

	.copy{
		text-align: center;
	}

	.about img{
		padding-left: 0px;
		margin: 0 auto;
		display: block;
	}

	.unic-tech{
		padding-left: 0px;
		margin-top: 30px;
	}

	.unic-tech h3{
		padding-left: 0px;
	}

	.about-content p{
		padding: 0px;
		margin-top: 30px;
	}

	#customNav{
		display: none;		
	}

	.owl-carousel{
		width: 100%;
	}	

	.dose-block{
		padding-left: 0px!important;
	}

	.dose-block span{
		width: 68%;
		max-width: 310px;
	}

	.dose-block span br{
		display: none;
	}

	.article-page-block-image img{
		max-width: 400px;		
	}

	.article-page .col-lg-8{
		padding-left: 0px;
		padding-right: 0px;
	}

	.article-page-block-desc{
		padding-left: 0px;
		margin-top: 30px;	
	}

	.count-page{
		margin-left: 0px;
		margin-top: 30px;
	}

	.news-headers{
		margin-top: 50px;
	}

	.articles-content-wrap{
		padding-left: 0px;
	}

	#load-modal .modal-dialog{
		max-width: 700px;
	}

	#load-modal .modal-dialog{
		margin: 0 5%;
	}

	.article-one .col-lg-9, .breadcrumb, .article-one .col-lg-12{
		padding-left: 0px;
		padding-right: 0px;
	}

	.marg-rep{
		margin-top: 0px;
	}

	.nh-rep	{
		margin-top: 20px;
	}

	.width-small{
		width: 100%;
	}

	.width-middle{
		width: 80%;
	}

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.logo{
		margin-left: 0px;
		text-align: center;
	}

	.tagline{
		margin-top: 0px;
		padding-left: 0px;
		text-align: center;
	}

	.header-content p{
		padding: 0 40px;
	}

	.benefits-block{		
		margin: 20px auto!important;
	}

	.benefits .col-md-3{
		padding-left: 5px;
		padding-right: 5px;
	}

	.footer-nav ul{
		margin-left: 0px;
	}

	.footer-nav ul li{
		display: block;
		border-right: none;
		margin: 20px 0px;
		text-align: center;
	}	

	.about img{
		padding-left: 0px;
	}

	.unic-tech{
		padding-left: 0px;
		margin-top: 30px;
	}

	.unic-tech h3{
		padding-left: 0px;
	}

	.owl-carousel{
		width: 680px;
	}

	.dose-block{
		padding-left: 0px!important;
	}

	.dose-block span{
		width: 68%;
	}

	.dose-block span br{
		display: none;
	}

	.news-headers{
		margin-top: 50px;		
	}

	.count-page{
		margin-left: 0px;
		margin-top: 30px;
	}

	.article-one .col-lg-9, .breadcrumb, .article-one .col-lg-12{
		padding-left: 0px;
		padding-right: 0px;
	}

	.nh-rep	{
		margin-top: 20px;
	}

}


@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.header-content p{
		padding: 0 80px;
	}

	.benefits-block{
		width: 100%;
		margin: 0px!important;
	}

	.benefits .col-md-3{
		padding-left: 5px;
		padding-right: 5px;
	}

	.footer-nav{
		text-align: center;
	}


	.footer-nav ul{
		margin-left: 0px;
	}

	.about img{
		width: 100%;
		height: auto;
		padding-left: 0px;
		padding-right: 20px;
	}

	.owl-carousel{
		width: 880px;
	}

	.dose-block{
		padding-left: 30px!important;
	}

}

@media only screen and (min-width : 1920px){

	.prep-desc{
		margin-left: -100px;
	}

	.more-inf{
		margin-left: 74px;
	}

	.unik{
		margin-left: 90px;
	}

}





