@media only screen and (min-width : 0px) and (max-width : 479px) {

	.header-bg{
		margin-left: -1100px;
	}

	.first-row .col-xs-12{
		padding: 0 5px;
	}


	.main-wrapper{
		position: absolute;
		top: 0px;
		overflow: visible;
		background-color: #383838;
	}

	header .main-menu{
		position: absolute;		
		top: 61px;
		height: auto;
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		margin-right: -9px;
		width: 90%;
		background-color: #383838;				
		padding: 0px;
		display: none;		
		z-index: 1000;
		box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.17)
	}

	.main-menu ul li{
		padding-right: 0px!important;				
	}

	header .main-menu ul{
		padding-bottom: 10px;
		padding-left: 20px;
	}

	header .main-menu li{
		width: 100%;		
		display: block;				
		padding: 0px 0px 0px 40px;
	}

	.menu-toggle-button{
		float: right;		
	}

	.nav_link{
		line-height: 50px;
	}

	.name{
		width: 100%;
		height: auto;
		margin-top: 280px;
		padding-left: 0px;
		text-align: center;
	}

	.name h1{
		font-size: 26px;
		line-height: 40px;
		text-align: center;
	}

	.name h1 i{
		font-size: 46px;
	}

	.job{
		margin-left: 0px;
		margin-top: 0px;
		font-size: 19px;
	}

	.official{
		margin: 0px auto 20px;
		background-color: transparent;
	}

	.news_image{
		margin-bottom: 30px;
	}

	.news-block .gen-text{
		padding-right: 10px;
		font-size: 16px;
		word-spacing: 4px;
	}

	.date, .views{
		margin-bottom: 10px;
	}

	.see-more{
		margin-left: 50px;
	}

	.decor--footer, .decor--footer-second{
		display: none;
	}

	footer{
		text-align: center;
		min-height: 130px;
	}

	footer .footer-content br{
		display: block;
	}

	.footer_list{
		display: block;
	}

	.content-wrapper{
		padding-left: 20px;
	}

	.main-content .gen-text{
		padding-right: 20px;
	}

	.disclaim-buttons{
		margin-left: 0px;
	}

	.field, .field_text, .file-field label{
		float: none;
		display: block;
	}

	.single-field{
		width: 100%;
	}

	.field{
		width: 100%;
		max-width: 469px;
	}

	.file_name{
		font-size: 12px;
		left: 110px;
	}

	
}

@media only screen and (min-width : 480px) and (max-width : 767px) {

	.header-bg{
		margin-left: -1100px;
	}

	.main-wrapper{
		position: absolute;
		top: 0px;
		overflow: visible;
		background-color: #383838;
	}

	header .main-menu{
		position: absolute;		
		top: 61px;
		height: auto;
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		margin-right: -9px;
		width: 90%;
		background-color: #383838;				
		padding: 0px;
		display: none;		
		z-index: 1000;
		box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.17)
	}

	.main-menu ul li{
		padding-right: 0px!important;				
	}

	header .main-menu ul{
		padding-bottom: 30px;
		padding-left: 20px;
	}

	header .main-menu li{
		width: 100%;		
		display: block;				
		padding: 0px 0px 0px 40px;
	}

	.menu-toggle-button{
		float: right;		
	}

	.nav_link{
		line-height: 50px;
	}

	.name{
		width: 100%;
		height: auto;
		margin-top: 315px;
		padding-left: 0px;
		text-align: center;
	}

	.name h1{
		font-size: 36px;
		line-height: 40px;
		text-align: center;
	}

	.name h1 i{
		font-size: 46px;
	}

	.job{
		margin-left: 0px;
		margin-top: 0px;
	}

	.official{
		margin: 0px auto 10px;
		background-color: transparent;
	}

	.news_image{
		margin-bottom: 30px;
	}

	.news-block .gen-text{
		padding-right: 10px;
		font-size: 16px;
		word-spacing: 4px;
	}

	.see-more{
		margin-left: 50px;
	}

	.decor--footer, .decor--footer-second{
		display: none;
	}

	footer{
		text-align: center;
		min-height: 90px;
	}

	.footer_list{
		display: block;
	}

	.content-wrapper{
		padding-left: 20px;
	}

	.main-content .gen-text{
		padding-right: 20px;
	}

	.bio-content{
		margin-top: 40px;
	}

	.field, .field_text, .file-field label{
		float: none;
		display: block;
	}

	.single-field{
		width: 100%;
	}

	.field{
		width: 100%;
		max-width: 469px;
	}

	

	
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.header-bg{
		margin-left: -910px;
	}

	.main-wrapper{
		position: absolute;
		top: 0px;
		overflow: visible;
		background-color: #383838;
	}

	header .main-menu{
		position: absolute;		
		top: 61px;
		height: auto;
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		margin-right: -9px;
		width: 40%;
		background-color: #383838;				
		padding: 0px;
		display: none;		
		z-index: 1000;
		box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.17)
	}

	.main-menu ul li{
		padding-right: 0px!important;				
	}

	header .main-menu ul{
		padding-bottom: 30px;
		padding-left: 20px;
	}

	header .main-menu li{
		width: 100%;		
		display: block;				
		padding: 0px 0px 0px 40px;
	}

	.menu-toggle-button{
		float: right;		
	}

	.nav_link{
		line-height: 50px;
	}

	.news_header h2{
		font-size: 21px;
	}

	.news_image{
		margin-bottom: 30px;
	}

	.see-more{
		margin-left: 50px;
	}

	footer{
		overflow: hidden;
	}

	.bio-content{
		margin-top: 40px;
	}

}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.news_image{
		width: 100%;
		height: auto;
	}

	.see-more{
		margin-left: 260px;
	}

	header .decor{
		display: none;
	}

	footer{
		overflow: hidden;
	}

	.single-field{
		width: 100%;
	}

	.field{
		width: 436px;
	}

	.file-field{
		width: 279px;
	}


}