
body
	font-family: "RobotoRegular", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden	

header
	.contacts
		display: block
		height: 40px
		background-color: #4b4b4b
	.left_contacts
		float: left
		margin-left: 28px
		line-height: 40px
		color: #fff
	.marker
		display: inline-block
		span
			font-family: "RobotoLight", sans-serif
			font-size: 16px
			line-height: 16px
			font-weight: 300
		i
			font-size: 18px
			margin-right: 5px	
	.mail
		display: inline-block
		margin-left: 32px
		span
			font-family: "RobotoLight", sans-serif
			font-size: 16px
			line-height: 16px
			font-weight: 300		
		i
			font-size: 18px
			margin-right: 5px		
		a
			
			color: #fff
		a:visited
			color: #fff
	.right_contacts
		float: right
		margin-right: 25px
		line-height: 40px
		color: #fff	
		span
			font-family: "RobotoLight", sans-serif
			font-size: 16px
			line-height: 16px			
		i
			font-size: 18px
			margin-right: 10px
		strong
			font-family: "RobotoBold", sans-serif
			font-size: 16px
	.wrap_i
		display: inline-block
		width: 15px
		margin-right: 10px
	.top_menu		
		display: block			
	.navbar-brand
		display: none
		margin: 0
		padding: 18px 0 0 0
		.search
			position: relative
			width: 210px
			margin: 0 auto
			input
				height: 19px
				width: 210px
				padding: 10px 8px
				font-size: 12px			
				border: 1px #e2e2e2 solid
				border-radius: 0px	
			i
				position: absolute
				top: 3px
				right: 5px
				color: #000
				font-size: 15px
	.navbar		
		margin: 0
		border: none
		background-color: #4778a1
		border-radius: 0px
		.navbar-nav
			margin-left: 25px
			padding: 20px 0
			li a
				text-shadow: none
				color: #fff
				padding: 10px 20px
				text-decoration: underline
				font-family: "RobotoLight", sans-serif
				font-size: 16px
				font-weight: 300
			li a:hover
				background-color: #ed353f
				color: #fff
			li a:visited
				color: #fff
			li a:focus
				color: #fff
	.navbar-header .navbar-toggle
		border: none
		float: left	
	.navbar-default .navbar-toggle .icon-bar
		background-color: #fff
		height: 6px
		width: 35px		
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus
		background-color: #4778a1
	.navbar-collapse
		z-index: 9999
	.search1
		position: relative
		width: 195px
		line-height: 80px
		margin: 0 auto
		input
			height: 19px
			width: 195px
			padding: 10px 8px
			font-size: 12px			
			border: 1px #e2e2e2 solid		
		i
			position: absolute
			top: 33px
			right: 5px

.main_banner
	.banner
		position: relative
		width: 100%
		height: auto
		img
			width: 100%	
			height: auto
	.banner_header
		position: absolute
		top: 339px
		h2
			font-family: "RobotoThin", sans-serif
			font-size: 60px
			line-height: 106px
			font-weight: 100
			margin: 0
			padding: 6px 45px 0 45px 
			display: inline-block
			color: #fff
			background-color: #ed353f
			text-transform: uppercase			
	.banner_foto
		position: absolute
		top: 339px
		right: 0
		width: 508px
		height: 223px
		display: inline-block
		img
			float: left
			width: 254px
			height: 223px
			display: inline-block

.services
	padding-bottom: 30px
	.services_header
		background-color: #ed353f		
	.col-lg-3
		background-color: #ed353f		
	h2
		font-family: "RobotoBlack", sans-serif
		font-size: 30px
		line-height: 48px
		margin: 0
		color: #fff
		padding: 20px 20px 10px
		text-transform: uppercase
	ul
		padding: 0 0 12px 20px
		.wrap_aw
			width: 14px
			display: inline-block		
		li
			list-style-type: none
			font-family: "RobotoLight", sans-serif
			font-size: 14px		
			margin: 0px
			padding: 9px 0
			a
				padding-left: 10px
				color: #fff
				text-decoration: underline
	i 
		color: #fff
	.services_content
		h3
			font-family: "RobotoLight", sans-serif
			font-size: 24px
			line-height: 24px
			color: #295d8e
			padding: 40px 0 15px 45px
			margin: 0
		p
			font-family: "RobotoLight", sans-serif
			font-size: 14px
			line-height: 30px
			padding: 0 36px 0 45px
			margin: 0



.reklama
	.reklama_banner
		position: relative
		background-image: url(../img/bg_2.png)
		height: 267px
		background-position: top center
	.reklama_content
		position: absolute
		top: 0
		right: 140px
		text-align: center
		h2
			font-family: "RobotoBlack", sans-serif
			font-size: 48px
			line-height: 48px
			color: #4678a0
			text-transform: uppercase
			margin: 0
			padding: 20px 0 15px 0
		span
			display: inline-block
			font-family: "RobotoLight", sans-serif
			font-size: 30px
			color: #fff
			line-height: 24px
			padding-bottom: 30px			
		strong
			font-family: "RobotoBlack", sans-serif
			font-size: 30px
			line-height: 30px
			color: #fff		
		.button
			border: none
			background-color: #ed353f
			color: #fff			
			width: 255px
			height: 50px
			line-height: 45px
			padding: 0 45px
			margin: 15px auto
			font-family: "RobotoLight", sans-serif
			font-size: 24px
			text-decoration: underline
			a
				color: #fff

			

footer
	height: 58px
	.navbar-brand
		display: none
	.left_footer .navbar
		height: 58px
		margin: 0
		border: none
		background-color: #4778a1
		border-radius: 0px
		.navbar-nav
			margin-left: 20px
			li a
				font-family: "RobotoLight", sans-serif
				font-size: 14px
				line-height: 58px
				text-shadow: none
				color: #fff
				text-decoration: underline
				padding: 0 12px
			li a:hover
				color: #fff	
	.right_footer
		height: 58px
		background-color: #4778a1
		a
			color: #fff	
			line-height: 58px
			text-decoration: underline
			font-family: "RobotoLight", sans-serif
			font-size: 14px



.hidden
	display: none
