@import "bourbon/bourbon"

$orn: #DB6338
$orn-d: #8C452B
$orn-l: #E46537
$pn-reg: 'ProximaNovaRegular', sans-serif
$pn-semi: 'ProximaNovaSemibold', sans-serif
$pn-bold: 'ProximaNovaBold', sans-serif
$rob: 'Roboto', sans-serif


body
	height: 100%

body
	width: 100%
	min-width: 320px
	max-width: 1600px
	margin: 0 auto
	position: relative
	font-family: $pn-reg
	font-size: 14px
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	background-color: #E5E5E5	
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	a
		display: inline-block
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	ul
		padding: 0px
		margin: 0px
		list-style-type: none
	button
		border: none
		cursor: pointer
	hr
		border: none	

.pixel
	background: url(../img/tours.jpg) no-repeat top center
	width: 1440px
	height: 10000px
	position: absolute
	z-index: 1000000
	display: none
	left: 50%
	top: 0
	margin-left: -720px
	opacity: 0.5
	margin-top: -1687px
/***************************************************GeneralStyles************************************/
.transition-opt
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
.btn--white, 
.btn--orange
	a
		background-color: #fff
		border: 1px solid #fff
		border-radius: 30px
		font-family: $pn-semi
		font-size: 14px
		text-align: center
		line-height: 40px
		color: $orn
	a:hover
		background-color: transparent
		color: #fff
.btn--orange	
	a
		border: 1px solid $orn-l
		background-color: $orn-l
		color: #fff
	a:hover
		background-color: transparent
.hidden
	display: none
.semi-header
	font-family: $pn-semi	
.orange-header
	color: $orn
.bold-header
	font-family: $pn-bold
.black-header	
	color: #000

/***************************************************Header************************************/
header
	background-color: #fff
.first-row
	width: 100%
	min-height: 70px
	background-color: $orn
.logo-text
	display: inline-block
.logo_image
	position: relative
	vertical-align: top
	top: 13px
.logo-text 
	margin-top: 15px
	margin-left: 43px
	span
		display: block
		font-family: $pn-bold
		font-size: 16px	
		line-height: 23px
		color: #fff
.header-phone 
	padding-top: 15px
	span
		display: block
		font-family: $pn-bold
		font-size: 18px	
		line-height: 21px
		color: #fff
.header-phone 
	p
		font-family: $pn-semi
		font-size: 12px	
		line-height: 19px
		color: $orn-d
		letter-spacing: 0.8px
		margin-top: 5px
.fa
	font-size: 18px
	line-height: 18px
	color: #fff
.soc-icons 
	text-align: center
	padding-top: 15px
	a
		font-family: $pn-semi
		font-size: 12px	
		line-height: 24px
		color: $orn-d
		padding: 0px 8px
	a:hover
		opacity: 0.7
.search
	position: relative
	width: 155px
	padding-top: 15px
	input
		width: 100%
		height: 40px
		border: 1px solid #fff
		border-radius: 30px
		background-color: transparent
		padding: 0px 50px 0px 18px 
		color: #fff
		font-family: $pn-reg
		font-size: 12px
	::-webkit-input-placeholder 
		color: $orn-d
		font-family: $pn-reg
		font-size: 12px			
	::-moz-placeholder
		color: $orn-d
		font-family: $pn-reg
		font-size: 12px			
	:-moz-placeholder 
		color: $orn-d
		font-family: $pn-reg
		font-size: 12px			
	:-ms-input-placeholder      
		color: $orn-d
		font-family: $pn-reg
		font-size: 12px	
	button
		width: 40px
		height: 40px
		position: absolute
		right: 0px
		top: 15px
		background-color: #fff
		border-radius: 50%
	button:before
		content: "\f002"
		font-family: 'FontAwesome'
		color: $orn	
.btn--feedback 
	width: 160px
	margin-top: 15px
	margin-left: -6px
	a
		width: 100%
		height: 40px
.main-menu
	background-color: #fff	
	width: 100%	
	height: auto
	ul
		width: 100%
		height: 40px		
	li
		float: left
		height: 30px		
		border-right: 2px solid #F2F0F2
		padding: 0px 30px
		margin: 5px 0px			
		position: relative
		background-repeat: no-repeat
		background-position: left center	
	a
		display: inline-block
		font-family: $pn-reg
		font-size: 12px
		line-height: 30px
		color: #000		
	ul li:first-child
		border-left: 2px solid #F2F0F2
		background-image: url('../img/menu-1.svg')
		background-position: left 30px center
		padding: 0 46px		
	ul li:nth-child(2)		
		background-image: url('../img/menu-2.svg')
		background-position: left 28px center
		padding: 0 28px 0 46px	
	ul li:nth-child(3)		
		background-image: url('../img/menu-3.svg')	
		background-position: left 20px center
		padding: 0 21px 0 44px	
	ul li:nth-child(4)		
		background-image: url('../img/menu-4.svg')
		background-position: left 27px top 8px
		padding: 0 26px 0 55px
		margin-bottom: 0px	
		a
			line-height: 14px			
	ul li:nth-child(5)		
		background-image: url('../img/menu-5.svg')
		background-position: left 25px top 8px
		padding: 0 25px 0 48px
		margin-bottom: 0px		
		a
			line-height: 14px			
	ul li:nth-child(6)		
		background-image: url('../img/menu-6.svg')
		background-position: left 16px center
		padding: 0 15px 0 33px		
	ul li:nth-child(7)		
		background-image: url('../img/menu-7.svg')
		background-position: left 23px center
		padding: 0 16px 0 39px	
	ul li:nth-child(8)		
		background-image: url('../img/menu-8.svg')		
		background-position: left 19px center
		padding: 0 19px 0 37px
	ul li:nth-child(4), ul li:nth-child(5)
		position: relative
		top: 2px
		a
			padding: 0px
	a:hover		
		color: $orn
.main-menu > ul > li:hover .down_menu, .down_menu:hover
	max-height: 500px
	opacity: 1
	transition: max-height 0.3s ease-in
	transition: all 0.3s
.down_menu	
	width: 120px
	max-height: 0px	
	position: absolute
	z-index: 100
	left: 0px
	top: 30px	
	opacity: 0
	overflow: hidden
	background-color: #fff	
	padding: 0px 13px 10px
	transition: max-height 0.30s ease-out
	transition: all 0.3s
	box-sizing: border-box
	ul
		height: auto
	li
		display: block
		float: none
		border: none
		background-image: none!important		
		border-bottom: 1px solid #f2f0f2
		padding: 0px!important					
		margin: 0px
		height: 20px		
		top: 0px!important
	a
		font-family: $pn-reg
		font-size: 10px
		padding: 0px
		line-height: 20px!important
		transition: none
		display: block
	a:hover
		font-weight: bold		
		font-family: $pn-bold


/***************************************************FirstScreen************************************/
.first
	width: 100%
	height: 420px
	position: relative
	overflow: hidden
.slider
	width: 100%
	height: 420px
	position: absolute
	top: 0
	left: 0
	.slick-next
		position: absolute
		top: 71%	
		right: 198px		
		z-index: 100		
		background-image: none
		background-color: transparent
	.slick-next:before
		content: "\f054"
		font-family: FontAwesome
		font-style: normal
		font-weight: normal
		font-size: 20px
		color: #8C452B
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	.slick-next:hover:before, .slick-prev:hover:before
		color: #fff
	.slick-prev
		position: absolute	
		top: 71%	
		right: 312px
		z-index: 100
		background-image: none
		background-color: transparent
	.slick-prev:before
		content: "\f053"
		font-family: FontAwesome
		font-style: normal
		font-weight: normal
		font-size: 20px
		color: #8C452B
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
.slide
	width: 100%
	height: 420px
	background-image: url(../img/slide-bg.jpg)
	background-repeat: no-repeat
	background-size: 100% 403px
.slide-header
	margin-left: -7px
	h2, p
		font-family: $pn-bold
		font-size: 36px
		line-height: 42px
		color: #fff
	h2
		margin-top: 75px
	p
		margin-top: 47px
.slick-dots
	position: absolute
	right: 188px
	top: 69%
	width: 160px
	height: 40px
	background-color: rgba(219,99,56,0.8)	
	border-radius: 30px
	text-align: center
	li
		display: inline-block
	button
		width: 8px
		height: 8px		
		background-color: #fff
		border-radius: 50%		
		opacity: 0.5		
		padding: 0px
		margin: 15px 4px
	.slick-active button
		opacity: 1
.btn--first 
	margin-left: -7px
	margin-top: 36px
	a
		width: 200px
		height: 50px
		font-family: $pn-semi
		font-size: 16px
		line-height: 50px


/***************************************************BreadCrumbs************************************/
.breadcrumbs	
	ul
		margin: 12px 0px
		margin-left: 2px	
	li
		display: inline-block
	ul li:nth-last-child(1)
		font-family: $pn-reg
		font-size: 12px
		color: #999			
	a
		font-family: $pn-reg
		font-size: 12px
		color: #999
		border-bottom: 1px solid transparent
	a:hover
		border-bottom: 1px solid #999

/***************************************************Gift************************************/
.gift
	padding-bottom: 20px
.gift-block
	width: 100%
	height: 170px
	background-color: $orn
	position: relative
	margin-top: 12px
	border-radius: 5px
	padding-top: 30px
	padding-left: 86px
	span
		font-family: $pn-bold
		font-size: 36px
		line-height: 49px
		color: #fff
	i
		font-size: 36px
		padding-left: 10px
	img
		position: absolute
		top: 0
		right: 10px
		margin-top: -106px
.btn--gift
	margin-top: 20px
	a
		width: 220px
		height: 40px
		font-family: $pn-bold
		font-size: 16px

/***************************************************Tours************************************/
.tours	
	min-height: 2300px
.tours--header h3
	font-size: 28px
	line-height: 56px
	margin-bottom: 3px
.tours-filters			
	margin-top: 10px
.filter--header
	font-size: 18px	
	width: 100%
	height: 50px
	border-bottom: 1px solid #f1f1f1
	position: relative	
	padding-left: 18px
	h4
		line-height: 50px
		margin: 0px
	i
		position: absolute
		top: 50%
		margin-top: -9px
		right: 14px
		color: #999
		font-size: 14px
		transition: all 0.5s		 
.filter--header:hover
	cursor: pointer
	object
		pointer-events: none	
.active-filter	
	border-radius: 5px
	i
		transform: rotate(-90deg)
.filter-block
	border-radius: 5px
	background-color: #fff
	margin-bottom: 12px
.filter_content
	height: auto
	position: relative		
	ul
		padding: 11px 20px 20px 36px
	li
		margin-bottom: 9px
		font-family: $rob
		font-size: 14px
		line-height: 20px		
	li:hover
		color: $orn
		cursor: pointer
.season
	margin-bottom: 5px
	ul
		padding-bottom: 3px
.holidays
	margin-top: 10px
	margin-bottom: 15px
	ul
		padding-bottom: 10px
.popular

.active-choice
	color: $orn
.popular
	ul
		border-bottom: 1px solid #f1f1f1		
.popular, .holidays
	ul
		li
			font-family: $pn-reg
			font-size: 14px
			line-height: 23px
.yellow_popular 
	ul
		padding-top: 18px
		padding-bottom: 15px
	li
		color: #cf9e20
.blue_popular 
	ul
		padding-top: 22px
	li
		color: #0a69c1
.green_popular 
	ul
		padding-top: 22px
		padding-bottom: 15px
	li
		color: #34961b
.category
	margin-top: 25px
	ul
		padding-top: 15px
		padding-bottom: 9px
	li
		margin-bottom: 8px
.noUi-base, .noUi-connects
	width: 100%
	height: 100%
.noUi-target
	border: none
	box-shadow: none
	border-radius: 0px	
	margin: 0 auto
.noUi-horizontal
	height: 3px
.range-wrapper
	width: 200px
	margin: 13px 16px 0px 16px
#slider-range
	background-color: #f2f0f2
.noUi-connect
	background-color: $orn-l
.noUi-horizontal .noUi-handle
	width: 10px
	height: 10px
	background-color: $orn-l
	border: none
	box-shadow: none
	border-radius: 50%
	top: -4px
	right: -8px!important
#snap-range, #slider-range
	margin-top: 11px
.date-number, .budget
	.filter_content
		padding-bottom: 25px
.noUi-handle:hover, .noUi-handle:active, .noUi-handle:focus
	text-decoration: none!important
	outline: none!important	
.noUi-handle:after, .noUi-handle:before
	content: ""
	width: 4px
	height: 4px
	background-color: #fff
	top: 3px
	left: 3px
	border-radius: 50%
.example-val
	font-family: $rob
	font-size: 12px
	color: #000
#handler-value-upper, #snap-value-upper
	float: right
.tours-search
	width: 100%
	height: 57px
	border-radius: 5px
	background-color: #fff
	position: relative
	margin-top: 10px
	padding: 13px 0px 13px 10px
	color: #999
	font-family: $pn-reg
	font-size: 12px	
	input
		width: 743px
		height: 30px
		border: 1px solid #f1f1f1
		border-radius: 30px
		background-color: transparent
		padding: 0px 50px 0px 12px 
	::-webkit-input-placeholder 
		color: #999
		font-family: $pn-reg
		font-size: 12px			
	::-moz-placeholder
		color: #999
		font-family: $pn-reg
		font-size: 12px			
	:-moz-placeholder 
		color: #998
		font-family: $pn-reg
		font-size: 12px			
	:-ms-input-placeholder      
		color: #999
		font-family: $pn-reg
		font-size: 12px	
	.t-search-btn
		width: 30px
		height: 30px
		background-color: $orn
		border-radius: 50%
		position: absolute
		right: 10px
	.t-search-btn:before
		content: "\f002"
		font-family: FontAwesome
		color: #fff
.tours-wrapper
	margin-top: 21px
.tours-wrapper .tour-block:nth-child(even)
	margin-left: 20px
.tour-block
	width: 371px
	height: auto	
	background-color: #fff
	position: relative
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1)	
	float: left
	border-radius: 5px
	margin-bottom: 18px
.tour_block_main
	width: 100%
	height: 220px
	position: relative		
.tour-block-left
	width: 231px	
	float: left
	padding-top: 13px
	padding-left: 22px	
	span
		font-family: $pn-semi
		font-size: 10px
		color: #bdbdbd
.slide_link
	display: block	
	text-align: right
	padding-right: 18px
.tour--header
	h5		
		color: $orn-l
		font-size: 16px
		line-height: 19px
		margin-bottom: 5px
	p
		font-family: $pn-reg
		font-size: 10px
		line-height: 12px
		color: #000
		width: 190px
		height: 59px				
		overflow: hidden
		margin-bottom: 0px
	span
		font-family: $pn-reg
		font-size: 8px		
		color: $orn-l
		border-bottom: 1px dashed $orn-l		
		transition: all 0.3s
	span:hover
		cursor: pointer
		border-color: transparent
	span:after
		content: "\f078"
		font-family: FontAwesome
		font-size: 6px
.date-price
	position: absolute
	bottom: 15px	
	span
		font-family: $pn-bold
		font-size: 12px
		color: #000
		padding-left: 17px
	i
		font-style: normal
		text-decoration: line-through
		padding-left: 5px
	.date
		background-image: url('../img/clock.svg')
		background-repeat: no-repeat
		background-position: left center
	.price
		margin-top: 8px
		background-image: url('../img/price.svg')
		background-repeat: no-repeat
		background-position: left center
.tour-block-right
	width: 140px
	height: 100%
	float: right
	position: relative
	img
		border-radius: 0px 5px 5px 0px
.btn--tour
	width: 120px
	height: 30px
	position: absolute	
	bottom: 12px		
	left: 0
	right: 0
	margin: auto		
	a
		width: 100%		
		line-height: 30px		
.tour_about
	width: 371px
	height: 240px
	background-color: #f1f1f1	
	position: absolute
	z-index: 1000
	top: 220px
	left: 0px
	display: none
	border-radius: 0px 0px 5px 5px	
.tour_about_content
	height: 180px
	overflow-y: auto
	padding: 12px 50px 12px 22px 
	margin: 10px 0px
	.about_content_block
		margin-top: 10px
		margin-bottom: 26px
	span
		font-family: $pn-bold
		font-size: 12px
		color: #000
		display: block		
	p
		font-family: $pn-reg
		font-size: 10px
		line-height: 14px
		color: #000
		margin-top: 4px
.tour_about_bottom
	height: 40px
	span
		font-family: $pn-reg
		font-size: 8px		
		color: #999
		border-bottom: 1px dashed #999
		float: left
		transition: all 0.3s
		padding-top: 7px
		margin-left: 22px	
	span:after
		content: "\f077"	
		font-family: FontAwesome
		font-size: 6px		
	span:hover
		cursor: pointer
		border-color: transparent		
	a
		font-family: $pn-bold
		font-size: 14px
		color: $orn-l
		text-transform: uppercase
		float: right
		margin-right: 25px
		margin-top: 7px
		display: inline-block
	a:hover
		opacity: 0.7
.fix-border
	border-radius: 5px 5px 0px 0px
	img
		border-radius: 0px 0px 0px 0px
.add-info
	position: absolute
	top: 0px
	left: 0px
	background-color: $orn-l	
	height: 20px
	padding: 0px 10px
	span		
		padding: 
		font-family: $pn-bold
		font-size: 8px
		line-height: 20px
		color: #fff
		text-transform: uppercase
.nicescroll-rails
	width: 5px!important
	border-radius: 5px!important
	
	margin-left: -10px

/***************************************************FeedBack************************************/
.feedback
	min-height: 260px
.logo-grey
	text-align: center
	padding-top: 39px
.feedback-content
	padding-top: 31px
	p
		font-family: $pn-reg
		font-size: 14px
		line-height: 20px
		color: #111111

/***************************************************Tabs************************************/
.tabs
	min-height: 500px
	padding-top: 38px
	padding-bottom: 50px
.nav-tabs
	height: 50px
	background-color: #f1f1f1
	border-radius: 5px 5px 0px 0px
	border-bottom: none
	.active
		color: $orn-l
		background-color: #fff
		border-right: 2px solid #f2f0f2
	.active:hover
		background-color: #fff
.nav-item
	width: 256px
	display: block
	float: left
	line-height: 50px
	text-align: center
	font-family: $pn-semi
	font-size: 14px
	color: #9d9d9d
	text-transform: uppercase	
.nav-item:hover
	color: $orn-l
	background: #fafafa
.next
	background-color: #fafafa
	color: #000
.nav-tabs .l-border
	border-right: none
	border-left: 2px solid #f2f0f2
.tab-content
	width: 100%
	height: 450px
	background-color: #fff	
	border-radius: 0px 0px 5px 5px
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
.tabs--header
	display: block
	text-align: center
	padding-bottom: 30px	
	h3
		font-size: 24px
		line-height: 48px
		margin-bottom: 0px
	span
		font-family: $pn-reg
		font-size: 14px		

.guide-block		
	padding-left: 40px
	img
		margin-left: 13px
	span
		font-family: $pn-semi
		font-size: 16px
		line-height: 19px
		color: $orn
		margin-top: 28px
		display: block
	p
		font-family: $pn-reg
		font-size: 10px
		line-height: 12px
		color: #111111
		margin-top: 6px
		padding-right: 0px
.slider-guides-wrapper
	width: 960px	
	border-top: 1px solid #f1f1f1
	margin: 0 auto 
	padding-top: 31px
	.slider-guides
		width: 850px
		margin: 0 auto
	.slick-next
		width: 14px 
		height: 24px
		position: absolute
		top: 50%	
		margin-top: -12px
		margin-right: -64px
		right: 0px		
		z-index: 100		
		background-image: url('../img/arr-right.svg')
		background-repeat: no-repeat		
		background-color: transparent
		transition: all 0.3s
	.slick-next:hover
		background-image: url('../img/arr-right-h.svg')
	.slick-prev
		width: 14px 
		height: 24px
		position: absolute
		top: 50%
		margin-top: -12px
		margin-left: -61px	
		left: 0px		
		z-index: 100		
		background-image: url('../img/arr-left.svg')
		background-repeat: no-repeat		
		background-color: transparent
		transition: all 0.3s
	.slick-prev:hover
		background-image: url('../img/arr-left-h.svg')
.our-bus
	width: 900px
	text-align: justify
	margin: 0 auto
	img
		display: inline-block
		margin-bottom: 20px
.our-bus:after
	display: inline-block
	content: ""
	width: 100%
.change-hotel	
	a
		width: 120px
		height: 30px
		font-family: $pn-reg
		font-size: 12px
		line-height: 30px
		color: #111
		border: 1px solid $orn-l
		border-radius: 20px
		text-align: center
		display: inline-block
		transition: all 0.3s
		margin: 0 10px
	a:hover
		background-color: $orn-l
		color: #fff	
		cursor: pointer
	.change_active
		background-color: $orn-l
		color: #fff
	p
		margin-top: 20px
		padding: 0px 100px
		font-family: $pn-reg
		font-size: 14px
		line-height: 20px
.hotel-block
	width: 280px!important
	height: 230px
	border-radius: 5px		
	margin: 0 auto
	display: block!important
	img
		width: 100%
		height: 180px
		border-radius: 5px 5px 0px 0px
	.bottom_line
		width: 100%
		height: 50px
		background-color: #f1f1f1
		border-radius: 0px 0px 5px 5px
		background-repeat: no-repeat
		background-position: right 20px center
		font-family: $pn-bold
		font-size: 14px
		line-height: 50px
		color: #111
		padding-left: 20px		
	.bottom_line:hover
		cursor: pointer
		background-color: $orn-l
		background-image: url('../img/bottom.svg')	
		background-position: right 20px center	
		color: #fff		
.hotel-slider
	width: 900px
	height: 235px	
	position: absolute
	top: 250px
	left: 0
	right: 0
	margin: auto
	display: block
	pointer-events: none
	.slick-next
		width: 14px 
		height: 24px
		position: absolute
		top: 50%	
		margin-top: -12px
		margin-right: -30px
		right: 0px		
		z-index: 100		
		background-image: url('../img/arr-right.svg')
		background-repeat: no-repeat		
		background-color: transparent
		transition: all 0.3s
	.slick-next:hover
		background-image: url('../img/arr-right-h.svg')
	.slick-prev
		width: 14px 
		height: 24px
		position: absolute
		top: 50%	
		margin-top: -12px
		margin-left: -30px
		left: 0px		
		z-index: 100		
		background-image: url('../img/arr-left.svg')
		background-repeat: no-repeat		
		background-color: transparent
		transition: all 0.3s
	.slick-prev:hover
		background-image: url('../img/arr-left-h.svg')
.hotel-slider
	visibility: hidden
	opacity: 0
	transition: all 1s
.active-hotel-slider
	visibility: visible!important
	opacity: 1
	transition: all 1s
#nav-profile
	span
		display: block		
		padding: 0px 130px
		line-height: 20px
#nav-contact
	h3
		font-size: 22px
	.tabs--header
		padding-bottom: 17px
.change-hotel
	text-align: center

/***************************************************Places***************************************************/
.places
	padding-top: 30px
	padding-bottom: 21px
.places-header
	width: 100%
	height: 50px
	background-color: $orn-l
	margin-bottom: 32px
	span
		font-family: $pn-bold
		font-size: 18px
		line-height: 50px
		color: #fff
		text-align: center
		display: block
.places-block
	width: 160px
	text-align: center	
	img
		width: 100%
		height: 120px
		background-color: #c4c4c4
		border-radius: 5px
	span
		font-family: $rob
		font-size: 12px
		line-height: 17px
		color: #000
		text-align: center	
		display: block
		margin-top: 14px
.places-wrapper
	width: 100%
	text-align: justify
	margin: 0 auto
	.places-block
		display: inline-block
		margin-bottom: 31px
.places-wrapper:after
	display: inline-block
	content: ""
	width: 100%

/***************************************************FeedbackForm***************************************************/
.form-feedback
	width: 100%
	height: 280px
	background-color: #fff
	padding-top: 35px
.ff--header
	h3
		font-size: 24px
		line-height: 48px
		text-align: center
		margin-bottom: 3px
	p
		font-family: $pn-reg
		font-size: 14px
		line-height: 20px
		color: #111
		text-align: center
		padding: 0 120px
.feedback-form
	margin-top: 44px
	input
		width: 240px
		height: 40px
		border: 1px solid #c4c4c4
		color: #999
		font-family: $pn-reg
		font-size: 16px		
		transition: all 0.3s 
		margin-right: 17px	
		padding: 0px 19px
	::-webkit-input-placeholder 
		color: #999
		font-family: $pn-reg
		font-size: 14px			
	::-moz-placeholder
		color: #999
		font-family: $pn-reg
		font-size: 14px			
	:-moz-placeholder 
		color: #999
		font-family: $pn-reg
		font-size: 14px			
	:-ms-input-placeholder      
		color: #999
		font-family: $pn-reg
		font-size: 14px	
	input:hover
		border: 1px solid #777
	button
		width: 240px
		height: 40px
		border: 1px solid $orn-l
		background-color: transparent
		border-radius: 20px
		transition: all 0.3s
	button:hover		
		cursor: pointer
		background-color: $orn-l
		color: #fff

/***************************************************Footer***************************************************/
footer
	width: 100%
	height: 170px
	background-color: #232323
.footer-left
	font-family: $pn-bold
	font-size: 12px
	line-height: 24px
	color: #fff
	padding-top: 43px
	img
		display: block
	span
		display: block
		margin-top: 25px
.footer-middle
	text-align: center
	padding-top: 59px
	p
		font-family: $pn-reg
		font-size: 14px
		line-height: 20px
		color: #858585
		margin-bottom: 0px
.footer-right
	padding-top: 37px
	text-align: right
	a
		padding: 0px 0px 0px 21px
	p
		font-family: $pn-bold
		font-size: 12px
		line-height: 24px
		color: #fff
		margin-bottom: 0px
.footer-soc
	text-align: right
	margin-bottom: 7px
	