@import "bourbon/bourbon"

$gray-l: #e4e4e4
$gray-d: #424242
$blue: #0a9de3
$blue-h: #0974a7
$blue-text: #00365d
$link-blue: #039ee2
$gray-text: #b1b1b1
$open: 'Open Sans', sans-serif


html
	width: 100%
	height: 100%
	overflow-x: hidden
body
	width: 100%
	height: auto
	min-width: 320px	
	margin: 0 auto
	position: relative
	font-family: $open
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	background-color: #fff	

	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	a
		display: inline-block
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	ul, ol
		padding: 0px
		margin: 0px
		list-style-type: none
	button
		border: none
		cursor: pointer
	hr
		border: none	

.pixel
	background: url(../images/about.jpg) no-repeat top center
	width: 1920px
	height: 12800px
	position: absolute
	z-index: 1000000
	display: none
	left: 50%
	top: 0px
	margin-left: -960px
	opacity: 0.5
	margin-top: 0px


/***************************************************GeneralStyles************************************/
.a-trans
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
.btn-blue
	background: $blue
	font-family: $open
	text-transform: uppercase
	font-size: 14px
	color: #fff
	height: 45px
	border-radius: 5px
.btn-blue:hover
	background: $blue-h
	color: #fff
.sub-header
	font-family: $open
	font-size: 37px
	font-weight: 700
	color: $blue-text
.sub-header_decor
	font-family: '12594', sans-serif
	font-size: 45px	
	color: $blue-text
	text-align: center
	margin-top: -30px
.main-text
	font-family: $open
	font-size: 15px
	color: $gray-d
.link-blue
	font-family: $open
	font-size: 15px
	color: $link-blue
.link-blue:hover, .link-gray:hover
	color: $blue-h
.link-blue_subheader-full:hover .link-circle
	background-color: $blue-h	
.btn-gray
	background: #d7eeff
	padding: 0px 75px 0 46px
	border-radius: 30px
	height: 60px
	line-height: 60px
	box-shadow: 0px 5px 9px rgba(0,0,0,0.24)
	font-family: $open
	color: $blue
	font-weight: 700
	font-size: 18px
	text-transform: uppercase
	position: relative
.btn-gray:after
	display: block
	content: ''
	width: 60px
	height: 60px
	background: $blue
	position: absolute
	top: 0px
	right: 0px
	border-radius: 0px 30px 30px 0px
	background-image: url('../images/arr-right.png')
	background-repeat: no-repeat
	background-position: center center
.btn-gray:hover
	background: $blue
	color: #fff
.sub-header_small
	font-weight: 700
	font-size: 15px
	text-transform: uppercase
	color: $gray-d
.section-blue-bg
	width: 100%
	min-height: 418px
	background: rgba(235,246,255,0.5)
	border-top: 1px solid #84cef1
	border-bottom: 1px solid #84cef1	
	position: relative
	.container
		position: relative
		height: 100%
.small-text
	font-size: 15px
	color: rgba(66,66,66,0.5)
	font-family: 'Calibri', sans-serif
.sub-header_full
	display: flex
	hr
		width: 70px
		height: 2px 
		background: $gray-l
		margin: 25px 20px 25px 19px
.link-circle
	width: 37px
	height: 37px
	background: $gray-l
	border-radius: 50%
	background-image: url('../images/arr-right_blue.png')
	background-repeat: no-repeat
	background-position: center center
	display: inline-block
	position: relative
	top: 14px
	left: 20px
.sub-header_blue
	font-family: $open
	font-size: 22px
	color: $blue
	font-weight: 700
.c-blue
	color: $blue
.link-blue_subheader-full
	margin-top: -6px
.read-add-block
	width: 100%	
	height: 303px
	overflow: hidden
	position: relative
	img
		width: 100%
		height: 100%	
.read-add-block-header
	position: absolute
	width: 100%
	height: 87px
	bottom: 0px
	left: 0px
	background-color: rgba(255,255,255,0.72)
	text-align: center
	line-height: 87px
.subheader-blue-30
	font-size: 30px
	color: $blue-text
	font-weight: 600
.arr-left-gen
	width: 13px
	height: 26px	
	position: absolute
	top: 50%
	margin-top: -13px
	left: 10px
	.st0, .st1
		fill: #424242
.arr-right-gen
	width: 13px
	height: 26px	
	position: absolute
	top: 50%
	margin-top: -13px
	right: 10px
	.st0, .st1
		fill: #424242
.arr-left-gen:hover, .arr-right-gen:hover
	cursor: pointer
	.st0, .st1
		fill: $blue
.arr-bottom
	top: 96%
.slick-arrow
	display: none!important
.read-add
	.arr-left-gen
		left: 15px
	.arr-right-gen
		right: 15px
.arr-wrap
	text-align: center
.text-gray-15
	font-size: 15px
	color: $gray-text
.text-16
	font-size: 16px
	color: $gray-d
	line-height: 24px
	i
		font-style: normal
		font-weight: bold
.text-14
	font-size: 14px
	color: $gray-d
	line-height: 24px
.text-14-bold
	font-size: 14px
	color: $gray-d
	line-height: 24px
	font-weight: 700		
.text-16-bold
	font-size: 16px
	color: $gray-d
	font-weight: 700
.text-16-gray
	font-size: 16px
	font-weight: 700
	color: $gray-text
	line-height: 24px
.text-17-bold
	font-size: 17px
	font-weight: 700
	color: $gray-d
.text-18
	font-size: 18px	
	color: $gray-d
.btn-sh
	box-shadow: 0px 5px 9px rgba(0,0,0,0.24)
.border-22
	border-radius: 22px

/***************************************************Header*******************************************/
.header-first
	min-height: 115px
	background: $gray-l
	padding-top: 33px
.social-h
	margin-top: 10px
	svg
		width: 30px
		height: 30px
	.st1,.st0
		fill: #062b31
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
.social-link
	margin-right: 6px
.social-link:hover
	.st1, .st0
		fill: $blue
.form-gen
	width: 428px
	height: 45px
	position: relative
	margin-left: -26px
	input
		border: 1px solid #d0d0d0
		border-radius: 5px
		font-family: $open
		font-size: 16px
		color: #b1b1b1
	::-webkit-input-placeholder 
		color: #b1b1b1
		font-family: $open
		font-size: 14px		
	::-moz-placeholder
		color: #b1b1b1
		font-family: $open
		font-size: 14px		
	:-moz-placeholder 
		color: #b1b1b1
		font-family: $open
		font-size: 14px		
	:-ms-input-placeholder      
		color: #b1b1b1
		font-family: $open
		font-size: 14px	
.search-input
	width: 100%
	height: 100%	
	padding: 0px 100px 0px 44px
	background-image: url('../images/search-icon.png')
	background-repeat: no-repeat
	background-position: left 12px center
.btn-blue_search
	position: absolute
	top: 0px
	right: 0px
	border-radius: 0px 5px 5px 0px
	padding: 0px 12px
.phones
	background-image: url('../images/phone-kit.png')
	background-repeat: no-repeat
	background-position: left top 1px
	padding-left: 56px
	margin-left: -24px
.phones-tel
	display: block
	font-family: $open
	font-size: 16px
	color: $gray-d
	margin-bottom: 7px
.phones-tel:hover
	color: $blue
.btn-blue_order
	padding: 0px 20px
	line-height: 45px
	font-size: 16px
	margin-left: -28px
.work-h
	margin-left: -30px
	margin-top: 3px
	span
		font-family: $open
		font-size: 13px
		color: #9b9b9b
		display: block
.main-menu
	padding: 0px 17px 0px 20px
	height: 112px
	align-items: center
	display: flex
.main-menu ul li:last-child
	margin-right: 0px
.main-menu-list
	display: inline-block	
	margin-right: 22px
.main-menu-link
	font-size: 19px
	color: $blue-text
	font-weight: 700
.main-menu-link:hover
	color: $blue

/***************************************************Top-banner**************************************/
.banner-top
	width: 100%
	height: 706px
	background-image: url('../images/main-bg.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	padding-top: 165px
.main-header-wrap
	img
		display: inline-block		
	a
		vertical-align: top
.main-header
	display: inline-block
	font-family: '12492', sans-serif
	font-size: 29px
	color: $blue-text
	margin-left: 30px
	margin-top: -10px
	span
		display: block
		font-size: 95px
.slogan
	font-family: '12594', sans-serif
	font-size: 60px
.slogan-wrap
	margin-top: 10px


/***************************************************Main-About***************************************/
.main-about
	padding: 68px 0px 50px 0px	
	.main-text
		line-height: 24px
		margin-bottom: 10px
.main-about-image
	top: -50px
	position: relative	
	margin: 0px 53px -20px 0px	
	vertical-align: top
	float: left		
	img
		position: relative
		z-index: 1000
.sub-header_mabout
	margin-bottom: 16px
.main-about-image_decor
	width: 303px
	height: 165px
	background-color: #e8e8e8
	position: absolute
	bottom: -28px
	right: -28px


/***************************************************Main-Services***************************************/
.main-services
	padding: 38px 0px 133px 0px
	.col-xl-3
		margin-bottom: 64px
.main-services-block
	margin-top: -52px
	.sub-header_blue
		display: flex	
		align-items: flex-end	
		height: 100px
		justify-content: center
		text-align: center	
		line-height: 30px
	img
		margin: 16px auto 12px
		display: block
.main-services-link
	padding-left: 20px
	text-align: center
	line-height: 22px
.btn-gray_mservices
	margin-top: -17px


/***************************************************Main-Methods*******************************************/

.decor-wrap
	height: 100%
	width: 1200px	
	background-image: url('../images/mmethods-decor.png')
	background-repeat: no-repeat
	background-position: bottom right
	position: absolute
	top: 45px
	left: 0px
	right: 0px
	margin: auto
	z-index: 1
.main-methods		
	position: relative	
	padding-bottom: 30px
	.col-xl-4
		margin-bottom: 18px
	.col-12
		position: relative
		z-index: 1000
.main-methods-block
	background-repeat: no-repeat
	padding-left: 74px
	padding-bottom: 10px
	span
		color: $blue	
.main-methods_secrow .main-methods-block-1
	background-image: url('../images/mmethods-equipment.png')
.main-methods_secrow .main-methods-block-2
	background-image: url('../images/mmethods-team.png')
.main-methods_secrow .main-methods-block-3
	background-image: url('../images/mmethods-anes.png')
.main-methods_secrow .main-methods-block-4
	background-image: url('../images/mmethods-mon.png')
.main-methods_secrow .main-methods-block-5
	background-image: url('../images/mmethods-sevoran.png')
.main-methods_secrow .main-methods-block-6
	background-image: url('../images/mmethods-exp.png')
.main-methods_secrow .main-methods-block-7
	background-image: url('../images/mmethods-spec.png')
.main-methods_secrow .main-methods-block-8
	background-image: url('../images/mmethods-cost.png')
.line
	width: 1046px
	height: 2px
	background: #fff
	position: absolute
	left: 0px
	right: 0px	
	margin: auto
	margin-top: 0px
	margin-bottom: 0px
.line_top
	top: -1px
.main-methods_secrow
	padding-top: 30px
	.main-text
		line-height: 24px



/***************************************************Main-Stock**************************************/
.main-stock
	padding: 93px 0px 60px 0px
	ul
		margin-top: 23px
		margin-left: -10px
.main-stock-list
	margin-bottom: 7px
	i
		font-weight: 700
		font-style: normal
		color: $blue
		font-size: 22px
		margin-right: 13px
.sub-header_decor__stock
	font-size: 55px
	text-align: left
	margin-top: 12px
	padding-left: 136px
.btn-gray_stock-wrap
	margin-top: 53px
	padding-left: 178px
.sub-header_decor__stock
	background-image: none
.stock-dropdown
	display: block

/***************************************************Main-News**************************************/
.main-news
	padding: 37px 0px 68px 0px
.main-news-block
	margin-top: 35px
	.main-text
		line-height: 24px
		margin-top: 12px
		margin-bottom: 8px
.btn-gray_news-wrap
	text-align: center
	margin-top: 50px

/***************************************************Main-Response*******************************************/
.main-response
	min-height: 384px
	padding-top: 64px
	padding-bottom: 30px
	.sub-header_full
		padding-left: 76px
		hr
			width: 34px
.response-current-rate
	display: inline-block
	li
		width: 20px
		height: 20px
		display: inline-block
		background-image: url('../images/star.png')
		background-repeat: no-repeat
		background-position: center center
.response-top-info, .response-top-ratings
	display: inline-block
	.small-text
		font-family: $open
.response-user
	background-image: url('../images/user.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 26px
	margin-left: 40px
.response-main
	background-image: url('../images/quote.png')
	background-repeat: no-repeat
	background-position: left 2px top 24px
	padding-left: 80px
	padding-top: 19px
	.main-text
		line-height: 24px
		letter-spacing: 0.4px
	.sub-header_small
		display: block
		margin-bottom: 8px
.slider-response .slick-dots
	text-align: center
	margin-top: 10px
	li
		font-size: 0px		
		display: inline-block
		margin: 0px 10px
	button
		width: 14px
		height: 14px
		background-color: transparent
		border-radius: 50%
		border: 1px solid #000
	.slick-active
		button
			background-color: $blue
			border: 1px solid transparent
.slider-response
	margin-top: 21px
.response-top-ratings
	position: relative
	top: 6px
.response-top
	padding-left: 78px
.response-top-info
	margin-left: 24px
.response-slide
	padding-bottom: 10px
	position: relative
.arr-wrap
	position: absolute
	width: 100%
	left: 0
	right: 0
	margin: auto
	bottom: 9px
	

/***************************************************Main-Form*******************************************/
.main-form
	width: 100%
	min-height: 556px
	background-image: url('../images/main-form-bg.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: right -300px center
	padding: 79px 0px 20px 0px
	position: relative
	.sub-header_decor
		font-size: 30px
		margin-top: 15px
		display: block
		text-align: left
.main-form-overlay
	position: absolute
	width: 100%
	height: 100%
	top: 0px
	left: 0px
	background-color: rgba(255,255,255,0.7)
#main-form-order, #response-feed-form
	margin-left: -1px
	margin-top: 23px
	width: 100%
	height: 100%
	input
		width: 270px
		height: 53px
		padding: 0px 20px
	input:nth-child(1)
		margin-right: 25px		
	textarea
		width: 100%
		height: 125px
		resize: none
		font-family: $open
		font-size: 16px
		color: #b1b1b1
		padding: 20px
		border: 1px solid #d0d0d0
		border-radius: 5px
		margin-top: 18px
.btn-blue_main-form
	margin-top: 20px
	width: 100%
	border-radius: 30px
	height: 60px
	font-size: 18px
	font-weight: 700
		

/***************************************************Main-Map*******************************************/
.main-map
	position: relative
	width: 100%
	height: 705px
.map
	width: 100%
	height: 705px
	position: absolute
	left: 0px
	top: 0px
.map-contacts
	position: relative
	width: 611px
	height: 304px
	background-color: #fff
	z-index: 1000
	left: 51%
	margin-left: -317px
	box-shadow: 0px 5px 9px rgba(0,0,0,0.24)
	.social
		text-align: center
.map-contacts-header
	text-align: center
	padding-top: 29px
	margin-bottom: 18px
.map-contacts:after
	position: absolute
	display: block
	width: 50px
	height: 25px	
	content: ''
	background: #fff
	border-radius: 0 0 50% 50% / 0 0 100% 100%
	bottom: -25px
	left: 0
	right: 0
	margin: auto
	box-shadow: 0px 7px 9px rgba(0,0,0,0.24)
	background-image: url('../images/arr-down.png')
	background-repeat: no-repeat
	background-position: center center
.sub-header_decor__map
	font-size: 25px
	color: $gray-d
.map-contacts-field
	padding: 0px 27px
	display: flex
	.sub-header_small
		width: 26%
.link-blue-map
	padding-left: 17px


/***************************************************Main-Add****************************************/
.main-add
	padding: 88px 0px 75px 0px
	img
		margin-top: 58px
		margin-left: 52px
.sub-header_add
	margin-left: -77px
.sub-header_decor__add
	margin-left: -44px
.btn-gray_add
	margin-top: 34px
	margin-left: 132px


/***************************************************Footer*******************************************/
footer
	width: 100%
	min-height: 363px
	background-color: #3a3939
	padding-top: 43px
	position: relative
	padding-bottom: 30px
.footer-logo
	position: absolute
	width: 70px
	height: 70px
	right: 0px
	left: 0px
	top: -35px
	margin: auto
.filters-block_hidden
	display: none
	padding-bottom: 30px
.footer-add-menu
	background-image: url('../images/footer-add.png')
	background-repeat: no-repeat
	background-position: left top 5px
	padding-left: 42px
	margin-left: 23px
.footer-add-menu-header:hover
	color: #b6b4b4
.copyright
	font-family: 'Calibri', sans-serif
	font-size: 20px
	color: #b6b4b4
	a
		color: #b6b4b4
.footer-text
	font-family: $open
	font-size: 14px
	color: #b6b4b4
	line-height: 22px
.footer-text-left
	padding-left: 20px
	margin-top: 13px
.subheader-footer 
	font-family: $open
	font-size: 17px
	color: #b6b4b4
	text-transform: uppercase
	display: block
	margin-bottom: 13px
.footer-contacts-phone, .footer-contacts-mail
	background-image: url('../images/footer-phone.png')
	background-repeat: no-repeat
	background-position: left top
	padding-left: 44px
	margin-left: 20px
	.footer-text
		font-size: 17px		
.footer-contacts-phone
	margin-bottom: 16px
	.footer-text
		line-height: 26px
.footer-contacts-mail
	background-image: url('../images/footer-email.png')
	margin-bottom: 9px
	background-position: left center
	.footer-text
		line-height: 30px
.footer-social
	li
		display: inline-block
	a:hover
		opacity: 0.7
footer .row .col-xl-3:nth-child(2)
	padding-left: 65px
footer .row .col-xl-3:nth-child(3)
	padding-left: 35px
.footer-list
	padding-left: 20px
	li
		margin-bottom: 5px
.footer-social
	margin-left: 61px
	margin-top: 20px
.copy-social
	justify-content: space-between
	align-items: center
	.link-gray
		border-bottom: 1px solid #b6b4b4
		line-height: 19px	
	.social-h .st0, .social-h .st1
		fill: #b6b4b4	
	.social-h
		margin-top: 0px
	.social-h svg
		width: 40px
		height: 40px
		margin-left: 25px

.hidden
	display: none

/*****************************************Top-Banner-Inner-Page*********************************/
.banner-top-in
	background-image: url('../images/top-banner-in.jpg')
	height: 223px
	padding-top: 38px
	position: relative
	.main-header
		margin-left: 28px
		margin-top: 6px
	.main-header span
		line-height: 98px

/*****************************************Menu-Inner-Page*********************************/
.inner-menu
	ul
		border-bottom: 1px solid $gray-l
		padding-bottom: 10px
		li:hover::after
			width: 100%
	.main-menu-list-wdecor::after
		display: none
	.main-menu-list
		position: relative
		margin-right: 16px
	.main-menu-list::after
		position: absolute
		content: ''
		width: 0px
		height: 4px
		background-color: $blue
		top: 34px
		left: 0px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	.main-menu
		padding: 0px 31px 0px 41px
		height: 96px
	.main-menu-list-wdecor
		margin-right: 28px
	.main-menu-link
    	font-size: 18px


/*****************************************Doctors-page*******************************************/
.doctor-name, .doctor-job
	display: block
	padding: 0px 30px
.all-doctors
	padding-top: 30px
	padding-bottom: 20px
.all-doctors-row
	padding-top: 35px
.doctors-block
	margin-bottom: 17px
.doctor-name
	display: block
	margin-top: 12px
	margin-bottom: 10px
.read-add
	padding-top: 11px
	padding-bottom: 78px
.slider-add
	margin-top: 36px
	a
		display: block

/*****************************************Doctor-page*******************************************/
.doctor-info
	padding-top: 49px	
.sub-header-doctor_name 
	margin-top: 20px
	margin-top: 30px
.doctor-info-block
	img
		margin-left: 0px
		margin-right: 10px
		margin-bottom: 80px
		width: 475px
.doctor-position
	position: relative
	top: 10px
.doctor-info-response
	margin-top: 20px
	padding-left: 475px
.btn-blue-doctor
	padding: 0px 33px
	height: 50px
	line-height: 50px	
	font-weight: bold
	text-align: center
.dir-number
	margin-left: 42px
	i
		font-style: normal
.dir-write-response
	margin-left: 20px
.doctor-info-full
	padding-top: 30px
.doctor-info-full-header
	text-transform: uppercase
	margin-bottom: 13px
	display: block
.doctor-info-full-field
	margin-bottom: 28px
.dir-qualif-list
	
	li
		position: relative
		padding-left: 37px	
		margin-left: 475px	
	li::after
		position: absolute
		content: ''
		width: 10px
		height: 10px
		border-radius: 50%
		background-color: #accdef
		top: 8px
		left: 6px
.doctor-schedule-header
	display: block
	text-transform: uppercase
.doctor-cert
	img
		margin-top: 17px
		margin-right: 26px
.doctor-schedule-block
	margin-top: 35px
.doctor-schedule-table
	border: 1px solid #d0d0d0
	display: flex
	justify-content: space-between
	margin-top: 21px
.doctor-schedule-table-field
	text-align: center
	width: 14.285%	
	span
		display: block
.sth-wrap
	padding: 10px 0px
.shedule-table-week
	display: block
	background-color: #f3f3f3
	line-height: 49px
	width: 100%
	border-bottom: 1px solid #d0d0d0
.shedule-table-hour
	line-height: 30px
.block-dropdown
	display: none
.link-dropdown:hover
	cursor: pointer
.doctor-response
	padding-top: 48px
	padding-bottom: 20px
	.response-top
		padding-left: 0px
	.response-main
		padding-left: 0px
		background-image: none
	.dir-number
		text-transform: uppercase
		margin-left: 0px
	.slider-container
		margin-top: 30px
	hr
		width: 320px
		height: 1px 
		background-color: $gray-text
		margin: 0px
.response-feedback
	width: 100%
	min-height: 672px
	overflow: hidden
	padding-top: 27px
	position: relative
	.container
		position: relative
	.response-feedback-bg
		position: absolute
		top: -7px
		right: -231px
		z-index: -1
.link-dropdown
	background-image: url('../images/arr-down_blue.png')
	background-repeat: no-repeat
	background-position: right center
	padding-right: 30px
	background-size: 16px 10px
	margin-top: 20px
	display: inline-block
.sub-header_decor-feed
	font-size: 28px
	color: $blue
	margin-top: 0px
.l-container
	display: block
	position: relative
	padding-left: 37px
	margin-bottom: 12px
	cursor: pointer	
	font-size: 14px
	line-height: 24px
	color: $gray-d
	font-weight: normal
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
.l-container input
	position: absolute
	opacity: 0
	cursor: pointer
.checkmark
	position: absolute
	top: 3px
	left: 0
	height: 23px
	width: 23px
	background-color: #fff
	border-radius: 3px
	border: 1px solid gray
.auto-yes .checkmark, .polite-d .checkmark
	top: 0px
.check-gen input:checked ~ .checkmark
	background-color: $blue
	border: 1px solid $blue
.check-gen .checkmark:after
	content: ""
	position: absolute
	display: none
.check-gen input:checked ~ .checkmark:after
	display: block
.check-gen .checkmark:after
	left: 8px
	top: 4px
	width: 7px
	height: 13px
	border: solid white
	border-width: 0 3px 3px 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
.btn-blue-feed:disabled
	background-color: gray
.resp-feedback-mark
	span
		margin-right: 17px
	margin-bottom: 23px
.feedback-stars
	display: inline-block
	position: relative
	top: -3px
	li
		display: inline-block
	.st0
		fill: #fff
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	li:hover
		cursor: pointer
		.st0
			fill: #fdba00
	svg
		width: 20px
		height: 20px

#response-feed-form
	textarea
		height: 210px
.polite-d
	margin-top: 10px
.btn-blue-feed
	margin-top: 10px
.fix-mrg
	margin-right: 25px


/*****************************************All-Responses*******************************************/
.all-responses
	padding-top: 11px
	.response-main, .response-top
		background-image: none
		padding-left: 0px
	.sub-header-all-response
		padding-left: 0px
.response-admin
	background-image: url('../images/user.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 26px
	padding-right: 26px	
	font-size: 17px
	text-transform: uppercase
	border-bottom: 1px solid $gray-text
	line-height: 40px
	display: inline-block
	margin-bottom: 10px
.all-responses-replay
	padding-left: 55px
.all-responses-main
	border-bottom: 1px solid #d0d0d0
.all-responses-wrap-gen
	padding-top: 37px
.all-responses-wrap-gen .all-responses-main:nth-child(2n+1)
	background-color: #f8f8f9
.all-responses-wrap-gen .all-responses-main:nth-child(1)
	border-top: 1px solid #d0d0d0
.all-responses-main
	padding-top: 25px
	padding-bottom: 12px
	.response-main
		span
			margin-bottom: 8px
			display: block
	.response-slide
		padding-bottom: 3px
.all-responses-replay

.counter-page
	margin-top: 43px
	padding-bottom: 92px
	li
		display: inline-block
		width: 40px
		height: 40px
		margin: 0px 2px
		text-align: center
	a
		display: block
		line-height: 40px
		font-size: 18px
	a:hover
		color: $blue-h
.counter-page-active
	border: 1px solid #d0d0d0
	background-color: #f8f8f9


/*****************************************All-Services*******************************************/
.all-services
	padding-top: 20px
	padding-bottom: 14px
	.main-services-link
		padding-left: 0px
	hr
		width: 156px
		height: 1px 
		background-color: #d0d0d0
		margin: 10px 0px 2px 9px
.all-services-list
	padding-left: 39px
	li
		position: relative
		padding-left: 20px
	li:after
		position: absolute
		content: ''
		width: 7px
		height: 7px
		background-color: $blue
		border-radius: 50%
		top: 9px
		left: 0px
	.main-services-link
		text-align: left
.all-services-bottom
	display: flex
	padding-top: 17px
	hr
		margin-left: 0px
.all-services-bottom-content
	padding-top: 18px
	padding-left: 30px
	.sub-header_blue
		display: block
		margin-bottom: 14px
	.all-services-list
		padding-left: 29px
		margin-top: 5px

/*****************************************One-Services*******************************************/
.services-info
	padding-top: 22px
	padding-bottom: 40px		
	.dir-qualif-list
		li
			margin-left: 565px
	.circle	
		width: 7px
		height: 7px
		background-color: red
.services-info-content
	margin-top: 38px
	margin-left: -3px
	.main-text
		line-height: 25px
	.fix-mr-bottom
		margin-bottom: 24px
	img
		position: relative
		top: 4px
		width: 545px
		margin-right: 20px
		margin-bottom: 20px
.sub-header_decor-si
	font-size: 30px
	margin-top: 41px
.service-cost
	padding-top: 20px
	padding-bottom: 40px
.sub-header-services-cost, .sub-header-services-doctors
	display: block
	text-align: center
.service-cost-wrap
	box-shadow: 0px 7px 7px rgba(0,0,0,0.24)
	padding-top: 36px
	padding-bottom: 88px
	position: relative
.service-cost-table-header
	display: flex
	justify-content: space-between	
	line-height: 45px
.service-cost-list 
	li:nth-child(1)
		border-top: 1px solid #d0d0d0
	li
		display: flex
		justify-content: space-between
		border-bottom: 1px solid #d0d0d0
		padding: 3.4px 0px
.services-cost-drop
	width: 52px
	height: 52px
	background-color: #d0d0d0
	border-radius: 50%
	position: absolute
	z-index: 100
	right: 58px
	top: 44px
	text-align: center
.services-cost-drop::before
	border-style: solid
	border-width: 0.15em 0.15em 0 0
	content: ''
	display: inline-block
	height: 1.05em	
	position: relative
	top: 1.35em
	transform: rotate(-45deg)
	vertical-align: top
	width: 1.15em	
.services-cost-drop:hover
	cursor: pointer
	background-color: $blue	
.services-cost-drop:hover::before
	border-color: #fff
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
.service-cost-table
	margin-top: 33px
	width: 85%
	margin-left: 65px	
.services-header-name
	width: 93%
	text-align: center
	font-weight: 600
.services-header-cost
	width: 7%
	text-align: center
	font-weight: 600
	text-align: right
	padding-right: 10px
.services-desc
	width: 85%
	letter-spacing: 0.4px
.services-table-cost
	width: 15%
	letter-spacing: 0.4px
	text-align: right
.service-doctors
	padding-top: 69px
	padding-bottom: 68px
	.doctors-block
		margin-top: 27px
		margin-bottom: 0px
.service-doctors .col-xl-3
	padding-bottom: 74px
.service-doctor-blue
	position: absolute
	bottom: 0px	
	right: 0px 
	left: 0px
	margin: auto
	text-align: center	
.btn-blue-service-doctor
	line-height: 60px
	height: 60px
	font-weight: 600
	padding: 0px 20px
	border-radius: 30px
	font-weight: 700
	padding: 0px 45px
.other-services
	width: 100%
	min-height: 308px	
	padding-top: 48px
	padding-bottom: 48px
.other-services-decor	
	position: absolute
	left: -159px
	top: -100px
.other-services-block
	display: flex
	justify-content: space-between
	width: 83%
	margin-left: 125px
	margin-top: 22px
	margin-bottom: 28px
	a
		font-size: 21px
		color: $gray-d
.btn-gray_other-serv
	padding: 0px 87px 0 53px
.main-articles
	padding-top: 79px
	padding-bottom: 72px
	.slider-container
		margin-top: 27px
.article-anonse-block
	.sub-header_small
		line-height: 22px
	.main-text
		line-height: 22px
.service-cost-list-header
	font-weight: 700
	display: block
	margin-bottom: 10px
	position: relative
	padding-left: 30px
	margin-left: -30px
.service-cost-list-header::after
	position: absolute
	content: ''
	width: 10px
	height: 10px
	border-radius: 50%
	background-color: #accdef
	top: 8px
	left: 6px


/***********************************************Contacts*****************************************/
.contacts
	padding-top: 43px
	padding-bottom: 58px
.contacts-block
	margin-top: 25px
.contacts-block-field
	display: flex
	align-items: top
	padding: 6px 0px
	.footer-social
		margin-top: 0px
		margin-left: 0px
		position: relative
		top: -5px			
	.main-text
		line-height: 24px
	span		
		text-transform: uppercase
		font-weight: bold
		padding-left: 50px
	a
		margin-right: 10px
	p
		margin: 0px	
	b
		display: block
		margin-bottom: -12px
.contacts-block-field-left
	width: 17%
.contacts-block-field-right
	width: 83%
.contacts-block-field-small	
	width: 28%
.contacts-adress
	background-image: url('../images/marker.png')
	background-repeat: no-repeat
	background-position: left top
	margin-bottom: 16px
.contacts-phone
	background-image: url('../images/phone.png')
	background-repeat: no-repeat
	background-position: left top
	margin-bottom: 6px
.contacts-work
	background-image: url('../images/work.png')
	background-repeat: no-repeat
	background-position: left top
	margin-bottom: 12px
.contacts-site
	background-image: url('../images/site.png')
	background-repeat: no-repeat
	background-position: left top
	margin-bottom: 12px
.contacts-social
	background-image: url('../images/social.png')
	background-repeat: no-repeat
	background-position: left top


/***********************************************Stock-page***************************************/
.stock-block-top-image
	position: relative
.stock-block-top
	padding-top: 38px
	padding-bottom: 50px
	position: relative
	.stock-image-boy
		margin-left: -30px
	.stock-comment
		padding-left: 33px
		display: inline-block
		margin-top: 20px	
	hr
		width: 700px
		height: 4px
		background-color: $gray-l
		margin: 0 auto
		margin-top: 30px
.stock-image-add
	position: absolute
	top: -20px
	right: -60px
.stock-comment-dropdown
	display: none
	height: auto
	span
		padding: 20px 0px
		display: block	
.stock-comment-link:hover
	cursor: pointer
.stock-block-top-content
	position: relative
	top: 12px
	padding-left: 33px
	ul
		margin-top: 22px
	i
		font-size: 25px
.sub-header_decor__news-stock
	padding-left: 100px
	font-size: 55px
	text-align: left
.stock-block-middle
	.stock-block-top-content
		padding-top: 60px
		padding-left: 0px
		top: 0px
	.sub-header_decor__news-stock
		padding-left: 0px
	.stock-block-top-content ul
		margin-top: 31px
	.stock-comment
		display: inline-block
		margin-top: 30px
	.stock-block-top-image
		position: relative
		top: 106px
	.stock-image-add
	    position: absolute
	    top: -80px
	    left: -68px
.stock-block-bottom
	padding-top: 78px
	padding-bottom: 42px
	.btn-blue-wrap
		margin-top: 27px
		margin-left: 172px
	.container
		position: relative				
.stock-news-10
	position: absolute
	right: 17px
	top: 51px
.sub-header-stock-bottom
	padding-right: 25px		
.back-tale-image
	margin-left: -116px
	position: relative
	top: -44px
.tale-begin
	margin-top: 30px
	margin-left: 134px
	span
		font-family: 'Calibri', sans-serif
		font-size: 20px
		font-weight: bold
		color: #00365d
		display: block
		margin-bottom: 10px
.stock-gift
	margin-top: 22px
	margin-left: 54px
	position: relative
	img
		position: absolute
		bottom: 5px
		right: 38px
.tale-comment
	display: block
	margin-top: 19px
	margin-left: 41px
.btn-blue-stock-page
	padding: 0 48px
	height: 60px
	line-height: 60px
	font-size: 18px
	border-radius: 30px
.stock-news
	padding-top: 20px
	padding-bottom: 70px
	.stock-news-slide
		margin-bottom: 36px
	.slider-container
		margin-top: 23px
	.btn-gray_news-wrap
		margin-top: 20px
	.btn-gray
		padding: 0px 124px 0 65px
	img
		position: relative
		top: 5px
		margin-right: 37px
		height: 174px
.stock-news-block
	padding-left: 10px
	h4
		margin-top: 10px
		margin-bottom: 14px
	.main-text
		line-height: 25px
.stock-news-slide-wrap
	display: flex

/***********************************************Tales-Page************************************/
.tales-page
	padding-bottom: 79px
.tales-page-block
	position: relative
	width: 100%
	height: auto
	text-align: center
	padding: 85px 30px 30px 24px
	background-color: #f4f4f4
	box-shadow: 0px 0px 21px rgba(0,0,0,0.2)
	margin-bottom: 56px
	p
		text-align: left
		font-size: 16px
		color: $gray-d
		line-height: 26px
.tales-dracon, .tales-cat, .tales-pony
	position: absolute
	left: 0px
	right: 0px
	margin: auto
	top: -20px
.tales-cat
	top: -29px
.tales-pony
	top: -27px
.tales-palitra
	position: absolute
	top: 11px
	left: 17px
.tales-date
	position: absolute
	top: 17px
	right: 23px
	font-size: 14px
.tales-author
	font-size: 17px
	color: $gray-text
.tales-name
	color: $blue
	font-weight: 700
	margin-top: 10px
	font-size: 19px
	line-height: 27px
	margin-bottom: 14px
.stock-block-bottom_tales
	padding-top: 62px
	padding-bottom: 33px
.btn-gray_tales-wrap
	text-align: center
	margin-top: 4px
	.btn-gray
		padding: 0px 121px 0 63px

/***********************************************Faq-Page****************************************/
.faq-section
	padding-top: 37px
	padding-bottom: 114px
#accordion
	margin-top: 39px
.card-header
	background-color: #fff
	border: none
	position: relative
.card
	border: none
	box-shadow: 0px 0px 9px rgba(0,0,0,0.2)
	margin-bottom: 10px
.btn-link
	font-size: 18px
	color: $gray-d!important
	font-weight: 700
	text-decoration: none!important
	white-space: normal!important
	text-align: left
	padding: 17px 28px
	width: 90%
	text-transform: uppercase
.faq-list	
	li
		position: relative	
		margin-bottom: 33px				
	li::after
		position: absolute
		content: ''
		width: 10px
		height: 10px
		border-radius: 50%
		background-color: #accdef
		top: 5px
		left: 6px
	.sub-header_small
		padding-left: 40px
		display: block
		margin-bottom: 15px
	.text-16
		line-height: 26px
.accdrop
	width: 35px
	height: 35px
	background-color: #d0d0d0
	border-radius: 50%
	position: absolute
	z-index: 100
	right: 24px
	top: 22px
	text-align: center
.accdrop::before
	border-style: solid
	border-width: 0.15em 0.15em 0 0
	content: ''
	display: inline-block
	height: 0.55em	
	position: relative
	top: 0.95em
	transform: rotate(-45deg)
	vertical-align: top
	width: 0.65em	
	border-color: #747474
.drop-show::before
	transform: rotate(-225deg)
	top: 0.75em
.card-body
	padding: 0px 39px 11px
.sub-header_full-faq
	align-items: center
	justify-content: flex-end
	margin-top: 26px
	margin-right: 4px
	hr
		margin-top: 0px
		margin-bottom: 0px
		width: 221px
	.btn-gray
		    padding: 0px 112px 0 73px
		    font-size: 17px


/***********************************************About-Page****************************************/
.about-page
	padding-top: 32px
	.main-text
		line-height: 26px
		font-size: 16px
.main-about-subheader
	display: block
	margin-top: 17px
	font-size: 21px
	font-weight: 700
	margin-bottom: 6px
.about-list	
	margin-top: 20px
	li
		padding-left: 19px
		margin-bottom: 0px
	li::after
		left: -1px
		top: 10px
.main-methods_about
	min-height: 239px
	.line
		width: 620px
.slider-about
	.main-methods-block
		background-position: center top
		padding: 56px 0px 0px 0px
		text-align: center
	.text-16
		font-weight: 600
		padding: 0px 20px
.about-steps
	padding-top: 53px
.sub-header_decor-steps
	margin-top: 0px
.btn-steps-slide-wrap
	position: absolute
	left: 59.4%
	bottom: 70px
	font-size: 23px
	font-weight: 700
	color: $blue-text
	text-transform: uppercase
.slider-steps
	width: 1260px
	margin-left: -60px
	margin-top: 27px
	.col-12
		padding-bottom: 52px
	.sub-header
		margin-bottom: 29px
	.sub-header-blue
		font-size: 22px
		display: block
		line-height: 31px
		margin-bottom: 16px
	.main-text
		line-height: 26px
		margin-bottom: 35px
.about-steps .arrows
	position: relative
	background-color: transparent
	width: 260px
	height: 58px
	line-height: 50px
	text-align: center
	margin-left: 52%
	position: relative
	top: -111px
	.arr-left-gen, .arr-right-gen
		z-index: 1000
		.st0, .st1
			fill: #fff
	.arr-left-gen
		top: 30%
		left: 25px
	.arr-right-gen
		top: 30%
		right: 25px
.about-steps .arrows::before
	width: 59px
	height: 58px
	background-color: $blue
	position: absolute
	top: 0px 
	left: 0px
	z-index: 1
	content: ''
	border-radius: 30px 0px 0px 30px
	box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.2)
.about-steps .arrows::after
	width: 59px
	height: 58px
	background-color: $blue
	position: absolute
	top: 0px 
	right: 0px
	z-index: 1
	content: ''
	border-radius: 0px 30px 30px 0px
	box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.2)
.steps-image-wrap
	position: relative
	margin-left: 52px	
	margin-right: 38px
	position: relative
	top: 10px	
	img
		z-index: 100
		position: relative
		float: left
.steps-image-decor-text
	display: flex
	align-items: center
	margin-left: 33px
	margin-bottom: 8px
	hr
		width: 42px
		height: 1px
		background-color: #bfbfbf
		margin-right: 16px
		margin-top: 0px
		margin-bottom: 0px
	span
		margin-bottom: 0px!important
.steps-image-decor
	width: 100%
	height: 100%
	position: absolute
	bottom: -41px
	left: -33px
	background-color: #e8e8e8
	z-index: 1
	display: flex
	align-items: flex-end
.tour
	padding-bottom: 45px
.tour-wrap
	margin-top: 11px
.tour-image
	width: 838px
	margin: 0 auto
	position: relative
.tour-image-decor
	position: absolute
	top: -17px
	right: -34px
.tour-panel
	position: relative
	margin-top: -184px
	background-color: rgba(232,232,232,0.7)
	width: 100%
	height: 230px
	padding-top: 20px
	.sub-header_decor
		font-size: 42px
		margin-top: 0px
.tour-button
	width: 104px
	height: 104px
	background-color: transparent
	border: 1px solid rgba(37, 76, 115, 0.3)
	border-radius: 50%
	text-align: center
	position: absolute
	right: 0px
	left: 0px 
	margin: auto
	top: 71px
.tour-button:hover
	border: 1px solid rgba(37, 76, 115, 0.7)
.tour-button:hover .tour-button-inner
	border: 10px solid rgba(37, 76, 115, 0.7)
.tour-button-inner
	width: 85px
	height: 85px
	background-color: #fff
	border-radius: 50%
	border: 10px solid rgba(37, 76, 115, 0.3)
	position: relative
	top: 8px
	left: 8px
.tour-button-inner::before	
	position: absolute
	content: ''
	background-image: url('../images/triang-left.png')
	width: 34px
	height: 40px
	top: 16px
	left: 20px
.videos
	position: relative
.video-slider
	padding-top: 35px
	padding-bottom: 126px
.sub-header_video-slider
	background-image: url('../images/youtube-icon.png')
	background-position: left center
	background-repeat: no-repeat
	display: inline-block
	margin-left: 205px
	padding-left: 80px	
	margin-bottom: 28px
.video-content
	position: relative
	margin-top: 29px
	z-index: 1000
	img
		border: none
		width: 100%
		height: 207px	
	.click
		position: absolute		
		display: block
		width: 100%
		height: 100%
		top: 0px
		left: 0px
.video-slider-wrapper
	padding-bottom: 40px
	overflow: hidden	
	.slider-video
		width: 99%
		margin: 0 auto
	.slick-list
		overflow: visible
	.arr-left-gen
		width: 20px
		height: 50px
		background-color: #e5e5e5
		border-radius: 100% 0 0 100% / 50% 0 0 50%
		left: 20px
		z-index: 0
		padding: 15px 0px 0px 7px
		svg
			width: 9px
			height: 18px
	.arr-right-gen
		width: 20px
		height: 50px
		background-color: #e5e5e5
		border-radius: 0 100% 100% 0 / 0 50% 50% 0
		right: 18px
		z-index: 0
		padding: 15px 0px 0px 5px
		svg
			width: 9px
			height: 18px
.video-slide
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2)
	margin: 0px 5px
	padding-bottom: 51px
.licensec-header
	background-image: url('../images/hat.png')
	background-repeat: no-repeat
	background-position: center top
	padding: 94px 0px 70px 0px
	margin-top: 38px
.video-header
	display: block
	margin-top: 12px
	font-size: 16px
	margin-bottom: 14px
.video-slide-bottom
	position: absolute
	bottom: 24px
	display: flex
	width: 90%
	justify-content: space-between
	padding: 0 15px
	span
		font-size: 14px
		color: $gray-text
.video-slide-desc
	padding: 0 15px
.video-views
	background-image: url('../images/eye.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 25px
.licensec
	min-height: 265px
.licences-slider
	margin-left: -35px
	margin-top: -66px
.garantee
	padding-top: 77px
	padding-bottom: 70px
.garantee-block
	margin-top: 35px
	padding: 0px 57px
.garantee-block-field-header
	font-size: 20px
	font-weight: 700
	color: $gray-d
.garantee-block-list-wrap
	margin-top: 26px
	padding-left: 0px
	position: relative
.sub-header_small
	position: relative
	display: block
	padding-left: 29px
	b
		font-size: 12px
.blue-circle
	position: relative
	padding-left: 29px
.blue-circle::before
	display: block
	position: absolute
	content: ''
	width: 10px
	height: 10px
	border-radius: 50%
	background-color: #accdef
	top: 5px
	left: 6px    
.garantee-list
	padding-left: 30px
	margin-top: 10px
	li
		margin-bottom: 6px	
	li:after
		display: none
	span
		font-size: 15px
		color: $gray-d
	i
		font-style: normal
		font-weight: 600
.garantee-block-field
	margin-bottom: 40px

/***********************************************ButtonMobile************************************/
.menu-toggle-button
	width: 62px
	height: 40px
	float: right
	background-color: transparent
	border-radius: 7px
	padding-top: 5px
	border: none
	text-indent: -9999px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	position: relative
	display: block
	overflow: hidden
	margin-top: 5px
	float: right
	margin-left: -17px


.menu-toggle-button span 
	display: block
	height: 3px
	background: $gray-d
	position: absolute
	top: 15px
	left: 16px
	right: 16px
	-webkit-transition: background 0s 0.3
	-o-transition: background 0s 0.3
	transition: background 0s 0.3


.menu-toggle-button span::before, .menu-toggle-button span::after
	content: ""
	display: block
	width: 100%
	height: 3px
	background: $gray-d
	position: absolute
	left: 0px
	-webkit-transition-duration: 0.3s, 1s
	-o-transition-duration: 0.3s, 1s
	transition-duration: 0.3s, 1s
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s


.menu-toggle-button span::before 
	top: -7px

.menu-toggle-button span::after 
	bottom: -7px

.menu-toggle-button.is-active span
	background: none

.menu-toggle-button.is-active span::before
	top: 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	-webkit-transition-property: top, -webkit-transform
	transition-property: top, -webkit-transform
	-o-transition-property: top, transform
	transition-property: top, transform
	transition-property: top, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s
	background: $blue


.menu-toggle-button.is-active span::after 
	bottom: 0
	background: $blue
	-webkit-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	transform: rotate(-45deg)
	-webkit-transition-property: bottom, -webkit-transform
	transition-property: bottom, -webkit-transform
	-o-transition-property: bottom, transform
	transition-property: bottom, transform
	transition-property: bottom, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s

.menu-toggle-button:focus
	outline: none !important