html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  width: 100%;
  height: auto;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: "Segoe UI", sans-serif; }
  body a:hover, body a:focus, body a:active {
    text-decoration: none;
    outline: none; }
  body input:focus, body input:active {
    text-decoration: none;
    outline: none; }
  body button:focus, body button:active {
    text-decoration: none;
    outline: none; }
  body textarea:focus, body textarea:active {
    text-decoration: none;
    outline: none; }
  body a {
    display: inline-block;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  body ul, body ol {
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
  body button {
    border: none;
    cursor: pointer; }
  body hr {
    border: none; }

.pixel {
  background: url(../img/main.jpg) no-repeat top center;
  width: 1920px;
  height: 12800px;
  position: absolute;
  z-index: 1000000;
  display: none;
  left: 50%;
  top: 0;
  margin-left: -960px;
  opacity: 0.5;
  margin-top: 0px; }

/***************************************************GeneralStyles************************************/
h3 {
  font-size: 36px;
  color: #a6008d;
  line-height: 1.2; }

h2 {
  font-size: 36px;
  color: #000; }

.second-header {
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 30px;
  color: #a6008d; }

.smallh3-header {
  font-size: 24px;
  color: #a6008d;
  font-family: "Segoe UI Semibold", sans-serif; }

.gen-text, .gen-text a {
  font-size: 16px;
  color: #000;
  line-height: 26px; }

.gen-text a:hover {
  color: #f0891c; }

.breadcrumb {
  background-color: transparent;
  margin-top: 22px;
  margin-bottom: 15px; }

.breadcrumb-item a {
  color: #000;
  font-size: 16px; }

.breadcrumb > .active {
  color: #999999;
  font-size: 16px; }

.breadcrumb > li + li:before {
  padding: 0px; }

.hidden {
  display: none; }

.btn-gen {
  width: 130px;
  height: 35px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.btn-gen:hover {
  background-color: #f0891c; }

.btn-blue {
  background-color: #00aeef; }

.btn-blue:hover {
  background-color: #f0891c; }

.btn-grey {
  background-color: #999999; }

.btn-grey:hover {
  background-color: #999999;
  opacity: 0.7; }

.btn-orange {
  background-color: #f0891c; }

.btn-orange:hover {
  color: #fff;
  background-color: #00aeef; }

.purple-link {
  color: #a21b86;
  border-bottom: 1px solid #a21b86; }

.purple-link:hover {
  color: #f0891c;
  border-bottom: 1px solid #f0891c; }

/***************************************************Header*******************************************/
header {
  position: relative; }

.logo {
  position: absolute;
  top: 16px; }

.header-first {
  height: 106px; }

.top-menu ul, .bottom-menu ul, .bottom-links ul {
  display: inline-block; }

.top-menu li, .bottom-menu li, .bottom-links li {
  display: inline-block;
  font-size: 18px;
  color: #000; }
  .top-menu li span, .bottom-menu li span, .bottom-links li span {
    color: #fa3a1d;
    font-family: "Segoe UI Bold", sans-serif; }

.top-menu a, .bottom-menu a, .bottom-links a {
  font-size: 18px;
  color: #000; }

.top-menu a:hover, .bottom-menu a:hover, .bottom-links a:hover {
  color: #f0891c; }

.top-menu .purple-link, .bottom-menu .purple-link, .bottom-links .purple-link {
  color: #a21b86;
  border-bottom: 1px solid #a21b86; }

.top-menu .purple-link:hover, .bottom-menu .purple-link:hover, .bottom-links .purple-link:hover {
  border-bottom: 1px solid #f0891c; }

.top-menu i, .bottom-menu i, .bottom-links i {
  width: 16px;
  height: 16px;
  background-color: #bd2f1b;
  color: #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  font-style: normal;
  display: inline-block;
  border-radius: 4px;
  margin-left: 5px; }

.top-menu ul:nth-child(2) {
  margin-left: 10px; }

.bottom-menu a {
  font-family: "Segoe UI Bold", sans-serif;
  line-height: 1;
  display: inline-block; }

.bottom-menu li {
  line-height: 70px;
  margin-right: 39px; }

.top-menu {
  margin-top: 37px; }
  .top-menu li {
    margin-right: 24px; }

.d-marker {
  position: relative; }

.d-marker::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 10px;
  border: 5px solid transparent;
  border-top: 5px solid #a6008d; }

.phone {
  margin-top: 30px; }
  .phone a {
    font-size: 30px;
    color: #000; }

.f-left {
  display: inline-block;
  font-size: 12px;
  color: #333333; }

.f-right, .f-right:visited, .f-right:active, .f-right:focus {
  display: inline-block;
  font-size: 12px;
  color: #a6008d;
  border-bottom: 1px solid #a6008d;
  margin-left: 10px; }

.f-right:hover {
  color: #f0891c;
  border-bottom: 1px solid transparent; }

.header-second {
  height: 90px;
  background-color: #f0891c; }
  .header-second .container, .header-second .row {
    height: inherit; }

.login-info li {
  display: inline-block;
  margin-right: 17px; }

.login-info a {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #fff; }

.login-info a:hover {
  border-bottom: 1px solid transparent; }

.header-search {
  width: 736px;
  position: relative;
  margin-top: 11px;
  -moz-placeholder-color: #999999;
  -moz-placeholder-font-size: 16px;
  -ms-input-placeholder-color: #999999;
  -ms-input-placeholder-font-size: 16px; }
  .header-search input {
    width: 100%;
    height: 38px;
    line-height: 37px;
    border: 1px solid #a6008d;
    padding: 0px 100px 0px 12px;
    border-right: none; }
  .header-search ::-webkit-input-placeholder {
    color: #999999;
    font-size: 16px; }
  .header-search ::-moz-placeholder {
    color: #999999;
    font-size: 16px; }

.h-search-link {
  width: 21px;
  height: 21px;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 10px;
  right: 10px; }

.header-search::before {
  content: '';
  position: absolute;
  right: -33px;
  top: 5px;
  border: 19px solid transparent;
  border-top: 9px solid #a6008d;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.header-search::after {
  content: '';
  position: absolute;
  right: -32px;
  top: 5px;
  border: 19px solid transparent;
  border-top: 9px solid white;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.tr-wrapper {
  position: relative;
  z-index: 10;
  height: 90px;
  padding-top: 7px; }

.tr-wrapper::before {
  content: '';
  position: absolute;
  right: -60px;
  top: 15px;
  border: 45px solid transparent;
  border-top: 15px solid #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.tr-wrapper::after {
  content: '';
  position: absolute;
  right: -58px;
  top: 15px;
  border: 45px solid transparent;
  border-top: 15px solid #f0891c;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.h-login {
  width: 75px;
  height: 90px;
  background-color: #a6008d;
  margin-left: -45px;
  position: relative;
  display: inline-block;
  z-index: 5;
  vertical-align: top; }

.h-login-link {
  font-size: 16px;
  color: #fff;
  margin-left: 28px;
  position: absolute;
  z-index: 100;
  left: -30px;
  top: 34px; }

.h-login-link:hover {
  color: #f0891c !important; }

.h-login:visited, .h-login-link:active, .h-login-link:focus {
  color: #fff; }

.h-login::before {
  content: '';
  position: absolute;
  right: -76px;
  top: 15px;
  border: 45px solid transparent;
  border-top: 15px solid #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.h-login::after {
  content: '';
  position: absolute;
  right: -74px;
  top: 15px;
  border: 45px solid transparent;
  border-top: 15px solid #a6008d;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.h-basket {
  display: inline-block;
  width: 190px;
  height: 90px;
  background-color: #c4bb9e;
  position: relative;
  z-index: 0;
  vertical-align: top;
  margin-left: -10px;
  background-image: url(../img/basket.png);
  background-repeat: no-repeat;
  background-position: left 43px center; }

.h-basket::before {
  content: '';
  position: absolute;
  right: -76px;
  top: 15px;
  border: 45px solid transparent;
  border-top: 15px solid #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.h-basket::after {
  content: '';
  position: absolute;
  right: -74px;
  top: 15px;
  border: 45px solid transparent;
  border-top: 15px solid #c4bb9e;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.header-third {
  height: 70px;
  background-color: #e6ebee; }
  .header-third .col-lg-12 {
    padding-right: 0px; }
  .header-third .fix-li {
    margin-right: 0px; }

.basket-wrapper {
  margin-top: 27px;
  margin-left: 92px; }
  .basket-wrapper a {
    font-size: 16px;
    line-height: 16px;
    color: #000; }
  .basket-wrapper a:hover {
    color: #a6008d; }
  .basket-wrapper span {
    font-size: 16px; }

.logged-user {
  display: none; }

.logged .tr-wrapper {
  width: 790px; }

.logged .tr-wrapper::after {
  right: -71px; }

.logged .tr-wrapper::before {
  right: -73px; }

.logged .h-login {
  width: 295px;
  margin-left: -251px; }

.logged .h-login-link {
  display: none; }

.logged .h-login::after {
  border-top: 15px solid #f0891c; }

.logged .logged-user {
  display: block;
  background-color: #f0891c;
  width: 100%;
  height: 100%; }

.logged .logged-avatar {
  width: 100px;
  height: 100%;
  background-color: #c5c5c5;
  background-image: url(../img/avatar.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block; }

.logged .logged-info {
  display: inline-block;
  width: 190px;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 10px; }
  .logged .logged-info span {
    display: block;
    font-size: 14px;
    color: #fff; }
  .logged .logged-info i {
    font-style: normal; }
  .logged .logged-info .logged-name {
    font-family: "Segoe UI Bold", sans-serif; }
  .logged .logged-info .log-out {
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 7px; }

.logged .basket-wrapper a {
  font-family: "Segoe UI Bold", sans-serif; }

/***************************************************Header-Mobile*******************************************/
.header-mm {
  height: 60px;
  background-color: #f0891c;
  position: relative; }

.header-mm .menu-toggle-button {
  margin-top: 15px; }

.header-mm-icons {
  position: absolute;
  left: 100px;
  top: 20px;
  z-index: 100; }
  .header-mm-icons li {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px; }
  .header-mm-icons .link-mm {
    width: 100%;
    height: 100%; }

.registration-mm {
  background-image: url("../img/login-mm.png");
  background-repeat: no-repeat;
  background-position: center center; }

.search-mm {
  position: relative;
  background-image: url(../img/search-mm.png);
  background-repeat: no-repeat;
  background-position: center center; }

.header-search-mm {
  position: absolute;
  top: -10px;
  margin-top: 0px;
  width: 0px;
  overflow: hidden;
  z-index: 1000; }
  .header-search-mm input {
    border: 1px solid #a6008d;
    padding: 0 40px 0px 12px; }

.h-basket-link-mm {
  background-image: url("../img/basket-mm.png");
  background-repeat: no-repeat;
  background-position: center center; }

.top-menu-mm {
  -webkit-box-shadow: 0px 10px 10px -10px black;
  box-shadow: 0px 10px 10px -10px black;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0px;
  display: none;
  z-index: 10000; }
  .top-menu-mm li {
    display: block;
    padding: 10px 10px 10px 30px;
    margin: 0px; }
  .top-menu-mm ul {
    display: block; }

.top-mm-dropdown {
  background-image: url(../img/arr-mm.png);
  background-repeat: no-repeat;
  background-position: right 20px center; }
  .top-mm-dropdown a {
    display: block; }

.goods-list-mm {
  position: absolute;
  right: -1000px;
  top: 0px;
  overflow: hidden;
  background-color: #f1f1f1;
  z-index: 100000; }

.cat-return {
  color: #f0891c !important; }

.top-menu-mm ul:nth-child(2) {
  margin-left: 0px; }

.add-info a {
  color: #a6008d; }

/***************************************************Slider*******************************************/
.main-slider {
  padding-top: 94px;
  padding-bottom: 30px; }

.top-slider {
  position: relative; }

.slide {
  width: 100%;
  height: 459px;
  background-image: url(../img/slide-1.jpg);
  background-repeat: no-repeat;
  background-position: center center; }

.slick-prev {
  position: absolute;
  width: 26px;
  height: 50px;
  background-image: url("../img/arr-prev.png");
  background-repeat: no-repeat;
  background-position: center center;
  left: 0px;
  top: 50%;
  margin-top: -25px;
  padding: 0px;
  background-color: transparent;
  z-index: 1000; }

.slick-next {
  position: absolute;
  width: 26px;
  height: 50px;
  background-image: url("../img/arr-next.png");
  background-repeat: no-repeat;
  background-position: center center;
  right: 0px;
  top: 50%;
  margin-top: -25px;
  padding: 0px;
  background-color: transparent;
  z-index: 1000; }

/***************************************************Goods*******************************************/
.goods {
  padding-top: 26px;
  padding-bottom: 50px; }

.goods-block {
  position: relative;
  height: 430px; }

.goods-block-info {
  position: absolute;
  top: 148px; }
  .goods-block-info h3 {
    margin-bottom: 22px; }

.goods-block-image {
  width: 100%;
  height: 150px;
  position: relative; }
  .goods-block-image img {
    position: absolute;
    bottom: 0px; }

.goods-list li {
  margin-bottom: 6px; }

.goods-row {
  margin-top: 112px; }

/***************************************************Goods-Sliders**********************************************/
.best, .new-goods, .office-goods {
  padding-top: 60px;
  padding-bottom: 15px; }

.slider-fix {
  width: 1525px;
  overflow: hidden; }

.goods-slider {
  width: 1530px;
  margin-top: 20px;
  overflow: hidden; }
  .goods-slider .slick-list {
    margin: 0 -10px; }
  .goods-slider .slick-slide {
    margin: 0 10px; }
  .goods-slider .slick-prev {
    width: 30px;
    height: 60px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background-color: #fff;
    top: 38%;
    background-size: 10px auto;
    background-position: left 5px center;
    left: -1px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .goods-slider .slick-next {
    width: 30px;
    height: 60px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background-color: #fff;
    top: 38%;
    background-size: 10px auto;
    background-position: right 5px center;
    right: 4px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

.goods-slide-block {
  width: 230px;
  height: 545px; }

.goods-slide-image {
  width: 100%;
  height: 368px; }
  .goods-slide-image img {
    max-width: 100%;
    height: 368px; }

.in-cart {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #fff;
  background-color: #a6008d;
  text-align: center;
  line-height: 50px; }

.in-cart:hover {
  color: #f0891c; }

.good-cost {
  font-size: 22px;
  color: #000;
  line-height: 35px; }

.good-name {
  max-height: 34px;
  overflow: hidden;
  line-height: 17px; }

.good-info .good-author {
  color: #a6008d;
  border-bottom: 1px solid #a6008d;
  line-height: 18px; }

.good-author:hover {
  border-bottom: 1px solid #f0891c; }

.goods-slide-image_unknown, .goods-office-image_unknown {
  border: 1px solid #d9d9d9;
  background-image: url("../img/unknown-book.png");
  background-repeat: no-repeat;
  background-position: center center; }

.goods-office-image_unknown {
  background-image: url("../img/unknown-office.png"); }

/***************************************************Benefits**********************************************/
.benefits {
  padding-top: 70px;
  padding-bottom: 80px; }

.benefits-header-block {
  margin-top: 23px;
  height: 41px; }
  .benefits-header-block img {
    display: inline-block; }
  .benefits-header-block p {
    margin-left: 24px; }

.benefits-header {
  font-size: 24px;
  color: #000;
  display: inline-block;
  position: relative;
  top: 15px; }

.benefits .row .col-lg-4:nth-child(2) img {
  position: relative;
  top: 5px; }

.benefits-info {
  margin-top: 34px; }
  .benefits-info p {
    margin-bottom: 1px;
    padding-right: 20px; }
  .benefits-info .gen-text a {
    color: #a6008d;
    border-bottom: 1px solid #a6008d;
    display: inline; }
  .benefits-info .gen-text a:hover {
    border-bottom: 1px solid transparent; }

/***************************************************About**********************************************/
.about {
  width: 100%;
  height: 430px;
  background-color: #fee8cc; }

.about-header {
  font-size: 24px;
  color: #000;
  margin-bottom: 25px;
  display: block; }

.about-content {
  margin-top: 47px; }
  .about-content p {
    margin-bottom: 26px;
    padding-right: 50px; }

/***************************************************Footer**********************************************/
.bottom-links {
  margin-top: 20px; }
  .bottom-links b {
    color: #fa3a1d; }
  .bottom-links li:nth-child(1) {
    margin-right: 42px; }

footer {
  padding-bottom: 20px; }
  footer .phone-wrapper {
    margin-top: 12px; }
    footer .phone-wrapper .phone {
      margin-top: 0px; }
  footer .header-third {
    margin-top: 18px; }

.copy {
  font-size: 14px;
  margin-top: 98px; }

.al-right {
  text-align: right;
  padding-top: 18px; }
  .al-right .counters {
    margin-top: 41px; }

.add-footer {
  padding-bottom: 30px; }
  .add-footer .copy {
    margin-top: 16px; }

.add-footer-counters a {
  display: inline-block; }

.add-footer-counters .bit-link {
  margin-right: 78px; }

.add-footer-counters .counters {
  display: inline; }

/**********************************************ModalWindows*******************************************/
.form-wrapper {
  width: 570px;
  margin: 0 auto;
  padding: 30px 0px 40px 0px; }

.modal-form {
  position: relative;
  width: 600px;
  height: auto;
  margin: 0 auto;
  background-color: #fff; }

.form-header {
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 30px;
  color: #a6008d; }

.form-info {
  font-size: 16px;
  color: #000; }

.form-single {
  margin-top: 20px;
  position: relative; }
  .form-single input, .form-single textarea {
    display: block;
    width: 100%;
    height: 36px;
    border: 1px solid #cccccc;
    padding: 0px 20px;
    margin-top: 10px; }
  .form-single textarea {
    resize: none;
    height: 100px;
    padding: 20px; }

.form-dates {
  margin-top: 10px;
  display: block; }
  .form-dates a {
    font-size: 16px;
    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid transparent; }
  .form-dates a:hover {
    color: #a6008d;
    border-bottom: 1px solid #a6008d; }

.form-single .s-field {
  width: 80%;
  display: inline-block; }

.btn_form {
  width: 100%;
  height: 54px;
  background-color: #00aeef;
  font-size: 16px;
  font-family: "Segoe UI Bold", sans-serif;
  color: #fff;
  margin-top: 25px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.btn_form:hover {
  background-color: #f0891c; }

.form-main-text {
  font-size: 16px;
  line-height: 24px;
  font-family: "Segoe UI Semibold", sans-serif;
  font-weight: 600; }

.social-icons {
  margin-top: 25px; }

.social-icons-list li {
  display: inline-block;
  margin-right: 10px; }

.social-icons-list a:hover {
  opacity: 0.7; }

.date-choice {
  display: inline-block;
  position: relative;
  top: -5px;
  margin-left: 20px; }

/***************************************************Catalog*******************************************/
.catalog {
  padding-bottom: 72px; }

.catalog-goods li {
  border-bottom: 1px dashed #e9e9e9;
  padding: 5px 0px; }

.catalog-header {
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 16px;
  color: #a6008d;
  text-transform: uppercase; }

.catalog-header:visited, .catalog-header:focus, .catalog-header:active {
  color: #a6008d; }

.catalog-goods-dropdown {
  padding-left: 11px;
  margin-top: 10px;
  height: auto;
  display: none;
  overflow: hidden; }
  .catalog-goods-dropdown li:last-child {
    border-bottom: none; }

.catalog-gen a {
  font-size: 16px;
  line-height: 16px;
  color: #000; }

.catalog-gen a:hover {
  color: #a6008d; }

.catalog-gen li {
  padding: 7px 0px; }

.active-dropdown-goods {
  display: block; }

.calalog-right {
  margin-top: -15px; }
  .calalog-right h3 {
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    color: #a6008d; }
  .calalog-right .catalog-gen li {
    padding: 5px 0px; }

.catalog-goods-block {
  margin-top: 25px;
  margin-bottom: 5px; }
  .catalog-goods-block img {
    height: 150px; }

/***************************************************Razdel-1*******************************************/
.cat-section {
  padding-bottom: 40px; }

.cat-filter {
  margin-top: 38px; }

.l-container {
  display: block;
  position: relative;
  padding-left: 31px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  color: #737373;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.l-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2); }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.container input:checked ~ .checkmark:after {
  display: block; }

.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 13px;
  border: solid #a6008d;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.filter-field {
  margin-bottom: 14px;
  float: left;
  width: 230px; }
  .filter-field span {
    font-size: 14px;
    line-height: 26px;
    color: #737373;
    float: left; }
  .filter-field input {
    width: 100px;
    height: 26px;
    border: 1px solid #8ca3ae;
    border-radius: 2px;
    float: right;
    padding: 0px 10px; }

.filter-buttons {
  margin-top: 14px; }
  .filter-buttons button:nth-child(1) {
    margin-right: 10px; }

.cat-section-nav {
  margin-top: 16px; }
  .cat-section-nav ul {
    display: inline-block;
    vertical-align: top; }
  .cat-section-nav ul:nth-child(2) {
    margin-left: 105px; }

.sort_text, .sort .selectpicker {
  display: inline-block; }

.sort {
  text-align: left;
  display: inline-block; }
  .sort .bootstrap-select .btn, .sort span {
    background-color: transparent;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    color: #000; }
  .sort .bootstrap-select .btn {
    padding-left: 5px; }
  .sort .btn {
    border: none; }
  .sort .bootstrap-select .dropdown-menu .selected span.text {
    color: #fff !important; }
  .sort .bootstrap-select {
    max-width: 150px !important; }
  .sort .bootstrap-select .dropdown-menu li a {
    height: 30px; }
  .sort .dropdown-menu {
    border: none; }
  .sort .bootstrap-select .dropdown-toggle:focus {
    outline: none !important; }
  .sort .bootstrap-select .dropdown-toggle:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .sort .dropdown-menu > .active > a {
    background-color: #f0891c; }

.sort-short {
  margin-left: 58px; }
  .sort-short .bootstrap-select {
    width: 50px !important; }

.sort_text {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  color: #737373 !important;
  position: relative;
  top: 2px; }

.sort-wrapper {
  border-bottom: 1px solid #e1e1e1;
  margin-top: 10px; }

.type-view {
  display: inline-block;
  float: right;
  position: relative;
  top: 4px; }
  .type-view div {
    width: 16px;
    height: 15px;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: 2px; }
  .type-view div:hover {
    cursor: pointer; }
  .type-view div:nth-child(2) {
    background-image: url(../img/type-1.png);
    background-repeat: no-repeat;
    background-position: center center; }
  .type-view div:nth-child(3) {
    background-image: url(../img/type-2.png);
    background-repeat: no-repeat;
    background-position: center center; }
  .type-view div:nth-child(4) {
    background-image: url(../img/type-3.png);
    background-repeat: no-repeat;
    background-position: center center; }
  .type-view .type1-active {
    background-image: url(../img/type-1-blue.png) !important; }
  .type-view .type2-active {
    background-image: url(../img/type-2-blue.png) !important; }

.sort-fav {
  background-image: url("../img/favorite_gray.png");
  background-repeat: no-repeat;
  background-position: right 0px center;
  width: 130px;
  min-height: 27px;
  line-height: 27px;
  display: inline-block;
  margin-left: 20px; }

.cat-section-block {
  margin-top: 12px;
  margin-bottom: 12px; }

.cat-section-block_img {
  width: 319px;
  height: 422px;
  border: 1px solid #e1e1e1;
  position: relative;
  z-index: 10; }

.cat-section_image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.type2-cost {
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 18px;
  color: #000; }

.cat-sec-cost {
  position: absolute;
  height: 44px;
  background-color: #4c4c4c;
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 30px;
  color: #fff;
  padding: 0px 10px 0px 10px;
  left: 0;
  bottom: 0; }
  .cat-sec-cost i {
    font-size: 28px;
    position: relative;
    top: 1px;
    padding-left: 10px; }

.cat-section-fav {
  position: absolute;
  bottom: 5px;
  right: 30px; }

.cat-shipping {
  font-size: 14px;
  color: #999;
  display: block;
  margin: 10px 0px; }

.cat-basket {
  -moz-placeholder-color: #000;
  -ms-input-placeholder-color: #000; }
  .cat-basket a {
    width: 253px;
    height: 54px;
    background-color: #a6008d;
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 54px;
    background-image: url("../img/basket-small.png");
    background-repeat: no-repeat;
    background-position: left 63px center;
    padding-left: 90px; }
  .cat-basket input {
    width: 59px;
    height: 54px;
    text-align: center;
    font-size: 24px;
    color: #000;
    border: 1px solid #a6008d;
    margin-left: 2px; }
  .cat-basket ::-webkit-input-placeholder {
    color: #000; }
  .cat-basket ::-moz-placeholder {
    color: #000; }

.cat-good-info {
  margin-top: 10px; }

.cat-book-name {
  display: block;
  max-height: 38px;
  overflow: hidden;
  font-size: 16px;
  color: #000; }

.cat-book-author {
  font-size: 14px;
  color: #000;
  margin-top: 8px;
  display: block; }

.page-counter {
  margin: 40px auto;
  text-align: center; }
  .page-counter span {
    font-size: 20px;
    color: #a6008d;
    border-bottom: 1px solid #a6008d;
    margin: 0 10px; }
  .page-counter span:hover {
    cursor: pointer;
    color: #737373;
    border-bottom: 1px solid #737373; }
  .page-counter .active-page {
    color: #000;
    border-bottom: 1px solid transparent; }
  .page-counter .page-next {
    width: 40px;
    height: 40px;
    background-image: url("../img/page-next.png");
    display: inline-block;
    position: relative;
    top: 10px; }
  .page-counter .page-next:hover {
    cursor: pointer;
    opacity: 0.7; }

/***************************************************Razdel-2*******************************************/
.row-type2 h4 {
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin-top: 26px; }

.row-type2 .gen-text {
  line-height: 24px; }

.row-type2 .cat-sec-cost {
  position: relative;
  background-color: transparent;
  color: #000; }

.type2-info {
  margin-top: 24px; }
  .type2-info span {
    font-size: 16px;
    line-height: 24px;
    display: block; }
  .type2-info span:nth-child(2) {
    margin-top: 16px; }
  .type2-info .cat-book-author {
    display: inline-block;
    font-size: 16px; }
  .type2-info .cat-shipping {
    font-size: 14px;
    margin-top: 26px;
    margin-bottom: 6px; }
  .type2-info i {
    font-style: normal; }
  .type2-info b {
    font-family: "Segoe UI Bold", sans-serif; }

.section2-wrapper {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 51px;
  margin-bottom: 18px; }

.section2-book-info {
  margin-top: 25px; }

/***************************************************Single*******************************************/
.goods-single .purple-link {
  font-size: 16px; }

.goods-single .purple-link:hover {
  color: #a6008d;
  border-bottom: 1px solid transparent; }

.goods-single .purple-link:visited {
  color: #a6008d; }

.single-top .purple-link {
  font-family: "Segoe UI Bold", sans-serif; }

.btn-one-click {
  width: 230px;
  height: 54px;
  background-color: #f0891c;
  background-image: none;
  text-align: center;
  padding-left: 0px;
  font-family: "Segoe UI Bold", sans-serif;
  line-height: 52px;
  font-size: 24px;
  margin-top: 14px; }

.cat-book-author-pur {
  color: #a6008d; }

.single-main {
  border-bottom: 1px solid #999;
  margin-top: 8px;
  padding-bottom: 27px; }
  .single-main .type2-info {
    margin-top: 14px; }
    .single-main .type2-info a {
      line-height: 20px; }
  .single-main .type2-info span:nth-child(2) {
    margin-top: 0px; }
  .single-main .type2-cost {
    font-size: 30px;
    margin-bottom: 6px; }
  .single-main .section2-book-info {
    margin-top: 0px; }
  .single-main .cat-basket a {
    width: 230px;
    background-position: left 50px center;
    padding-left: 76px; }
  .single-main .cat-section-block {
    height: auto; }

.single-social {
  margin-top: 27px; }
  .single-social span {
    font-size: 16px;
    color: #737373; }
  .single-social ul {
    margin-top: 20px;
    margin-bottom: 16px; }
  .single-social li {
    display: inline-block;
    margin-right: 14px; }
    .single-social li a {
      width: 32px;
      height: 32px;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .single-social li a:hover {
      opacity: 0.7; }
  .single-social ul li:nth-child(1) a {
    background-image: url("../img/vk.png"); }
  .single-social ul li:nth-child(2) a {
    background-image: url("../img/facebook.png"); }
  .single-social ul li:nth-child(3) a {
    background-image: url("../img/twitter.png"); }
  .single-social ul li:nth-child(4) a {
    background-image: url("../img/mailru.png"); }
  .single-social ul li:nth-child(5) a {
    background-image: url("../img/google.png"); }
  .single-social ul li:nth-child(6) a {
    background-image: url("../img/ok.png"); }

.first-link {
  margin-bottom: 8px; }

.single-text {
  margin-top: 5px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px; }

.recom {
  padding-top: 25px; }

.rec-link {
  font-size: 14px;
  color: #737373;
  border-bottom: 1px dashed #737373; }
  .rec-link i {
    font-style: normal;
    color: #00aeef; }

.rec-link:hover {
  color: #00aeef;
  border-bottom: 1px dashed #00aeef; }

.btn-rec {
  width: 161px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  margin-left: 12px;
  font-size: 14px; }

.btn-rec:hover {
  color: #fff; }

.recom-wrapper {
  position: relative;
  padding-bottom: 62px; }

.recom-shadow {
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 21px 28px -30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 21px 28px -30px rgba(0, 0, 0, 0.5); }

.recom-btn {
  width: 70px;
  height: 35px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  position: absolute;
  bottom: -33px;
  left: 50%;
  margin-left: -35px;
  -webkit-box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.2);
  z-index: 100;
  background-color: #fff; }

.recom-btn-arr {
  width: 100%;
  height: 100%;
  background-image: url("../img/arr-next.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 20px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.recom-block {
  margin-top: 25px; }

.cat-book-author-purple {
  display: inline-block;
  color: #a6008d; }

.cat-section-block {
  height: 590px; }

.recom-add-block {
  height: 237px; }

/***********************************************Basket*************************************************/
.basket-header {
  display: inline-block; }

.delay-link {
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px dashed #a6008d;
  margin-left: 14px; }

.delay-link:hover {
  border-bottom: 1px dashed #f0891c; }

.basket-wrapper-empty {
  width: 100%;
  height: 40vh;
  position: relative;
  text-align: center; }

.basket-empty-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateX(-50%), translateY(-50%);
  -ms-transform: translateX(-50%), translateY(-50%);
  transform: translateX(-50%), translateY(-50%);
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 24px; }

.basket-cost-info, .basket-button {
  display: inline-block; }

.basket-cost-info {
  font-size: 24px;
  font-family: "Segoe UI Semibold", sans-serif;
  margin-right: 20px;
  color: #000; }
  .basket-cost-info p {
    margin-bottom: 6px; }
  .basket-cost-info i {
    font-size: 22px; }

.del-minus-number {
  color: #999;
  text-decoration: line-through; }

.basker-cost-wrapper {
  text-align: right;
  margin-top: -10px; }

.btn-basket {
  width: 238px;
  height: 54px;
  color: #fff;
  text-align: center;
  line-height: 54px;
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 24px;
  position: relative;
  top: -16px; }

.basket-content-header {
  height: 75px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999; }
  .basket-content-header p {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0px;
    line-height: 75px; }

.basket-content-full {
  border-bottom: 1px solid #999;
  padding-bottom: 27px; }

.basket-image {
  margin-top: 24px;
  width: 100%;
  text-align: center; }

.basket-desc-content {
  height: 104px;
  overflow: hidden; }

.basket-desc-links {
  margin-top: 16px; }
  .basket-desc-links a, .basket-desc-links a:visited {
    color: #00aeef;
    border-bottom: 1px solid #00aeef;
    font-size: 16px; }
  .basket-desc-links a:hover {
    color: #f0891c;
    border-bottom: 1px solid transparent; }
  .basket-desc-links a:nth-child(2) {
    margin-left: 13px; }

.basket-full-cost, .basket-full-sum {
  background-color: transparent;
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 30px;
  color: #000;
  position: relative;
  padding: 0px;
  margin-top: 76px;
  display: inline-block; }
  .basket-full-cost i, .basket-full-sum i {
    color: #000;
    font-size: 30px;
    padding-left: 8px; }

.basket-quan {
  position: relative;
  margin-top: 75px; }
  .basket-quan input {
    width: 98px;
    height: 40px;
    position: absolute;
    left: 69px;
    border: 1px solid #999;
    text-align: center;
    font-size: 24px; }

.quan-min, .quan-max {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  border: 1px solid #d8d8d8;
  text-align: center;
  border-radius: 50%; }
  .quan-min a, .quan-max a {
    font-size: 24px;
    line-height: normal;
    color: #d8d8d8;
    font-family: "Segoe UI Bold", sans-serif;
    display: block; }

.quan-min a:hover, .quan-max a:hover {
  color: #f0891c; }

.quan-min {
  left: 0px; }

.quan-max {
  right: 0px; }

.fix-pad {
  padding: 0px;
  text-align: center; }

.basket-toggle {
  border-bottom: 1px dashed #000;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px; }

.basket-toggle:hover, .basket-toggle:active, .basket-toggle:focus {
  color: #000; }

.basket-content-wrapper {
  padding-bottom: 40px; }

.basket-empty .basket-content-wrapper {
  min-height: 430px; }

.basket-content-toggle {
  height: auto; }

.basket-desc-header {
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 2px; }

.basket-desc {
  margin-top: 33px; }

.fix-center {
  text-align: center; }

/***********************************************Order-Page********************************************/
.order-page {
  padding-bottom: 34px; }
  .order-page h2 {
    margin-top: 14px; }
  .order-page h3 {
    margin-top: 10px; }
  .order-page .basker-cost-wrapper {
    margin-top: 6px; }
  .order-page .basket-cost-info {
    margin-right: 0px;
    font-family: "Segoe UI Bold", sans-serif; }
  .order-page .basket-content-wrapper {
    padding-bottom: 33px; }

.btn-order {
  width: 295px;
  height: 54px;
  background-color: #c4bb9e;
  text-align: center;
  line-height: 50px;
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 24px;
  margin-top: 17px; }

.btn-order:hover {
  color: #fff; }

.final-sum {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #999;
  padding-bottom: 20px; }
  .final-sum .basket-full-sum {
    margin-top: 22px;
    padding-left: 10px; }

.basket-add .basket-toggle {
  float: left;
  font-family: "Segoe UI Semibold", sans-serif;
  margin-top: 19px;
  margin-left: 0px; }

.basket-add .basket-city {
  float: right;
  margin-top: 15px; }

.basket-add .city {
  font-family: "Segoe UI Semibold", sans-serif;
  color: #000;
  margin-right: 29px;
  font-size: 18px; }

.basket-add .d-marker::after {
  top: 9px;
  right: -15px; }

.choice-city-order {
  font-size: 16px;
  color: #000;
  border-bottom: 1px solid #000; }

.choice-city-order:hover {
  color: #a6008d !important;
  border-bottom: 1px solid #a6008d !important; }

.choice-city-order:visited, .choice-city-order:focus {
  color: #000;
  border-bottom: 1px solid #000; }

.smallh3-header_order {
  color: #000; }

.order-image {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd; }

.order-image-one {
  background-image: url("../img/order-1.png");
  background-repeat: no-repeat;
  background-position: center center; }

.order-image-two {
  background-image: url("../img/order-2.png");
  background-repeat: no-repeat;
  background-position: center center; }

.order-image-three {
  background-image: url("../img/order-3.png");
  background-repeat: no-repeat;
  background-position: center center; }

.order-image-four {
  background-image: url("../img/order-4.png");
  background-repeat: no-repeat;
  background-position: center center; }

.order-content-header {
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 16px;
  color: #000; }

.delivery-cost p {
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 16px;
  color: #000; }

.payment-image {
  background-image: url("../img/payment.png");
  background-repeat: no-repeat;
  background-position: center center; }

.delivery-wrapper, .payment-wrapper {
  border-bottom: 1px solid #999; }

.delivery-wrapper {
  padding-bottom: 39px; }

.payment-wrapper {
  padding-top: 16px;
  padding-bottom: 35px; }

.order-final-form {
  padding-top: 34px; }

.order-form-info {
  border-bottom: 1px solid #999;
  margin-top: 61px;
  padding-bottom: 26px; }
  .order-form-info .basket-full-sum {
    margin-top: 0px;
    font-size: 20px; }

.order-final-field {
  margin-top: 25px; }
  .order-final-field span {
    font-size: 16px;
    color: #000;
    display: block; }
  .order-final-field input {
    width: 490px;
    height: 36px;
    border: 1px solid #cccccc;
    padding: 0px 20px;
    margin-top: 13px; }
  .order-final-field textarea {
    width: 490px;
    height: 134px;
    border: 1px solid #cccccc;
    padding: 20px;
    resize: none;
    margin-top: 13px; }

.order-form-info span, .add-text-field span {
  display: block;
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 20px;
  color: #000; }

.order-form-info i, .add-text-field i {
  font-style: normal; }

.order-form-info .fa-rub, .add-text-field .fa-rub {
  font-size: 18px;
  color: #000; }

.add-text-field {
  display: block;
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 20px;
  margin-top: 12px;
  color: #000; }
  .add-text-field i {
    font-style: normal; }
  .add-text-field .fa-rub {
    font-size: 18px;
    color: #000; }

.ord-grey, .order-form-info .ord-grey {
  color: #737373;
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  margin-top: 20px;
  display: block; }

.order-form-info .ord-grey {
  margin-top: 8px;
  margin-bottom: 28px; }

.btn-form-order {
  width: 230px;
  height: 54px;
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 24px;
  margin-top: 32px; }

.delivery-serv {
  margin-top: 24px;
  margin-bottom: 5px; }

.delivery-cost {
  margin-top: 29px; }

.delivery-map {
  width: 100%;
  height: 462px;
  margin-bottom: 42px; }

.ex-text {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top; }
  .ex-text span {
    display: inline-block;
    font-size: 16px;
    color: #737373;
    vertical-align: top; }

.many-cities {
  margin-top: 10px;
  display: inline-block;
  margin-left: 10px;
  width: 80%;
  position: relative;
  top: 3px; }
  .many-cities li {
    display: inline-block;
    height: 20px; }

.fix-marg {
  margin-top: 32px; }

.no-pad {
  padding-right: 0px; }

.no-left-pad {
  padding-left: 0px;
  height: 462px;
  overflow-y: auto;
  background-color: #f5f5f5; }

.map-wrapper {
  margin-top: 36px; }

.delivery-map-info {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-top: 10px; }

.l-container-radio {
  display: block;
  position: relative;
  padding-left: 31px;
  padding-right: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 20px; }

.l-container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.l-container-radio .checkmar {
  position: absolute;
  top: 26px;
  left: 5px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2); }

.l-container-radio .checkmar:after {
  content: "";
  position: absolute;
  display: none; }

.l-container-radio input:checked ~ .checkmar:after {
  display: block; }

.l-container-radio .checkmar:after {
  left: 4px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%; }

.add-radio {
  padding-left: 31px;
  display: none;
  height: auto;
  padding-bottom: 20px;
  padding-right: 15px; }

.radio-checked {
  background-color: #dadada; }

/***********************************************ButtonMobile******************************************/
.menu-toggle-button {
  width: 50px;
  height: 40px;
  float: right;
  background-color: transparent;
  border-radius: 7px;
  padding-top: 5px;
  border: none;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 10px;
  margin-left: -17px; }

.menu-toggle-button span {
  display: block;
  height: 2px;
  background: #f0891c;
  position: absolute;
  top: 15px;
  left: 16px;
  right: 16px;
  -webkit-transition: background 0s 0.3;
  -o-transition: background 0s 0.3;
  transition: background 0s 0.3; }

header .menu-toggle-button span {
  background: #fff; }

.menu-toggle-button span::before, .menu-toggle-button span::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #f0891c;
  position: absolute;
  left: 0px;
  -webkit-transition-duration: 0.3s, 1s;
  -o-transition-duration: 0.3s, 1s;
  transition-duration: 0.3s, 1s;
  -webkit-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s; }

header .menu-toggle-button span::before, header .menu-toggle-button span::after {
  background: #fff; }

.menu-toggle-button span::before {
  top: -5px; }

.menu-toggle-button span::after {
  bottom: -5px; }

.menu-toggle-button.is-active span {
  background: none; }

.menu-toggle-button.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
  -webkit-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  background: #f0891c; }

header .menu-toggle-button.is-active span::before {
  background: #fff; }

.menu-toggle-button.is-active span::after {
  bottom: 0;
  background: #f0891c;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  -o-transition-property: bottom, transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
  -webkit-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
  -webkit-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s; }

header .menu-toggle-button.is-active span::after {
  background: #fff; }

.menu-toggle-button:focus {
  outline: none !important; }
