@media only screen and (min-width : 0px) and (max-width : 479px) {

	.header-search::before, .header-search::after{
		display: none;
	}

	.logo{
		top: 7px;
		left: 20px;
	}

	.main-slider{
		padding-top: 30px;
		padding-bottom: 0px;
	}

	.goods{
		padding-top: 0px;
	}

	.goods-row{
		margin-top: 0px;
	}

	.top-mm-dropdown a{
		font-size: 16px;
	}

	.top-menu-mm li{
		margin: 0px;
	}

	.header-search{
		left: -100px;
	}

	.goods-block-image img{
		position: relative;
	}

	.goods-block-image{
		text-align: center;
		height: auto;
	}

	.bottom-menu{
		position: absolute;		
		top: 70px;		
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		width: 300px;
		height: auto;
		background-color: #fff;				
		padding: 0px;
		display: none;
		z-index: 10000;
	}

	.bottom-menu ul{		
		display: block;
	}

	.bottom-menu li{
		width: 100%;
		display: block;			
		text-align: center;
		padding-right: 0px;
		line-height: 50px;
	}

	.bottom-menu-wr .menu-toggle-button{
		margin-top: 20px;
	}

	.top-slider .slick-prev, .top-slider .slick-next{
		display: none!important;
	}

	.goods .col-xs-6{
		width: 100%;
	}

	.goods .goods-block{
		height: auto;		
	}

	.goods-block-info{
		position: relative;
		top: 0px;
		padding-bottom: 30px;
	}

	.slider-fix{
		width: 225px;
		margin: 0 auto;
	}

	.goods-slider{
		width: 230px;
	}

	.goods-slide-block{
		width: 230px;
	}

	.goods-block{
		margin-top: 20px;
	}

	.goods{
		padding-bottom: 0px;
	}

	.main-slider .slide{
		height: 200px;
		background-size: 120%;		
	}

	h3{
		font-size: 33px;
	}

	.best, .new-goods, .office-goods{
		padding-top: 0px;
	}
	
	.about{
		height: auto;
	}

	.benefits{
		padding-top: 0px;
	}

	.benefits-header-block p{
		margin-left: 10px;
	}

	.benefits-header{
		font-size: 20px;
	}

	.benefits-info p{
		padding-right: 0px;
	}

	.bottom-links li:nth-child(1){
		margin-right: 15px;
	}

	.copy{
		margin-top: 70px;
	}
	
	.good-cost{
		font-size: 20px;
	}

	.bottom-links li, .bottom-links li a{
		font-size: 16px;
	}

	.bottom-links .d-marker{
		margin-top: 10px;
	}

	.modal-form{
		width: 100%;
		max-width: 600px;
	}

	.form-wrapper{
		width: 95%;
	}

	.social-icons-list li{
		margin-bottom: 10px;
	}

	.form-single .s-field{
		width: 70%;
	}

}

@media only screen and (min-width : 480px) and (max-width : 767px) {

	.header-search::before, .header-search::after{
		display: none;
	}

	.logo{
		top: 7px;
		left: 20px;
	}

	.main-slider{
		padding-top: 30px;
		padding-bottom: 0px;
	}

	.goods{
		padding-top: 0px;
	}

	.goods-row{
		margin-top: 60px;
	}

	.top-mm-dropdown a{
		font-size: 16px;
	}

	.top-menu-mm li{
		margin: 0px;
	}

	.bottom-menu{
		position: absolute;		
		top: 70px;		
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		width: 300px;
		height: auto;
		background-color: #fff;				
		padding: 0px;
		display: none;
		z-index: 10000;
	}

	.bottom-menu ul{		
		display: block;
	}

	.bottom-menu li{
		width: 100%;
		display: block;			
		text-align: center;
		padding-right: 0px;
		line-height: 50px;
	}

	.bottom-menu-wr .menu-toggle-button{
		margin-top: 20px;
	}

	.goods-row .goods-block{
		min-height: 520px;
	}

	.slider-fix{
		width: 445px;
		margin: 0 auto;
	}

	.goods-slider{
		width: 450px;
	}

	.goods-slide-block{
		width: 220px;
	}

	.goods-block{
		margin-top: 20px;
	}

	.main-slider .slide{
		height: 200px;
		background-size: 95%;		
	}

	h3{
		font-size: 33px;
	}

	.about{
		height: auto;
	}

	.benefits-header-block p{
		margin-left: 10px;
	}

	.benefits-header{
		font-size: 20px;
	}

	.benefits-info p{
		padding-right: 0px;
	}

	.bottom-links li:nth-child(1){
		margin-right: 15px;
	}

	.copy{
		margin-top: 70px;
	}
	
	.good-cost{
		font-size: 20px;
	}

	.modal-form{
		width: 100%;
		max-width: 600px;
	}

	.form-wrapper{
		width: 95%;
	}


}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	.header-search::before, .header-search::after{
		display: none;
	}

	.logo{
		top: 7px;
		left: 20px;
	}

	.main-slider{
		padding-top: 30px;
		padding-bottom: 0px;
	}

	.goods{
		padding-top: 0px;
	}

	.goods-row{
		margin-top: 60px;
	}
	
	.slider-fix{
		width: 715px;
	}

	.goods-slider{
		width: 720px;
	}

	.goods-slide-block{
		width: 220px;
	}

	.goods-block{
		margin-top: 20px;
	}

	.main-slider .slide{
		height: 315px;
		background-size: 95%;		
	}

	h3{
		font-size: 33px;
	}

	.about{
		height: auto;
	}

	.benefits-header-block p{
		margin-left: 10px;
	}

	.benefits-header{
		font-size: 20px;
	}

	.benefits-info p{
		padding-right: 0px;
	}

	footer .col-sm-8{
		padding: 0px;
	}

	.bottom-links li:nth-child(1){
		margin-right: 15px;
	}

	.copy{
		margin-top: 70px;
	}
	
	.good-cost{
		font-size: 20px;
	}

	.bottom-menu{
		position: absolute;		
		top: 70px;		
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		width: 300px;
		height: auto;
		background-color: #fff;				
		padding: 0px;
		display: none;
		z-index: 10000
	}

	.bottom-menu ul{
		padding-bottom: 30px;
		display: block;
	}

	.bottom-menu li{
		width: 100%;
		display: block;			
		text-align: center;
		padding-right: 0px;
		line-height: 50px;
	}

	.bottom-menu-wr .menu-toggle-button{
		margin-top: 20px;
	}

}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.top-menu{
		margin-top: 37px;
	}

	.top-menu ul:nth-child(2){
		margin-left: 0px;
		margin-top: 10px
	}

	.top-menu a, .top-menu li{
		font-size: 14px;
	}

	.bottom-menu a{
		font-size: 12px;
	}

	.phone a{
		font-size: 26px;
	}

	.phone{
		margin-left: -20px;
	}

	.phone-info{
		margin-left: -20px;
	}

	.header-search{
		width: 450px;
	}

	.tr-wrapper::before{
		right: -20px;
	}

	.tr-wrapper::after{
		right: -18px;
	}

	.h-login{
		margin-left: -85px;
	}

	.h-basket{
		width: 170px;
	}

	.h-login-link{
		left: -70px;
	}

	.bottom-menu li{
		margin-right: 16px;
	}

	header .d-marker::after{
		top: 6px;
	}

	.slider-fix{
		width: 935px;
	}

	.goods-slider{
		width: 940px;
	}

	.goods-slide-block{
		width: 220px;
	}

	.main-slider .slide{
		height: 315px;
		background-size: 95%;		
	}

	h3{
		font-size: 33px;
	}

	.about{
		height: auto;
	}


}

@media only screen and (min-width : 1200px) and (max-width : 1919px) {

	.top-menu{
		margin-top: 37px;
	}

	.top-menu ul:nth-child(2){
		margin-left: 0px;
		margin-top: 10px
	}

	.phone{
		margin-left: -60px;
	}

	.phone-info{
		margin-left: -60px;
	}

	.header-search{
		width: 640px;
	}

	.tr-wrapper::before{
		right: -20px;
	}

	.tr-wrapper::after{
		right: -18px;
	}

	.h-login{
		margin-left: -85px;
	}

	.h-basket{
		width: 170px;
	}

	.h-login-link{
		left: -70px;
	}

	.bottom-menu li{
		margin-right: 24px;
	}

	.bottom-menu li a{
		font-size: 14px;
	}

	.slider-fix{
		width: 1135px;
	}

	.goods-slider{
		width: 1140px;
	}

	.goods-slide-block{
		width: 220px;
	}

	.main-slider .slide{
		height: 315px;
		background-size: 95%;
	}

	h3{
		font-size: 33px;
	}

	.bottom-links{
		margin-left: -190px;
	}
	
}

@media only screen and (min-width : 1200px) and (max-width : 1300px) {
	.h-basket::before, .h-basket::after{
		display: none;
	}
}