@import "bourbon/bourbon"

@font-face
	font-family: 'Corporate A CON'
	src: url("../fonts/corporateacon-reg.eot")
	src: local("Corporate A CON"), url("../fonts/corporateacon-reg.woff") format("woff"), url("../fonts/corporateacon-reg.ttf") format("truetype")

@font-face
	font-family: 'Arial Narrow'
	src: url("../fonts/ArialNarrowRegular.eot")
	src: local("Arrial Narrow"), url("../fonts/ArialNarrowRegular.woff") format("woff"), url("../fonts/corporateacon-reg.ttf") format("truetype")

body
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	background-color: #000
	margin: 0
	padding: 0

a
	outline: none
	text-decoration: none
	color: #fff

h2,h3
	color: #fff

.container-events
	width: 1300px
	margin: 0 auto

.content-events
	padding: 0 110px

.clearfix:after
	content: ""
	display: table
	clear: both

#events-h
	width: 100%
	min-height: 119px
	background-image: url('../Images/bg-events-header.png')
	background-position: top center
	background-repeat: repeat-x
	background-repeat: repeat-y
	.logo-events		
		float: left		
		position: relative
		width: 64px
		height: 64px
		top: 13px
	.menu-events
		float: left
		position: relative
		top: -6px
		margin-left: 38px
		li
			float: left
			padding: 0 40px
			a
				line-height: 69px
				font-family: 'Arial Narrow', sans-serif
				font-size: 18px
				color: #d7d7d7
				padding-left: 10px
			img
				vertical-align: middle
	.phone-events
		float: right
		position: relative
		top: 16px
		a
			font-family: 'Arial Narrow', sans-serif
			font-size: 18px
			color: #7c7c7c			
			i
				font-family: 'Corporate A CON', sans-serif
				font-size: 32px
				color: #d6d6d6
				font-style: normal
				margin-left: 2px
				


#events-news
	width: 100%
	padding-bottom: 82px
	h2
		font-family: 'Corporate A CON', sans-serif
		font-size: 42px
		color: #fff
		margin-top: 38px
		margin-bottom: 31px
	.news-block
		width: 25%
		float: left
		margin-bottom: 10px
		h3
			font-family: 'Arial', sans-serif
			font-size: 20px
			color: #fff	
			font-weight: normal
			padding-left: 20px
			margin-bottom: 14px
		p
			margin: 10px 30px 16px 20px			

		a
			font-family: 'Arial', sans-serif
			font-size: 14px
			color: #d7d7d7
			font-weight: normal



#events-footer
	display: block
	min-height: 130px
	border-top: 1px solid #505050
	.footer-ev-menu 
		text-align: center
		margin-top: 53px
		li
			display: inline-block
			color: #505050
			a
				font-family: 'Arial', sans-serif
				font-size: 13px
				color: #505050
				font-weight: normal



.hidden
	display: none
