@import "bourbon/bourbon"

body
	font-family: "RobotoRegular", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	margin: 0 auto
.form-one, .form-two
	width: 660px
	height: 760px
	margin: 0 auto
	background-image: url('../img/modal-back.png')
	background-repeat: no-repeat
	background-position: center top
	position: relative
.modal-logo-top
	img
		position: absolute
		top: 16px 
		right: -16px
.modal-logo-middle
	img
		position: absolute
		top: 379px
		left: 92px
#modal-one, #modal-two
	position: absolute
	top: 518px
	left: 68px
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 25px
		color: #000
		display: block
	input
		font-family: 'HelveticaRegular', sans-serif
		font-size: 30px
		color: #000
		width: 500px
		height: 70px
		padding-left: 25px
		border: 2px solid #bde7cf
		box-sizing: border-box
	::-webkit-input-placeholder 
		font-family: 'HelveticaRegular'
		color: #c2c2c2
	::-moz-placeholder
		font-family: 'HelveticaRegular'
		color: #c2c2c2
	:-moz-placeholder 
		font-family: 'HelveticaRegular'
		color: #c2c2c2		
	:-ms-input-placeholder      
		font-family: 'HelveticaRegular'
		color: #c2c2c2
	button
		width: 430px
		height: 85px
		display: block
		background-color: #000
		border: none
		font-family: 'HelveticaRegular', sans-serif
		font-size: 30px
		color: #fff
		margin-top: 34px
		margin-left: 32px
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out
	button:hover
		opacity: 0.8
		cursor: pointer
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out
.add-field
	margin-top: 30px
#modal-two
	button
		width: 330px
		margin-left: 87px
		margin-top: 34px		

.form-two
	margin-top: 100px


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none
