@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype"); }

@font-face {
  font-family: "helveticaneuecyr_139";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/helveticaneuecyr_139.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr_139.woff") format("woff"), url("../fonts/helveticaneuecyr_139.ttf") format("truetype"); }

@font-face {
  font-family: "HeliosLight_22357";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HeliosLight_22357.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosLight_22357.woff") format("woff"), url("../fonts/HeliosLight_22357.ttf") format("truetype"); }

@font-face {
  font-family: "helveticaneuecyr_167";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/helveticaneuecyr_167.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr_167.woff") format("woff"), url("../fonts/helveticaneuecyr_167.ttf") format("truetype"); }
