@font-face {
  font-family: "NeoSansProBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NeoSansProBold/NeoSansProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansProBold/NeoSansProBold.woff") format("woff"), url("../fonts/NeoSansProBold/NeoSansProBold.ttf") format("truetype"); }

@font-face {
  font-family: "NeoSansProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NeoSansProRegular/NeoSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansProRegular/NeoSansProRegular.woff") format("woff"), url("../fonts/NeoSansProRegular/NeoSansProRegular.ttf") format("truetype"); }
