body {
  min-width: 320px;
  max-width: 1920px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0 auto;
}

body a:hover, body a:focus, body a:active {
  text-decoration: none;
  outline: none;
}

body input:focus, body input:active {
  text-decoration: none;
  outline: none;
}

.container {
  padding: 0;
}

/**Header**/
header {
  position: absolute;
  min-height: 70px;
  z-index: 99;
  width: 100%;
  margin: auto;
  right: 0;
  left: 0;
  overflow: hidden;
}

header .header-menu {
  margin-top: 7px;
  min-height: 70px;
  position: relative;
}

header .header-phone {
  margin-left: 28px;
}

header .header-phone span {
  line-height: 70px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

header .header-phone span img {
  margin-right: 16px;
}

header .hidden-phone {
  display: none;
}

header .button-order a {
  text-align: center;
  color: #acd373;
  background: #fff;
  line-height: 37px;
  border-radius: 30px;
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  width: 152px;
  height: 37px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

header .navbar {
  background: transparent;
}

header .navbar-nav {
  float: right;
}

header .navbar-nav li {
  height: 70px;
  padding: 25px 7px;
}

header .navbar-nav a {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  text-shadow: none;
  padding: 0 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

header .navbar-collapse {
  padding: 0;
}

header .navbar-toggle {
  border: 1px solid #fff;
}

header .navbar-toggle .icon-bar {
  background-color: #fff;
}

/**MainBanner**/
#banner .slide-item, #banner .slide-item2 {
  background-image: url("../img/top-slider/slide1/main-bg.jpg");
  width: 100%;
  height: 678px;
  background-position: top center;
  background-repeat: no-repeat;
}

#banner .slide-item2 {
  background-image: url("../img/top-slider/slide2/main-bg.jpg");
}

#banner .lSSlideOuter {
  position: relative;
}

#banner .bg-content {
  margin-top: 100px;
}

#banner .bg-content h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 36px;
  margin: 82px auto 0;
  text-align: center;
  letter-spacing: 6px;
  line-height: 43px;
}

#banner .bg-content h1 i {
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 36px;
  font-style: normal;
}

#banner .bg-content .banner-list {
  list-style-type: none;
  padding: 0;
  position: relative;
  display: block;
  width: 38%;
  margin: 57px auto 0;
}

#banner .bg-content .banner-list li {
  color: #fff;
  text-transform: uppercase;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

#banner .bg-content .banner-list li i {
  color: #acd373;
  font-size: 16px;
  margin-right: 10px;
}

#banner .bg-content .banner-list li a {
  color: #acd373;
  border-bottom: 1px dashed #acd373;
  font-weight: normal;
}

#banner .bg-content .button-bg {
  display: block;
  background: #acd373;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  padding: 15px 0;
  border-radius: 30px;
  width: 474px;
  text-align: center;
  margin: 72px auto;
  font-weight: 700;
  letter-spacing: 2px;
}

#banner .lSPager {
  position: absolute;
  top: 92%;
  left: 50%;
}

#banner .lSSlideOuter .lSPager.lSpg > li a {
  width: 10px;
  height: 10px;
  background-color: #acd373;
}

#banner .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: transparent;
  border: 2px solid #acd373;
  border-radius: 50%;
}

#banner .lSAction > .lSPrev {
  background-image: url("../img/banner-left-arrow.png");
  width: 24px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center center;
  left: 15%;
}

#banner .lSAction > .lSNext {
  background-image: url("../img/banner-right-arrow.png");
  width: 24px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center center;
  right: 15%;
}

/**Benefits**/
#benefits {
  padding: 112px 0 76px 0;
}

#benefits .img-box {
  width: 190px;
  height: 145px;
  border: 1px dashed #000;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
}

#benefits .img-box img {
  width: 126px;
  height: 97px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#benefits .img-box .second {
  width: 87px;
  height: 103px;
}

#benefits .img-box .thied {
  width: 117px;
  height: 111px;
}

#benefits .img-box .four {
  width: 107px;
  height: 107px;
}

#benefits .text-box {
  margin-top: 19px;
}

#benefits .text-box span {
  display: block;
  color: #5b80e0;
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

#benefits .text-box p {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
  letter-spacing: 2px;
}

#benefits .text-box a {
  color: #5b80e0;
}

/**SendForm**/
#action {
  background-image: url("../img/action-bg.jpg");
  width: 100%;
  height: 557px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#action .action-box {
  width: 1132px;
  min-height: 367px;
  border: 5px solid #fff;
  margin-top: 88px;
  position: relative;
}

#action .action-box .action-arrow {
  position: absolute;
  top: 92px;
  right: 42px;
}

#action .action-box span {
  display: block;
  color: #fff;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 40px;
  letter-spacing: 7px;
  margin-left: 110px;
  margin-top: 50px;
}

#action .action-box span strong {
  font-family: 'NeoSansProBold', sans-serif;
  letter-spacing: 9px;
}

#action .action-box p {
  margin-top: 6px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
}

#action .action-box #action-form {
  background-color: #fff;
  width: 900px;
  min-height: 78px;
  margin: 41px 0 0 110px;
  padding: 17px 0 0 23px;
}

#action .action-box #action-form input {
  border: 1px solid #cbcbcb;
  border-radius: 30px;
  width: 288px;
  height: 44px;
  padding-left: 23px;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-right: 22px;
  letter-spacing: 2px;
}

#action .action-box #action-form button {
  border: none;
  background: #acd373;
  width: 234px;
  height: 40px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 2px;
  display: inline-block;
}

/**Thesis**/
#thesis {
  background-image: url("../img/thesis-bg.jpg");
  width: 100%;
  min-height: 1440px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#thesis h3 {
  color: #fff;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 40px;
  letter-spacing: 8px;
  text-align: center;
  margin: 66px 0 35px 0;
  line-height: 50px;
}

#thesis h3 strong {
  font-family: 'NeoSansProBold', sans-serif;
}

#thesis .thesis-box {
  margin-top: 20px;
  margin-left: 60px;
}

#thesis .thesis-img-box {
  width: 130px;
  height: 130px;
  background: rgba(53, 82, 124, 0.2);
  border-radius: 50%;
  position: relative;
  margin-left: 60px;
}

#thesis .thesis-img-box i {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 130px;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 100px;
}

#thesis .thesis-text-box {
  margin-top: 29px;
}

#thesis .thesis-text-box span {
  display: block;
  color: #fff;
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
}

#thesis .thesis-text-box p {
  width: 88%;
  margin-top: 16px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 2px;
}

#thesis .thesis-button {
  text-align: center;
  margin-top: 75px;
}

#thesis .thesis-button a {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: 700;
  background: #acd373;
  padding: 17px 80px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
}

/**People**/
#people {
  background: #dee8ea;
  background-image: url("../img/people-bg.png");
  width: 100%;
  min-height: 1101px;
  background-repeat: no-repeat;
  background-position: top right;
}

#people h3 {
  color: #9ec283;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 40px;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 59px;
  margin-bottom: 81px;
  line-height: 40px;
}

#people h3 strong {
  font-family: 'NeoSansProBold', sans-serif;
}

#people .people-block {
  text-align: center;
  margin-left: 47px;
  margin-bottom: 60px;
}

#people .people-block .people-block-img {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
}

#people .people-block .people-block-text {
  display: inline-block;
  width: 40%;
  text-align: left;
  margin-left: 61px;
}

#people .people-block .people-block-text span {
  color: #000;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1.2;
}

#people .people-block .people-block-text p {
  margin-top: 21px;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 2px;
}

/**Services**/
#services {
  background-image: url("../img/services-bg.jpg");
  width: 100%;
  min-height: 2072px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#services h3 {
  color: #fff;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 68px;
  margin-bottom: 82px;
  letter-spacing: 8px;
}

#services h3 strong {
  font-family: 'NeoSansProBold', sans-serif;
}

#services .services-block {
  margin-bottom: 82px;
}

#services .services-img {
  display: block;
  vertical-align: top;
  float: right;
  margin-right: 24px;
}

#services .services-text {
  margin-left: 10px;
}

#services .services-text span {
  display: block;
  color: #fff;
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 24px;
  margin-bottom: 21px;
}

#services .services-text p {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  width: 70%;
  margin-bottom: 23px;
}

#services .services-text .services-list {
  list-style-type: none;
  padding: 0;
  position: relative;
  display: block;
  margin-bottom: 45px;
}

#services .services-text .services-list li {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 3px;
}

#services .services-text .services-list li i {
  color: #acd373;
  font-size: 16px;
  margin-right: 10px;
}

#services .services-text .services-button {
  margin-left: 28px;
}

#services .services-text .services-button a {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: 700;
  background: #acd373;
  padding: 17px 108px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
}

/**Process**/
#process .process-text {
  margin-top: 86px;
  margin-left: 48px;
}

#process .process-text span {
  display: inline-block;
  vertical-align: top;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
}

#process .process-text h4 {
  display: inline-block;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-left: 24px;
  line-height: 37px;
}

#process .process-text p {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  margin-left: 95px;
  line-height: 25px;
  letter-spacing: 3px;
  width: 58%;
  margin-top: 9px;
}

#process .process-img {
  width: 100%;
  height: 378px;
}

#process .process-img img {
  width: 100%;
  height: 100%;
}

/**Command**/
#command {
  background: #dee8ea;
  background-image: url("../img/command-bg.png");
  width: 100%;
  min-height: 580px;
  background-repeat: no-repeat;
  background-position: top left;
}

#command h3 {
  color: #000;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 65px;
  letter-spacing: 8px;
  margin-bottom: 70px;
}

#command h3 strong {
  font-family: 'NeoSansProBold', sans-serif;
}

#command .command-block {
  text-align: center;
}

#command .command-block .command-img, #command .command-block .command-img-two, #command .command-block .command-img-three, #command .command-block .command-img-four {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("../img/command-one.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#command .command-block .command-img-two {
  background-image: url("../img/command-three.png");
}

#command .command-block .command-img-three {
  background-image: url("../img/command-two.png");
}

#command .command-block .command-img-four {
  background-image: url("../img/command-four.png");
}

#command .command-block .command-text span {
  display: block;
  color: #385157;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 12px;
  letter-spacing: 3px;
}

#command .command-block .command-text p {
  display: block;
  color: #385157;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
}

/**Feed**/
#feed {
  padding-bottom: 55px;
}

#feed h3 {
  color: #000;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 52px;
  margin-bottom: 55px;
  letter-spacing: 8px;
}

#feed h3 strong {
  font-family: 'NeoSansProBold', sans-serif;
}

#feed .feed-left {
  text-align: center;
}

#feed .feed-left .feed-image, #feed .feed-left .feed-image2 {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  background-image: url("../img/feed-slider/slide1/feedbacks-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px 0 4px 190px;
}

#feed .feed-left .feed-image2 {
  background-image: url("../img/feed-slider/slide2/feedbacks-1.png");
}

#feed .feed-left .feed-image-text {
  margin-left: 180px;
}

#feed .feed-left .feed-image-text span {
  display: block;
  color: #385157;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

#feed .feed-left .feed-image-text p {
  display: block;
  color: #385157;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

#feed .feed-right {
  border: 3px solid #385157;
  border-radius: 30px;
  width: 70%;
  margin-left: 40px;
  padding: 20px;
}

#feed .feed-right span {
  color: #385157;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 24px;
}

#feed .feed-right p {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 18px;
  margin-top: 6px;
}

#feed .lSSlideOuter .lSPager.lSpg > li a {
  width: 10px;
  height: 10px;
  background-color: #385157;
}

#feed .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: transparent;
  border: 2px solid #385157;
  border-radius: 50%;
}

#feed .lSAction > .lSPrev {
  background-image: url("../img/feed-left-arrow.png");
  width: 24px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center center;
  left: 5%;
}

#feed .lSAction > .lSNext {
  background-image: url("../img/feed-right-arrow.png");
  width: 24px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center center;
  right: 5%;
}

/**Order**/
#order {
  background-image: url("../img/order-bg.jpg");
  width: 100%;
  height: 850px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 96px 0 93px 0;
}

#order #order-form {
  background: #fff;
  width: 565px;
  height: 640px;
  position: relative;
  margin: 0 auto;
  border-radius: 15px;
  padding-top: 24px;
}

#order #order-form strong {
  display: block;
  color: #acd373;
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 40px;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom: 5px;
}

#order #order-form span {
  width: 70%;
  display: block;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: bold;
}

#order #order-form .form-field {
  display: block;
  width: 332px;
  margin: 45px auto;
}

#order #order-form .form-field p {
  display: block;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 25px;
  margin-bottom: 5px;
}

#order #order-form .form-field input {
  width: 332px;
  height: 42px;
  background: #fcfcfc;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  color: #919191;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  padding-left: 20px;
  font-style: italic;
  margin-bottom: 17px;
}

#order #order-form .form-field button {
  display: block;
  width: 325px;
  height: 61px;
  background: #acd373;
  border: 2px solid #fff;
  border-radius: 30px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 610px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  padding-left: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 4px;
}

/**About**/
#about {
  position: relative;
  width: 100%;
  min-height: 720px;
}

#about .map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#about .about-block {
  width: 700px;
  height: 480px;
  background: #fff;
  margin-top: 127px;
  border-radius: 15px;
}

#about .about-block .about-block-left {
  width: 50%;
  float: left;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
}

#about .about-block .about-block-left span {
  display: block;
  color: #000;
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

#about .about-block .about-block-left p {
  display: block;
  color: #000;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 20px;
}

#about .about-block .about-block-right {
  width: 50%;
  display: inline-block;
  background: #76c6d7;
  height: 100%;
  text-align: center;
  padding: 40px;
  border-radius: 0 15px 15px 0;
}

#about .about-block .about-block-right .adr, #about .about-block .about-block-right .about-phone {
  margin-bottom: 37px;
}

#about .about-block .about-block-right .download {
  padding-top: 14px;
  padding-bottom: 36px;
}

#about .about-block .about-block-right span {
  display: block;
  color: #fff;
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 8px;
}

#about .about-block .about-block-right p {
  display: block;
  color: #fff;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
}

#about .about-block .about-block-right p a {
  color: #fff;
  font-size: 20px;
}

#about .about-block .about-block-right p .dashed-link {
  border-bottom: 1px dashed #fff;
}

#about .about-block .about-block-right .about-order {
  color: #fff;
  font-family: 'NeoSansProRegular', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 40px;
  border: 1px solid #fff;
  border-radius: 20px;
}

/**Footer**/
footer {
  min-height: 185px;
  background: #000;
  padding-top: 35px;
}

footer .copy span {
  color: #acd373;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 23px;
}

footer .copy a {
  color: #acd373;
  border-bottom: 1px dashed #acd373;
}

footer .media ul {
  list-style-type: none;
  padding: 0;
  margin-left: 65px;
}

footer .media ul li {
  font-size: 30px;
  display: inline-block;
  padding-right: 32px;
}

footer .media ul a {
  color: #acd373;
}

footer .contacts {
  margin-left: 87px;
}

footer .contacts span {
  display: block;
  color: #acd373;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  margin-left: 3px;
  margin-bottom: 5px;
}

footer .contacts a {
  display: block;
  color: #acd373;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 2px solid #ffcc66;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 2px;
}

/**HiddenForm**/
#hidden_form {
  background: #f7f7f7;
  width: 400px;
  height: 550px;
  position: relative;
  margin: 0 auto;
  border-radius: 15px;
  padding-top: 24px;
}

#hidden_form strong {
  display: block;
  color: #acd373;
  font-family: 'NeoSansProBold', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5px;
}

#hidden_form span {
  width: 70%;
  display: block;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
  letter-spacing: 3px;
  font-weight: bold;
}

#hidden_form .form-field {
  display: block;
  width: 332px;
  margin: 45px auto;
}

#hidden_form .form-field p {
  display: block;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 25px;
  margin-bottom: 5px;
}

#hidden_form .form-field input {
  width: 332px;
  height: 42px;
  background: #fcfcfc;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  color: #919191;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  padding-left: 20px;
  font-style: italic;
  margin-bottom: 17px;
}

#hidden_form .form-field button {
  display: block;
  width: 325px;
  height: 61px;
  background: #acd373;
  border-radius: 30px;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  padding-left: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 4px;
  margin-top: 20px;
}
