@font-face {
  font-family: "Andika";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Andika.eot?#iefix") format("embedded-opentype"), url("../fonts/Andika.woff") format("woff"), url("../fonts/Andika.ttf") format("truetype");
}
@font-face {
  font-family: "BlagovestFourSerifC";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BlagovestFourSerifC.eot?#iefix") format("embedded-opentype"), url("../fonts/BlagovestFourSerifC.woff") format("woff"), url("../fonts/BlagovestFourSerifC.ttf") format("truetype");
}