@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;1,600&display=swap');

@font-face {
    font-family: 'DS Russia Demo';
    src: url('../fonts/DSRussiaDemo.woff2') format('woff2'),
        url('../fonts/DSRussiaDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

