@import "bourbon/bourbon"

body
	min-width: 320px
	max-width: 1920px	
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden	
	overflow-y: scroll
	margin: 0 auto
	background-color: #fff
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	p
		margin: 0px
	h2
		font-family: 'GilroyRegular', sans-serif
		font-size: 36px
		line-height: 46px
		font-weight: 400		
		color: #000
		text-align: center
		text-shadow: 0.5px 0 0 #000
		letter-spacing: 5px
	button
		text-align: center
	ul
		list-style-type: none
		padding-left: 0px
		margin: 0px
.gen-btn
	padding: 4px 23px
	background-color: #ffdb4d
	display: inline-block
	border: none
	border-radius: 5px
	font-family: 'HelveticaRegular', sans-serif
	color: #000
	font-size: 13px
.th-triang
	background-image: url('../img/tr-grey.png')
	background-repeat: no-repeat
	background-position: center left 100px
.th-triang span:hover
	cursor: pointer
.th-triang-down
	background-image: url('../img/tr-black-down.png')
	span
		color: #000!important

/*******************************************Header******************************/
header
	min-height: 107px
.decor
	width: 116px
.main-header
	padding-left: 70px
	span
		font-family: 'HelveticaLight', sans-serif
		font-size: 28px
		line-height: 107px
		color: #000
	p
		display: inline-block
.clients-button
	margin-left: 20px
	margin-top: 40px
.logo
	padding-left: 42px
	margin-top: 12px
.exit
	float: right
	margin-top: 45px
	margin-right: 50px
	img
		position: relative
		top: -2px
	a
		font-family: 'HelveticaLight', sans-serif
		font-size: 14px
		color: #000	
	a:hover
		opacity: 0.7		

/*******************************************MainMenu******************************/
.menu-wrap
	height: 100%
	position: relative
	margin-top: -6px
	min-height: 615px
.main-menu
	width: 116px
	position: absolute
	top: 0
	left: 0
	height: 100%
	background-color: rgba(49,57,67,0.9)
	padding-top: 6px		
	li
		width: 100%
		height: 100px
		background-color: transparent
	li:hover
		background-color: #637485
	a
		display: block
		width: 100%
		height: 100%
		span
			font-family: 'Open Sans', sans-serif
			font-size: 12px
			text-transform: uppercase
			color: #fff
			display: block
			text-align: center
			padding-top: 68px	

.main-menu ul li:nth-child(1)
	background-image: url('../img/svodka.png')
	background-repeat: no-repeat
	background-position: center top 15px

.main-menu ul li:nth-child(2)
	background-image: url('../img/clients.png')
	background-repeat: no-repeat
	background-position: center top 15px

.main-menu ul li:nth-child(3)
	background-image: url('../img/reports.png')
	background-repeat: no-repeat
	background-position: center top 15px

.main-menu ul li:nth-child(4)
	background-image: url('../img/options.png')
	background-repeat: no-repeat
	background-position: center top 15px

/*******************************************Footer******************************/
footer
	min-height: 54px
	position: relative
	top: -6px
.footer-content
	border-top: 1px solid #d1d1d1
.footer-menu
	padding-left: 20px
	li
		display: inline-block
		padding: 0 7px 0px 10px
		a
			font-family: 'HelveticaLight', sans-serif
			font-size: 14px
			color: #000
			line-height: 55px
.copyright
	line-height: 55px
	float: right
	padding-right: 55px
	span, a
		font-family: 'HelveticaLight', sans-serif
		font-size: 14px
		color: #000
		line-height: 55px
	a
		color: #0060ff

/*******************************************ClientsPage******************************/
.clients-content-menu
	width: 100%
	height: 41px
	border-bottom: 1px solid #d1d1d1
	padding-left: 70px
	margin-top: 5px	
	ul
		margin-bottom: 0px
	li
		display: inline-block	
		padding-right: 26px
	a
		line-height: 35px
		font-family: 'HelveticaLight', sans-serif
		font-size: 18px
		color: #000
		display: block
		padding: 2px 0px		
	a:hover
		text-shadow: 0.2px 0 0 #000
		border-bottom: 2px solid #000
.clients-content .col-lg-11
	padding-left: 16px
.first-viz
	background-image: url('../img/tr-grey.png')
	background-repeat: no-repeat
	background-position: center left 100px	
.last-viz
	background-image: url('../img/tr-grey-down.png')
	background-repeat: no-repeat
	background-position: center left 120px
.first-viz span:hover, .last-viz span:hover
	cursor: pointer
.report-header
	width: 200px
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #999
		display: block
		font-weight: normal				
.sort-active span, .sort-active-down span
		color: #000
		cursor: pointer
.sort-active
	background-image: url('../img/tr-black.png')
.sort-active-down
	background-image: url('../img/tr-black-down.png')
.phone-number	
	a
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #0090ff
.first-v, .last-v, .device
	p
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #000
.client-reports
	padding-left: 70px
	margin-top: 15px
	width: 800px
	display: block
	th
		height: 50px
.report-content
	margin-top: 13px


/***************************************************SvodkaPage***************************************/
.svodka-content
	.col-lg-11
		padding-left: 84px
.svodka-diag
	margin-top: 30px
	padding-bottom: 40px
.diag-left, .diag-right, .diag-bottom
	position: relative
	img
		margin-top: 60px
	span
		display: block		
		font-family: 'HelveticaLight', sans-serif
		font-size: 21px
		color: #000
.diag-bottom
	.last-active-text
		font-size: 18px
	img
		margin-top: 20px
.diag-bottom
	margin-top: 65px
.diag-cart
	padding-top: 40px
.more-info
	text-align: center
	margin-top: 45px
.outer-circle
	width: 166px
	height: 166px
	border: 20px solid #603b8a
	border-radius: 50%
	text-align: center	
	background-color: #fff
	margin-top: 60px
	span
		font-family: 'HelveticaBold',sans-serif
		font-size: 28px
		line-height: 30px
		padding-top: 40px
	p
		font-family: 'HelveticaRegular',sans-serif
		font-size: 14px
		line-height: normal
.inner-circle
	width: 132px
	height: 132px
	border: 20px solid #fdd400
	border-radius: 50%
	text-align: center	
	position: absolute
	top: 132px
	left: 130px
	z-index: -1
	span
		font-family: 'HelveticaBold',sans-serif
		font-size: 18px
		line-height: 22px
		padding-top: 30px
		padding-left: 4px
	p
		font-family: 'HelveticaRegular',sans-serif
		font-size: 14px
		line-height: normal

/***************************************************SubscribePage***************************************/
.subscribe-content
	margin-top: 20px
.subscribe-inputs-field		
	margin-top: 10px
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
		width: 130px
	.btn
		padding: 5px 12px
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
	.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default
		background-color: #fff			
	.field-header
		font-family: 'HelveticaRegular', sans-serif
		font-size: 16px
		color: #000
		display: block
		width: 80px
		float: left		
	textarea
		border: 1px solid #c2c2c2
		width: 427px
		height: 190px
		border-color: #ccc
		border-radius: 5px
		resize: none
		padding: 10px
		position: relative
		top: 5px
.subscribe-info-wrap
	margin-top: 70px
	margin-left: 120px
.subscribe-info
	span
		display: block
		font-family: 'HelveticaLight', sans-serif
		font-size: 13px
		color: #000
		line-height: 1.3
.subscribe-comment, .subscribe-button
	margin-top: 15px
	span
		width: 75%
	span, a
		display: block
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
		color: #000
.subscribe-button
	a
		border: 1px solid #ccc
		border-radius: 5px
		display: inline-block
		padding: 4px 26px 4px 40px
		background-image: url('../img/subscribe-button-back.png')
		background-repeat: no-repeat
		background-position: center left 10px
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out 			
	a:hover
		background-color: #eee
.subscribe-button-submit
	margin-top: 15px
	text-align: center
	float: right
	a
		padding: 4px 20px


/***************************************************ProfilPage***************************************/
.profil-info-left	
	margin-top: 25px			
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 18px
		color: #000
	table
		width: 300px
		margin-top: 25px
		margin-left: 90px
		th
			text-align: center
			padding-bottom: 10px
		td
			text-align: center
			font-family: 'HelveticaRegular', sans-serif
			font-size: 14px
			color: #000			
		th span
			font-family: 'HelveticaRegular', sans-serif
			font-size: 14px
			color: #999
			display: block
			font-weight: normal			
		.first-td
			width: 70px
			padding-right: 15px			
		.second-td
			width: 70px
		.third-td
			text-align: left
	.th-triang
		background-position: bottom 16px left 47px
.profil-info-right
	margin-top: 25px
	span
		display: block
		font-family: 'HelveticaRegular', sans-serif
		font-size: 18px
		color: #000	
	textarea
		border: 1px solid #c2c2c2
		width: 470px
		height: 222px
		border-color: #ccc
		border-radius: 5px
		resize: none
		padding: 10px
		position: relative
		top: 5px
		display: block
		margin-top: 25px
.profil-info-right-bottom
	float: right
	margin-top: 20px
	margin-right: 122px
	span, p
		display: inline-block
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
		color: #000	
		position: relative
	span
		top: 2px
		padding-right: 25px
		

/***************************************************ReportsPage***************************************/		
.reports-content
	height: 100%	
	.col-lg-3
		height: 100%
		padding-bottom: 6px
.reports-content-left
	height: 100%
	display: block		
	border-right: 1px solid #ccc 
	border-top: 1px solid #ccc 
	ul
		margin-top: 40px
		margin-left: 25px
	li
		padding: 7px 0px
	a
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #000	
		text-shadow: none
		display: block
	a:hover
		text-shadow: 0.2px 0 0 #000
.reports-content-right, .graph-image
	padding-left: 20px
	ul
		display: inline-block
		border: 1px solid #c2c2c2
		border-radius: 3px
	li
		float: left
		border-right: 1px solid #c2c2c2
		padding: 3px 20px
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out 		
		a
			font-family: 'HelveticaRegular', sans-serif
			font-size: 13px
			color: #000	
			text-shadow: none
			display: block			
	li:hover
		background-color: #ffeca6
	li:last-child
		border-right: none
.graph-image
	padding-left: 20px
	padding-top: 40px

/***************************************************OptionsPage***************************************/		
.options-content
	padding-top: 20px
	padding-bottom: 30px
.options-subscribe
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 18px
		color: #000
.details
	span, p
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #6dbf81
		display: inline-block
	span
		margin-right: 10px
	a
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
		color: #000
		border: 1px solid #c2c2c2
		padding: 5px 20px
		border-radius: 3px
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out 	
	a:hover
		background-color: #c2c2c2
		border: 1px solid #c2c2c2
.balance
	margin-top: 10px
	input
		width: 70px
		height: 26px
		background-image: url('../img/ruble.png')
		background-repeat: no-repeat
		background-position: center right 10px
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #000
		border: 1px solid #c2c2c2
		border-radius: 3px
		box-shadow: none
		padding-left: 5px
		padding-right: 25px
		margin-right: 10px
	::-webkit-input-placeholder 
		color: #c2c2c2		
	::-moz-placeholder
		color: #c2c2c2		
	:-moz-placeholder 
		color: #c2c2c2	
	:-ms-input-placeholder      
		color: #c2c2c2	
	a
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
		color: #000
		border: 1px solid #c2c2c2
		padding: 5px 18px
		border-radius: 3px
		background-color: #c2c2c2
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out 	
	a:hover
		background-color: #eee
		border: 1px solid #eee
.start-page
	margin-top: 45px
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 18px
		color: #000
		display: block
		margin-bottom: 15px
	input
		width: 214px
		height: 26px		
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #000
		border: 1px solid #c2c2c2
		border-radius: 3px
		box-shadow: none
		padding-left: 10px
		padding-right: 15px
		margin-right: 15px
	::-webkit-input-placeholder 
		color: #000		
	::-moz-placeholder
		color: #000		
	:-moz-placeholder 
		color: #000		
	:-ms-input-placeholder      
		color: #000		
	a
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
		color: #000
		border: 1px solid #c2c2c2
		padding: 5px 18px
		border-radius: 3px
		background-color: #c2c2c2		
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out 	
	a:hover
		background-color: #eee
		border: 1px solid #eee
	img
		margin-left: 12px
.news
	margin-top: 45px
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 18px
		color: #000
.news-options-text
	float: left
.news-options-text:hover 
	cursor: pointer
	span
		color: #39a955
		cursor: pointer
.news-field-header
	margin-top: 12px
	margin-bottom: 8px	
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #999
.date-header
	margin-left: 110px
.news-field-content
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #000
		display: inline-table
.news-options-text	
	img
		margin-left: -22px
		position: relative
		top: -6px
.news-options-text-header
	padding-left: 3px	
	width: 175px
	display: inline-block
.date
	margin-right: 42px	
.news-options
	img
		margin-right: 8px
	img:hover
		opacity: 0.7	
	.line-image
		margin: 0px 18px
	.accept
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
		color: #000
		padding: 6px 17px
		border: 1px solid #c2c2c2
		border-radius: 3px		
		margin-left: 5px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out 	
	.accept:hover
		background-color: #ffdb4d
		border: 1px solid #ffdb4d
.news-add
	margin-top: 27px
.news-add-button
	float: right
	margin-right: 82px
	a
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
		color: #000
		border: 1px solid #c2c2c2
		padding: 5px 18px
		border-radius: 3px
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out 	
	a:hover
		background-color: #c2c2c2
		border: 1px solid #c2c2c2
#news-add-form
	margin-left: 7px
	margin-top: 3px	
.news-add-content img	
	float: left
	margin-left: -52px
	position: relative
	top: 12px
.news-add-form-field
	margin-bottom: 16px
	span
		font-family: 'HelveticaRegular', sans-serif
		font-size: 13px
		color: #000
		display: block
	input		
		width: 170px
		height: 26px		
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #000
		border: 1px solid #c2c2c2
		border-radius: 3px
		box-shadow: none
		padding-left: 10px
		padding-right: 15px
		margin-top: 6px
	textarea
		border: 1px solid #c2c2c2
		width: 405px
		height: 102px
		border-color: #ccc
		border-radius: 5px
		resize: none
		padding: 10px
		position: relative
		top: 5px
		display: block		
		font-family: 'HelveticaRegular', sans-serif
		font-size: 14px
		color: #000
.news-add-form-submit
	float: right
	margin-right: 180px
	button:hover
		opacity: 0.7


.hidden
	display: none
