@font-face {
  font-family: "HelveticaNeueCyrRoman";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueCyrRoman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrRoman.woff") format("woff"), url("../fonts/HelveticaNeueCyrRoman.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueCyrBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueCyrBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrBold.woff") format("woff"), url("../fonts/HelveticaNeueCyrBold.ttf") format("truetype");
}
