html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: auto;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  font-family: "RobotoRegular", sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}
body a:hover, body a:focus, body a:active {
  text-decoration: none;
  outline: none;
}
body input:focus, body input:active {
  text-decoration: none;
  outline: none;
}
body button:focus, body button:active {
  text-decoration: none;
  outline: none;
}
body textarea:focus, body textarea:active {
  text-decoration: none;
  outline: none;
}
body a {
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body ul, body ol {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
body button {
  border: none;
  cursor: pointer;
}
body hr {
  border: none;
}

.pixel {
  background: url(../img/main.jpg) no-repeat top center;
  width: 1920px;
  height: 12800px;
  position: absolute;
  z-index: 1000000;
  display: none;
  left: 50%;
  top: 0;
  margin-left: -960px;
  opacity: 0.5;
  margin-top: 0px;
}

/***************************************************GeneralStyles************************************/
.banners {
  margin-top: 50px;
}
.banners__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.banners__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  max-width: 24%;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 50%;
}
.banners__block img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.banners__block svg stop {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.banners__block--red {
  overflow: hidden;
}
.banners__block--red rect {
  fill: url("#red");
}
.banners__block--red:hover {
  cursor: pointer;
  border-radius: 100%;
}
.banners__block--red:hover #red stop:first-child {
  stop-color: #F7ADAD !important;
}
.banners__block--red:hover #red stop:nth-child(2) {
  stop-color: #F8AAAA !important;
}
.banners__block--red:hover #red stop:nth-child(3) {
  stop-color: #FAA0A0 !important;
}
.banners__block--f {
  overflow: hidden;
}
.banners__block--f rect {
  fill: url("#back-f");
}
.banners__block--f:hover {
  cursor: pointer;
  border-radius: 100%;
}
.banners__block--f:hover #back-f stop:first-child {
  stop-color: #F9C5E9 !important;
}
.banners__block--f:hover #back-f stop:nth-child(2) {
  stop-color: #FFAEEA !important;
}
.banners__block--f:hover #back-f stop:nth-child(3) {
  stop-color: #E07ED2 !important;
}
.banners__block--blue {
  overflow: hidden;
}
.banners__block--blue rect {
  fill: url("#back-b");
}
.banners__block--blue:hover {
  cursor: pointer;
  border-radius: 100%;
}
.banners__block--blue:hover #back-b stop:first-child {
  stop-color: #8888FF !important;
}
.banners__block--blue:hover #back-b stop:nth-child(2) {
  stop-color: #4545FF !important;
}
.banners__block--blue:hover #back-b stop:nth-child(3) {
  stop-color: #0600FF !important;
}
.banners__block--pink {
  overflow: hidden;
}
.banners__block--pink rect {
  fill: url("#back-p");
}
.banners__block--pink:hover {
  cursor: pointer;
  border-radius: 100%;
}
.banners__block--pink:hover #back-p stop:first-child {
  stop-color: #F49292 !important;
}
.banners__block--pink:hover #back-p stop:nth-child(2) {
  stop-color: #EF6C6C !important;
}
.banners__block--pink:hover #back-p stop:nth-child(3) {
  stop-color: #EF5252 !important;
}
.banners__block--orange {
  overflow: hidden;
}
.banners__block--orange rect {
  fill: url("#back-o");
}
.banners__block--orange:hover {
  cursor: pointer;
  border-radius: 100%;
}
.banners__block--orange:hover #back-o stop:first-child {
  stop-color: #EF8A5E !important;
}
.banners__block--orange:hover #back-o stop:nth-child(2) {
  stop-color: #F2783B !important;
}
.banners__block--orange:hover #back-o stop:nth-child(3) {
  stop-color: #F56A1C !important;
}
.banners__block--yellow {
  overflow: hidden;
}
.banners__block--yellow rect {
  fill: url("#back-y");
}
.banners__block--yellow:hover {
  cursor: pointer;
  border-radius: 100%;
}
.banners__block--yellow:hover #back-y stop:first-child {
  stop-color: #F2C370 !important;
}
.banners__block--yellow:hover #back-y stop:nth-child(2) {
  stop-color: #EFBB54 !important;
}
.banners__block--yellow:hover #back-y stop:nth-child(3) {
  stop-color: #EDB332 !important;
}
.banners__block--green {
  overflow: hidden;
}
.banners__block--green rect {
  fill: url("#back-g");
}
.banners__block--green:hover {
  cursor: pointer;
  border-radius: 100%;
}
.banners__block--green:hover #back-g stop:first-child {
  stop-color: #73CC44 !important;
}
.banners__block--green:hover #back-g stop:nth-child(2) {
  stop-color: #53B725 !important;
}
.banners__block--green:hover #back-g stop:nth-child(3) {
  stop-color: #3DA513 !important;
}
.banners__block--light {
  overflow: hidden;
}
.banners__block--light rect {
  fill: url("#back-l");
}
.banners__block--light:hover {
  cursor: pointer;
  border-radius: 100%;
}
.banners__block--light:hover #back-l stop:first-child {
  stop-color: #89F4E9 !important;
}
.banners__block--light:hover #back-l stop:nth-child(2) {
  stop-color: #5AE5DA !important;
}
.banners__block--light:hover #back-l stop:nth-child(3) {
  stop-color: #3ECCC5 !important;
}
.banners__image {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}