@import "bourbon/bourbon"

body
	font-family: "CodeProLC", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	max-width: 1920px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	overflow-y: auto	
	margin: 0 auto		
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	ul
		list-style-type: none
		padding: 0
	a:hover
		opacity: 0.7

/********************************************************General******************************************/
ul
	padding: 0
	list-style-type: none
hr
	border: none

h2
	font-family: 'CodeProBoldLC', sans-serif
	font-size: 40px
	line-height: 48px
	color: #48423b
	font-style: normal
	text-align: center
	float: none
	letter-spacing: 3px	
	text-transform: uppercase
input
	padding-left: 20px
	padding-right: 20px
ol
	padding: 0
textarea
	resize: none


/********************************************************FirstScreen******************************************/
.first-screen
	height: 100vh	
header
	height: 280px
	background-color: #fff	
	padding-top: 38px
	.col-lg-4
		height: 118px
.logo
	width: 100%
	height: 103px
	background-repeat: no-repeat
	background-position: center center	
.phone
	margin-top: 35px
	a
		background-color: #b492c1
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 23px
		color: #fff
		letter-spacing: 4px
		padding: 13px 45px 13px 76px
		position: relative
		img
			width: 30px
			height: 30px
			position: absolute
			margin-right: 30px	
			left: 10px	
			margin: auto
			top: 0
			bottom: 0
.social
	text-align: right
	margin-top: 35px	
	li
		display: inline-block		
		height: 40px
		min-width: 56px		
	li
		background-position: bottom center
		background-repeat: no-repeat
		background-size: 34px 34px
	a:nth-child(2) li
		background-size: 16px 34px
	a:nth-child(3) li
		background-size: 28px 33px
	a:nth-child(4) li
		background-size: 56px 34px
		margin-left: 10px
.navbar-default
	background-color: #fff
	border: none
	margin: 0px
	height: 118px
	width: 100%
	padding: 0 15px
.navbar-default .navbar-collapse, .navbar-default .navbar-form
	padding: 0px
.navbar-default .navbar-nav > li > a
	font-family: 'CodeProLC', sans-serif
	font-size: 20px
	color: #48423b
	letter-spacing: 3px	
	padding-left: 10px
	padding-right: 10px
	text-transform: uppercase
.navbar-default .navbar-nav > li
	padding: 34px 104px
.navbar-nav
	float: none
	text-align: center
	li
		float: none
		display: inline-block
.slider-wrap
	width: 100%	
	position: relative	
	.container		
		position: absolute
		top: 0	
		margin: auto
		right: 0
		left: 0
		height: 100%
	.lSPager
		display: none
	li
		position: relative	
		width: 100%	
		overflow: hidden		
		img
			width: 100%
			height: 100%
	.slide-overlay
		position: absolute
		width: 100%		
		background-color: rgba(0,0,0,0.4)
		top: 0
		left: 0
		z-index: 1
.main-header		
	margin-top: 260px
	h1	
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 47px
		line-height: 56px
		color: #fff
		letter-spacing: 7px
		position: relative	
		display: inline			
	h1:after
		content: url('../img/decor.png')
		position: absolute
		bottom: 0		
		right: 0px
		margin-bottom: -32px
		margin-right: -27px

.form-header
	width: 100%
	position: absolute
	bottom: 40px
	left: 0
	padding: 0 15px
	.form-overlay
		height: 80px
		background-color: rgba(0,0,0,0.40)
		text-align: right
		padding-right: 20px
		width: 100%
		a
			line-height: 80px
			font-family: 'CodeProBoldLC', sans-serif
			font-size: 24px			
			color: #fff
			letter-spacing: 2px	
	form		
		height: 80px
		input
			width: 489px
			height: 80px
			border: none
			font-family: 'CodeProLC', sans-serif
			font-size: 25px
			color: #a8a8a8
			letter-spacing: 3px
			padding-left: 30px		
			float: left	
			margin-right: 1px			
		#date
			width: 278px
			background-repeat: no-repeat
			background-position: left 20px center
			padding-left: 80px			
		::-webkit-input-placeholder 
			color: #a8a8a8			
		::-moz-placeholder
			color: #a8a8a8			
		:-moz-placeholder 
			color: #a8a8a8 			
		:-ms-input-placeholder      
			color: #a8a8a8
		button
			width: 180px
			height: 80px
			border: none
			background-color: #49a1c0
			font-family: 'CodeProLC', sans-serif
			font-size: 21px
			color: #fff
			letter-spacing: 3px
			text-transform: uppercase
		button:hover
			opacity: 0.7


/********************************************************Services******************************************/
.services
	padding: 70px 0 100px
	strong
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 36px
		line-height: 43px
		color: #a8a8a8
		letter-spacing: 7px		
	p	
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 25px
		line-height: 30px
		color: #49a1c0
		letter-spacing: 5px			
		text-align: center
		margin-top: 30px		
		img
			margin-right: 20px
	hr
		width: 269px
		height: 5px
		background: #b492c1
		background-color: #b492c1
		margin: 65px auto 55px
.services-block
	text-align: center
	margin-top: 84px	
	p
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 19px
		line-height: 22px
		color: #48423b		
		letter-spacing: 2px
		padding: 0 280px
.services-block-image, .services-block-image2
	width: 100%	
	min-height: 156px
	background-repeat: no-repeat
	background-position: center bottom	
	-moz-transition: all 0.5s ease-out
	-o-transition: all 0.5s ease-out
	-webkit-transition: all 0.5s ease-out
	transition: all 0.5s ease-out
.sb-first
	background-size: 126px 154px 
.services-block-second .services-block-image
	background-size: 98px 156px
.decor-text
	margin-top: 70px
	i
		font-family: 'CodeProLC', sans-serif
		font-size: 30px
		line-height: 36px
		color: #a8a8a8
		display: inline
		position: relative
		letter-spacing: 5px
		font-style: normal
		margin-top: 70px
		text-transform: uppercase
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out
	i:after
		content: url('../img/service-decor.png')
		position: absolute
		bottom: 0
		right: 0
		margin-bottom: -15px
		margin-right: -9px
.service-block-button
	margin-top: 45px
	a
		font-family: 'CodeProLC', sans-serif
		font-size: 16px		
		color: #fff		
		letter-spacing: 2px
		background-color: #a8a8a8
		padding: 20px 45px
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out
		display: inline-block
.services-block:hover .services-block-image
	background-image: url('../img/services-1-hover.png')!important	
.services-block:hover i
	color: #49a1c0
.services-block:hover .service-block-button a
	background-color: #49a1c0
	opacity: 1
.services-block-second:hover .services-block-image
	background-image: url('../img/services-2-hover.png')!important	
	background-size: 98px 156px
.services-block-second .decor-text
	i:after
		content: url('../img/service-decor-2.png')
.services-block-second:hover .service-block-button a
	background-color: #b492c1
	opacity: 1
.services-block-second:hover i
	color: #b492c1

/********************************************************Watch******************************************/
.watch
	width: 100%
	img
		width: 100%

/********************************************************Benefits******************************************/
.benefits
	padding: 90px 0 135px
	h2
		margin-bottom: 100px
.benefits-icon
	margin: 55px 0px
	min-height: 135px
	background-repeat: no-repeat
	background-position: center bottom	
	-moz-transition: all 0.5s ease-out
	-o-transition: all 0.5s ease-out
	-webkit-transition: all 0.5s ease-out
	transition: all 0.5s ease-out	
.benefits .col-lg-4:nth-child(1) .benefits-icon
	background-size: 186px 134px
.benefits .col-lg-4:nth-child(2) .benefits-icon
	background-size: 96px 130px
.benefits .col-lg-4:nth-child(3) .benefits-icon
	background-size: 133px 130px
.benefits .col-lg-4:nth-child(1) .benefits-block:hover .benefits-icon
	background-size: 186px 134px
	background-image: url('../img/benefits-1-hover.png')!important
.benefits .col-lg-4:nth-child(2) .benefits-block:hover .benefits-icon
	background-size: 96px 130px
	background-image: url('../img/benefits-2-hover.png')!important
.benefits .col-lg-4:nth-child(3) .benefits-block:hover .benefits-icon
	background-size: 133px 130px
	background-image: url('../img/benefits-3-hover.png')!important
.benefits-block
	text-align: center
	strong
		font-family: 'CodeProLC', sans-serif
		font-size: 30px		
		line-height: 36px
		color: #49a1c0	
		letter-spacing: 3px
		text-transform: uppercase
		font-style: normal
		font-weight: normal
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px		
		line-height: 22px
		color: #a8a8a8	
		letter-spacing: 4px
		display: inline	
		position: relative	
	p:after
		content: url('../img/benef-decor.png')
		position: absolute
		bottom: 0
		right: 0
		margin-bottom: -16px
		margin-right: -16px		
	
/********************************************************Benefits******************************************/
.insta
	width: 100%
.insta-block
	width: 19.73%
	height: 370px
	background-color: #b492c1
	float: left
	margin-right: 0.33333%	
.insta-block:last-child
	margin-right: 0px
	float: right
	
/********************************************************FeedBack******************************************/
.feedback
	padding: 130px 0px 75px
.feedback-form
	margin-top: 120px
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 25px		
		line-height: 30px
		color: #a8a8a8	
		letter-spacing: 3px
		margin-top: 35px
.text-field
	width: 300px
	text-align: center
	display: inline-block
	input
		width: 100%
		height: 70px
		border: 1px solid #a8a8a8
		border-radius: 10px
		font-family: 'CodeProLC', sans-serif
		font-size: 25px		
		color: #49a1c0
		letter-spacing: 3px
		margin-top: 30px
		text-align: center
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out		
	input:hover, input:focus, input:active
		border: 1px solid #49a1c0 
.form-top-left
	float: left
	width: 60%
.form-top-left .text-field:nth-child(2)
	float: right
	display: inline-block
.form-top-right
	float: right
.footer-form
	width: 100%
	margin-top: 50px
	textarea
		width: 100%
		height: 156px
		resize: none
		border: 1px solid #a8a8a8
		border-radius: 10px
		font-family: 'CodeProLC', sans-serif
		font-size: 25px		
		color: #49a1c0
		letter-spacing: 3px
		padding: 20px
	textarea:hover, textarea:focus, textarea:active
		border: 1px solid #49a1c0 
	button
		width: 300px
		height: 70px
		background-color: #49a1c0
		border-radius: 10px
		font-family: 'CodeProLC', sans-serif
		font-size: 23px				
		color: #fff
		letter-spacing: 2px
		border: none
		box-shadow: 3px 3px 3px rgba(0,0,0,0.5)	
		margin-top: 40px
	button:hover
		opacity: 0.7
.footer-form-left
	width: 60%
	float: left
	text-align: center
.footer-form-right
	float: right	

/********************************************************Contacts******************************************/
.contacts
	padding: 40px 0
	p
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 25px		
		line-height: 30px
		color: #a8a8a8	
		letter-spacing: 3px
		text-align: center
	hr
		width: 230px
		height: 2px
		background-color: #49a1c0
		background: #49a1c0
		border: none
		margin: 75px auto
.contacts-data
	margin-top: 40px
	strong
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 20px		
		line-height: 23px
		color: #48423b	
		letter-spacing: 3px
		margin-bottom: 46px
		display: block
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 16px		
		line-height: 20px
		color: #48423b	
		letter-spacing: 3px	
		text-align: left
		margin-bottom: 0px
	a
		font-family: 'CodeProLC', sans-serif
		font-size: 16px		
		line-height: 20px
		color: #48423b	
		letter-spacing: 3px	
		text-align: left
		margin-bottom: 0px
	li
		display: inline-block
		padding: 0 10px
.contacts-data .col-lg-4:nth-child(3)
	text-align: right
.contacts-data .central-text
	display: block
	text-align: left
	margin-left: 166px
.contacts-data .col-lg-4:nth-child(3) li:last-child
	padding-right: 0px


/********************************************************Footer******************************************/
footer
	width: 100%
	min-height: 374px
	background-color: #f4f4f4
	hr
		width: 90%
		height: 1px
		background: #a8a8a8
		background-color: #a8a8a8
		margin: 0px auto
.footer-logo
	text-align: center
	margin-top: 45px
.footer-nav
	text-align: center
	height: 140px
	ul
		margin: 0px
	li
		display: inline-block		
		padding: 0px 65px
		height: 30px
		line-height: 30px
		border-right: 1px solid #49a1c0
		margin: 55px 0
		a
			font-family: 'CodeProLC', sans-serif
			font-size: 20px					
			color: #48423b	
			letter-spacing: 5px	
			text-transform: uppercase
	li:last-child
		border-right: none
.footer-bottom
	width: 90%
	margin: 0 auto
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 15px		
		line-height: 85px
		color: #48423b	
		letter-spacing: 3px	
		float: left
		margin: 0px;
	i
		font-family: 'CodeProLC', sans-serif
		font-size: 15px		
		line-height: 85px
		color: #48423b	
		letter-spacing: 3px	
		float: right
		font-style: normal

/********************************************************Buisness******************************************/
.others
	border-bottom: 2px solid #a8a8a8
	.navbar-default .navbar-nav > li
		padding: 47px 50px
		margin: 0px 54px
		border-bottom: 8px solid transparent
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out				
	.navbar-default .navbar-nav > li:hover
		border-bottom: 8px solid #b492c1	
.business
	padding: 75px 0px 0px
	hr
		width: 269px
		height: 5px
		background: #b492c1
		background-color: #b492c1
		margin: 65px auto 55px
	h3
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 36px		
		line-height: 43px
		color: #a8a8a8	
		letter-spacing: 5px	
		text-align: center
		padding: 0 250px
		margin-bottom: 40px
.buisness-desc
	padding: 30px 60px 0px
	text-align: center
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px		
		line-height: 23px
		color: #a8a8a8	
		letter-spacing: 3px	
		text-align: center
		padding: 0px		
		display: inline
		position: relative
	p:after		
		content: url('../img/benef-decor.png')
		position: absolute
		bottom: 0
		right: 0
		margin-bottom: -16px
		margin-right: -16px
.business-benefits
	margin-top: 150px	
.business-benefits-block
	text-align: center
	strong
		font-family: 'CodeProLC', sans-serif
		font-size: 13px		
		line-height: 16px
		color: #a8a8a8	
		letter-spacing: 3px	
		text-align: center	
		display: block
		margin-top: 10px		
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out	
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 10px		
		line-height: 12px
		color: #a8a8a8	
		letter-spacing: 3px	
		margin-top: 30px
		padding: 0 50px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out		
.business-benefits-block:hover
	strong
		color: #49a1c0
	p
		color: #49a1c0
.business-benefits-image
	width: 100%
	height: 130px
	background-repeat: no-repeat
	background-position: center bottom 16px
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out				
.business-benefits .col-lg-2:nth-child(1) .business-benefits-block:hover .business-benefits-image
	background-image: url('../img/bus-ben1-hover.png')!important
.business-benefits .col-lg-2:nth-child(2) .business-benefits-block .business-benefits-image
	background-position: center bottom
.business-benefits .col-lg-2:nth-child(2) .business-benefits-block:hover .business-benefits-image
	background-image: url('../img/bus-ben2-hover.png')!important
.business-benefits .col-lg-2:nth-child(3) .business-benefits-block:hover .business-benefits-image
	background-image: url('../img/bus-ben3-hover.png')!important
.business-benefits .col-lg-2:nth-child(4) .business-benefits-block:hover .business-benefits-image
	background-image: url('../img/bus-ben4-hover.png')!important
.business-benefits .col-lg-2:nth-child(5) .business-benefits-block .business-benefits-image
	background-position: center bottom
.business-benefits .col-lg-2:nth-child(5) .business-benefits-block:hover .business-benefits-image
	background-image: url('../img/bus-ben5-hover.png')!important
.business-benefits .col-lg-2:nth-child(6) .business-benefits-block .business-benefits-image
	background-position: center bottom 5px
.business-benefits .col-lg-2:nth-child(6) .business-benefits-block:hover .business-benefits-image
	background-image: url('../img/bus-ben6-hover.png')!important
.forward
	padding-top: 130px
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px		
		line-height: 23px
		color: #a8a8a8	
		letter-spacing: 3px	
		text-align: center
		padding: 0 50px
.nav-tabs
	border: none
	border-radius: 0
	height: 250px
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
	border: none
	border-radius: 0
.nav > li > a
	padding: 0px
	border: none
	border-radius: 0
.nav > li > a:hover, .nav > li > a:focus
	background-color: #fff
.tab-content .tab-pane
	display: none
.tab-content .active
	display: block
.forward-block-first, .forward-block-second
	position: relative	
	width: 100%
	height: 100%
	text-align: center	
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 13px		
		line-height: 16px
		color: #48423b	
		letter-spacing: 3px	
		text-transform: uppercase
		position: absolute
		width: 100%
		bottom: 0	
		padding: 0		
.forward-block-first, .forward-block-second 	
	background-repeat: no-repeat
	background-position: center center	
	height: 200px
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out	
.forward-block-first img
	width: 202px
	height: 202px
	opacity: 0
	position: absolute
	top: 27px
	left: 21px
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
.forward-block-second img
	width: 287px
	height: 202px
	opacity: 0
	position: absolute
	top: 27px
	left: 35px
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
.nav-tabs .active.first-tab .forward-block-first, .nav-tabs .first-tab:hover .forward-block-first
	background-image: url('../img/forward-phone-small-hover.png')!important
.nav-tabs .active .forward-block-first img, .nav-tabs .first-tab:hover .forward-block-first img
	opacity: 0.1
.nav-tabs .active.second-tab .forward-block-second, .nav-tabs .second-tab:hover .forward-block-second
	background-image: url('../img/forward-mail-hover.png')!important
.nav-tabs .active .forward-block-second img, .nav-tabs .second-tab:hover .forward-block-second img
	opacity: 0.1

.forward-form	
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 25px		
		line-height: 30px
		color: #a8a8a8	
		letter-spacing: 3px
		margin-top: 35px
		display: display
		padding: 0px
		text-indent: 3px
		text-align: center	
	input
		width: 210px
		height: 50px
		border: 1px solid #a8a8a8
		border-radius: 10px
		font-family: 'CodeProLC', sans-serif
		font-size: 25px		
		color: #49a1c0
		letter-spacing: 3px
		margin-top: 30px
		text-align: center
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out		
	input:hover, input:focus, input:active
		border: 1px solid #49a1c0 
	button
		width: 210px
		height: 50px
		background-color: #49a1c0
		border-radius: 10px
		font-family: 'CodeProLC', sans-serif
		text-transform: uppercase
		font-size: 23px				
		color: #fff
		letter-spacing: 5px
		border: none		
		margin-top: 40px
		margin: 40px auto
		display: block
	button:hover
		opacity: 0.7
.forward-field
	width: 100%
	text-align: center

/********************************************************Gallery******************************************/
.gallery
	padding: 75px 0px 0px
	hr
		width: 269px
		height: 5px
		background: #b492c1
		background-color: #b492c1
		margin: 65px auto 55px
	.col-lg-6
		margin-bottom: 10px		
		padding: 0 10px
.gallery-block
	width: 100%
	height: 477px
	position: relative
	text-align: center		
	img
		width: 100%
		height: 100%
.gallery-block-overlay
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	background-color: rgba(180,146,193,0.8)
.gallery-block-desc
	position: absolute
	z-index: 10
	top: 200px
	width: 100%
	h3
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 58px		
		line-height: 70px
		text-transform: uppercase
		color: #fff
		letter-spacing: 7px
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 21px		
		line-height: 25px
		color: #fff	
		letter-spacing: 7px




/********************************************************ContactsPage******************************************/
.contacts-page
	padding: 75px 0px 0px
	hr
		width: 269px
		height: 5px
		background: #b492c1
		background-color: #b492c1
		margin: 65px auto 105px	
.contacts-page-form
	width: 88%
	margin: 0 auto	
.first-form-row, .second-form-row
	input
		width: 33.33%	
		height: 80px	
		text-align: center
		font-family: 'CodeProLC', sans-serif
		font-size: 25px				
		letter-spacing: 5px	
		border: 1px solid #a8a8a8					
		color: #49a1c0			
		float: left	
		margin-right: -1px		
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out		
	::-webkit-input-placeholder 
		color: #a8a8a8			
	::-moz-placeholder
		color: #a8a8a8			
	:-moz-placeholder 
		color: #a8a8a8			 			
	:-ms-input-placeholder      
		color: #a8a8a8		
	input:hover, input:active, input:focus
		position: relative
		z-index: 100
		border: 1px solid #49a1c0		
		color: #49a1c0
	input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder, input:active::-webkit-input-placeholder  			
		color: #49a1c0			
	input:hover::-moz-placeholder, input:focus::-moz-placeholder, input:active::-moz-placeholder
		color: #49a1c0			
	input:hover:-moz-placeholder, input:focus:-moz-placeholder, input:active:-moz-placeholder 
		color: #49a1c0			 			
	input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder,      
		color: #49a1c0		
	.bootstrap-select .dropdown-toggle:focus
		outline: none!important		
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
		width: 33.33%
		background-image: url('../img/packages.png')
		background-repeat: no-repeat
		background-position: center left 40px		
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out	
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn):hover
		background-image: url('../img/packages-hover.png')!important
	.btn, .btn-group.open .dropdown-toggle
		height: 80px
		border: none
		border-radius: 0px
		background-color: transparent
		font-family: 'CodeProLC', sans-serif
		font-size: 25px				
		letter-spacing: 5px	
		border: 1px solid #a8a8a8					
		color: #49a1c0
		padding: 0px
		padding-left: 40px
		box-shadow: none	
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out		
	.bootstrap-select.btn-group .dropdown-menu li a
		font-family: 'CodeProLC', sans-serif
		font-size: 20px				
		letter-spacing: 5px			
		color: #a8a8a8
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out	
	.bootstrap-select.btn-group .dropdown-toggle .filter-option
		text-align: center
	.caret
		display: none
	.btn:hover, .btn:focus, .btn:active, .btn-group.open .dropdown-toggle
		outline: none
		border-color: #49a1c0!important
		color: #49a1c0!important
.second-form-row input
	background-repeat: no-repeat
	background-position: center left 45px
.second-form-row input:nth-child(1):hover
	background-image: url('../img/date-hover.png')!important
.second-form-row input:nth-child(2):hover
	background-image: url('../img/time-hover.png')!important
.second-form-row input:nth-child(3):hover
	background-image: url('../img/packages-hover.png')!important
.second-form-row, .third-form-row
	margin-top: 25px
	textarea
		width: 100%
		height: 150px
		font-family: 'CodeProLC', sans-serif
		font-size: 25px				
		letter-spacing: 5px	
		border: 1px solid #a8a8a8
		padding: 20px
		color: #a8a8a8
	::-webkit-input-placeholder 
		color: #a8a8a8			
	::-moz-placeholder
		color: #a8a8a8			
	:-moz-placeholder 
		color: #a8a8a8			 			
	:-ms-input-placeholder      
		color: #a8a8a8
	textarea:hover, textarea:active, textarea:focus
		border-color: #49a1c0
		color: #49a1c0
	textarea:hover::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, textarea:active::-webkit-input-placeholder  			
		color: #49a1c0			
	textarea:hover::-moz-placeholder, textarea:focus::-moz-placeholder, textarea:active::-moz-placeholder
		color: #49a1c0			
	textarea:hover:-moz-placeholder, textarea:focus:-moz-placeholder, textarea:active:-moz-placeholder 
		color: #49a1c0			 			
	textarea:hover:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder,      
		color: #49a1c0	
	label
		margin-top: 40px
	.checkbox
		display: none
	.checkbox-custom
		position: relative     
		width: 30px           
		height: 30px          
		border: 2px solid #ccc
	.checkbox-custom, .label 
		display: inline-block
		vertical-align: middle
		border-radius: 3px
	.checkbox:checked + .checkbox-custom::before
		content: ""
		display: block
		position: absolute
		top: 2px
		right: 2px
		bottom: 2px
		left: 2px
		background: #49a1c0
		border-radius: 2px
	.label
		font-family: 'CodeProLC', sans-serif
		font-size: 25px				
		line-height: 30px					
		color: #a8a8a8
		letter-spacing: 4px
		margin: 0px
		padding: 0px 0px 0px 20px
		font-style: normal
		font-weight: normal
		a
			color: #49a1c0
			font-weight: normal
			text-decoration: underline
	.contacts-page-form-button
		margin-top: 90px
		button
			width: 417px
			height: 80px
			background-color: #49a1c0			
			font-family: 'CodeProLC', sans-serif
			text-transform: uppercase
			font-size: 23px				
			color: #fff
			letter-spacing: 5px
			border: none			
			margin: 40px auto
			display: block
		button:hover
			opacity: 0.7


/********************************************************Ejuice******************************************/
.ejuice
	padding: 75px 0px 0px
	hr
		width: 269px
		height: 5px
		background: #b492c1
		background-color: #b492c1
		margin: 65px auto 105px	
	h3
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 36px				
		line-height: 42px		
		color: #a8a8a8
		letter-spacing: 5px
		text-align: center
		padding: 0 320px
		margin-bottom: 50px	
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 23px		
		color: #a8a8a8
		letter-spacing: 3px
		text-align: center		
		position: relative
	ol
		list-style-type: none
		counter-reset: li
	li
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 23px		
		color: #a8a8a8
		letter-spacing: 3px
		text-align: center
		text-align: left
		margin: 30px 0
		position: relative
	span
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 23px		
		color: #a8a8a8
		letter-spacing: 3px
		display: block
.ejuice ol li p
	display: inline
.ejuice ol li:before
	content: counter(li) ". " 
	counter-increment: li
	color: #49a1c0
	position:absolute
	font-size: 19px
.ejuice ol li:nth-child(4) p:after
	content: url('../img/benef-decor.png')
	position: absolute
	bottom: 0
	right: 0
	margin-bottom: -16px
	margin-right: -16px	
.ejuice-slider
	margin-top: 80px	
	.bootstrap-select .dropdown-toggle:focus
		outline: none!important		
	.btn-info, .btn-group.open .dropdown-toggle
		width: 160px
		height: 40px
		background-color: #fff
		font-family: 'CodeProLC', sans-serif
		line-height: 20px
		font-size: 17px				
		color: #49a1c0
		letter-spacing: 3px
		border: 1px solid #a8a8a8
		border-radius: 0px
	.btn-info span
		color: #49a1c0
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
		width: 160px
		margin-right: -4px
	.bootstrap-select.btn-group .dropdown-toggle .filter-option
		text-align: center
	.bootstrap-select.btn-group .dropdown-menu.inner li
		margin: 5px 0
	.btn:hover, .btn:focus, .btn:active, .btn-group.open .dropdown-toggle
		outline: none
		border-color: #49a1c0!important
		color: #49a1c0!important	
	.bootstrap-select.btn-group .inner
		max-height: 120px!important
		overflow-y: auto!important
.slide-bottom 
	margin-top: 40px
	span
		font-family: 'CodeProLC', sans-serif
		line-height: 54px
		font-size: 31px				
		color: #fff
		font-weight: bold			
	.price
		width: 126px
		height: 54px
		background-color: #49a1c0			
		display: inline-block
	.basket		
		position: relative		
		left: 20px
		top: 5px
		display: inline-block
		a
			background-color: transparent
			display: block
.ejuice-slider-wrapper
	width: 100%
	height: 650px
	.e-slide
		height: 650px
	.e-slide:active, .e-slide:focus
		outline: none
	.e-slide-cont
		width: 420px
		margin: 0 auto
		text-align: center
	p
		font-family: 'CodeProBoldLC', sans-serif
		line-height: 36px
		font-size: 31px				
		color: #a8a8a8		
		padding: 0 80px
		margin-top: 40px
		margin-bottom: 15px
.eslide-image
	width: 100%
	height: 320px
	text-align: center
	border: 1px solid #a8a8a8
	img
		width: 313px
		height: 312px
		margin: 0 auto
.slick-dots
	bottom: -65px
.slick-dots li button:before
	font-size: 11px
	color: #a8a8a8
.slick-active button:before
	color: #49a1c0!important
	opacity: 1!important
.comment
	margin-top: 80px
.arrows
	z-index: 1000
	.slick-next
		right: 50px
	.slick-prev
		left: 50px



/********************************************************Catering******************************************/
.catering
	padding: 75px 0px 0px	
	hr
		width: 269px
		height: 5px
		background: #b492c1
		background-color: #b492c1
		margin: 65px auto 105px	
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 23px		
		color: #a8a8a8
		letter-spacing: 3px
		text-align: center		
		position: relative
		padding: 0 100px	
		margin-bottom: 30px													
.catering-text
	position: relative
	text-align: center
	p:nth-child(2)
		display: inline
		padding: 0px
.catering-text p:nth-child(2):after
	content: url('../img/benef-decor.png')
	position: absolute
	bottom: 0
	right: 0
	margin-bottom: -16px
	margin-right: -16px	
.catering-block-wrap
	margin-top: 90px
	text-align: center
	h3
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 27px				
		line-height: 32px		
		color: #49a1c0
		letter-spacing: 5px		
		font-style: normal
		display: inline-block
		text-transform: uppercase
		margin-top: 75px
		margin-bottom: 30px
.catering-block	
	i
		font-family: 'CodeProLC', sans-serif
		font-size: 25px				
		line-height: 30px		
		color: #a8a8a8
		letter-spacing: 5px
		text-align: center		
		font-style: normal
		display: block
		text-transform: uppercase
		margin-top: 60px
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 23px		
		color: #a8a8a8
		letter-spacing: 3px
		text-align: center				
		display: block
		margin-top: 50px
		padding: 0 120px
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out	
.catering-block-image 
	margin: 0 auto
	width: 200px
	height: 200px	
	background-repeat: no-repeat
	background-position: center bottom
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out	
.catering-block:hover .cb-first
	background-image: url('../img/catering-hover-1.png')!important
.catering-block:hover .cb-second
	background-image: url('../img/catering-hover-2.png')!important
.catering-block:hover .cb-third
	background-image: url('../img/catering-hover-3.png')!important
.catering-block:hover p
	color: #49a1c0
.catering-slide-block
	width: 470px
	height: 522px
	position: relative
	overflow: hidden
	p
		padding: 0px	
	img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		filter: blur(6px)
		-webkit-filter: blur(6px)
		-moz-filter: blur(6px)
		-o-filter: blur(6px)
		-ms-filter: blur(6px)
	.catering-slide-overlay
		width: 100%
		height: 100%
		position: absolute
		background-color: rgba(73,161,192,0.8)
.catering-slide-maintext
	position: relative
	z-index: 100
	padding: 40px 25px
	height: 100%
	h4
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 25px				
		line-height: 30px		
		color: #fff
		letter-spacing: 5px
		margin-bottom: 20px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out	
	ul
		li
			height: 40px
			line-height: 40px
			background-repeat: no-repeat
			background-position: left center	
			margin: 5px 0		
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out			
		li:nth-child(2)
			background-position: left 5px top 2px
		li:nth-child(3)
			background-position: left 2px top 5px
		li:nth-child(4)
			background-position: left 2px top 5px
		p
			font-family: 'CodeProLC', sans-serif
			font-size: 19px				
			line-height: 40px		
			color: #fff
			letter-spacing: 3px
			padding-left: 50px	
			margin: 0px
			text-align: left
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out	
	hr
		width: 200px
		height: 2px
		background: #fff
		background-color: #fff
		margin: 30px 0px 20px
		border: none
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out	
.catering-price
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 60px		
		color: #fff
		letter-spacing: 3px
		display: block
		float: left
		width: 100%
		text-align: left	
		margin: 0px	
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out	
		strong
			float: right
			font-family: 'CodeProLC', sans-serif
			text-shadow: 1px 0 0 #fff
			font-size: 50px				
			line-height: 60px		
			color: #fff
			letter-spacing: 3px
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out	
.catering-slide-button
	margin-top: 20px
	a
		background-color: transparent
		font-family: 'CodeProLC', sans-serif
		font-size: 16px				
		line-height: 19px		
		color: #49a1c0
		letter-spacing: 4px
		text-transform: uppercase
		padding: 15px 60px		
		background-color: #fff
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	a:hover
		opacity: 1	
.catering-right-top
	position: absolute
	top: 56px
	right: 20px
	width: 90px
	height: 115px
	z-index: 200
	background-repeat: no-repeat
	background-position: center top
	text-align: center
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out	
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 23px		
		color: #fff
		letter-spacing: 3px
		width: 100%
		position: absolute
		display: block
		bottom: 1px		
		left: 5px
		margin-bottom: 0px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out	
.catering-right-bottom
	position: absolute
	bottom: 20px
	right: 20px
	width: 25px
	height: 25px
	z-index: 200
	background-repeat: no-repeat
	background-position: center center
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
.active-ca-block
	p
		color: #49a1c0
.source-1.active-ca-block .cb-first
	background-image: url('../img/catering-hover-1.png')!important
.source-2.active-ca-block .cb-second
	background-image: url('../img/catering-hover-2.png')!important
.source-3.active-ca-block .cb-third
	background-image: url('../img/catering-hover-3.png')!important
.catering-questions
	text-align: center
	margin-top: 40px
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 23px		
		color: #a8a8a8
		letter-spacing: 5px
		display: block	
		margin-bottom: 40px	
	a
		background-color: #49a1c0
		color: #fff
		font-family: 'CodeProLC', sans-serif
		font-size: 16px				
		line-height: 19px				
		letter-spacing: 4px
		text-transform: uppercase
		padding: 15px 60px		
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out	
.target .col-lg-4:nth-child(2) .catering-slide-block
	margin: 0 auto
.target .col-lg-4:nth-child(3) .catering-slide-block
	float: right

/********************************************************CateringCustomize******************************************/
.customize
	padding: 50px 0
	.bootstrap-select .dropdown-toggle:focus
		outline: none!important		
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
		width: 25%
		margin-right: -4px		
		background-repeat: no-repeat
		background-position: center left 40px		
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out	
	.btn
		height: 72px
		border: none
		border-radius: 0px
		background-color: transparent
		font-family: 'CodeProLC', sans-serif
		font-size: 17px				
		letter-spacing: 4px	
		border: 1px solid #a8a8a8					
		color: #a8a8a8
		padding: 0px		
		box-shadow: none	
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out
	.active-field .btn
		color: #49a1c0
	.picker-one.active-field .btn
		background-image: url('../img/glyph1-hover.png')!important
	.picker-two.active-field .btn
		background-image: url('../img/glyph2-active.png')!important
	.picker-three.active-field .btn
		background-image: url('../img/glyph3-active.png')!important
	.picker-four.active-field .btn
		background-image: url('../img/glyph4-active.png')!important
	.bootstrap-select.btn-group .dropdown-menu li a
		font-family: 'CodeProLC', sans-serif
		font-size: 20px				
		letter-spacing: 5px			
		color: #a8a8a8
		-moz-transition: all 0.5s ease-out
		-o-transition: all 0.5s ease-out
		-webkit-transition: all 0.5s ease-out
		transition: all 0.5s ease-out	
	.bootstrap-select.btn-group .dropdown-toggle .filter-option
		text-align: center		
	.caret
		margin-right: 10px
	.btn:hover, .btn:focus, .btn:active, .btn-group.open .dropdown-toggle
		outline: none
		border: 1px solid #49a1c0!important
		color: #fff!important	
		background-color: #49a1c0
		position: relative
		z-index: 10
	.btn-group:nth-child(1) > .btn
		background-image: url('../img/glyph-1.png')
		background-repeat: no-repeat
		background-position: left 20px center
	.open.btn-group:nth-child(1) > .btn
		background-image: url('../img/glyph1-active.png')!important
	.btn-group:nth-child(1):hover .btn:hover, .btn-group:nth-child(1) > .btn:focus, .btn-group:nth-child(1) > .btn:active	
		background-image: url('../img/glyph1-active.png')!important
	.btn-group:nth-child(2) > .btn
		background-image: url('../img/glyph-2.png')
		background-repeat: no-repeat
		background-position: left 20px center
	.open.btn-group:nth-child(2) > .btn
		background-image: url('../img/glyph2-hover.png')!important
	.btn-group:nth-child(2):hover .btn:hover, .btn-group:nth-child(2) > .btn:focus, .btn-group:nth-child(2) > .btn:active	
		background-image: url('../img/glyph2-hover.png')!important
	.btn-group:nth-child(3) > .btn
		background-image: url('../img/glyph-3.png')
		background-repeat: no-repeat
		background-position: left 20px center
	.open.btn-group:nth-child(3) > .btn
		background-image: url('../img/glyph3-hover.png')!important
	.btn-group:nth-child(3):hover .btn:hover, .btn-group:nth-child(3) > .btn:focus, .btn-group:nth-child(3) > .btn:active	
		background-image: url('../img/glyph3-hover.png')!important
	.btn-group:nth-child(4) > .btn
		background-image: url('../img/glyph-4.png')
		background-repeat: no-repeat
		background-position: left 20px center
	.open.btn-group:nth-child(4) > .btn
		background-image: url('../img/glyph4-hover.png')!important
	.btn-group:nth-child(4):hover .btn:hover, .btn-group:nth-child(4) > .btn:focus, .btn-group:nth-child(4) > .btn:active	
		background-image: url('../img/glyph4-hover.png')!important

.double-label-slider
	margin: 70px 0 90px
	position: relative
.line-slider
	width: 100%
	height: 1px
	background: #a8a8a8
	background-color: #a8a8a8
.circle
	width: 28px
	height: 28px
	background-color: #a8a8a8
	border-radius: 50%
.label-slider
	width: 30px
	height: 100%
	position: absolute
	top: 0
	margin-top: -15px
	left: 150px
	span
		font-family: 'CodeProBoldLC', sans-serif
		font-size: 30px				
		line-height: 36px		
		color: #a8a8a8	
		display: block	
		text-align: center
		position: relative
		left: 2px
		top: 5px
.two
	left: 530px
.three
	left: 880px
.four
	left: 1250px
.color-line
	width: 0px
	height: 3px
	background-color: #49a1c0
	position: absolute
	margin-top: -2px
	z-index: 100
.slider-marker-button
	text-align: right
	margin-top: 100px
	a
		background-color: #49a1c0
		color: #fff
		font-family: 'CodeProLC', sans-serif
		font-size: 16px				
		line-height: 19px				
		letter-spacing: 4px
		text-transform: uppercase
		padding: 15px 60px		
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out	
.customize-bottom-text
	margin-top: 120px
	text-align: center
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 19px				
		line-height: 23px		
		color: #a8a8a8
		letter-spacing: 4px
		display: block
		margin: 0px 

.hidden_form
	width: 436px
	height: 537px
	position: relative
	background-color: #fff
	margin: 0 auto		
	text-align: center
	padding: 80px 50px
	i
		font-family: 'CodeProLC', sans-serif
		font-size: 30px				
		line-height: 36px		
		color: #a8a8a8
		letter-spacing: 5px
		font-style: normal
		text-align: center
	hr
		width: 80px 
		height: 5px
		background: #b492c1
		background-color: #b492c1
		margin: 25px auto 30px
	input
		width: 210px
		height: 50px
		border: 1px solid #a8a8a8
		border-radius: 10px
		font-family: 'CodeProLC', sans-serif
		text-shadow: 1px 0 0 #49a1c0
		font-size: 17px						
		color: #49a1c0
		letter-spacing: 5px
		text-align: center
		margin-bottom: 50px
	input:hover, input:focus, input:active
		border-color: #49a1c0
	p
		font-family: 'CodeProLC', sans-serif
		font-size: 17px				
		line-height: 21px		
		color: #a8a8a8
		letter-spacing: 5px
		margin-bottom: 15px
	.modal-button
		width: 145px
		height: 35px
		background-color: #49a1c0
		border-radius: 5px
		border: none
		box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.3)
		font-family: 'CodeProLC', sans-serif
		font-size: 20px	
		text-shadow: 1px 0 0 #fff					
		color: #fff
		letter-spacing: 3px


		







.hidden
	display: none
