@import "bourbon/bourbon"

$grey: #d2d3d4
$green: #a0ce4e
$dark: #333333
$grey-l: #747474
$myr-b: 'MyriadProBold', sans-serif
$myr-r: 'myriadproregular', sans-serif

html
	width: 100%
	height: 100%
	overflow-x: hidden
body
	width: 100%
	height: 100%	
	min-width: 320px	
	margin: 0 auto
	position: relative
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	background-color: #fff		
	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	a
		display: inline-block
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	ul, ol
		padding: 0px
		margin: 0px
		list-style-type: none
	button
		border: none
		cursor: pointer
	hr
		border: none	

.pixel
	background: url(../img/main.jpg) no-repeat top center
	width: 1400px
	height: 12800px
	position: absolute
	z-index: 1000000
	display: none
	left: 50%
	top: 0
	margin-left: -700px
	opacity: 0.5
	margin-top: 0px


/***************************************************GeneralStyles************************************/
.main
	min-height: 100%		
	padding-bottom: 70px
	position: relative
.small-text
	font-family: $myr-r
	font-size: 13px
	line-height: 20px
	color: $grey-l
.gen-text
	font-family: $myr-r
	font-size: 14px
	color: $grey-l
.btn-gen
	width: 203px
	height: 45px
	line-height: 45px
	text-align: center
	position: relative
	z-index: 1000
	border: 1px solid #adc570
	background-color: #b2db67	
	background: #b2db67 linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%)	
	box-shadow: inset 0px 1px 2px #fff, 0px 1px 1px rgba(0,0,0,0.2)
	font-family: $myr-b
	font-size: 14px
	text-transform: uppercase
	color: #54770f
	text-shadow: 1px 1px rgba(255,255,255,0.8)
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
.btn-gen:visited, .btn-gen:active, .btn-gen:focus
	color: #54770f
.btn-gen:hover	
	color: #54770f
	text-shadow: none
	box-shadow: none
.green-link:visited, .green-link:focus, .green-link:active
	color: $dark
.green-link:hover
	color: $green
	cursor: pointer
.header-gen
	font-family: $myr-r
	font-size: 18px	
	line-height: 18px
	color: $dark
.main-subpage
	.header-gen
		line-height: 90px
		margin: 0px
.fix-right-padding
	padding-right: 0px
.fix-padding
	padding: 0px
.section-header
	position: relative
	p
		background-color: #fff
		position: relative
		z-index: 100
		display: inline
		padding-right: 20px
.header-lines
	width: 100%
	position: absolute
	top: 0px
	left: 0px	
	hr
		width: 100%
		height: 1px
		background-color: #e7e6e6
		margin: 7px 0px -2px 0px
.row-flex
    display: flex
    flex-flow: row wrap
.green-circle
	background-image: url(../img/green-circle.png)
	background-repeat: no-repeat
	background-position: left center
.main-subpage
	width: 100%
	height: 90px
	border-bottom: 1px solid $grey
	box-shadow: inset 0 60px 60px -60px rgba(21, 21, 21, 0.25), inset 0 -70px 60px -60px rgba(21, 21, 21, 0.25)
.dropdown-list
	position: relative
.dropdown-list_menu
	position: absolute
	width: 125px	
	top: 48px
	margin-left: -20px	
	background-color: #fff
	z-index: 10
	height: auto
	overflow: hidden	
	display: none
	padding: 0px 10px
	box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.5), 26px 21px 13px -21px rgba(0,0,0,0.2), -26px 21px 13px -21px rgba(0,0,0,0.2)
	a
		display: block		
		font-family: $myr-r
		font-size: 12px
		line-height: 13px
		color: $dark
		background-image: url('../img/arr-green.png')
		background-repeat: no-repeat
		background-position: left top 14px
		padding-left: 10px			
		padding-bottom: 10px
		padding-top: 10px
		margin-left: -10px
	li
		border-bottom: 1px solid #dedede
		margin-left: 10px
.dropdown-list_menu li:nth-child(1)	
	margin-top: 40px
.hidden
	display: none


/***************************************************Header*******************************************/
header
	width: 100%
	height: 195px
	border-bottom: 1px solid $grey
.logo
	margin-top: 39px
.email
	background-image: url('../img/mail.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 37px
	float: right
	margin-top: 66px	
.mail_link
	font-family: $myr-r
	font-size: 16px
	color: $dark
.main-menu	
	position: relative
	float: right
	margin-top: 27px
	margin-right: -16px
.main-menu_list
	display: inline-block
	position: relative
	padding: 29px 16px 0px 16px
.menu_list-decor
	width: 52px
	height: 0px
	background-color: $green
	position: absolute
	top: 0px
	left: 50%
	margin-left: -26px
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
.active-menu .menu_list-decor
	height: 10px!important
.main-menu_link
	font-family: $myr-r
	font-size: 16px
	color: $dark
.slider-image
	margin-top: 75px
	margin-left: -86px


/***************************************************Main-Slider*******************************************/
.top-slider
	width: 100%
	height: 434px
	border-bottom: 1px solid $grey
	h1
		font-family: $myr-r
		font-size: 40px
		line-height: 40px
		color: $dark
.slide
	width: 100%!important
	height: 434px
	position: relative
	background: -moz-linear-gradient(left, rgba(199,231,243,1) 0%, rgba(255,255,255,0) 100%)
	background: -webkit-linear-gradient(left, rgba(199,231,243,1) 0%,rgba(255,255,255,0) 100%)
	background: linear-gradient(to right, rgba(199,231,243,1) 0%,rgba(255,255,255,0) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e7f3', endColorstr='#00ffffff',GradientType=1 )
	box-shadow: inset 0 60px 60px -60px rgba(21, 21, 21, 0.25), inset 0 -70px 60px -60px rgba(21, 21, 21, 0.25)
.decor-lines
	width: 100%
	height: 296px	
	position: absolute
	top: 120px
	left: 0px
	z-index: 100
	img
		width: 100%
		height: 296px
.decor-dots
	position: absolute
	top: 0px
	right: 15px	
.slider-header_desc
	font-family: $myr-r
	font-size: 20px
	color: $dark
	opacity: 0.7
.top-slider
	.slick-prev
		width: 64px
		height: 64px
		background-color: rgba(127,127,127,0.25)		
		position: absolute
		z-index: 100
		top: 50%
		margin-top: -32px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
		background-image: url('../img/prev.png')
		background-repeat: no-repeat
		background-position: center center
	.slick-prev:hover, .slick-next:hover
		background-color: rgba(127,127,127,1)
	.slick-next
		width: 64px
		height: 64px
		background-color: rgba(127,127,127,0.25)		
		position: absolute
		z-index: 100
		top: 50%
		margin-top: -32px
		right: 0px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
		background-image: url('../img/next.png')
		background-repeat: no-repeat
		background-position: center center
.slider-content
	margin-top: 139px
.btn-slider
	margin-top: 21px

/***************************************************Main-Goods*******************************************/
.main-goods
	width: 100%
	height: auto
	padding: 44px 0px 60px 0px
.goods-header	
	background-image: url(../img/circle.png)
	background-repeat: no-repeat
	background-position: left top
	padding-left: 47px
	padding-top: 8px
	line-height: 23px	
	padding-bottom: 6px	
	margin-bottom: 5px
.goods-more
	font-family: $myr-r
	font-size: 12px
	color: $dark	
	display: block
	position: absolute
	bottom: 23px
	right: 13px
.goods-block
	position: relative
	padding-bottom: 20px
	height: 100%	
	p
		margin-top: 10px
		padding: 1px 0px
		margin: 0px


/***************************************************Main-News*******************************************/
.main-news
	padding: 42px 0px
.news-image
	width: 100%
	height: auto	
	img
		width: 100%
		height: 100%
.news-header
	font-family: $myr-b
	font-size: 16px
	line-height: 19px
	color: $grey-l
	padding-left: 30px
	margin-top: -4px
	margin-bottom: 17px
.news-content
	padding-left: 12px
	.green-circle
		background-position: left top 3px
.news-text
	padding-left: 28px
	line-height: 20px
.news-block
	margin-top: 20px
	margin-bottom: 5px


/***************************************************Partners*******************************************/
.partners
	padding: 29px 0px 68px 0px
.partners-slider
	width: 100%
	height: 102px
	margin-top: 20px
	.slick-list
		width: 90%				
		margin: 0 auto	
	.slick-prev
		width: 30px
		height: 30px
		background-color: rgba(127,127,127,0.25)		
		position: absolute
		z-index: 100
		top: 50%
		margin-top: -15px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
		background-image: url('../img/prev.png')
		background-repeat: no-repeat
		background-position: center center
		background-size: 7px 11px
	.slick-prev:hover, .slick-next:hover
		background-color: rgba(127,127,127,1)
	.slick-next
		width: 30px
		height: 30px
		background-color: rgba(127,127,127,0.25)		
		position: absolute
		z-index: 100
		top: 50%
		margin-top: -15px
		right: 0px
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
		background-image: url('../img/next.png')
		background-size: 7px 11px
		background-repeat: no-repeat
		background-position: center center
.partners-slide
	height: 102px
	position: relative
	img		
		position: absolute
		top: 50%		
		left: 50%
		transform: translateX(-50%) translateY(-50%)


/***************************************************Footer*******************************************/
footer
	width: 100%
	height: 70px
	position: absolute
	bottom: 0px
	background-color: $dark
	border-top: 10px solid #e9eaee
.copy
	font-family: $myr-r
	font-size: 12px
	color: #8c8989
	line-height: 55px
	margin: 0px
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7)



/***************************************************About*******************************************/
.about
	padding-bottom: 60px
.about-block
	width: 100%
	height: 100%
	margin-top: 55px
.about-content-wrapper
	margin-top: 14px
	p
		margin-bottom: 20px
.stages_list
	background-position: left top
	margin-bottom: 22px
	span
		padding-left: 23px
		font-family: $myr-b
		font-size: 13px
		color: $dark
	p
		margin-top: 2px
.about-block-right
	margin-left: -39px
.sol-offer
	margin-top: 46px
.offer-wrapper
	margin-top: 11px
	padding-left: 14px
	p
		margin-bottom: 20px
.stages-wrapper
	margin-top: 52px
.stages
	margin-top: 12px

/***************************************************Contacts*******************************************/
.contacts
	padding: 53px 0px 100px 0px
	.fix-lines
		padding-right: 51px
.contacts-form-wrapper
	margin-top: 10px
	p
		padding-right: 50px	
#contacts-form
	margin-top: 56px
	padding-right: 20px
	input		
		width: 214px
		height: 35px	
		margin-bottom: 10px	
		border: 1px solid #d2d2d2
		padding-left: 15px
		padding-right: 15px
		font-family: $myr-r
		font-size: 13px
		color: #000
		box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.1)
		margin-right: 13px		
	::-webkit-input-placeholder 
		font-family: $myr-r
		font-size: 13px
		color: $grey-l			
	::-moz-placeholder
		font-family: $myr-r
		font-size: 13px
		color: $grey-l			
	:-moz-placeholder 
		font-family: $myr-r
		font-size: 13px
		color: $grey-l			
	:-ms-input-placeholder      
		font-family: $myr-r
		font-size: 13px
		color: $grey-l		
	.field-full-width	
		width: 100%
		display: block
	textarea
		width: 100%
		height: 178px
		resize: none
		border: 1px solid #d2d2d2
		padding: 13px 15px
		font-family: $myr-r
		font-size: 13px
		color: #000
		box-shadow: inset 1px 1px 5px 1px rgba(0,0,0,0.1)
	.check-field
		display: block
#contacts-form input:nth-child(3)
	margin-right: 0px
.btn-form
	width: 133px
	height: 35px
	line-height: 33px
	font-size: 11px
.check-spam
	margin-top: 7px
	margin-bottom: 32px
.contacts-info
	margin-top: 7px
	p
		margin-bottom: 20px

/***************************************************Products*******************************************/
.products
	padding-top: 55px
	padding-bottom: 100px
.products-block
	width: 100%
	max-width: 320px
	.goods-block
		padding-bottom: 30px
	.goods-header
		margin-top: 27px
	.goods-more
		bottom: 12px	
		right: 0px	
.products-block_image
	width: 100%
	height: 214px
	img
		width: 100%
		height: 100%


/***************************************************SuperCon*******************************************/
.super-con
	
.subpage-header
	background-position: left center
	padding-top: 0px
	line-height: 50px!important
.super-con_image_left, .super-con_image_right
	width: 100%
	max-width: 460px
	height: 214px
	background-color: #f5f4f4
.super-con_image_left
	background-image: url(../img/super-1.png)
	background-repeat: no-repeat
	background-position: center center
.super-con_image_right
	background-image: url(../img/super-2.png)
	background-repeat: no-repeat
	background-position: center center
	float: right
.product-desc_list
	p
		font-family: $myr-r
		font-size: 18px
		color: #535353
	
/***************************************************Lattice*******************************************/
.lattice, .super-con, .diode
	padding-bottom: 100px
	.goods-header
		margin-top: 5px
		margin-bottom: 27px
		margin-left: 26px
.product-desc_list
	margin-top: 39px
.lattice-block
	width: 100%
	height: 215px
.lattice_left
	background-image: url(../img/lattice-1.jpg)
	background-repeat: no-repeat
	background-position: left center
.lattice_middle
	background-image: url(../img/lattice-2.jpg)
	background-repeat: no-repeat
	background-position: center center
.lattice_right
	background-image: url(../img/lattice-3.jpg)
	background-repeat: no-repeat
	background-position: right center



/***************************************************Diode*******************************************/
.diode-block
	width: 100%
	height: 218px
.diode_left
	background-image: url(../img/diode-1.jpg)
	background-repeat: no-repeat
	background-position: left center
.diode_middle
	background-image: url(../img/diode-2.jpg)
	background-repeat: no-repeat
	background-position: center center
.diode_right
	background-image: url(../img/diode-3.jpg)
	background-repeat: no-repeat
	background-position: right center
.table-header
	width: 100%
	height: 35px
	text-align: center
	background-color: #a2dae8
	font-family: $myr-r
	font-size: 20px
	color: #535353
	line-height: 35px
.diode, .lattice, .super-con
	table
		width: 100%
		border-collapse: collaps
	th
		font-family: $myr-b
		font-size: 18px
		color: #535353
		line-height: 35px
		border: 1px solid #e9e7e7
		padding-left: 10px		
	td 
		border: 1px solid #e9e7e7
		padding-left: 10px
		vertical-align: top
		padding-right: 5px
		p
			font-family: $myr-r
			font-size: 18px
			color: #535353
			line-height: 35px
	.green-circle
		padding-left: 25px
.table-wrapper
	margin: 35px 0px

/***********************************************ButtonMobile************************************/
.menu-toggle-button
	width: 50px
	height: 40px
	float: right
	background-color: transparent
	border-radius: 7px
	padding-top: 5px
	border: none
	text-indent: -9999px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	position: relative
	display: block
	overflow: hidden
	margin-top: 10px
	float: right
	margin-left: -17px


.menu-toggle-button span 
	display: block
	height: 2px
	background: $green
	position: absolute
	top: 15px
	left: 16px
	right: 16px
	-webkit-transition: background 0s 0.3
	-o-transition: background 0s 0.3
	transition: background 0s 0.3


.menu-toggle-button span::before, .menu-toggle-button span::after
	content: ""
	display: block
	width: 100%
	height: 2px
	background: $green
	position: absolute
	left: 0px
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s


.menu-toggle-button span::before 
	top: -5px

.menu-toggle-button span::after 
	bottom: -5px

.menu-toggle-button.is-active span
	background: none

.menu-toggle-button.is-active span::before
	top: 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	-webkit-transition-property: top, -webkit-transform
	transition-property: top, -webkit-transform
	-o-transition-property: top, transform
	transition-property: top, transform
	transition-property: top, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s
	background: $green


.menu-toggle-button.is-active span::after 
	bottom: 0
	background: $green
	-webkit-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	transform: rotate(-45deg)
	-webkit-transition-property: bottom, -webkit-transform
	transition-property: bottom, -webkit-transform
	-o-transition-property: bottom, transform
	transition-property: bottom, transform
	transition-property: bottom, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s

.menu-toggle-button:focus
	outline: none !important

