@import "bourbon/bourbon"

$back: #1C263D
$blue: #2788D2
$white: #ffffff
$light-blue: #74BEF6
$text: #545C6B
$footer: #1C263D
$yellow: #D9BE79
$gray-form: #f1f1f1
$fill-hover: #2F9FF5
$crimson: 'Crimson Pro', sans-serif


html
	width: 100%
	height: 100%
	
body
	width: 100%
	height: auto
	min-width: 320px	
	margin: 0 auto
	position: relative
	font-family: $crimson
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	background-color: #fff	
	overflow-x: hidden

	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	a
		display: inline-block
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	ul, ol
		padding: 0px
		margin: 0px
		list-style-type: none
	button
		border: none
		cursor: pointer
	hr
		border: none	

.pixel
	background: url(../images/main-pixel.jpg) no-repeat top center
	width: 1366px
	height: 12800px
	position: absolute
	z-index: 1000000
	display: none
	left: 50%
	top: 0
	margin-left: -683px
	opacity: 0.5
	margin-top: 0px


/***************************************************GeneralStyles************************************/
.gen-btn
	&__fill
		height: 38px
		line-height: 38px
		background: $blue
		font-family: $crimson
		font-weight: 400
		font-size: 16px
		color: $white
		text-align: center
		border-radius: 3px
		padding: 0px 38px
		&:hover
			background: $fill-hover
			color: $white
		&--big
			border-radius: 5px
			height: 60px
			line-height: 60px
			font-size: 18px
			padding: 0px 106px
	&--italic
		font-style: italic
	&__stroke
		width: 113px
		height: 38px
		line-height: 38px
		background: transparent
		font-family: $crimson
		font-weight: 400
		font-size: 16px
		color: $blue
		text-align: right
		padding-right: 22px
		border: 1px solid $blue
		border-radius: 3px
		position: relative
		&:hover
			background: $blue
			color: $white
			svg
				fill: #fff
		svg
			position: absolute
			top: 0px
			left: 4px
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out
			fill: $blue
.section-overlay
	width: 100%
	height: 100%
	position: absolute
	background: $back
	opacity: 0.73

.gen-text
	p
		font-family: $crimson
		font-weight: 400
		font-size: 25px
		color: $text
		line-height: 36px
	&--28
		p
			font-size: 28px
	&--22
		p
			font-size: 22px
	&--medium
		p
			font-weight: 500
			line-height: 28px
	&--white
		p
			color: $white
.section-gray
	background: #F9F9F9

/***************************************************Header************************************/
.probate-header
	width: 100%
	background: $white
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
	&__buttons
		height: 80px
		display: flex
		align-items: center
		a
			margin-left: 22px

/***************************************************Main-Banner************************************/
.main-banner
	width: 100%
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	position: relative
	&__wrap
		width: 100%
		min-height: 550px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 98px 0px 80px 0px
		p
			font-family: $crimson
			font-weight: 300
			font-size: 35px
			line-height: 44px
			color: $white
			text-align: center
			width: 70%
	.gen-btn__fill
		margin-top: 30px
.guarantee
	margin-top: 70px
	span
		font-family: $crimson
		font-weight: 500
		color: $light-blue
		font-size: 26px
	svg
		position: relative
		right: 20px

/***************************************************Single-Text************************************/
.single-text
	padding: 60px 0px 60px 0px
	h2
		font-family: $crimson
		font-weight: 300
		font-size: 50px
		color: $text
		text-align: center
		flex: 0 0 100%
		max-width: 100%
	&__wrap
		display: flex
		flex-wrap: wrap
		justify-content: center
		p
			width: 60%
			text-align: center
			margin-top: 40px


/***************************************************Main-Image************************************/
.main-image
	display: flex
	overflow: hidden
	&__block
		flex: 0 0 50%
		max-width: 50%
	&__image
		width: auto
		img
			height: 100%
			width: auto
	&__text
		display: flex
		flex-direction: column
		justify-content: center
		padding: 3vw 5vw 3vw 8vw
		min-height: 570px
		height: 38vw		
		&-wrap
			display: flex
			justify-content: flex-start
			flex-direction: column
			overflow: hidden
			p
				margin-bottom: 20px
	&--left
		.main-image__image
			display: flex
			justify-content: flex-end
		.main-image__text
			padding: 3vw 8vw 3vw 5vw
	&--short
		.main-image__text
			min-height: 416px
			height: 29vw


/***************************************************Main-Back************************************/
.main-back
	background-repeat: no-repeat
	background-position: top center
	background-size: 100% 35vw
	padding: 22vw 0px 92px 0px
	min-height: 600px
	&__wrap
		background: $white
		min-height: 404px
		padding: 103px 40px
		text-align: center
		width: 93%
		margin: 0 auto
		span
			font-family: $crimson
			font-weight: 300
			font-size: 40px
			line-height: 43px
			color: $text
			display: block
			text-align: center
			margin-bottom: 40px
			i
				font-style: normal
				color: $blue

/***************************************************Main-Back************************************/
.main-bottom
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	display: flex
	&__text
		min-height: 560px
		max-height: 39vw
		flex: 0 0 50%
		max-width: 50%
		background: $blue
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: flex-end
		padding: 100px 70px 100px 70px
		&-wrap
			display: flex
			justify-content: flex-start
			flex-direction: column
			overflow: hidden


/***************************************************Footer************************************/
.probate-footer
	width: 100%
	padding: 34px 0px
	background: $footer
	p
		font-family: $crimson
		font-weight: 400
		font-size: 14px
		line-height: 18px
		color: $text
	span
		font-family: $crimson
		font-weight: 400
		font-size: 16px
		line-height: 31px
		color: $yellow
	&__wrap
		padding: 0px 50px 0px 44px

/***************************************************Modal************************************/
.sign-form
	margin: 40px auto
	width: 90%
	max-width: 1300px
	background: #fff
	overflow: hidden
	.mfp-close
		display: none
	&__wrap
		display: flex
	&__header
		span
			font-family: $crimson
			font-weight: 300
			font-size: 40px
			line-height: 45px
			color: $text
			display: block
		span:nth-child(2)
			color: $blue
	&__back
		text-align: right
		margin-top: 30px
		span
			font-family: $crimson
			font-weight: 400
			font-size: 18px
			line-height: 31px
			color: $text
			font-style: italic
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out
			position: relative
			&:hover
				cursor: pointer
				color: $blue
				&:after
					border-color: $blue
			&:after
				content: ''
				display: block
				position: absolute
				left: -20px
				top: 3px
				width: 15px
				height: 15px
				border: solid $text
				border-width: 0 2px 2px 0
				-webkit-transform: rotate(135deg)
				-ms-transform: rotate(135deg)
				transform: rotate(135deg)
				-moz-transition: all 0.3s ease-out
				-o-transition: all 0.3s ease-out
				-webkit-transition: all 0.3s ease-out
				transition: all 0.3s ease-out

	&__form
		flex: 0 0 475px
		max-width: 475px
		background: #fff
		padding: 60px 30px	
		form
			margin-top: 40px
			padding: 0px 65px 0px 30px
			svg
				margin-bottom: 20px
			input[type="text"],
			input[type="password"]
				width: 100%
				height: 60px
				background: $gray-form
				border: 1px solid #ccc
				border-radius: 2px
				margin-bottom: 20px
				padding: 0px 20px
				color: #747B8B
				font-family: $crimson
				font-size: 18px
				-moz-transition: all 0.3s ease-out
				-o-transition: all 0.3s ease-out
				-webkit-transition: all 0.3s ease-out
				transition: all 0.3s ease-out
			::-webkit-input-placeholder 
				color: #747B8B
				font-family: $crimson
				font-size: 18px
				font-style: italic	
				opacity: 0.5	
			::-moz-placeholder
				color: #747B8B
				font-family: $crimson
				font-size: 18px
				font-style: italic
				opacity: 0.5			
			:-moz-placeholder 
				color: #747B8B
				font-family: $crimson
				font-size: 18px	
				font-style: italic
				opacity: 0.5		
			:-ms-input-placeholder      
				color: #747B8B
				font-family: $crimson
				font-size: 18px	
				font-style: italic
				opacity: 0.5
			.sign-form__button
				margin-top: 30px
				input
					width: 100%
					height: 60px
					text-align: center
					background: $blue
					font-family: $crimson
					font-weight: 400
					font-size: 16px
					color: $white
					text-align: center
					border: 1px solid $blue
					border-radius: 3px
					-moz-transition: all 0.3s ease-out
					-o-transition: all 0.3s ease-out
					-webkit-transition: all 0.3s ease-out
					transition: all 0.3s ease-out
					&:hover
						cursor: pointer
						background: $fill-hover
	&__image
		height: 770px
		max-height: 800px
		img
			height: 100%
			width: auto
.l-container
	display: inline-block
	position: relative
	padding-left: 38px	
	cursor: pointer
	font-family: $crimson
	font-size: 14px
	color: #333
	font-weight: normal	
	margin-bottom: 0px
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	font-family: $crimson
	font-size: 14px
	color: $text
	font-style: italic
.l-container a:hover
	color: $text
	border-bottom: 1px solid transparent
.l-container input
	position: absolute
	opacity: 0
	cursor: pointer
	z-index: -1
	top: 0px
	left: 0px
.checkmark
	position: absolute
	top: -4px
	left: 0px
	height: 30px
	width: 30px
	background: $gray-form
	border: 1px solid #ccc
.check-gen input:checked ~ .checkmark
	border: 1px solid #ccc
.check-gen .checkmark:after
	content: ""
	position: absolute
	display: none
.check-gen input:checked ~ .checkmark:after
	display: block
.check-gen .checkmark:after
	left: 9px
	top: 2px
	width: 11px
	height: 17px
	border: solid #ccc
	border-width: 0 2px 2px 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
.form-gen input:hover, .form-gen input:active, .form-gen input:focus, .form-gen textarea:hover, .form-gen textarea:active, .form-gen textarea:focus
	border: 1px solid $blue!important


/***********************************************ButtonMobile************************************/

.menu-toggle-button
	width: 50px
	height: 40px
	float: right
	background-color: transparent
	border-radius: 7px
	padding-top: 5px
	border: none
	text-indent: -9999px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	position: relative
	display: block
	overflow: hidden
	margin-top: 8px
	float: left
	margin-left: 25px
	z-index: 1000
	opacity: 0.8


.menu-toggle-button span
	display: block
	height: 2px
	background: $text
	position: absolute
	top: 15px
	left: 0px
	right: 0px
	width: 20px
	border-radius: 10px
	margin: auto
	-webkit-transition: background 0s 0.3
	-o-transition: background 0s 0.3
	transition: background 0s 0.3


.menu-toggle-button span::before, .menu-toggle-button span::after
	content: ""
	display: block
	width: 20px
	height: 2px
	background: $text
	position: absolute
	left: 0px
	right: 0px
	margin: auto
	border-radius: 10px
	-webkit-transition-duration: 0.3s, 1s
	-o-transition-duration: 0.3s, 1s
	transition-duration: 0.3s, 1s
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s


.menu-toggle-button span::before  
	top: -6px

.menu-toggle-button span::after
	bottom: -6px

.menu-toggle-button.is-active span
	background: none

.menu-toggle-button.is-active span::before
	top: 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	-webkit-transition-property: top, -webkit-transform
	transition-property: top, -webkit-transform
	-o-transition-property: top, transform
	transition-property: top, transform
	transition-property: top, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s
	background: $blue

.menu-toggle-button.is-active span::after 
	bottom: 0
	background: $blue
	-webkit-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	transform: rotate(-45deg)
	-webkit-transition-property: bottom, -webkit-transform
	transition-property: bottom, -webkit-transform
	-o-transition-property: bottom, transform
	transition-property: bottom, transform
	transition-property: bottom, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s

.menu-toggle-button:focus
	outline: none !important