@import "bourbon/bourbon"

$back: #1C263D
$blue: #2788D2
$white: #ffffff
$light-blue: #74BEF6
$text: #545C6B
$footer: #1C263D
$yellow: #D9BE79
$gray-form: #f1f1f1
$fill-hover: #2F9FF5
$ccc: #cccccc
$green: #20977E
$green-d: #1B6267
$red: #9A2038
$gold: #D9BE79
$green-l: #27D2D2
$h3: #1B3967
$quote: #747B8B
$gray-l: #F9F9F9
$crimson: 'Crimson Pro', sans-serif


html
	width: 100%
	height: 100%
	
body
	width: 100%
	height: auto
	min-width: 320px	
	margin: 0 auto
	position: relative
	font-family: $crimson
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	background-color: #fff	
	overflow-x: hidden

	a:hover, a:focus, a:active
		text-decoration: none
		outline: none
	input:focus, input:active
		text-decoration: none
		outline: none
	button:focus, button:active
		text-decoration: none
		outline: none
	textarea:focus, textarea:active
		text-decoration: none
		outline: none
	a
		display: inline-block
		-moz-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		-webkit-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
	ul, ol
		padding: 0px
		margin: 0px
		list-style-type: none
	button
		border: none
		cursor: pointer
	hr
		border: none	

.pixel
	background: url(../images/main-pixel.jpg) no-repeat top center
	width: 1366px
	height: 12800px
	position: absolute
	z-index: 1000000
	display: none
	left: 50%
	top: -96px
	margin-left: -768px
	opacity: 0.5
	margin-top: 0px


/***************************************************GeneralStyles************************************/
.gen-btn
	&__fill
		height: 38px
		line-height: 38px
		background: $blue
		font-family: $crimson
		font-weight: 400
		font-size: 16px
		color: $white
		text-align: center
		border-radius: 3px
		padding: 0px 38px
		&:hover
			background: $fill-hover
			color: $white
		&--big
			border-radius: 5px
			height: 60px
			line-height: 60px
			font-size: 18px
			padding: 0px 106px
	&--italic
		font-style: italic
	&__stroke
		width: 113px
		height: 38px
		line-height: 38px
		background: transparent
		font-family: $crimson
		font-weight: 400
		font-size: 16px
		color: $blue
		text-align: right
		padding-right: 22px
		border: 1px solid $blue
		border-radius: 3px
		position: relative
		&:hover
			background: $blue
			color: $white
			svg
				fill: #fff
		svg
			position: absolute
			top: 0px
			left: 4px
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out
			fill: $blue
.section-overlay
	width: 100%
	height: 100%
	position: absolute
	background: $back
	opacity: 0.73

.gen-text
	p
		font-family: $crimson
		font-weight: 400
		font-size: 25px
		color: $text
		line-height: 36px
	&--28
		p
			font-size: 28px
	&--22
		p
			font-size: 22px

	&--medium
		p
			font-weight: 500
			line-height: 28px
	&--white
		p
			color: $white
.section--gray
	background: $gray-l
	&_dark
		background: #F1F1F1
.block-white
	background: $white
	border-radius: 6px
.block-blue
	background: $blue
	padding: 20px
	border-radius: 6px
	margin-bottom: 30px
.block-locked
	margin-bottom: 30px
	border-radius: 6px
.border-block
	border: 1px solid $ccc
.italic-style
	p,
	a,
	span,
	h1,
	h2,
	h3
		font-style: italic
.line-through-style,
.text-block.line-through-style
	p,
	a,
	span
		text-decoration: line-through
		color: $ccc
.block-shadow
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16)
.locked-style
	p,
	a,
	span,
	h3
		color: $ccc!important
		border-color: $ccc!important
.locked-style.gen-icon	
	border-color: $ccc
	background: #f1f1f1
	svg
		display: inline
.container--small
	max-width: 760px!important
.section-back
	background-repeat: no-repeat
	background-position: top center
	background-size: 100% 28vw
	min-height: 500px
	padding: 50px 0px 100px 0px
.block-border__top
	border-top: 1px solid #ccc
.block__wrap
	display: flex
	margin-bottom: 30px
	border-radius: 6px

/***************************************************Header************************************/
.probate-header
	width: 100%
	background: $white
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
	&__buttons
		height: 80px
		display: flex
		align-items: center
		a
			margin-left: 22px
	&--login
		.probate-header__menu
			display: none
		.probate-header__menu.probate-header__menu--login
			display: block
		.probate-header__buttons
			justify-content: flex-end
	&--inner
		.container
			max-width: 100%
			padding-right: 0px
		.row
			margin: 0px
		.col-12
			padding: 0px
.nav__wrap__phone
	background-color: $blue
	display: flex
	flex-direction: column
	align-self: stretch
	justify-content: center
	flex: 0 0 208px
	max-width: 208px
	height: 100%
	padding-right: 30px
	align-items: flex-end
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	-webkit-transition: all 0.3s ease-out
	transition: all 0.3s ease-out
	span
		font-family: $crimson
		font-size: 11px
		font-weight: 400
		color: $white
		text-transform: uppercase
		display: block
	a
		font-family: $crimson
		font-size: 18px
		font-weight: 400
		color: $white
		&:hover
			color: $white
			opacity: 0.8
	&__link
		display: flex
		justify-content: space-between
		align-items: center	
.probate-header__menu.probate-header__menu--login
	display: none
	ul
		display: flex
		flex: 1 0 auto
		margin-right: 40px
		a
			font-family: $crimson
			font-weight: 500
			font-size: 16px
			color: $text
			&:hover
				color: $blue

/***************************************************Main-Banner************************************/
.main-banner
	width: 100%
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	position: relative
	&__wrap
		width: 100%
		min-height: 550px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 98px 0px 80px 0px
		p
			font-family: $crimson
			font-weight: 300
			font-size: 35px
			line-height: 44px
			color: $white
			text-align: center
			width: 70%
	.gen-btn__fill
		margin-top: 30px
.guarantee
	margin-top: 70px
	span
		font-family: $crimson
		font-weight: 500
		color: $light-blue
		font-size: 26px
	svg
		position: relative
		right: 20px

/***************************************************Single-Text************************************/
.single-text
	padding: 60px 0px 60px 0px
	h2
		font-family: $crimson
		font-weight: 300
		font-size: 50px
		color: $text
		text-align: center
		flex: 0 0 100%
		max-width: 100%
	&__wrap
		display: flex
		flex-wrap: wrap
		justify-content: center
		p
			width: 60%
			text-align: center
			margin-top: 40px


/***************************************************Main-Image************************************/
.main-image
	display: flex
	overflow: hidden
	&__block
		flex: 0 0 50%
		max-width: 50%
	&__image
		width: auto
		img
			height: 100%
			width: auto
	&__text
		display: flex
		flex-direction: column
		justify-content: center
		padding: 3vw 5vw 3vw 8vw
		min-height: 570px
		height: 38vw		
		&-wrap
			display: flex
			justify-content: flex-start
			flex-direction: column
			overflow: hidden
			p
				margin-bottom: 20px
	&--left
		.main-image__image
			display: flex
			justify-content: flex-end
		.main-image__text
			padding: 3vw 8vw 3vw 5vw
	&--short
		.main-image__text
			min-height: 416px
			height: 29vw


/***************************************************Main-Back************************************/
.main-back
	background-repeat: no-repeat
	background-position: top center
	background-size: 100% 35vw
	padding: 22vw 0px 92px 0px
	min-height: 600px
	&__wrap
		background: $white
		min-height: 404px
		padding: 103px 40px
		text-align: center
		width: 93%
		margin: 0 auto
		span
			font-family: $crimson
			font-weight: 300
			font-size: 40px
			line-height: 43px
			color: $text
			display: block
			text-align: center
			margin-bottom: 40px
			i
				font-style: normal
				color: $blue

/***************************************************Main-Back************************************/
.main-bottom
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	display: flex
	&__text
		min-height: 560px
		max-height: 39vw
		flex: 0 0 50%
		max-width: 50%
		background: $blue
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: flex-end
		padding: 100px 70px 100px 70px
		&-wrap
			display: flex
			justify-content: flex-start
			flex-direction: column
			overflow: hidden


/***************************************************Footer************************************/
.probate-footer
	width: 100%
	padding: 34px 0px
	background: $footer
	p
		font-family: $crimson
		font-weight: 400
		font-size: 14px
		line-height: 18px
		color: $text
	span
		font-family: $crimson
		font-weight: 400
		font-size: 16px
		line-height: 31px
		color: $yellow
	&__wrap
		padding: 0px 50px 0px 44px

/***************************************************Modal************************************/
.sign-form
	margin: 40px auto
	width: 90%
	max-width: 1300px
	background: #fff
	overflow: hidden
	.mfp-close
		display: none
	&__wrap
		display: flex
	&__header
		span
			font-family: $crimson
			font-weight: 300
			font-size: 40px
			line-height: 45px
			color: $text
			display: block
		span:nth-child(2)
			color: $blue
	&__back
		text-align: right
		margin-top: 30px
		span
			font-family: $crimson
			font-weight: 400
			font-size: 18px
			line-height: 31px
			color: $text
			font-style: italic
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out
			position: relative
			&:hover
				cursor: pointer
				color: $blue
				&:after
					border-color: $blue
			&:after
				content: ''
				display: block
				position: absolute
				left: -20px
				top: 3px
				width: 15px
				height: 15px
				border: solid $text
				border-width: 0 2px 2px 0
				-webkit-transform: rotate(135deg)
				-ms-transform: rotate(135deg)
				transform: rotate(135deg)
				-moz-transition: all 0.3s ease-out
				-o-transition: all 0.3s ease-out
				-webkit-transition: all 0.3s ease-out
				transition: all 0.3s ease-out

	&__form
		flex: 0 0 475px
		max-width: 475px
		background: #fff
		padding: 60px 30px	
		form
			margin-top: 40px
			padding: 0px 65px 0px 30px
			svg
				margin-bottom: 20px
			input[type="text"],
			input[type="password"]
				width: 100%
				height: 60px
				background: $gray-form
				border: 1px solid #ccc
				border-radius: 2px
				margin-bottom: 20px
				padding: 0px 20px
				color: #747B8B
				font-family: $crimson
				font-size: 18px
				-moz-transition: all 0.3s ease-out
				-o-transition: all 0.3s ease-out
				-webkit-transition: all 0.3s ease-out
				transition: all 0.3s ease-out
			::-webkit-input-placeholder 
				color: #747B8B
				font-family: $crimson
				font-size: 18px
				font-style: italic	
				opacity: 0.5	
			::-moz-placeholder
				color: #747B8B
				font-family: $crimson
				font-size: 18px
				font-style: italic
				opacity: 0.5			
			:-moz-placeholder 
				color: #747B8B
				font-family: $crimson
				font-size: 18px	
				font-style: italic
				opacity: 0.5		
			:-ms-input-placeholder      
				color: #747B8B
				font-family: $crimson
				font-size: 18px	
				font-style: italic
				opacity: 0.5
			.sign-form__button
				margin-top: 30px
				input
					width: 100%
					height: 60px
					text-align: center
					background: $blue
					font-family: $crimson
					font-weight: 400
					font-size: 16px
					color: $white
					text-align: center
					border: 1px solid $blue
					border-radius: 3px
					-moz-transition: all 0.3s ease-out
					-o-transition: all 0.3s ease-out
					-webkit-transition: all 0.3s ease-out
					transition: all 0.3s ease-out
					&:hover
						cursor: pointer
						background: $fill-hover
	&__image
		height: 770px
		max-height: 800px
		img
			height: 100%
			width: auto
.l-container
	display: inline-block
	position: relative
	padding-left: 38px	
	cursor: pointer
	font-family: $crimson
	font-size: 14px
	color: #333
	font-weight: normal	
	margin-bottom: 0px
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	font-family: $crimson
	font-size: 14px
	color: $text
	font-style: italic
.l-container a:hover
	color: $text
	border-bottom: 1px solid transparent
.l-container input
	position: absolute
	opacity: 0
	cursor: pointer
	z-index: -1
	top: 0px
	left: 0px
.checkmark
	position: absolute
	top: -4px
	left: 0px
	height: 30px
	width: 30px
	background: $gray-form
	border: 1px solid #ccc
.check-gen input:checked ~ .checkmark
	border: 1px solid #ccc
.check-gen .checkmark:after
	content: ""
	position: absolute
	display: none
.check-gen input:checked ~ .checkmark:after
	display: block
.check-gen .checkmark:after
	left: 9px
	top: 2px
	width: 11px
	height: 17px
	border: solid #ccc
	border-width: 0 2px 2px 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
.form-gen input:hover, .form-gen input:active, .form-gen input:focus, .form-gen textarea:hover, .form-gen textarea:active, .form-gen textarea:focus
	border: 1px solid $blue!important


/***************************************************Components************************************/
.components
	padding: 80px 0px
	img
		width: 100%
		height: auto
.container--short
	max-width: 798px	


/***************************************************Components Phase Breadcrumbs************************************/
.phase-breadcrumbs
	display: flex
	justify-content: space-between
	border-bottom: 1px solid rgba(27,57,103,0.03)
	padding: 0px 20px 0px 20px
	&--completed
		.phase-breadcrumbs__status p
			color: $green
		.phase-breadcrumbs__name span
			color: $green
			text-decoration: line-through
	&--progress
		.phase-breadcrumbs__status p
			color: $blue
		.phase-breadcrumbs__name span
			color: $blue
	&__main
		min-height: 68px
		display: flex
		align-items: center
	&__status
		border-left: 1px solid rgba(27,57,103,0.03)
		flex: 0 0 127px
		max-width: 127px
		padding-left: 6px
		padding-top: 8px
		span
			padding-left: 10px
			font-family: $crimson
			font-weight: 500
			font-size: 12px
			color: $ccc
		p
			font-family: $crimson
			font-weight: 500
			font-size: 14px
			color: $text
	&__number
		position: relative
		flex: 0 0 auto
		&:after
			content: ''
			display: block
			position: absolute
			right: -20px
			top: 3px
			width: 15px
			height: 15px
			border: solid $blue
			border-width: 0 2px 2px 0
			-webkit-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			transform: rotate(-45deg)
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out
		a
			font-family: $crimson
			font-weight: 400
			font-size: 18px
			color: $text
			font-style: italic
			&:hover
				color: $blue
	&__name
		padding: 0px 5px 0px 35px
		span
			font-family: $crimson
			font-weight: 400
			font-size: 18px
			color: $ccc
			font-style: italic
	&--withoutstatus
		padding: 40px 75px 0px 75px
		border-bottom: none
		.phase-breadcrumbs__main
			min-height: 20px

/***************************************************Components Phase Buttons************************************/
.btn-fill
	a
		font-family: $crimson
		font-weight: 400
		font-size: 18px
		font-style: italic
		color: #fff
		background: $blue
		height: 40px
		line-height: 38px
		text-align: center
		border-radius: 5px
		padding: 0px 20px
		&:hover
			background: $fill-hover
	&--stroke
		a
			border: 1px solid $blue
			background: #fff
			color: $blue
			position: relative
			padding: 0px 39px 0px 20px
			background: transparent
			&:after
				content: ''
				display: block
				position: absolute
				right: 16px
				top: 16px
				width: 10px
				height: 10px
				border: solid $blue
				border-width: 0 2px 2px 0
				-webkit-transform: rotate(-45deg)
				-ms-transform: rotate(-45deg)
				transform: rotate(-45deg)
				-moz-transition: all 0.3s ease-out
				-o-transition: all 0.3s ease-out
				-webkit-transition: all 0.3s ease-out
				transition: all 0.3s ease-out
			&:hover
				background: $blue
				color: $white
				&:after
					border-color: $white
		&--back
			a
				padding: 0px 20px 0px 40px
				&:after
					left: 16px
					-webkit-transform: rotate(135deg)
					-ms-transform: rotate(135deg)
					transform: rotate(135deg)
		&--gold
			a
				border: 1px solid $gold
				color: $gold
				padding: 0px 40px
				&:after
					display: none
				&:hover
					background: $gold
		&--green
			a
				border: 1px solid $green-d
				color: $green-d
				padding: 0px 40px
				&:after
					display: none
				&:hover
					background: $green-d

	&--wide
		a
			padding: 0px 40px
	&--max
		a
			height: 60px
			line-height: 60px
			padding: 0px 90px
	&--margin
		a
			margin-right: -60px
	&--green
		a
			background: $green-d
			&:hover
				background: $green
	&--green-l
		a
			background: $green
			&:hover
				background: $green-d
	&--locked
		a
			background: transparent
			color: $text
			&:hover
				background: #ECECEC
	&--inactive
		a
			background: $ccc
			color: $text
			pointer-events: none
			cursor: default
			&:hover
				background: $ccc
	&--completed
		a
			background: transparent
			color: $green
			&:hover
				background: #ECECEC
	&--red
		a
			background: $red
			color: $white
			&:hover
				background: $red
				color: $white
	&--gold
		a
			background: $gold
			color: $text
			&:hover
				background: $blue
				color: $white

/***********************************************Icons*******************************************/
.gen-icon
	width: 40px
	height: 40px
	border: 2px solid $text
	border-radius: 50%
	position: relative
	svg
		display: none
	&--progress
		border-color: $blue
		&:after
			content: ''
			display: block
			position: absolute
			left: 9px
			top: 12px
			width: 12px
			height: 12px
			border: solid $blue
			border-width: 0 2px 2px 0
			-webkit-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			transform: rotate(-45deg)
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out
	&--wait
		border-color: $green-l
		&:after
			content: ''
			display: block
			position: absolute
			width: 10px
			height: 2px
			background: $green-l
			top: 20px
			left: 12px
		&:before
			content: ''
			display: block
			position: absolute
			width: 2px
			height: 10px
			background: $green-l
			top: 10px
			left: 20px
	&--complete
		border-color: $green
		&:after
			content: ''
			display: block
			position: absolute
			left: 16px
			top: 11px
			width: 7px
			height: 12px
			border: solid $green
			border-width: 0 2px 2px 0
			-webkit-transform: rotate(45deg)
			-ms-transform: rotate(45deg)
			transform: rotate(45deg)
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			-webkit-transition: all 0.3s ease-out
			transition: all 0.3s ease-out


/***********************************************Headers*******************************************/
.phase-header
	margin-bottom: 26px
	h1
		font-family: $crimson
		font-weight: 600
		font-size: 35px
		color: $back		
	h2
		font-family: $crimson
		font-weight: 400
		font-size: 28px
		color: $back
	h3
		font-family: $crimson
		font-weight: 700
		font-size: 25px
		color: $h3
	h4
		font-family: $crimson
		font-weight: 500
		font-size: 22px
		color: $text


/***********************************************Text-Block*******************************************/
.text-block
	margin-bottom: 30px
	p,
	span
		font-family: $crimson
		font-weight: 400
		font-size: 22px
		line-height: 28px
		color: $text
	p
		margin-bottom: 22px
	&--big
		p
			font-size: 25px
			line-height: 36px
	&--35
		p
			font-size: 35px
			line-height: 46px

/***********************************************Lists*******************************************/
.list-gen
	margin-bottom: 30px
	span
		font-family: $crimson
		font-weight: 500
		font-size: 22px
		line-height: 28px
		color: $text
	li
		font-family: $crimson
		font-weight: 400
		font-size: 22px
		line-height: 28px
		color: $text
		padding-left: 40px
		position: relative
		margin-bottom: 21px
	&--numbers
		span
			display: block
			margin-top: 50px
			margin-bottom: 30px
			font-family: $crimson
			font-weight: 500
			font-size: 25px
			line-height: 36px
			color: $footer
		ol
			counter-reset: number
			li
				&:before
					content: counter(number, decimal) ". "
					counter-increment: number
					display: inline-block
					position: absolute
					left: 0px
					top: 0px
			ol
				counter-reset: letter
				margin-top: 28px
				li
					padding-left: 60px
					&:before
						content: counter(number, decimal) " - " counter(letter, lower-alpha) " "
						counter-increment: letter
	&--alpha
		ol
			counter-reset: number
			padding-left: 30px
			li
				padding-left: 20px
				margin-bottom: 10px
				&:before
					content: counter(number, lower-alpha) ". "
					counter-increment: number
					display: inline-block
					position: absolute
					left: 0px
					top: 0px
	&--unsorted
		li
			&:before
				content: ''
				display: block
				position: absolute
				width: 6px
				height: 6px
				border-radius: 2px
				background: $text
				left: 0px
				top: 12px
				-webkit-transform: rotate(45deg)
				-ms-transform: rotate(45deg)
				transform: rotate(45deg)

/********************************************************HR************************************/
.hr-line
	hr
		width: 100%
		height: 1px
		background: $ccc
		margin: 15px 0px

/******************************************************Quote************************************/
.quote-block
	margin-bottom: 30px
	blockquote
		font-family: $crimson
		font-weight: 400
		font-size: 18px
		line-height: 26px
		color: $quote
		font-style: italic


/**************************************************Widgets************************************/
.gen-widget
	display: flex
	padding: 25px 35px 10px 17px
	margin-bottom: 30px
	align-items: center
	&__icon
		flex: 0 0 72px
		max-width: 72px
		margin-bottom: 15px
		svg
			flex-grow: 0
	&__text
		p
			font-family: $crimson
			font-weight: 600
			font-size: 18px
			line-height: 28px
			color: $text
			margin-bottom: 15px
		a
			display: inline
			color: $blue
			&:hover
				color: $fill-hover
	&--warning
		border: 1px solid $red
		p
			color: $red
	&--success
		border: 1px solid $green
		p
			color: $green
	&--info
		border: 1px solid $ccc
		p
			color: $text
	&--caution
		border: 1px solid $gold
		p
			color: $gold


/**************************************************Widget-Image************************************/
.widget-image
	width: 100%
	padding: 23px 19px
	border: 1px solid $ccc
	margin-bottom: 30px
	border-radius: 6px
	img
		width: 100%
		height: auto
	&__header
		border-bottom: 1px solid $ccc
		margin-bottom: 18px
		span
			padding-bottom: 23px
			display: block
			font-family: $crimson
			font-weight: 400
			font-size: 18px
			color: $text
	&--wide
		width: 90vw
		margin: 0px auto
		position: relative
		right: -50%
		span
			text-align: center
		.widget-image
			position: relative
			left: -50%


/**************************************************File************************************/
.file-block
	margin-bottom: 30px
	&__header
		span
			font-family: $crimson
			font-weight: 400
			font-size: 16px
			color: $ccc
			display: block
			margin-bottom: 10px
	&__file
		padding: 10px 22px
		min-height: 44px
		display: flex
		align-items: center
		span
			display: block
			font-family: $crimson
			font-weight: 500
			font-size: 18px
			color: $blue

/**************************************************Widget-Steps************************************/
.widget-steps
	border-radius: 5px
	margin-bottom: 30px
	&__wrap
		padding: 20px 20px 0px 20px
	&__nav
		display: flex
		justify-content: space-between
		margin-bottom: 15px
		&-block
			flex: 0 0 32%
			max-width: 32%
			height: 10px
			background: $ccc
			&--green
				background: $green-d

/**************************************************Widget-Completed*********************************/
.completed-steps
	display: flex
	span,
	p
		font-family: $crimson
		font-weight: 400
		font-size: 16px
		color: $text
		margin-bottom: 0px
	&__circle
		span
			display: block
			width: 30px 
			height: 30px
			border: 2px solid $text
			border-radius: 50%
			text-align: center
			line-height: 26px
		&--green
			span
				border: 2px solid $green
				line-height: 26px
		&--fill
			span
				border: 2px solid $ccc
				background: $ccc
			&--green
				span
					border: 2px solid $green
					background: $green
					color: $white
	p
		margin: 0px 5px
	&__start
		display: flex
		align-items: center
	&__end
		display: flex
		align-items: center
	&__both
		display: flex
		align-items: center
		justify-content: space-between
		padding: 20px 0px
		.italic-style
			span
				font-family: $crimson
				font-weight: 400
				font-size: 18px
				color: $ccc
		&--top
			padding: 0px 40px 0px 75px
			margin: 20px 0px
		&--nowrap
			flex-wrap: nowrap!important
			display: flex
			.btn-fill
				flex: 0 0 auto!important
			.btn-fill:last-child
				margin-left: 20px
	&--complete
		span,
		p
			color: $green
			border-color: $green!important
	

/**************************************************Phase-Block-Header*********************************/
.phase-block__header
	margin-bottom: 30px
	h3
		font-family: $crimson
		font-weight: 400
		font-size: 26px
		color: $text
	&--blue
		h3
			color: $blue
.text-blue
	h1,
	h2,
	h3,
	p,
	span
		color: $blue!important

/**************************************************Steps-Main*********************************/
.steps-main
	display: flex
	&__left
		flex: 0 0 40px
		max-width: 40px
		position: relative
		margin-right: 35px
		.gen-icon
			position: absolute
			top: 14px
			left: 0px
			right: 0px
			margin: auto
			z-index: 10
			text-align: center
			line-height: 30px
			background: #f1f1f1
		hr
			position: absolute
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			margin: auto
			width: 1px 
			height: 100%
			background: $ccc
	&--special
		.steps-main__left
			hr
				display: none
	&__right
		flex-grow: 1
		margin-bottom: 20px
		border-radius: 6px	
	&--active	
		.steps-main__right
			border-left: 6px solid $blue
	.btn-fill
		text-align: right
	&__bottom
		margin: 20px 0px
		padding: 0px 20px
	&__bottom.block-border__top
			padding: 20px 20px 
			margin: 0px
	&--first
		.steps-main__left
			hr
				bottom: 0px
				top: 20px
				margin:  0px auto
				height: calc(100% - 20px)

	&--last
		.gen-icon
			&:after
				border-color: $ccc
		hr
			height: 30px
			margin-top: 0px
	&--congrats
		.steps-block
			background: $green
			text-align: center
			padding-bottom: 5px
			border-radius: 6px 6px 0px 0px
			span
				display: block
				font-family: $crimson
				font-weight: 400
				font-size: 26px
				color: $white
				margin: 30px 0px
			p
				font-family: $crimson
				font-weight: 400
				font-size: 22px
				line-height: 28px
				color: $white
				margin-bottom: 20px
.steps-block
	padding: 25px 20px 0px 20px	

/***********************************************Text-Block With Icon****************************************/
.steps-block-icon
	display: flex
	border-bottom: 1px solid $ccc
	padding: 20px 0px
	&:last-child
		border-bottom: none
	.gen-icon
		flex: 0 0 auto
	.text-block
		margin-left: 30px
		padding-bottom: 0px
		margin-bottom: 0px
		p
			margin-bottom: 0px

/***********************************************Phase-Complete****************************************/
.phase-complete
	display: flex
	justify-content: space-between
	border-radius: 6px
	align-items: center
	min-height: 43px	
	.steps-block-icon
		align-items: center
		border-bottom: none
		padding-right: 20px
	&--big
		border-radius: 6px
		.phase-complete
			margin-bottom: 10px
	.text-block
		margin-bottom: 0px
.phase-complete__wrap
	padding: 0px 20px
	border-radius: 6px
	margin-bottom: 30px
	&--inner
		opacity: 0.5
	&--main
		margin-bottom: 40px
		margin-left: 75px

/***********************************************Block-Special****************************************/
.block-special
	background: #1B3967
	border-radius: 6px
	h3
		color: $white
	.text-block
		span,
		p
			color: $gold
	.btn-fill
		text-align: right

/***********************************************Sub-Steps-Blue****************************************/
.steps-main__right.block-blue
	padding: 20px

/***********************************************Sub Steps Locked*********************************/
.sub-steps-locked
	border-radius: 6px
	padding: 20px 20px 0px 20px
	margin-bottom: 30px
	&__header
		display: flex
		.phase-block__header
			margin-left: 20px
			h3
				margin-bottom: 0px
	.gen-icon
		position: relative!important
		text-align: center
		line-height: 30px
		background: #f9f9f9
		flex: 0 0 auto
	.steps-main__bottom
		padding-left: 0px
		padding-right: 0px


/**************************************************Footer--Single*********************************/	
.footer-single
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 20px 0px


/**************************************************Phase-Page*********************************/
.phase-main
	overflow: hidden
	min-height: calc(100vh - 160px)
	&__top
		padding: 44px 64px 0px 75px
	&__stages
		width: 92%
		
			


/**************************************************Dashboard-Page*********************************/	
.dashboard
	&__main
		padding: 44px 0px 0px 0px
	&__header
		margin-bottom: 50px
		h1
			font-family: $crimson
			font-size: 18px
			color: #101E3D
			text-align: center
			margin-bottom: 0px
	&__next
		max-width: 577px
		margin: 0 auto
		padding-bottom: 40px
		border-bottom: 1px solid $ccc
	&__subheader
		margin-bottom: 20px
		span
			font-family: $crimson
			font-size: 18px
			font-weight: 600
			color: $h3
		&--green
			span
				color: $green
	&__progress
		margin-top: 60px
		width: 90%
		.steps-main__right
			margin-bottom: 40px
		.dashboard__subheader
			margin-left: 75px
		&-subheader
			margin-bottom: 20px
			span
				font-family: $crimson
				font-size: 18px
				font-weight: 600
				color: $h3
				opacity: 0.20
	&__complete
		max-width: 577px
		margin: 0 auto
		padding-top: 20px
		.phase-complete__wrap--main
			margin-left: 0px


/***************************************************Section-Intro************************************/
.section-intro
	padding-top: 160px
	overflow: hidden
	&__header
		margin-bottom: 60px
		h1
			font-family: $crimson
			font-weight: 400
			font-size: 35px
			color: $back
	&__wrap
		padding: 60px 80px	
	&__main
		padding-top: 40px
		.btn-fill
			text-align: right
			width: 100%


/***************************************************Block-Small************************************/
.block__small
	border-radius: 6px
	padding: 20px 20px 0px 20px
	.phase-header
		margin-bottom: 10px
	.text-block
		p
			font-size: 18px
			line-height: 25px


/***********************************************ButtonMobile****************************************/

.menu-toggle-button
	width: 50px
	height: 40px
	float: right
	background-color: transparent
	border-radius: 7px
	padding-top: 5px
	border: none
	text-indent: -9999px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	position: relative
	display: block
	overflow: hidden
	margin-top: 8px
	float: left
	margin-left: 25px
	z-index: 1000
	opacity: 0.8


.menu-toggle-button span
	display: block
	height: 2px
	background: $text
	position: absolute
	top: 15px
	left: 0px
	right: 0px
	width: 20px
	border-radius: 10px
	margin: auto
	-webkit-transition: background 0s 0.3
	-o-transition: background 0s 0.3
	transition: background 0s 0.3


.menu-toggle-button span::before, .menu-toggle-button span::after
	content: ""
	display: block
	width: 20px
	height: 2px
	background: $text
	position: absolute
	left: 0px
	right: 0px
	margin: auto
	border-radius: 10px
	-webkit-transition-duration: 0.3s, 1s
	-o-transition-duration: 0.3s, 1s
	transition-duration: 0.3s, 1s
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s


.menu-toggle-button span::before  
	top: -6px

.menu-toggle-button span::after
	bottom: -6px

.menu-toggle-button.is-active span
	background: none

.menu-toggle-button.is-active span::before
	top: 0
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	-webkit-transition-property: top, -webkit-transform
	transition-property: top, -webkit-transform
	-o-transition-property: top, transform
	transition-property: top, transform
	transition-property: top, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s
	background: $blue

.menu-toggle-button.is-active span::after 
	bottom: 0
	background: $blue
	-webkit-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	transform: rotate(-45deg)
	-webkit-transition-property: bottom, -webkit-transform
	transition-property: bottom, -webkit-transform
	-o-transition-property: bottom, transform
	transition-property: bottom, transform
	transition-property: bottom, transform, -webkit-transform
	-webkit-transition-delay: 0s, 0.3s
	-o-transition-delay: 0s, 0.3s
	transition-delay: 0s, 0.3s
	-webkit-transition-duration: 0.3s, 0.3s
	-o-transition-duration: 0.3s, 0.3s
	transition-duration: 0.3s, 0.3s

.menu-toggle-button:focus
	outline: none !important