@font-face {
    font-family: 'DS Russia Demo';
    src: url('DSRussiaDemo.woff2') format('woff2'),
        url('DSRussiaDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

