@media only screen and (min-width : 0px) and (max-width : 479px) {

	header .main-menu{
		position: absolute;		
		top: 116px;
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		margin-right: 0px;
		width: 78%;
		background-color: #fff;				
		padding: 0px;
		display: none;		
		z-index: 1000;
		box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.17)
	}

	header .col-lg-3, header .col-lg-9{
		padding: 0 15px;
	}

	.main-menu ul li{
		padding-right: 0px!important;				
	}

	header .main-menu ul{
		padding-bottom: 30px;
	}

	header .main-menu li{
		width: 100%;
		height: 50px;
		display: block;			
		text-align: center;
		padding-right: 0px;
		padding-left: 0px!important;
	}

	.main-menu a, .main-menu a:hover{
		border-bottom: none;
	}

	header .logo{
		float: left;
	}

	.menu-toggle-button{
		float: right;
		margin-top: 40px;
	}

	.nav_link{
		line-height: 50px;
	}

	.nav_link--contacts{
		padding: 0px 11px 0px 32px;			
		border-bottom: 1px solid #01a0e4!important;
	}

	.about_header_text{
		padding: 0px 20px;
	}

	.about-second{
		background-size: 100% 54%!important;
		background-repeat: no-repeat!important;
		background: linear-gradient(to right, #f7f9fa 100%, #fff 100%)
	}

	.about-block-right{
		margin-left: 0px;
		padding-top: 20px;
	}

	.first{
		background-image: none;
		background-color: #f1f1f1;
	}

	.first-content h1 i{
		font-size: 32px;
	}

	.first-content h1{
		font-size: 20px;
	}

	.complex_text{
		font-size: 21px;
	}

	.about{
		padding-bottom: 40px;
	}

	.about-list{
		min-height: 300px;
	}

	.gen-text--about{
		padding-right: 20px;
	}

	.services{
		padding-bottom: 50px;
	}

	.slider-wrapper{
		width: 100%;
		height: 100%;
		max-width: 460px;
	}

	.slider{
		width: 90%;		
	}

	.slider-block{
		width: 100%;		
	}

	.slider_avatar{
		top: 20px;
		margin-top: 0px;
		left: 50%;
		margin-left: -65px;
	}

	.stuff{
		min-height: 560px;
		padding-bottom: 120px;
	}

	.slider_content{
		margin-top: 170px;
		width: 100%;
		padding-left: 20px;
	}

	.slick-next{
		top: 110%;
		margin-right: 0px;
		right: 20px;		
	}

	.slick-prev{
		top: 110%;
		margin-left: 0px;		
		left: 20px;	
	}

	.footer-form{
		margin-left: 20px;
		padding: 20px 20px;
		text-align: center;	
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		z-index: 100;
		width: 100%;
	}

	.fix-height{
		margin-top: 20px;
	}

	.footer-marker{
		margin-left: 24px;
		margin-top: 10px;
		width: 100%;
		max-width: 380px;
		float: right;		
	}

	.footer-form .input_field, .contacts-form .input_field{
		width: 100%;
	}

	.input_email{
		margin-left: 0px;
	}

	.footer-marker-wrapper{
		width: 100%;
		height: 280px;		
	}

	.copy{
		margin-left: 0px;
	}

	footer{
		min-height: 930px;
	}

	.inner-footer{
		min-height: 450px;
	}

	.adapt-height{
		height: 300px!important;
	}

	.autsors-block{
		width: 95%;
		padding-bottom: 10px;		
		background-position: top 20px center;
	}

	.autsors-block-text{
		padding-left: 20px;
		padding-top: 120px;
	}

	.autsors-content-wrapper{
		padding-right: 20px;
	}

	.contacts-form .input_field{
		width: 100%;
		margin-left: 0px;
	}

	.contacts-form .question_input{
		max-width: 450px;
		display: block;
	}

	.contacts-form{
		max-width: 290px;
	}

	#map, .ymaps-map{
		height: 300px!important;
	}

	.footer-visible{
		top: 20px;
	}

	#map2 .ymaps-map{
		height: 260px!important;
	}

	.partners-block-image, .partners_image{		
		height: 100%;		
		position: relative;
	}

	.partners .col-lg-4{
		margin: 20px 0px;
	}

	.bottom-line{
		text-align: center;
	}

	.bottom-line li{
		display: block;
		line-height: 30px;
	}


}

@media only screen and (min-width : 480px) and (max-width : 767px) {

	header .main-menu{
		position: absolute;		
		top: 116px;
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		margin-right: 0px;
		width: 50%;
		background-color: #fff;				
		padding: 0px;
		display: none;		
		z-index: 1000;
		box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.17)
	}

	header .col-lg-3, header .col-lg-9{
		padding: 0 15px;
	}

	.main-menu ul li{
		padding-right: 0px!important;				
	}

	header .main-menu ul{
		padding-bottom: 30px;
	}

	header .main-menu li{
		width: 100%;
		height: 50px;
		display: block;			
		text-align: center;
		padding-right: 0px;
		padding-left: 0px!important;
	}

	.main-menu a, .main-menu a:hover{
		border-bottom: none;
	}

	header .logo{
		float: left;
	}

	.menu-toggle-button{
		float: right;
		margin-top: 40px;
	}

	.nav_link{
		line-height: 50px;
	}

	.nav_link--contacts{
		padding: 0px 11px 0px 32px;			
		border-bottom: 1px solid #01a0e4!important;
	}

	.first{
		background-image: none;
		background-color: #f1f1f1;
	}

	.about_header_text{
		padding: 0px 50px;
	}

	.about-second{
		background-size: 100% 54%!important;
		background-repeat: no-repeat!important;
		background: linear-gradient(to right, #f7f9fa 100%, #fff 100%)
	}

	.about-block-right{
		margin-left: 0px;
		padding-top: 20px;
	}

	.about{
		padding-bottom: 40px;
	}

	.about-list{
		min-height: 300px;
	}

	.services{
		padding-bottom: 50px;
	}

	.slider-wrapper{
		width: 100%;
		height: 100%;
		max-width: 460px;
	}

	.slider{
		width: 90%;		
	}

	.slider-block{
		width: 100%;		
	}

	.slider_avatar{
		top: 20px;
		margin-top: 0px;
		left: 50%;
		margin-left: -65px;
	}

	.stuff{
		min-height: 560px;
		padding-bottom: 120px;
	}

	.slider_content{
		margin-top: 170px;
	}

	.slick-next{
		top: 110%;
		margin-right: 0px;
		right: 20px;		
	}

	.slick-prev{
		top: 110%;
		margin-left: 0px;		
		left: 20px;	
	}

	.footer-form{
		margin-left: 20px;
		padding: 20px 20px;
		text-align: center;	
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		z-index: 100;
	}

	.fix-height{
		margin-top: 20px;
	}

	.footer-marker{
		margin-left: 24px;
		margin-top: 20px;
		width: 380px;
		float: right;
	}

	.footer-form .input_field, .contacts-form .input_field{
		width: 100%;
	}

	.input_email{
		margin-left: 0px;
	}

	.footer-marker-wrapper{
		width: 380px;
		height: 245px;
	}

	.copy{
		margin-left: 0px;
	}

	footer{
		min-height: 930px;
	}

	.inner-footer{
		min-height: 450px;
	}


	.adapt-height{
		height: 300px!important;
	}

	.autsors-block{
		width: 95%;
		padding-bottom: 10px;
	}

	.autsors-content-wrapper{
		padding-right: 20px;
	}

	.contacts-form .input_field{
		width: 208px;
		margin-right: 0px;
	}

	.contacts-form .question_input{
		max-width: 450px;
		display: block;
	}

	.contacts-form{
		max-width: 450px;
	}

	#map, .ymaps-map{
		height: 300px!important;
	}

	.footer-visible{
		top: 20px;
	}


	#map2 .ymaps-map{
		height: 260px!important;
	}

	.bottom-line{
		text-align: center;
	}

	.bottom-line li{
		display: block;
		line-height: 30px;
	}


	
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	header .main-menu{
		position: absolute;		
		top: 116px;
		right: 0px;
		margin-left: 0px;	
		margin-top: 0px;
		margin-right: -9px;
		width: 40%;
		background-color: #fff;				
		padding: 0px;
		display: none;		
		z-index: 1000;
		box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.17)
	}

	.main-menu ul li{
		padding-right: 0px!important;				
	}

	header .main-menu ul{
		padding-bottom: 30px;
	}

	header .main-menu li{
		width: 100%;
		height: 50px;
		display: block;			
		text-align: center;
		padding-right: 0px;
	}

	.main-menu a, .main-menu a:hover{
		border-bottom: none;
	}

	header .logo{
		float: left;
	}

	.menu-toggle-button{
		float: right;
		margin-top: 40px;
	}

	.nav_link{
		line-height: 50px;
	}

	.nav_link--contacts{
		padding: 0px 11px 0px 32px;			
		border-bottom: 1px solid #01a0e4!important;
	}

	.about_header_text{
		padding: 0px 50px;
	}

	.about-second{
		background-size: 100% 54%!important;
		background-repeat: no-repeat!important;
		background: linear-gradient(to right, #f7f9fa 100%, #fff 100%)
	}

	.about-block-right{
		margin-left: 0px;
		padding-top: 20px;
	}

	.about{
		padding-bottom: 40px;
	}

	.about-list{
		min-height: 300px;
	}

	.services{
		padding-bottom: 50px;
	}

	.slider-wrapper{
		width: 730px;
		height: 100%;
	}

	.slider{
		width: 700px;
		margin-left: 20px;	
	}

	.slick-next{
		margin-right: 0px;
	}

	.slick-prev{
		margin-left: 0px;
	}

	.footer-form{
		margin-left: 20px;
		padding: 20px 20px;
		text-align: center;
		width: 280px;
		height: 100%;
	}

	.footer-marker{
		margin-left: 24px;
		margin-top: 130px;
		width: 380px;
	}

	.footer-form .input_field, .contacts-form .input_field{
		width: 100%;
	}

	.input_email{
		margin-left: 0px;
	}

	.footer-marker-wrapper{
		width: 380px;
		height: 245px;
	}

	.copy{
		margin-left: 45px;
	}

	.autsors-block{
		width: 95%;
		padding-bottom: 10px;
	}

	.contacts-form .input_field{
		width: 185px;
	}

}


@media only screen and (min-width : 992px) and (max-width : 1199px) {
	
	header .col-md-9{
		padding-right: 0px;
	}

	.main-menu{
		float: right;
	}
	
	.nav_list{
		padding-right: 6px;
	}	

	.nav_link{
		font-size: 13px;
	}

	.logo_img{
		margin-left: -20px;
	}

	.about_header_text{
		padding: 0 100px;
	}

	.slider-wrapper{
		width: 930px;
		height: 100%;
	}

	.slider{
		width: 900px;
		margin-left: 20px;	
	}

	.slider-block{
		width: 430px;		
	}

	.slider_avatar{
		top: 20px;
		margin-top: 0px;
		left: 50%;
		margin-left: -65px;
	}

	.stuff{
		min-height: 560px;
	}

	.slider_content{
		margin-top: 170px;
	}

	.footer-form{
		margin-left: 20px;
	}

	.footer-marker{
		margin-left: 60px;
	}

	.about-second{
		padding-bottom: 50px;
	}

	.copy{
		margin-left: 45px;
	}

	.contacts-form .input_field{
		width: 250px;
	}

}