html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: auto;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

body a:hover, body a:focus, body a:active {
  text-decoration: none;
  outline: none;
}

body input:focus, body input:active {
  text-decoration: none;
  outline: none;
}

body button:focus, body button:active {
  text-decoration: none;
  outline: none;
}

body textarea:focus, body textarea:active {
  text-decoration: none;
  outline: none;
}

body a {
  display: inline-block;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body ul, body ol {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

body button {
  border: none;
  cursor: pointer;
}

body hr {
  border: none;
}

.pixel {
  background: url(../img/main.jpg) no-repeat top center;
  width: 1920px;
  height: 12800px;
  position: absolute;
  z-index: 1000000;
  display: none;
  left: 50%;
  top: 0;
  margin-left: -960px;
  opacity: 0.5;
  margin-top: 0px;
}

/***************************************************GeneralStyles************************************/
h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0057A3;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
}

.sub-header {
  display: block;
  font-size: 35px;
  color: #000;
  font-weight: bold;
}

/***************************************************Header******************************************/
header {
  position: relative;
  z-index: 10;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.f-right {
  text-align: right;
}

.phone {
  font-size: 18px;
  padding-left: 35px;
  color: #000;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.phone:hover {
  color: #DB1F2E;
}

.btn-feedback {
  color: #0057A3;
  font-size: 18px;
  display: inline-block;
  border-bottom: 1px dashed #0057A3;
}

.btn-feedback:hover {
  color: #0057A3;
  border-bottom: 1px dashed transparent;
}

.main-menu {
  width: 100%;
}

.main-menu li {
  line-height: 96px;
  display: inline-block;
}

.main-menu a {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  display: inline;
  border-bottom: 1px solid transparent;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.main-menu a:hover {
  color: #0057A3;
  border-bottom: 1px solid #0057A3;
}

.main-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/**************************************************Top-Banner******************************************/
.top-banner {
  width: 100%;
  height: 800px;
  background-image: url("../img/top-banner.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  top: -100px;
  overflow: hidden;
}

.logo {
  margin-top: 150px;
  margin-left: 0px;
}

.logo img {
  display: inline-block;
}

.logo .main-headers {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.logo h1 {
  text-transform: uppercase;
  font-size: 47px;
  color: #fff;
  font-weight: 700;
  margin-top: 40px;
}

.logo span {
  color: #fff;
  font-size: 36px;
}

.banner-decor {
  position: absolute;
  width: 2000px;
  height: 100%;
  background: rgba(0, 87, 163, 0.7);
  left: 65%;
  top: 100px;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.decor-text {
  display: block;
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  transform: skewX(15deg);
  margin-top: 80px;
  position: relative;
  top: 10%;
  margin-left: 30px;
}

.decor-text {
  color: #fff;
  font-size: 26px;
  line-height: 1.4;
  width: 420px;
  text-align: right;
}

.decor-text br {
  display: none;
}

/**************************************************Services******************************************/
.services {
  padding: 60px 0px 0px 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
  top: -100px;
}

.serv-back {
  width: 1920px;
  height: 893px;
  left: 50%;
  margin-left: -960px;
  top: 180px;
  position: absolute;
  background-image: url("../img/serv-back.jpg");
  background-repeat: no-repeat;
}

.services-text {
  font-size: 24px;
  line-height: 1.4;
}

.icon-block {
  width: 100%;
  height: 290px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
  margin-top: 40px;
  padding-top: 30px;
}

.icon-block svg {
  position: relative;
  z-index: 1;
}

.icon-block-desc {
  font-size: 14px;
  padding: 0px 15px;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.st0 {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon-block-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.icon-block-white {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 87, 163, 0.67);
  position: absolute;
  top: 0px;
  left: 0px;
}

.icon-block:hover {
  cursor: pointer;
}

.icon-block:hover .st0 {
  fill: white;
}

.icon-block:hover .icon-block-desc {
  color: white;
}

.icon-block:hover .icon-block-bg {
  visibility: visible;
  opacity: 1;
}

.state-block {
  width: 100%;
  height: 396px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../img/state.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  margin-top: 30px;
}

.state-block-content {
  width: 100%;
}

.state-block-content:hover {
  cursor: pointer;
}

.state-block-content:hover .state-line {
  background: #0057A3;
}

.state-block-content:hover .state-header {
  color: #0057A3;
}

.state-block-content:hover .state-desc {
  color: #0057A3;
}

.state-block-content__sec {
  text-align: right;
}

.state-line {
  position: absolute;
  width: 320px;
  height: 3px;
  background: #000;
  top: 80px;
  z-index: 10;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.state-line-right {
  right: 15px;
}

.state-header {
  font-size: 34px;
  font-weight: 700;
  margin-top: 90px;
  display: block;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.state-desc {
  font-size: 20px;
  margin-top: 30px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.forum-img {
  width: 100%;
  height: 629px;
  position: relative;
}

.forum-img img {
  width: 1000px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.sub-header__mar {
  margin-top: 40px;
  margin-bottom: 50px;
}

.forum-desc-header {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
  display: block;
}

.forum-desc-content {
  font-size: 20px;
  line-height: 1.4;
  margin-top: 40px;
}

.forum-desc {
  position: relative;
}

.forum-desc-line {
  position: absolute;
  width: 168px;
  height: 3px;
  background: #DB1F2E;
  left: -190px;
  top: 24px;
}

.sub-header__forum {
  margin-top: 105px;
  display: block;
}

/**************************************************Benefits******************************************/
.benefits {
  width: 100%;
  height: 791px;
  background-image: url("../img/benef-bg.jpg");
  background-position: center top -800px;
  background-repeat: no-repeat;
  position: relative;
  top: -100px;
}

.benefits .container {
  height: 100%;
}

.benefits h2, .benefits span {
  color: #fff;
}

.benefits .col-lg-4 {
  height: 100%;
}

.benefits .row {
  height: 100%;
}

.benefits .text-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 40px;
}

.benefits .text-center span {
  font-size: 20px;
  line-height: 1.6;
}

.benef-decor {
  position: absolute;
  width: 100%;
  height: 791px;
  background: rgba(0, 0, 0, 0.56);
}

.benefits-block {
  position: relative;
  width: 100%;
  height: 100%;
}

.benefits-block-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 380px;
  z-index: 100;
  background: #DB1F2E;
  text-align: center;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.benefits-block-content span, .benefits-block-content i {
  display: block;
  position: relative;
  z-index: 1000;
}

.benefits-block-content i {
  font-style: normal;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
}

.benefits-block-content span {
  font-size: 24px;
  padding: 0px 25px;
  margin-top: 40px;
}

.benefits-block-content {
  cursor: pointer;
}

.benefits-block-hov {
  position: absolute;
  width: 100%;
  height: 0px;
  background: #0057A3;
  bottom: 0px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.benefits-block-content:hover .benefits-block-hov {
  height: 100%;
}

.benefits-block-content__sec {
  height: 430px;
}

.benefits-block-content__sec span {
  margin-top: 90px;
}

.benefits-block-content__third {
  height: 480px;
}

.benefits-block-content__third span {
  margin-top: 140px;
}

/**************************************************Contacts******************************************/
.contacts {
  position: relative;
  top: -100px;
  padding-top: 40px;
}

.contacts span, .contacts a {
  font-size: 24px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
  padding-left: 50px;
}

.contacts span {
  line-height: 40px;
}

.contacts a:hover {
  color: #0057A3;
}

.sp-bl {
  font-weight: 700;
  width: 150px;
}

.c-phone {
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.c-mail {
  background-image: url("../img/mail.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 32px;
}

.c-adr {
  background-image: url("../img/marker.png");
  background-repeat: no-repeat;
  background-position: left 3px center;
}

#main-form {
  -moz-placeholder-color: #aaa;
  -ms-input-placeholder-color: #aaa;
}

#main-form span {
  padding-left: 0px;
}

#main-form input, #main-form button {
  width: 358px;
  height: 60px;
  font-size: 24px;
  border: 1px solid #DB1F2E;
  border-radius: 5px;
  padding: 0px 20px;
  margin-top: 30px;
}

#main-form ::-webkit-input-placeholder {
  color: #aaa;
}

#main-form ::-moz-placeholder {
  color: #aaa;
}

#main-form button {
  background: transparent;
  color: #DB1F2E;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#main-form button:hover {
  background: #DB1F2E;
  color: #fff;
}

.contacts-wrapper {
  border-bottom: 1px solid #B5B5B5;
  padding-bottom: 40px;
}

/**************************************************Footer******************************************/
footer {
  width: 100%;
  height: 120px;
  background: #0057A3;
}

footer span {
  color: #fff;
  font-size: 24px;
  line-height: 120px;
}

footer .phone {
  color: #fff;
  background-image: url("../img/phone-f.png");
  line-height: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer img {
  margin-top: 20px;
}

.hidden {
  display: none;
}
