@media only screen and (min-width : 0px) and (max-width : 575px) {

	header{
		height: auto;
		padding-bottom: 20px;
	}

	header .text-right{
		text-align: left!important;
	}

	.phone-h_number_wrapper{
		background-position: left center;
		padding-left: : 40px;
	}

	.top-banner{
		height: auto;
		padding-bottom: 40px;
	}

	.top-banner{
		background-image: url(../img/education_bg.png);
		background-size: cover;
		background-color: #fff0e8;
		background-position: center center;
	}

	.banner-decor{
		display: none;
	}

	h1 br{
		display: none;
	}

	h1{
		font-size: 50px;		
	}

	.mobile-bg{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,225,0.5);
	}

	.banner-decor{
		margin-left: -680px;
	}

	#main-form button{
	 	margin-left: 0px;
		margin-top: 30px;
	 }

	.portfolio .col-md-6{
		margin-top: 30px!important;
	}

	.portfolio-block_desc span {
		font-size: 18px;
	}

	.education{
		background-color: #fff0e8;
		height: auto;
		padding-bottom: 40px;
	}

	.slider-wrapper{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.slick-slide{
		text-align: center;
	}

	.slider-wrapper .right{
		right: 0px;
	}

	.left{
		left: 0px;
	}

	.right{
		right: 0px;
	}

	.docs-slider-wrapper{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.recom-image{
		width: 100%;
		margin-bottom: 30px;
	}

	.education .gen-text{
		font-size: 16px;
	}

	.education .banner-decor{
		background-position: right 400px center;
	}

	.dark{
		padding-top: 40px;
		height: auto;
		background-size: cover;
		padding-bottom: 40px;
	}

	.dark-header{
		font-size: 33px;
	}

	.anesthesia, .best{
		height: auto;
		background-size: cover;
		padding-bottom: 40px;
	}

	.sevoran .text-right{
		text-align: left!important;
		margin-bottom: 30px;
	}

	.sevoran{
		padding-bottom: 0px;
	}

	footer .btn-gen{
		margin-top: 30px;
	}

	footer{
		padding-bottom: 40px;
	}

	footer .text-right{
		text-align: center!important;
	}

	#footer-form{
		text-align: center;
		margin-left: 0px;
	}

	#footer-form input{
		margin-right: 0px;
	}

	footer #phone-error{
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}

	footer{
		text-align: center!important;
	}

	.copy{
		margin-top: 30px;
	}

	.portfolio{
		padding-top: 0px;
	}

	.popup-gallery-docs .col-12{
		text-align: center;
		margin-bottom: 30px;
	}

	.error-h{
		font-size: 14px;
	}


}

@media only screen and (min-width : 576px) and (max-width : 767px) {

	.mobile-bg{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,225,0.5);
	}

	h1 br{
		display: none;
	}

	h1{
		font-size: 50px;
	}

	.banner-decor{
		display: none;
	}

	.phone-h_number_wrapper{
		background-position: left center;
		padding-left: : 40px;
	}

	.top-banner{
		height: auto;
		padding-bottom: 40px;
	}

	.top-banner{
		background-image: url(../img/education_bg.png);
		background-size: ;
		background-color: #fff0e8;
		background-position: right -150px top;
		background-repeat: no-repeat;
	}

	#main-form input, #main-form button{
		width: 230px;
	}


	.portfolio .col-md-6{
		margin-top: 30px!important;
	}

	.education .banner-decor{
		margin-left: -1050px;
	}

	.docs-slider-wrapper{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.docs-slider{
		width: 100%;
	}

	.docs-slider-wrapper .left{
		left: -40px
	}

	.docs-slider-wrapper .right{
		right: -40px;
	}

	.recom-image{
		width: 100%;
		margin-bottom: 30px;
	}

	.education .gen-text{
		font-size: 16px;
	}

	.education .banner-decor{
		background-position: right 400px center;
	}

	.dark{
		padding-top: 40px;
	}

	.dark-header{
		font-size: 36px;
	}

	.anesthesia, .best{
		height: auto;
		background-size: cover;
	}

	footer .btn-gen{
		margin-top: 30px;
	}

	footer{
		padding-bottom: 40px;
	}

	footer .text-right{
		text-align: center!important;
	}

	#footer-form{
		text-align: center;
		margin-left: 0px;
	}

	#footer-form input{
		margin-right: 0px;
	}

	footer #phone-error{
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}

	.right{
		right: 0px;
	}

	.popup-gallery-docs .col-12{
		text-align: center;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	h1 br{
		display: none;
	}

	h1{
		font-size: 50px;
	}

	.docs-slider-wrapper{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.docs-slider{
		width: 100%;
	}

	.docs-slider-wrapper .left{
		left: -40px
	}

	.docs-slider-wrapper .right{
		right: -40px;
	}

	.recom-image{
		width: 100%;
		margin-bottom: 30px;
	}

	.education .gen-text{
		font-size: 16px;
	}

	.education .banner-decor{
		background-position: right 400px center;
	}

	.dark{
		padding-top: 40px;
	}

	.dark-header{
		font-size: 38px;
	}

	.anesthesia{
		height: auto;
		background-size: cover;
	}

	footer .btn-gen{
		margin-top: 30px;
	}

	footer{
		padding-bottom: 40px;
	}

	.copy{
		margin-top: 30px;
	}

	.popup-gallery-docs img{
		height: 290px;
	}

	.portfolio{
		min-height: 400px;
	}





}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.dark-header{
		font-size: 46px;
	}

	.docs-slider-wrapper{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.docs-slider{
		width: 100%;
	}

	.docs-slider-wrapper .left{
		left: -40px
	}

	.docs-slider-wrapper .right{
		right: -40px;
	}

	.recom-image{
		width: 100%;
	}

	.right{
		right: -30px;
	}
}

@media only screen and (min-width : 1921px){

	.banner-decor{
		width: 2500px;
		margin-left: 0px;
		transform: translateX(-50%);
		background-position: right 357px center;
	}

	.decor-left{
		width: 53%;		
	}

	.decor-left-op{
		width: 54%;
	}

	.education .banner-decor{
		width: 2500px;
		margin-left: 0px;
		transform: translateX(-50%);
		background-position: right 450px center;
	}

	.education .decor-left{
		width: 64%;
	}

	.education .decor-left-op{
		width: 65%;
	}

	.best, .dark, .portfolio, .anesthesia{
		background-size: 100% 100%;
	}
}