@media only screen and (min-width : 0px) and (max-width : 991px) {

	.main-menu{
		display: none;
		width: 100vw;
		position: absolute;
		top: 150px;
		height: auto;
		background-color: #fff;
		left: 0px;
		z-index: 1000;
	}

	.main-menu ul{
		display: block;
		padding-top: 40px;
	}

	.main-menu a{
		color: #2765b1;
	}

	.main-menu li{
		display: block;
		text-align: center;
	}

	.main-menu .main-menu_drop{
		display: block!important;
		position: relative;
		top: 0px;
		box-shadow: none;
		width: 100vw;
	}

}


@media only screen and (min-width : 0px) and (max-width : 575px) {

	header{
		width: 100vw;
		padding-left: 15px;
		padding-right: 15px;
	}

	.logo{
		width: 100%;
		text-align: center;
	}

	.header-contacts{
		flex-direction: column;
		flex: 0 0 70%;
	}

	.back-tel{
		padding-left: 27px;	}

	.header-right{
		width: 100%;
		flex-direction: row;
		align-items: center;
		margin-top: 30px;
	}

	.header-menu{
		flex-grow: 1;
		margin-top: 0px;
	}

	.header-phone{
		margin-right: 0px;
	}

	.top-slide-content span {
	    font-family: "Proxima Nova Regular", sans-serif;
	    font-size: 32px;
	    line-height: 40px;
	    color: #fff;
	}

	.top-slide-content p{
		font-size: 18px;
	}

	.slider-gen .slick-slide{
		height: 295px;
	}

	.top-slider{
		max-width: 80%;
	}

	.top-icon-block{
		margin-left: auto;
		margin-right: auto;
	}


	.top-icon-block_content {
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.26);
	}

	.slider-service .arrows{
		top: 20%;
	}

	.services {
		padding-top: 180px;
		padding-bottom: 50px;
	}

	.section-header span{
		padding: 0px;
	}

	.section-header span {
		font-size: 18px;
	}

	.icons-gen-wrap{
		padding: 0px;
	}

	.icons-gen-block {
		flex: 0 0 100%;
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 40px;
	}

	.desc-content{
		padding-left: 0px;
		padding-top: 0px;
	}

	.desc-image{
		top: 0px;
		position: relative;
	}

	.btn-gen__desc{
		text-align: center;
	}

	.desc-image img{
		width: 100%;
		height: auto;
		max-width: 400px;
	}

	.benefits{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.benefits-block{
		padding-left: 0px;
	}

	.gen-list__benef ul{
		padding-right: 0px;
		flex: 0 0 100%;
	}

	.portfolio{
		padding-top: 20px;
	}

	.portfolio-desc{
		padding: 0px;
	}

	.list-sec{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.list-sec-left .gen-text{
		padding-right: 0px;
	}

	.list-sec-left, .list-sec-right{
		padding-left: 0px;
	}

	.list-sec-image{
		max-width: 60%;
		margin: 50px 0px;
	}

	.list-sec-right li{
		flex: 0 0 100%;
		flex-direction: column;
	}

	.list-sec-desc{
		padding-left: 0px;
		padding-right: 0px;
	}

	.form-gen-image{
		flex: 0 0 100%;
		padding: 50px 20px 0px 20px;
		height: auto;
	}

	.form-gen-image svg{
		width: 100%;
	}

	.form-gen-wrap{
		width: 100%;
		height: auto;
	}

	.form-gen{
		padding: 30px 20px;
	}

	.shot-field{
		flex-wrap: wrap;
	}

	.form-gen-image span{
		display: block;
	}

	.shot-field .field-wrap{
		flex: 0 0 100%;
		flex-wrap: wrap;
	}

	.footer-contacts-link a{
		font-size: 15px;
	}

	.footer-right{
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-right .feed-link{
		padding-left: 10px;
	}

	.footer-middle {
		padding-left: 20px;
		padding-right: 20px;
		flex: 0 0 100%;
		border-right: none;
	}

	.footer-left, .footer-right{
		flex: 0 0 100%;
		border-right: none;
		padding-left: 20px;
	}

	.footer-middle-block{
		flex: 0 0 50%;
		margin-bottom: 40px;
	}

	.partners-icons{
		width: 100%;
		padding: 0px 10px;
	}

	.partners-icons ul{
		justify-content: center;
	}

	.partners-icons ul li{
		flex: 0 0 33%;
		text-align: center;
		margin-bottom: 20px;
	}

	.icons-wrap .slider-main{
		margin: 0px;
	}

	.modal-window{
		width: 100%;
		margin-top: 50px;
	}

	.modal-window .form-gen{
		padding-top: 50px;
	}

	.inner-page header{
		height: auto;
		padding-bottom: 50px;
	}

	.inner-decor-list{
		flex: 0 0 100%;
	}

	.inner-desc-form{
		flex: 0 0 100%;
		justify-content: center;
		padding-right: 0px;
	}

	.inner-desc-form .form-gen{
		top: 0px;
		margin-top: 40px;
		width: 100%;
		padding: 30px 15px;
	}

	.inner-desc{
		padding-bottom: 50px;
	}

	.services__add {
		padding: 0px;
		height: auto;
	}

	.icons-gen-wrap__sa{
		padding: 40px 0px;
	}

	.services__add .icons-gen-block{
		flex: 0 0 100%;
		margin-bottom: 30px;
	}

	.services__add .icons-gen-block_link a{
		font-size: 15px;
		width: 90%;
	}

	.order{
		height: auto;
		padding: 40px 0px; 
	}

	.order-content{
		text-align: center;
	}

	.order-content span {
		font-size: 28px;
		line-height: 34px;
	}

	.order-content p{
		text-align: center;
		font-size: 24px;
		line-height: 33px;
		margin: 30px 0px;
	}

	.ac-wrap{
		width: 100%;
	}

	.acc-block{
		padding: 20px;
	}

	.acc-block-hidden{
		padding-left: 15px;
	}

	.acc-block span {
		font-size: 14px;
	}

	.inner-list-sec .list-sec-left{
		padding-top: 40px;
	}

	.inner-list-sec .list-sec-right{
		padding-left: 15px;
		padding-top: 40px;
	}

	.inner-list-sec .list-sec-right li{
		margin-bottom: 50px;
	}

	.icons-gen-wrap-25 .icons-gen-block{
		flex: 0 0 100%;
	}

	.checkbox-block span, .checkbox-block p{
		font-size: 13px;
	}

	.tarifs{
		padding: 50px 0px;
	}

	.scheme-wrap{
		background-image: none!important;
		padding: 0px;
	}

	.scheme-content{
		padding: 0px;
	}

	.scheme-block{
		flex: 0 0 100%;
		margin-bottom: 30px;
	}

	.tarifs-block_header p{
		margin-bottom: 10px;
		padding: 0 15px;
	}

	.tarifs-wrap{
		justify-content: center;
		padding: 0px;
	}

	.tarifs-block{
		flex: 0 0 100%;
		margin-bottom: 30px;
		max-width: 300px;
	}

	.scheme .section-header span{
		padding: 0px;
	}

	.inner-desc-list.text-20 p{
		font-size: 16px;
    	line-height: 24px;
	}

	.inner-desc-add-list .inner-decor-list{
		flex: 0 0 100%;
	}

	.add-list-header p{
		padding-right: 0px;
	}

	.inner-desc-add-list ul{
		margin-top: 30px;
	}

	.inner-desc-add-list li{
		flex-wrap: wrap;
		margin-bottom: 30px;
		flex: 0 0 100%;
		align-items: flex-start;
		flex-direction: column;
	}

	.inner-desc-add-list {
		padding-bottom: 50px;
	}

	.cost{
		padding: 80px 0px 0px 0px;
	}

	.cost-block-wrap{
		padding: 0px 0px;
		justify-content: center;
	}

	.inner-desc-add-list .inner-desc-form{
		flex: 0 0 100%;
	}

	.cost-block{
		flex: 0 0 100%;
		max-width: 350px;
	}

}

@media only screen and (min-width : 576px) and (max-width : 767px) {

		header{
		width: 100vw;
		padding-left: 15px;
		padding-right: 15px;
	}

	.logo{
		width: 100%;
		text-align: center;
	}

	.header-contacts{
		flex-direction: column;
		flex: 0 0 70%;
	}

	.back-tel{
		padding-left: 27px;	}

	.header-right{
		width: 100%;
		flex-direction: row;
		align-items: center;
		margin-top: 30px;
	}

	.header-menu{
		flex-grow: 1;
		margin-top: 0px;
	}

	.header-phone{
		margin-right: 0px;
	}

	.top-slide-content span {
	    font-family: "Proxima Nova Regular", sans-serif;
	    font-size: 32px;
	    line-height: 40px;
	    color: #fff;
	}

	.top-slide-content p{
		font-size: 18px;
	}

	.slider-gen .slick-slide{
		height: 295px;
	}

	.top-slider{
		max-width: 80%;
	}

	.top-icon-block{
		margin-left: auto;
		margin-right: auto;
	}


	.top-icon-block_content {
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.26);
	}

	.slider-service .arrows{
		top: 20%;
	}

	.services {
		padding-top: 180px;
		padding-bottom: 50px;
	}

	.section-header span{
		padding: 0px;
	}

	.section-header span {
		font-size: 18px;
	}

	.icons-gen-wrap{
		padding: 0px;
	}

	.icons-gen-block {
		flex: 0 0 100%;
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 40px;
	}

	.desc-content{
		padding-left: 0px;
		padding-top: 0px;
	}

	.desc-image{
		top: 0px;
		position: relative;
	}

	.btn-gen__desc{
		text-align: center;
	}

	.desc-image img{
		width: 100%;
		height: auto;
		max-width: 400px;
	}

	.benefits{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.benefits-block{
		padding-left: 0px;
	}

	.gen-list__benef ul{
		padding-right: 0px;
		flex: 0 0 100%;
	}

	.portfolio{
		padding-top: 20px;
	}

	.portfolio-desc{
		padding: 0px;
	}

	.list-sec{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.list-sec-left .gen-text{
		padding-right: 0px;
	}

	.list-sec-left, .list-sec-right{
		padding-left: 0px;
	}

	.list-sec-image{
		max-width: 60%;
		margin: 50px 0px;
	}

	.list-sec-right li{
		flex: 0 0 100%;
		flex-direction: column;
	}

	.list-sec-desc{
		padding-left: 0px;
		padding-right: 0px;
	}

	.form-gen-image{
		flex: 0 0 100%;
		padding: 50px 20px 0px 20px;
		height: auto;
	}

	.form-gen-image svg{
		width: 100%;
	}

	.form-gen-wrap{
		width: 100%;
		height: auto;
	}

	.form-gen{
		padding: 30px 20px;
	}

	.shot-field{
		flex-wrap: wrap;
	}

	.form-gen-image span{
		display: block;
	}

	.shot-field .field-wrap{
		flex: 0 0 100%;
		flex-wrap: wrap;
	}

	.footer-contacts-link a{
		font-size: 15px;
	}

	.footer-right{
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-right .feed-link{
		padding-left: 10px;
	}

	.footer-middle {
		padding-left: 20px;
		padding-right: 20px;
		flex: 0 0 100%;
		border-right: none;
	}

	.footer-left, .footer-right{
		flex: 0 0 100%;
		border-right: none;
		padding-left: 20px;
	}

	.footer-middle-block{
		flex: 0 0 50%;
		margin-bottom: 40px;
	}

	.partners-icons{
		width: 100%;
		padding: 0px 10px;
	}

	.partners-icons ul{
		justify-content: center;
	}

	.partners-icons ul li{
		flex: 0 0 33%;
		text-align: center;
		margin-bottom: 20px;
	}

	.icons-wrap .slider-main{
		margin: 0px;
	}

	.modal-window{
		width: 100%;
		margin-top: 50px;
	}

	.modal-window .form-gen{
		padding-top: 50px;
	}

	.inner-page header{
		height: auto;
		padding-bottom: 50px;
	}

	.inner-decor-list{
		flex: 0 0 100%;
	}

	.inner-desc-form{
		flex: 0 0 100%;
		justify-content: center;
		padding-right: 0px;
	}

	.inner-desc-form .form-gen{
		top: 0px;
		margin-top: 40px;
		width: 100%;
		padding: 30px 15px;
	}

	.inner-desc{
		padding-bottom: 50px;
	}

	.services__add {
		padding: 0px;
		height: auto;
	}

	.icons-gen-wrap__sa{
		padding: 40px 0px;
	}

	.services__add .icons-gen-block{
		flex: 0 0 100%;
		margin-bottom: 30px;
	}

	.services__add .icons-gen-block_link a{
		font-size: 15px;
		width: 90%;
	}

	.order{
		height: auto;
		padding: 40px 0px; 
	}

	.order-content{
		text-align: center;
	}

	.order-content span {
		font-size: 28px;
		line-height: 34px;
	}

	.order-content p{
		text-align: center;
		font-size: 24px;
		line-height: 33px;
		margin: 30px 0px;
	}

	.ac-wrap{
		width: 100%;
	}

	.acc-block{
		padding: 20px;
	}

	.acc-block-hidden{
		padding-left: 15px;
	}

	.acc-block span {
		font-size: 14px;
	}

	.inner-list-sec .list-sec-left{
		padding-top: 40px;
	}

	.inner-list-sec .list-sec-right{
		padding-left: 15px;
		padding-top: 40px;
	}

	.inner-list-sec .list-sec-right li{
		margin-bottom: 50px;
	}

	.icons-gen-wrap-25 .icons-gen-block{
		flex: 0 0 100%;
	}

	.tarifs{
		padding: 50px 0px;
	}

	.scheme-wrap{
		background-image: none!important;
		padding: 0px;
	}

	.scheme-content{
		padding: 0px;
	}

	.scheme-block{
		flex: 0 0 100%;
		margin-bottom: 30px;
	}

	.tarifs-block_header p{
		margin-bottom: 10px;
		padding: 0 15px;
	}

	.tarifs-wrap{
		justify-content: space-between;
		padding: 0px;
	}

	.tarifs-block{
		flex: 0 0 48%;
		margin-bottom: 30px;
		max-width: 300px;
	}

	.scheme .section-header span{
		padding: 0px;
	}

	.inner-desc-list.text-20 p{
		font-size: 16px;
    	line-height: 24px;
	}

	.inner-desc-add-list .inner-decor-list{
		flex: 0 0 100%;
	}

	.add-list-header p{
		padding-right: 0px;
	}

	.inner-desc-add-list ul{
		margin-top: 30px;
	}

	.inner-desc-add-list li{
		flex-wrap: wrap;
		margin-bottom: 30px;
		flex: 0 0 48%;
		align-items: flex-start;
		flex-direction: column;
	}

	.inner-desc-add-list {
		padding-bottom: 50px;
	}

	.cost{
		padding: 80px 0px 0px 0px;
	}

	.cost-block-wrap{
		padding: 0px 0px;
		justify-content: center;
	}

	.inner-desc-add-list .inner-desc-form{
		flex: 0 0 100%;
	}

	.cost-block{
		flex: 0 0 100%;
		max-width: 350px;
	}


}

@media only screen and (min-width : 768px) and (max-width : 991px) {

	header{
		width: 100vw;
	}

	.slider-gen .slick-slide{
		height: 295px;
	}

	.top-slider{
		max-width: 700px;
	}

	.top-icon-block{
		margin-left: auto;
		margin-right: auto;
	}

	.main-menu{
		top: 70px;
	}


	.top-icon-block_content {
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.26);
	}

	.slider-service .arrows{
		top: 20%;
	}

	.services {
		padding-top: 180px;
		padding-bottom: 100px;
	}

	.section-header span{
		padding: 0px;
	}

	.icons-gen-wrap{
		padding: 0px;
	}

	.icons-gen-block {
		flex: 0 0 32%;
	}

	.desc-content{
		padding-left: 0px;
	}

	.desc-image{
		top: 0px;
	}

	.desc-image img{
		width: 100%;
		height: auto;
	}

	.benefits-block{
		padding-left: 0px;
	}

	.gen-list__benef ul{
		padding-right: 0px;
		flex: 0 0 48%;
	}

	.portfolio-desc{
		padding: 0px;
	}

	.list-sec{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.list-sec-image{
		max-width: 40%;
		margin: 50px 0px;
	}

	.form-gen-image{
		flex: 0 0 100%;
	}

	.form-gen-wrap{
		width: 100%;
		height: auto;
	}

	.form-gen-image span{
		display: block;
	}

	.footer-contacts-link a{
		font-size: 15px;
	}

	.footer-right{
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-right .feed-link{
		padding-left: 10px;
	}

	.footer-middle {
		padding-left: 20px;
		padding-right: 20px;
		flex: 0 0 100%;
		border-right: none;
	}

	.footer-left, .footer-right{
		flex: 0 0 50%;
	}

	.partners-icons{
		width: 100%;
	}

	.inner-decor-list{
		flex: 0 0 100%;
	}

	.inner-desc-form{
		flex: 0 0 100%;
		justify-content: center;
		padding-right: 0px;
	}

	.inner-desc-form .form-gen{
		top: 0px;
		margin-top: 40px;
		
	}

	.inner-desc{
		padding-bottom: 50px;
	}

	.services__add {
		padding: 0px;
		height: auto;
	}

	.icons-gen-wrap__sa{
		padding: 40px 0px;
	}

	.services__add .icons-gen-block{
		flex: 0 0 100%;
		margin-bottom: 30px;
	}

	.order-content{
		text-align: center;
	}

	.order-content span {
		font-size: 28px;
		line-height: 34px;
	}

	.order-content p{
		text-align: center;
		font-size: 24px;
		line-height: 33px;
		margin: 30px 0px;
	}

	.ac-wrap{
		width: 100%;
	}

	.order{
		height: auto;
		padding: 40px 0px; 
	}

	.icons-gen-wrap-25 .icons-gen-block{
		flex: 0 0 49%;
		margin-bottom: 30px;
	}

	.scheme-wrap{
		background-image: none!important;
		padding: 0px;
	}

	.scheme-content{
		padding: 0px;
	}

	.tarifs-block_header p{
		margin-bottom: 10px;
		padding: 0 15px;
	}

	.tarifs-wrap{
		justify-content: space-between;
		padding: 0px;
	}

	.tarifs-block{
		flex: 0 0 45%;
		margin-bottom: 30px;
	}

	.scheme .section-header span{
		padding: 0px;
	}

	.inner-desc-list.text-20 p{
		font-size: 16px;
    	line-height: 24px;
	}

	.inner-desc-add-list .inner-decor-list{
		flex: 0 0 100%;
	}

	.add-list-header p{
		padding-right: 0px;
	}

	.inner-desc-add-list ul{
		margin-top: 30px;
	}

	.inner-desc-add-list li{
		flex-wrap: wrap;
		margin-bottom: 30px;
		flex: 0 0 49%;
		align-items: flex-start;
		flex-direction: column;
	}

	.inner-desc-add-list {
		padding-bottom: 50px;
	}

	.cost{
		padding: 80px 0px 0px 0px;
	}

	.cost-block-wrap{
		padding: 0px 0px;
	}

	.inner-desc-add-list .inner-desc-form{
		flex: 0 0 100%;
	}

	.cost-block{
		flex: 0 0 45%;
	}


}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

	.top-slider{
		max-width: 90%;
	}

	.top-icon-block_content {
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.26);
	}

	.slider-gen .slick-slide{
		height: 295px;
	}

	.top-icon-block{
		margin-left: auto;
		margin-right: auto;
	}

	.slider-service .arrows{
		top: 20%;
	}

	.icons-gen-wrap{
		padding: 0px;
	}

	.desc-content{
		padding-left: 0px;
	}

	.desc-image img{
		width: 100%;
		height: auto;
	}

	.benefits-block{
		padding-left: 0px;
	}

	.gen-list__benef ul{
		padding-right: 0px;
		flex: 0 0 48%;
	}

	.portfolio-desc{
		padding: 0px;
	}

	.list-sec{
		padding-top: 50px;
	}

	.list-sec-image{
		max-width: 40%;
		margin: 50px 0px;
	}

	.form-gen-image{
		flex: 0 0 380px;
	}

	.form-gen-wrap{
		width: 100%;
	}

	.footer-contacts-link a{
		font-size: 15px;
	}

	.footer-right{
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-right .feed-link{
		padding-left: 10px;
	}

	.footer-middle {
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-middle-block {
		flex: 0 0 50%;
	}

	.footer-left{
		padding-left: 20px;
	}

	.inner-decor-list{
		flex: 0 0 49%;
		padding-right: 20px;
	}

	.inner-desc-form{
		padding-right: 0px;
	}

	.services__add .icons-gen-block_link a{
		font-size: 13px;
		width: 80%;
	}

	.icons-gen-wrap__sa{
		padding-top: 80px;
	}

	.inner-desc-wrap{
		justify-content: space-between;
		align-items: flex-start;
	}

	.inner-desc-form .form-gen{
		flex: 0 0 90%;
	}

	.services__add{
		height: auto;
		padding-bottom: 50px;
	}

	.services__add .icons-gen-block_content p{
		padding: 0 15px;
		font-size: 12px;
	}

	.order-content span {
		font-size: 30px;
	}

	.order-content p{
		text-align: center;
		font-size: 24px;
	}

	.inner-desc-list.text-20 p{
		font-size: 16px;
		line-height: 24px;
	}

	.inner-list-sec .list-sec-right{
		padding-left: 0px;
	}

	.scheme-wrap{
		background-image: none!important;
		padding: 0px;
	}

	.scheme-content{
		padding: 0px;
	}

	.tarifs-block_header p{
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 10px;
		padding: 0 15px;
	}

	.inner-desc{
		padding-bottom: 50px;
	}

	.inner-desc-add-list .inner-decor-list{
		flex: 0 0 49%;
	}

	.add-list-header p{
		padding-right: 0px;
	}

	.inner-desc-add-list ul{
		margin-top: 30px;
	}

	.inner-desc-add-list li{
		flex-wrap: wrap;
		margin-bottom: 30px;
		flex: 0 0 49%;
		align-items: flex-start;
		flex-direction: column;
	}

	.inner-desc-add-list {
		padding-bottom: 20px;
	}

	.cost{
		padding: 50px 0px 0px 0px;
	}

	.cost-block-wrap{
		padding: 0px 50px;
	}


}

@media only screen and (min-width : 1200px) and (max-width : 1439px) {
	
	.top-slider{
		max-width: 1050px;
	}

	.top-icon-block{
		width: 100%;
	}

	.top-icon-block span{
		font-size: 18px;
	}

	.icons-gen-wrap{
		padding: 0px;
	}

	.desc-content{
		padding-left: 100px;
	}

	.portfolio-desc{
		padding: 0 50px;
	}

	.list-sec{
		padding-top: 80px;
	}

	.list-sec-left .gen-text{
		padding-right: 30px;
	}

	.list-sec-desc{
		padding-right: 0px;
	}

	.form-gen-image{
		flex: 0 0 380px;
	}

	.form-gen-wrap{
		width: 90%;
	}

	.footer-contacts-link a{
		font-size: 19px;
	}

	.footer-right .feed-link{
		padding-left: 10px;
	}

	.footer-middle {
		padding-left: 20px;
		padding-right: 20px;
	}

	.slider-wrapper .arrows{
		max-width: 1150px;
	}

	.inner-desc-form{
		padding-right: 0px;
	}

	.services__add .icons-gen-block_link a{
		font-size: 15px;
		width: 80%;
	}

	.icons-gen-wrap__sa{
		padding-top: 80px;
	}

	.inner-desc-wrap{
		justify-content: space-between;
		align-items: flex-start;
	}


	.scheme-wrap{
		background-image: none!important;
	}

	.scheme-content{
		padding: 0px;
	}

	.tarifs-block_header p{
		font-size: 13px;
		padding: 0 15px;
	}

	.inner-desc-add-list .inner-decor-list{
		flex: 0 0 55%;
	}

	.inner-desc-add-list ul{
		margin-top: 30px;
	}

	.inner-desc-add-list li{
		flex-wrap: wrap;
		margin-bottom: 30px;
		flex-direction: column;
	}

	.add-list-image {
		flex: 0 0 80px;
	}

	.inner-desc-add-list {
		padding-bottom: 20px;
	}

	.cost{
		padding: 50px 0px 0px 0px;
	}

	.cost-block-wrap{
		padding: 0px 100px;
	}
	
	
}

@media only screen and (min-width : 992px) {

	.main-menu{
		display: block!important;
	}


}

@media only screen and (min-width : 1200px) {

.slider-service .arrows{
		display: none;
}



}



