body {
  min-width: 320px;
  max-width: 1920px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #fff; }
  body a:hover, body a:focus, body a:active {
    text-decoration: none;
    outline: none; }
  body input:focus, body input:active {
    text-decoration: none;
    outline: none; }
  body button:focus, body button:active {
    text-decoration: none;
    outline: none; }
  body p {
    margin: 0px; }
  body h2 {
    font-family: 'GilroyRegular', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
    color: #000;
    text-align: center;
    text-shadow: 0.5px 0 0 #000;
    letter-spacing: 5px; }
  body button {
    text-align: center; }

.button-large {
  padding: 9px 26px 9px 38px; }

.button-small {
  padding: 8px 30px 8px 36px;
  display: inline-block; }

.button-green {
  background: #72ac40;
  background: -moz-linear-gradient(#72ac40, #5c8f30, #72ac40);
  background: -webkit-linear-gradient(#72ac40, #5c8f30, #72ac40);
  background: -webkit-gradient(linear, left top, left bottom, from(#72ac40), color-stop(#5c8f30), to(#72ac40));
  background: -o-linear-gradient(#72ac40, #5c8f30, #72ac40);
  background: linear-gradient(#72ac40, #5c8f30, #72ac40);
  background-size: auto 200%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72ac40', endColorstr='#5c8f30',GradientType=0); }

.button-orange {
  background: #e06028;
  background: -moz-linear-gradient(#f9773c, #e06028, #f9773c);
  background: -webkit-linear-gradient(#f9773c, #e06028, #f9773c);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9773c), color-stop(#e06028), to(#f9773c));
  background: -o-linear-gradient(#f9773c, #e06028, #f9773c);
  background: linear-gradient(#f9773c, #e06028, #f9773c);
  background-size: auto 200%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06028', endColorstr='#f9773c',GradientType=0); }

.button-blue {
  background: #035991;
  background: -moz-linear-gradient(#006fb7, #035991, #006fb7);
  background: -webkit-linear-gradient(#006fb7, #035991, #006fb7);
  background: -webkit-gradient(linear, left top, left bottom, from(#006fb7), color-stop(#035991), to(#006fb7));
  background: -o-linear-gradient(#006fb7, #035991, #006fb7);
  background: linear-gradient(#006fb7, #035991, #006fb7);
  background-size: auto 200%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035991', endColorstr='#f9773c',GradientType=0); }

.button-gen {
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border-radius: 5px; }

.button-big-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase; }

.button-small-text {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px; }

.button-gen:hover, .button-gen:active, .button-gen:focus {
  background-position: 0 100%; }

/*************************************************************Header******************************************************/
header {
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10; }

.logo p {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 60px;
  letter-spacing: 2px; }

.feed-phone i {
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 12px; }

.navbar-default {
  background-image: none;
  background-color: transparent;
  border: none; }

.navbar-nav {
  float: right; }

.navbar-default .navbar-nav > li > a {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1px; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #99d962; }

.navbar {
  margin-bottom: 0px; }

.feed-phone {
  float: right; }
  .feed-phone i {
    float: left;
    position: relative;
    top: 10px; }
  .feed-phone a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #99d962;
    text-shadow: 0.5px 0px #99d962;
    letter-spacing: 1px; }

.feed-phone-text {
  display: inline-block;
  position: relative;
  top: 15px;
  margin-left: 10px;
  border-bottom: 1px dashed #99d962;
  float: left; }

.feed-phone-text:hover a {
  color: #69a03a; }

.feed-phone-text:hover {
  border-bottom: 1px dashed #99d962; }

/*************************************************************First******************************************************/
.first {
  width: 100%;
  height: 742px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -60px;
  padding-top: 60px;
  position: relative; }

.first-add-back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 742px;
  background-repeat: no-repeat;
  background-position: center left; }

.main-header-content {
  padding-left: 55px;
  background-repeat: no-repeat;
  background-position: top 20px right 115px; }
  .main-header-content p {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px; }

.main-header-icons {
  float: left;
  width: 35%;
  margin-top: 50px;
  margin-left: -10px; }
  .main-header-icons p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    top: 5px; }
  .main-header-icons img {
    float: left;
    margin-right: 0px;
    position: relative;
    top: -2px; }

.main-header-icons:nth-child(3) {
  width: 45%; }

.main-header {
  padding-top: 158px;
  padding-left: 55px; }
  .main-header h1 {
    font-family: 'GilroySemibold', sans-serif;
    font-size: 40px;
    line-height: 54px;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 2px 0px rgba(0, 0, 0, 0.5); }

.icons-block-two {
  margin-left: 7px; }

.icons-block-two img {
  top: -5px; }

#first-form {
  width: 340px;
  background-color: #fff;
  margin: 108px auto 0px;
  border: 4px solid #e3e3e3; }

.first-form-header {
  text-align: center;
  height: 135px;
  padding-top: 20px;
  border-bottom: 1px solid #e3e3e3; }
  .first-form-header span {
    font-family: 'GilroyBold', sans-serif;
    font-size: 28px;
    color: #000; }
  .first-form-header p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    margin-top: 10px; }

.first-form-content {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 20px;
  -moz-placeholder-color: #000;
  -moz-placeholder-letter-spacing: 1px;
  -ms-input-placeholder-color: #000;
  -ms-input-placeholder-letter-spacing: 1px; }
  .first-form-content input {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e3e3e3;
    padding: 7px 9px;
    border-radius: 5px;
    width: 220px;
    margin-top: 20px;
    -webkit-box-shadow: -1px -1px 0px 0px #e3e3e3;
    box-shadow: -1px -1px 0px 0px #e3e3e3; }
  .first-form-content ::-webkit-input-placeholder {
    color: #000;
    letter-spacing: 1px; }
  .first-form-content ::-moz-placeholder {
    color: #000;
    letter-spacing: 1px; }
  .first-form-content input:hover, .first-form-content input:active, .first-form-content input:focus {
    border: 1px solid #f97233;
    -webkit-box-shadow: -1px -1px 0px 0px #f97233;
    box-shadow: -1px -1px 0px 0px #f97233; }
  .first-form-content button {
    margin-top: 30px; }

.first-form-footer {
  padding: 20px 0px;
  text-align: center; }
  .first-form-footer p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-shadow: 0.5px 0px 0px #000;
    font-style: italic;
    color: #000;
    letter-spacing: 1px; }

/*************************************************************Audience******************************************************/
.audience {
  padding: 70px 0px 30px;
  min-height: 600px; }

.owl-carousel {
  margin-top: 92px; }

.owl-item {
  opacity: 0.5; }

.center {
  z-index: 1000;
  opacity: 1; }

.slide-bg {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: #cccccc;
  background: -moz-linear-gradient(left, #cccccc 0%, white 100%);
  background: -webkit-linear-gradient(left, #cccccc 0%, white 100%);
  background: -webkit-gradient(linear, left top, right top, from(#cccccc), to(white));
  background: -o-linear-gradient(left, #cccccc 0%, white 100%);
  background: linear-gradient(to right, #cccccc 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=1 ); }

.center .slide-bg {
  -webkit-transform: scale(1.3) !important;
  -moz-transform: scale(1.3) !important;
  -o-transform: scale(1.3) !important;
  -ms-transform: scale(1.3) !important;
  transform: scale(1.3) !important;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3); }

.slider-text {
  position: absolute;
  top: -20px;
  left: -20px;
  opacity: 0;
  z-index: 1000; }
  .slider-text h5 {
    font-family: 'GilroyBold', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #000; }
  .slider-text hr {
    width: 120px;
    height: 3px;
    border: none;
    background: #7ebc46;
    background-color: #7ebc46;
    margin: 0px 0px 20px 0px; }
  .slider-text p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-shadow: 0.2px 0 0 #000; }

.center .slider-text {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.owl-carousel .owl-stage-outer {
  overflow: visible !important; }

.owl-prev, .owl-next {
  width: 65px;
  height: 65px;
  background-image: url("../img/left-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  float: left; }

.owl-next {
  background-image: url("../img/right-arrow.png"); }

.owl-prev:hover, .owl-prev:active, .owl-prev:focus, .owl-next:hover, .owl-next:active, .owl-next:focus {
  opacity: 0.7;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.owl-nav {
  position: absolute;
  bottom: 10px;
  left: 56%; }

.slide-wrap {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: right 0; }

.center .slide-wrap {
  width: 115%;
  height: 288px; }

.owl-wrap {
  width: 100%;
  overflow: hidden; }

/*************************************************************Projects******************************************************/
.projects {
  padding-top: 40px; }

.projects-center-image {
  text-align: center;
  position: relative;
  z-index: 10;
  margin-top: 12px; }

.projects-icons-block {
  float: left;
  width: 25%;
  text-align: center;
  position: relative; }
  .projects-icons-block p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 0.2px 0 0 #000; }

.projects-icons {
  margin-top: 50px; }

.projects-icons .projects-icons-block:nth-child(1), .projects-icons .projects-icons-block:nth-child(4) {
  margin-top: -150px; }

.line img {
  position: absolute;
  z-index: -1; }

.projects-icons .projects-icons-block:nth-child(1) {
  position: relative;
  right: -90px;
  top: -50px; }

.projects-icons .projects-icons-block:nth-child(1) .line img {
  top: 0;
  right: 0px;
  margin-top: 0px;
  margin-right: -59px; }

.projects-icons .projects-icons-block:nth-child(2) {
  position: relative;
  top: -55px; }

.projects-icons .projects-icons-block:nth-child(2) .line img {
  top: 0px;
  right: 0px;
  margin-top: -48px;
  margin-right: 70px; }

.projects-icons .projects-icons-block:nth-child(3) {
  position: relative;
  top: -55px; }

.projects-icons .projects-icons-block:nth-child(3) .line img {
  top: 0;
  left: 0px;
  margin-top: -48px;
  margin-left: 60px; }

.projects-icons .projects-icons-block:nth-child(4) {
  position: relative;
  top: -50px;
  left: -90px; }

.projects-icons .projects-icons-block:nth-child(4) .line img {
  top: 0;
  left: 0px;
  margin-left: -107px;
  margin-top: -5px; }

.projects-button {
  text-align: center;
  margin-bottom: -40px; }
  .projects-button button {
    display: block;
    margin: 0 auto;
    width: 380px;
    height: 80px;
    border: none;
    padding: 21px;
    padding-left: 60px;
    border-radius: 50px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5); }
  .projects-button img {
    float: left;
    margin-right: 20px; }
  .projects-button strong {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px; }
  .projects-button p {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    position: relative;
    z-index: 10; }
  .projects-button span {
    font-family: 'PT Sans', sans-serif;
    font-size: 100px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    position: relative;
    top: -15px;
    left: 70px;
    letter-spacing: 5px; }

/*************************************************************Packets******************************************************/
.packets {
  padding: 80px 0px 100px;
  background: white;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, white 0%, gainsboro 68%);
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, gainsboro 68%);
  background: -webkit-radial-gradient(center ellipse, white 0%, gainsboro 68%);
  background: -o-radial-gradient(center ellipse, white 0%, gainsboro 68%);
  background: radial-gradient(ellipse at center, white 0%, gainsboro 68%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=1 ); }
  .packets h2 {
    margin-bottom: 160px; }
  .packets .col-lg-4 {
    padding: 0px; }

.packets-left, .packets-right {
  width: 255px;
  height: 395px;
  float: right;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border-bottom: 7px solid #f3743a;
  margin-top: 80px; }

.packets-center {
  width: 100%;
  height: 520px;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
  border-bottom: 7px solid #76b341;
  background-color: #f4f3f3; }

.packets-right {
  float: left;
  border-bottom: 7px solid #0071bb; }

.packets-left-content, .packets-right-content, .packets-center {
  padding-top: 85px; }
  .packets-left-content h3, .packets-right-content h3, .packets-center h3 {
    font-family: 'GilroyBold', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #f3743a;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px; }
  .packets-left-content strong, .packets-left-content p, .packets-right-content strong, .packets-right-content p, .packets-center strong, .packets-center p {
    text-align: left;
    padding-left: 30px;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000; }
  .packets-left-content p, .packets-right-content p, .packets-center p {
    text-shadow: 0.2px 0 0 #000;
    margin-top: 20px; }
  .packets-left-content strong, .packets-right-content strong, .packets-center strong {
    font-weight: 600; }

.packets-right-content h3 {
  color: #0071bb; }

.packets-center {
  padding-top: 122px; }
  .packets-center h3 {
    font-size: 34px;
    color: #76b341;
    padding-left: 30px;
    margin-bottom: 24px; }
  .packets-center p, .packets-center strong {
    padding-left: 40px; }

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #f3743a;
  border: 15px solid #fff;
  text-align: center;
  padding-top: 54px;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  margin: 0 auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -90px; }
  .circle strong {
    font-size: 70px;
    letter-spacing: 0px; }
  .circle i {
    font-style: normal;
    font-size: 45px; }
  .circle p {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    line-height: 20px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3.2px; }

.packets-right-icon .circle {
  background-color: #0071bb; }

.packets-center .circle {
  width: 236px;
  height: 236px;
  padding-top: 58px;
  background-color: #76b341;
  padding-left: 8px;
  top: -118px; }
  .packets-center .circle strong {
    font-size: 90px;
    padding-left: 0px;
    display: inline-block;
    color: #fff; }
  .packets-center .circle i {
    font-size: 58px; }
  .packets-center .circle p {
    font-size: 32px;
    line-height: 26px;
    letter-spacing: 5px;
    padding-left: 26px; }

.packets-left-button {
  text-align: center;
  margin-top: 70px; }

.packets-programm {
  width: 885px;
  height: 80px;
  margin: 110px auto 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2); }
  .packets-programm p {
    float: left;
    font-family: 'GilroyRegular', sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 3px;
    padding-top: 13px;
    padding-left: 30px;
    text-shadow: 0.2px 0 0 #000; }
  .packets-programm a {
    float: right;
    font-family: 'GothamProRegular', sans-serif;
    font-size: 16px;
    color: #000;
    border: 2px solid #7ebc46;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding-left: 25px;
    text-shadow: 0.2px 0 0 #000;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .packets-programm a:hover {
    background-color: #7ebc46;
    color: #000;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

.packets-programm-button {
  margin-right: 30px;
  margin-top: 16px; }

/*************************************************************Calc******************************************************/
#calc {
  padding: 65px 0px 50px; }

.calc-block {
  width: 310px;
  height: 575px;
  border: 3px solid #7ebc46;
  border-radius: 10px;
  position: relative;
  margin: 45px auto 10px; }

.calc-block-top {
  height: 65px;
  border-bottom: 3px solid #7ebc46; }
  .calc-block-top p {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    line-height: 65px;
    font-weight: 600;
    color: #7ebc46;
    text-align: center;
    letter-spacing: 2px; }

.calc-block-middle-icon {
  height: 270px;
  text-align: center;
  padding-top: 25px; }
  .calc-block-middle-icon img {
    position: absolute;
    width: 220px;
    height: 220px;
    margin: auto;
    right: 0;
    left: 0; }
  .calc-block-middle-icon strong {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px; }
  .calc-block-middle-icon p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
    text-shadow: 0.2px 0 0 #000; }
  .calc-block-middle-icon hr {
    width: 120px;
    height: 1px;
    border: none;
    background-color: #7ebc46;
    background: #7ebc46;
    margin: 5px auto 0px; }

.calc-block-middle-icon-content {
  padding-top: 65px;
  padding-left: 5px; }

.calc-block-middle-content {
  text-align: center;
  padding-top: 5px; }
  .calc-block-middle-content h5 {
    font-family: 'GilroyBold', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #7ebc46;
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 3px; }
  .calc-block-middle-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    letter-spacing: 1px;
    text-shadow: 0.2px 0 0 #000; }
  .calc-block-middle-content ul {
    list-style-type: none;
    text-align: left;
    margin-top: 28px;
    padding-left: 40px; }
    .calc-block-middle-content ul li {
      font-family: 'PT Sans', sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #000;
      letter-spacing: 1px;
      text-shadow: 0.2px 0 0 #000; }
    .calc-block-middle-content ul img {
      margin-right: 10px;
      position: relative;
      top: -1px; }

.repair ul {
  margin-top: 11px; }

.repair h5 {
  margin-bottom: 0px; }

.calc-block-button {
  text-align: center;
  margin-top: 30px; }
  .calc-block-button a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0.2px 0 0 #fff;
    padding: 10px 37px 10px 45px; }

.calc-top {
  margin-top: 50px;
  margin-left: 38px; }
  .calc-top p, .calc-top strong {
    font-family: 'GothamProRegular', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    text-shadow: 0.5px 0 0 #000;
    float: left;
    position: relative;
    letter-spacing: 2px;
    font-weight: normal; }
  .calc-top strong {
    position: relative;
    top: 5px; }
  .calc-top input {
    width: 240px;
    height: 45px;
    float: left;
    font-family: 'GothamProRegular', sans-serif;
    font-size: 24px;
    text-shadow: 0.5px 0 0 #000;
    color: #000;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 0px 15px 0px 90px;
    padding: 0 10px; }

#slider-range-min {
  margin-top: 28px;
  margin-left: 300px;
  width: 650px; }

.ui-slider-horizontal {
  height: 3px;
  border: none !important;
  background-color: #7ebc46; }

.ui-widget-header {
  height: 3px;
  border: none !important;
  background-color: #7ebc46; }

.ui-slider .ui-slider-handle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #7ebc46;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  top: -13px; }

.ui-slider .ui-slider-handle:hover, .ui-slider .ui-slider-handle:active, .ui-slider .ui-slider-handle:focus {
  outline: none; }

.calc-bottom-text {
  text-align: center;
  margin-top: 20px; }
  .calc-bottom-text p {
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    color: #cccccc;
    padding: 0px 150px; }

/*************************************************************Transit******************************************************/
.transit {
  width: 100%;
  height: 408px;
  padding: 70px 0px; }
  .transit h2 {
    color: #fff; }

#transit-form {
  width: 900px;
  height: 130px;
  background-color: #fff;
  border-radius: 5px;
  margin: 30px auto;
  -moz-placeholder-color: #000;
  -moz-placeholder-letter-spacing: 1px;
  -ms-input-placeholder-color: #000;
  -ms-input-placeholder-letter-spacing: 1px; }
  #transit-form input {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e3e3e3;
    padding: 7px 9px;
    border-radius: 5px;
    width: 210px;
    height: 42px;
    margin-top: 20px;
    margin-right: 15px; }
  #transit-form ::-webkit-input-placeholder {
    color: #000;
    letter-spacing: 1px; }
  #transit-form ::-moz-placeholder {
    color: #000;
    letter-spacing: 1px; }
  #transit-form input:hover, #transit-form input:active, #transit-form input:focus {
    border: 1px solid #f86319; }
  #transit-form button {
    padding: 0px 30px 0px 38px;
    line-height: 42px; }
  #transit-form hr {
    margin-bottom: 0px; }
  #transit-form p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    letter-spacing: 1px;
    font-style: italic;
    padding-left: 33px;
    padding-top: 7px; }

.transit-form-top {
  padding-left: 30px; }

/*************************************************************Desc******************************************************/
.desc-right {
  width: 370px;
  height: 430px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  margin-top: 33px;
  padding-top: 26px; }

#desc {
  background-repeat: no-repeat;
  background-position: center left;
  padding: 68px 0px 76px 0px; }
  #desc h2 {
    color: #000;
    font-family: 'GilroyBold', sans-serif;
    font-size: 26px;
    text-align: left;
    letter-spacing: 3px;
    margin-bottom: 2px; }
  #desc hr {
    width: 120px;
    height: 3px;
    border: none;
    background: #7ebc46;
    background-color: #7ebc46;
    margin: 0px 0px 28px 0px;
    text-align: left; }

.desc-text-block {
  float: left;
  width: 45%;
  margin-right: 30px; }
  .desc-text-block p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px; }

.desc-right-top-field {
  padding-left: 30px;
  padding-bottom: 5px; }
  .desc-right-top-field strong {
    font-family: 'GilroyBold', sans-serif;
    font-size: 70px;
    line-height: 70px;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: #638e42 3px 3px 0, #638e42 -3px -3px 0, #638e42 -3px 3px 0, #638e42 3px -3px 0;
    float: left;
    margin-right: 20px; }
  .desc-right-top-field p {
    font-family: 'GilroyBold', sans-serif;
    font-size: 20px;
    line-height: 70px;
    color: #fff;
    letter-spacing: 2px; }

.desc-right-top {
  padding-bottom: 10px;
  border-bottom: 1px solid #8db670; }

.desc-right-bottom ul {
  padding-left: 30px;
  list-style-type: none; }

.desc-right-bottom li {
  margin: 20px 0px; }
  .desc-right-bottom li img {
    margin-right: 10px; }
  .desc-right-bottom li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 17px;
    border-bottom: 1px solid #fff;
    display: inline-block; }
  .desc-right-bottom li a:hover {
    border-bottom: none; }

.desc-icons {
  margin-top: 40px;
  padding: 40px 20px 20px 20px; }
  .desc-icons img {
    float: left;
    margin-right: 30px; }

.desc-icon-text {
  margin-top: -10px; }
  .desc-icon-text span {
    font-family: 'GilroyBold', sans-serif;
    font-size: 24px;
    line-height: 26px;
    color: #75ab51;
    letter-spacing: 1px; }
  .desc-icon-text p {
    display: inline-block;
    width: 76%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-top: 15px; }

.desc-icons-sec {
  border-left: 1px solid #e4eedc;
  border-right: 1px solid #e4eedc; }
  .desc-icons-sec p {
    width: 72%; }

/*************************************************************Scheme******************************************************/
#scheme {
  padding: 65px 0px;
  min-height: 620px;
  background-color: #f2f1f1;
  background-repeat: no-repeat;
  background-position: top 30px right; }

.scheme-block {
  text-align: center;
  position: relative; }
  .scheme-block span {
    font-family: 'GilroyRegular', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #000;
    text-shadow: 0.2px 0 0 #000; }
  .scheme-block i {
    font-style: normal;
    font-family: 'GilroyBold', sans-serif;
    text-shadow: none;
    color: #649f36; }
  .scheme-block img {
    position: absolute;
    top: 66px;
    right: -53px; }

.scheme-block-icon {
  width: 146px;
  height: 146px;
  background-color: #7ebc46;
  border-radius: 50%;
  border: 5px solid #fff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px; }
  .scheme-block-icon p {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    padding-top: 24px; }

.scheme-block-wrap {
  margin-top: 40px; }

.scheme-button {
  text-align: center;
  margin-top: 50px; }
  .scheme-button a {
    display: inline-block; }

/*************************************************************Contacts******************************************************/
#contacts {
  width: 100%;
  height: 460px;
  position: relative; }

.contacts-block {
  width: 290px;
  height: 210px;
  background-color: #6cae3e;
  position: relative;
  padding-top: 20px;
  padding-left: 30px;
  margin-top: 60px;
  margin-left: 420px; }
  .contacts-block p, .contacts-block a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 20px; }
  .contacts-block a:hover {
    text-decoration: underline; }

.contacts-block:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -30px;
  border: 20px solid transparent;
  border-top: 20px solid #6cae3e;
  border-left: 20px solid #6cae3e; }

.map {
  position: absolute;
  width: 100%; }

/*************************************************************Footer******************************************************/
footer {
  min-height: 140px;
  background-color: #232222; }

.footer-left {
  padding-top: 25px; }
  .footer-left p, .footer-left a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-shadow: none; }
  .footer-left a {
    display: inline-block;
    margin-top: 13px;
    text-decoration: underline; }

.footer-right {
  text-align: right;
  padding-top: 20px; }
  .footer-right p {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    text-shadow: none;
    letter-spacing: 2px; }

.footer-button {
  margin-top: 20px; }
  .footer-button a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
    border: 1px solid #fff;
    padding: 10px 32px;
    border-radius: 5px; }
  .footer-button a:hover {
    text-decoration: underline; }

.hidden_form {
  min-height: 440px;
  width: 610px;
  background-color: #f7f7f7;
  text-align: center;
  margin-top: 60px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .hidden_form .row {
    margin: 0px; }
  .hidden_form .col-lg-5 {
    padding: 0px; }

.right-modal {
  padding: 20px 0;
  background-color: #f7f7f7;
  -moz-placeholder-color: #969696;
  -ms-input-placeholder-color: #969696; }
  .right-modal h5 {
    font-family: 'GilroyRegular', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    letter-spacing: 1.5px;
    margin-top: 10px;
    text-shadow: 0.5px 0 0 #000;
    padding-bottom: 20px; }
  .right-modal input {
    width: 185px;
    height: 40px;
    border: 1px solid #c1c0c0;
    border-radius: 5px;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 0px;
    color: #000; }
  .right-modal ::-webkit-input-placeholder {
    color: #969696;
    font-size: 13px; }
  .right-modal ::-moz-placeholder {
    color: #969696; }
  .right-modal input:hover, .right-modal input:active, .right-modal input:focus {
    border: 1px solid #7ebc46; }
  .right-modal i {
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #969696;
    line-height: 16px;
    margin: 0 5%;
    padding-top: 20px; }
  .right-modal button {
    padding: 9px 76px;
    margin-top: 10px; }
  .right-modal .form-modal-field {
    margin: 20px 27px; }
    .right-modal .form-modal-field span {
      float: left;
      font-family: 'GilroyBold', sans-serif;
      font-size: 13px;
      color: #000;
      position: relative;
      line-height: 40px; }
    .right-modal .form-modal-field input {
      float: right; }

.left-modal {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: #6cae3e;
  position: relative;
  z-index: 1;
  min-height: 440px;
  text-align: left;
  padding-top: 35px;
  padding-left: 20px; }
  .left-modal h6 {
    margin: 0px;
    font-family: 'GilroyRegular', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-bottom: 30px;
    letter-spacing: 2px; }
  .left-modal p, .left-modal a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    padding-bottom: 20px; }
  .left-modal a:hover {
    text-decoration: underline; }

.hidden {
  display: none; }
