body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  color: #333;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
}

h1 {
  color: #fff;
  font-size: 60px;
  line-height: 56px;
  font-family: "CleanvertisingLight", sans-serif;
  margin: 0;
}

section {
  padding: 58px 0 68px;
}
section.s-dark h2, section.s-dark h3, section.s-dark p {
  color: #fff;
}
section h2 {
  color: #003469;
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 50px;
  font-family: "CleanvertisingLight", sans-serif;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
}

.hidden {
  display: none;
}

header {
  min-height: 800px;
  background-repeat: no-repeat;
  background-image: url(/images/background2.jpg);
  background-position: top center;
  background-size: cover;
  color: #fff;
  padding-bottom: 40px;
}

.top {
  padding-top: 32px;
}

.logo {
  font-family: "RobotoBold", sans-serif;
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.logo_img {
  display: inline-block;
  width: 7%;
}
.logo_img img {
  width: 100%;
  height: auto;
}

.phone {
  text-align: right;
}

.phone .wrapper .active {
  text-decoration: underline;
}

.phone .tab_item {
  font-size: 32px;
  line-height: 35px;
  font-family: "RobotoBold", sans-serif;
}

.tab_item {
  display: none;
}

.tab_item:first-child {
  display: block;
}

.phone .wrapper .tab {
  cursor: pointer;
  font-size: 20px;
}

.top_sign {
  margin-top: 80px;
}
.top_sign h2 {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 36px;
  margin: 0;
}

.tabs_header {
  margin-top: 50px;
}
.tabs_header ul, .tabs_header li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tabs_header li {
  padding-left: 45px;
  position: relative;
  margin: 10px 0 30px;
}
.tabs_header i {
  position: absolute;
  left: 0;
  line-height: 32px;
  top: 0;
  color: #6F6A67;
}
.tabs_header .my_a {
  top: 7px;
}
.tabs_header .my_f, .tabs_header .my_d {
  top: 10px;
}
.tabs_header .tabs .tab {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 18px;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
  font-family: "RobotoBold", sans-serif;
  color: #8e8e8e;
  transition: all 0.5s ease;
}
.tabs_header .tabs .tab.active {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

.tabs_header .tab_content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px 18px;
  color: #000;
  text-transform: uppercase;
  font-family: "RobotoBold", sans-serif;
}

.tabs_button {
  text-align: right;
}

.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  padding: 0 32px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-family: "RobotoBold", sans-serif;
}
.button.btn-red {
  background-color: #9B1818;
}
.button.btn-green {
  background-color: #67bc5c;
}

.button:focus {
  outline: none !important;
}

.tabs_button a, .tabs_button a:hover, .tabs_button a:visited, .tabs_button a:active {
  text-decoration: none;
  color: #fff;
}

.tabs_button a:hover {
  background-color: #7a1414;
}

.icons {
  background-color: #7cb9ed;
  background-image: linear-gradient(#7cb9ed, #dbe8ed);
  color: #003469;
  font-family: "CleanvertisingLight", sans-serif;
  text-transform: uppercase;
  padding: 35px 0 0;
}
.icons span {
  font-size: 14px;
  display: block;
  line-height: 24px;
}
.icons strong {
  font-weight: normal;
  font-size: 24px;
  display: block;
  line-height: 24px;
}
.icons .row > div {
  margin-bottom: 35px;
}

.icon_img,
.icon_descr {
  display: inline-block;
  vertical-align: bottom;
}

.icon_img i {
  font-size: 80px;
  line-height: 60px;
  vertical-align: bottom;
}

.icons .row > div:nth-child(1) i {
  font-family: "RobotoRegular", sans-serif;
  font-style: normal;
  font-size: 70px;
  line-height: 60px;
  margin-right: 5px;
}
.icons .row > div:nth-child(2) i {
  position: relative;
  top: 7px;
  margin-right: 5px;
}
.icons .row > div:nth-child(3) i {
  position: relative;
  top: 3px;
  margin-right: 7px;
}

p strong {
  font-family: "RobotoBold", sans-serif;
  font-weight: normal;
}

.adv i {
  font-size: 100px;
  color: #981818;
  line-height: 130px;
  display: inline-block;
}
.adv h3 {
  color: #981818;
  margin: 0;
  display: inline-block;
  font-family: "RobotoRegular", sans-serif;
  font-size: 28px;
}
.adv p {
  margin-top: 5px;
  display: block;
}

.adv_item {
  margin-bottom: 10px;
}

.send {
  border: #67bc5c 5px solid;
  border-radius: 5px;
  padding: 20px 30px;
}
.send h3 {
  display: block;
  color: #000;
  text-align: center;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 22px;
}
.send span {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: #666;
}
.send input,
.send select {
  outline: none !important;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  font-family: "RobotoRegular", sans-serif;
  font-size: 18px;
  border: #d9d9d9 1px solid;
  color: #666 !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
  text-indent: 5px;
}

.button_form {
  text-align: center;
  margin: 30px 0 10px;
}

.button_form .button {
  text-decoration: none;
  color: #fff;
  outline: none !important;
}

.button_form .button:hover {
  background-color: #2ca82c;
}

.send input:focus {
  box-shadow: #67bc5c 0 0 0 2px;
  border-radius: 3px;
  border-color: #67bc5c;
}

.text_block {
  background: #353e49;
}

.text_block p {
  margin: 0;
  padding: 0;
}
.text_block h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 0;
}
.text_block span {
  display: block;
  color: #00cdea;
  text-align: center;
}

.sheme {
  padding-bottom: 0;
}
.sheme span {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 24px;
  color: #003469;
  font-weight: bold;
}

.sheme_descr {
  padding-top: 15px;
  margin-bottom: 50px;
}

.col14-md-2 {
  text-align: center;
}

.col14-md-1 {
  top: 47.5px;
  text-align: center;
}

.sheme_block {
  margin-bottom: 50px;
}

.left_img, .right_img {
  display: table-cell;
  position: relative;
}

.left_img img {
  margin: 0 -40px 0 0;
}

.right_img img {
  margin: 0 0 0 -40px;
}

.left_descr, .right_descr {
  display: table-cell;
}

.left_descr div {
  padding: 20px 20px 20px 70px;
}

.right_descr div {
  padding: 20px 70px 20px 20px;
}
.right_descr div strong {
  color: #981818;
}

.left_descr, .right_descr {
  background-color: #f6f6f6;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 18px;
}

.response {
  background-image: url(/images/second_background.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  min-height: 600px;
  background-position: top center;
  background-size: cover;
}
.response h2 {
  color: #fff;
}

.slick_content {
  color: #fff;
  font-size: 40px;
  text-align: center;
}
.slick_content img {
  margin: 0 auto;
  border-radius: 51%;
  border: #ff9d00 5px solid;
}
.slick_content span {
  font-size: 20px;
  font-style: italic;
  margin-top: 40px;
  display: block;
}
.slick_content .hr {
  width: 80px;
  height: 2px;
  background-color: #CEA380;
  margin: 10px auto;
}
.slick_content p {
  font-size: 16px;
  width: 90%;
  margin: 20px auto;
}

.resp_slick {
  width: 80%;
  left: 10%;
}

.resp_slick:focus {
  outline: none !important;
}

.slick_content:focus {
  outline: none !important;
}

.feed_header {
  text-align: center;
}
.feed_header h2 {
  margin-bottom: 30px;
}
.feed_header h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "CleanvertisingLight", sans-serif;
}

.feed_header .wrapper .active {
  text-decoration: underline;
}

.feed_header .tab_item {
  font-size: 32px;
  line-height: 35px;
  font-family: "RobotoBold", sans-serif;
  color: #981818;
}

.feed_header .wrapper .tab {
  cursor: pointer;
  font-size: 20px;
  color: #981818;
}

.feed_header .tab_content {
  margin-top: 10px;
}

#hidden_form {
  background: #fff;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.service .service_header {
  color: #fff;
  background-color: rgba(244, 192, 31, 0.7);
  text-align: center;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 30px;
  line-height: 30px;
  padding: 10px 20px;
}
.service .service_img img {
  width: 100%;
  height: auto;
}
.service .button_form {
  margin: 0;
  padding: 10px 0 40px;
}
.service .button {
  background-color: #f6f6f6;
  border: 1px #67bc5c solid;
  border-radius: 25px;
  color: #67bc5c;
}

.service_descr {
  text-align: center;
}
.service_descr span {
  background-color: #f9f9f9;
  border-bottom: #e7e7e7 1px solid;
  padding: 15px;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}
.service_descr strong {
  color: #981818;
  font-size: 26px;
  font-weight: normal;
}
.service_descr ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.service_descr li {
  padding-bottom: 15px;
}

.service_img, .service_descr, .service .button_form {
  background-color: #f6f6f6;
}

.service_block:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.service_block:hover .button {
  background-color: #2ca82c;
  color: #fff;
}
.service_block:hover .service_header {
  background-color: #f4c01f;
}

.about {
  background-image: url(/images/background3.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  min-height: 400px;
  background-position: top center;
  background-size: cover;
  padding-bottom: 48px;
}
.about h2 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 0;
}
.about h2 strong {
  font-size: 60px;
  color: #e50000;
}
.about .about_img {
  display: block;
  margin: 0 auto;
}
.about .about_descr span {
  color: #fff;
  font-size: 20px;
  display: block;
}
.about .about_descr strong {
  color: #fede2d;
  font-size: 24px;
  display: block;
  text-align: center;
  font-weight: normal;
}
.about .about_block {
  text-align: center;
  margin: 30px 0;
}

.about .col-md-4:nth-child(4) {
  margin-left: 17%;
}
