/*==========  Desktop First Method  ==========*/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 320px) and (max-width : 479px) {
	.top_sign{
		margin-top: 40px;
	}

	.logo_block{
		text-align: center;
		margin-bottom: 15px;
	}

	.logo_img{
		width: 10%;
		max-width: 36px;
	}

	.phone, .logo, .top_sign{
		text-align: center;
	}
	.top_sign h2{
		font-size: 30px;
		text-align: center;		
	}
	.tabs_header .tabs{
		font-size: 14px;
	}
	.tabs_header .tabs_button{
		text-align: center;
	}

	.icons .row > div {
		width: 100%;
	}

	.icons .row > div:nth-child(1) i{
		margin: 0 25px 0 20px;
	}

	.icons .row > div:nth-child(4) i{
		margin: 0 7px 0 0px;
	}

	.adv_item {
		width: 100%;
		text-align: center;
	}

	.adv h2{
		font-size: 40px;
	}

	.text_block p{
		font-size: 16px;
		line-height: 16px;				
	}

	.text_block span{
		font-size: 16px;
		margin: 20px 0;
	}

	.sheme_descr{
		margin-bottom: 0
	}

	.arrow img{
		transform: rotate(90deg);	
	}

	.arrow{
		margin: 30px 0;
	}

	.col14-md-1{
		top: 0;
	}

	.sheme_block{
		margin-top:50px;
		margin-bottom: 0;
	}

	.text_block{
		margin-top: 50px;
	}

	.left_descr, .right_descr{
		font-size: 14px;
	}

	#hidden_form{
		width: 100%
	}

	.service .col-xs-4{
		width: 100%;
	}

	.service_descr li{
		font-size: 16px;
	}

	.service_block {
		margin-bottom: 40px;
	}

	.about{
		padding-top: 0
	}

	.service{
		padding-bottom: 0
	}

	.about .col-xs-6{
		width: 100%;
	}

	.about h2{
		margin-top: 40px;
		font-size: 35px;
	}

	.about .col-md-4:nth-child(4){
		margin-left: 0 
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 480px) and (max-width : 767px){ 
	.phone, .logo{
		text-align: center;
	}

	.logo_block{
		text-align: center;
		margin-bottom: 15px;
	}

	.logo_img{
		width: 7%;
		max-width: 36px;
	}
	
	.top_sign h1,h2{
		text-align: center;
	}

	.icon_img {
		display: inline-block;
	}

	.icon_descr {
		display: block;
		margin-top: 10px;
	}

	.icons .row > div{
		text-align: center;
	}

	.adv {
		text-align: center;
	}

	.adv p{
		text-align: left;
	}

	.adv .row1 .col-md-8 > div:nth-child(2) h3{
		padding: 0 5px;
	}

	.adv .row1 .col-md-8 > div:nth-child(3) h3{
		padding: 0 5px;
	}

	.text_block p{
		font-size: 20px;
		line-height: 20px;				
	}

	.text_block span{
		font-size: 20px;
		margin: 20px 0;
	}

	.sheme_descr{
		margin-bottom: 0
	}

	.arrow img{
		transform: rotate(90deg);	
	}

	.arrow{
		margin: 30px 0;
	}

	.col14-md-1{
		top: 0;
	}

	.sheme_block{
		margin-top:50px;
		margin-bottom: 0;
	}

	.text_block{
		margin-top: 50px;
	}

	#hidden_form{
		width: 80%
	}

	.service_descr li{
		font-size: 12px
	}

	.service{
		padding-bottom: 0
	}

	.about .col-md-4:nth-child(4){
		margin-left: 0 
	}

	.about h2{
		font-size: 40px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px){
	
	.logo_img{
		width: 10%
	}

	.icons .row > div{
		text-align: center;
	}

	.icons strong, .icons span{
		text-align: left;
	}

	.text_block p{
		font-size: 22px;
	}

	.text_block span{
		font-size: 22px;
	}

	.col14-sm-1{
		padding: 0
	}

	.sheme .row2 > div:nth-child(1){
		margin-left: 1px;
	}

	.sheme .row2 > div:nth-child(7){
		margin-left: 1px;
	}

	.service_descr li{
		font-size: 12px
	}

} 

@media only screen and (min-width: 992px) and (max-width: 1199px){
	.icons .row > div{
		text-align: center;
	}

	.icons .icon_img {
		margin-bottom: 10px;
	}

	.adv .adv_left{
		padding-left: 2px;
	}

	.sheme span{
		font-size: 18px;
	}

	
}

@media only screen and (height: 1024px) and (width: 768px) {
	.logo {
		text-align: left;
	}

	.phone {
		text-align: right;
	}
}

@media only screen and (min-width : 480px) and (max-width : 600px) {

	.adv_item {
		width: 100%;
		text-align: center;
	}
}

@media only screen and (min-width : 480px) and (max-width : 660px) {

	.col-xs-4{
		width: 100%;
	}

	.service_descr li{
		font-size: 16px;
	}

	.service_block {
		margin-bottom: 40px;
	}

	.about{
		padding-top: 0
	}

	.about h2{
		padding-top: 40px;
	}
}

@media only screen and (min-width : 661px) and (max-width : 767px){
	.about{
		margin-top: 40px;
	}
}


